<section class="common-section">
  <div class="container">
    <div class="row sidebar-row">
      <div class="content-col">
        <div
          class="common-title-btn nba-dropdown-title big-title-btn d-flex justify-content-between align-items-center">
          <h1>{{ 'Standings' | translate }}</h1>
          <div class="nba-common-selection d-flex">
            <div ngbDropdown class="common-dropdown date-dropdown" *ngIf="seasons?.year[0]" #yearDrop="ngbDropdown">
              <button id="dropdownBasic1" ngbDropdownToggle>{{filter.year}}</button>
              <div ngbDropdownMenu aria-labelledby="dropdownBasic1">
                <button ngbDropdownItem *ngFor="let season of seasons?.year[0]" (click)="yearDrop.close();filterData({year: season});"
                  [ngClass]="{'selected' : filter.year == season  }">
                  {{season}}
                </button>
              </div>
            </div>
            <div ngbDropdown class="common-dropdown" *ngIf="seasons?.type[0]" #typeDrop="ngbDropdown">
              <button id="dropdownBasic1" ngbDropdownToggle>{{filter.type}}</button>
              <div ngbDropdownMenu aria-labelledby="dropdownBasic1">
              <button ngbDropdownItem *ngFor="let season of seasons?.type[0]" (click)="typeDrop.close();filterData({type: season});"
                [ngClass]="{'selected' : filter.type == season  }">
                {{season}}
              </button>
              </div>
            </div>
          </div>
        </div>
        <app-loader *ngIf="isloading"></app-loader>
        <app-no-data-widget *ngIf="!isloading && (!standings || standings?.length == 0)" [sport]="'kabaddi'"
          [message]="'Coming Soon..!'"></app-no-data-widget>

        <ngb-tabset class="filled-tabs scorecard-tab" *ngIf="!isloading">
          <ngb-tab>
            <ng-template ngbTabTitle>
              <div>{{ 'League' | translate }}</div>
            </ng-template>
            <ng-template ngbTabContent>
              <app-player-table *ngIf="standings?.teams?.length > 0 " [data]="standings?.teams" [options]=" {
                  sport:'Basketball',
                  titles : ['Rank', ('Cricket_Module.Teams' | translate),'W', 'L', 'PCT', 'GB', 'H', 'A','DIV','CONF', 'PPG', 'OPPG', 'DIFF', 'STRK', 'L10'],
                  values : ['index', 'name', 'wins', 'losses', 'win_pct', 'gb_league', 'home', 'away','division', 'conference', 'points_for', 'points_against', 'point_diff', 'streak', 'less10'],
                  class : ['nba-table tour-stand-table'],
                  tbl_type:'standing'
                }">
              </app-player-table>
            </ng-template>
          </ngb-tab>
          <ngb-tab>
            <ng-template ngbTabTitle>
              <div>{{ 'Conference' | translate }}</div>
            </ng-template>
            <ng-template ngbTabContent>

              <ng-container *ngIf="standings?.conferences?.length > 0 ">
                <ng-container *ngFor="let conference of standings?.conferences">
                  <h4 class="nba-table-title">{{conference.name}}</h4>
                  <app-player-table *ngIf="conference?.teams?.length > 0" [data]="conference?.teams" [options]=" {
                          sport:'Basketball', titles : ['Rank', ('Cricket_Module.Teams' | translate),'W', 'L', 'PCT', 'GB', 'H', 'A','DIV','CONF', 'PPG', 'OPPG', 'DIFF', 'STRK', 'L10'],
                          values : ['index', 'name', 'wins', 'losses', 'win_pct', 'gb_conference', 'home', 'away','division', 'conference', 'points_for', 'points_against', 'point_diff', 'streak', 'less10'],
                          class : ['nba-table tour-stand-table'],
                          tbl_type:'standing'
                        }">
                  </app-player-table>
                </ng-container>
              </ng-container>

            </ng-template>
          </ngb-tab>
          <ngb-tab>
            <ng-template ngbTabTitle>
              <div (click)="getTournamentStats('tackletotalpoint')">{{ 'Division' | translate }}</div>
            </ng-template>
            <ng-template ngbTabContent>
              <ng-container *ngIf="standings?.divisions?.length > 0 ">
                <ng-container *ngFor="let divisions of standings?.divisions">
                  <h4 class="nba-table-title">{{divisions.name}}</h4>
                  <app-player-table *ngIf="divisions?.teams?.length > 0" [data]="divisions?.teams" [options]=" {
                              sport:'Basketball', titles : ['Rank', ('Cricket_Module.Teams' | translate),'W', 'L', 'PCT', 'GB', 'H', 'A','DIV','CONF', 'PPG', 'OPPG', 'DIFF', 'STRK', 'L10'],
                              values : ['index', 'name', 'wins', 'losses', 'win_pct', 'gb_conference', 'home', 'away','division', 'conference', 'points_for', 'points_against', 'point_diff', 'streak', 'less10'],
                              class : ['nba-table tour-stats-table'],
                              tbl_type:'standing'
                            }">
                  </app-player-table>
                </ng-container>
              </ng-container>
            </ng-template>
          </ngb-tab>

        </ngb-tabset>
      </div>
      <div class="sidebar-col">
        <div class="sticky-sidebar">
          <app-custom-ads-widget [type]="'Banner'"></app-custom-ads-widget>
          <!--Recommended links-->
          <!-- <app-sidebar-links [sport]="'Cricket'" [link_type]="'tournament'"
              [options]="{type: 'current', title:'Current Series'}"></app-sidebar-links> -->
          <app-points-table [sport]="'Basketball'"></app-points-table>
          <app-custom-ads-widget [type]="'Rectangle'"></app-custom-ads-widget>

        </div>
      </div>
    </div>
  </div>
</section>