<section class="common-section cricket-recentnews recentnews-section">
  <div class="container">
    <div class="row sidebar-row">
      <div class="content-col">
        <div class="common-title-btn nba-dropdown-title big-title-btn d-flex justify-content-between align-items-center">
          <h1>{{ 'Statistics' | translate }}</h1>
          <div class="nba-common-selection d-flex">
            <div ngbDropdown class="common-dropdown date-dropdown">
              <button id="dropdownBasic1" ngbDropdownToggle>2019</button>
              <div ngbDropdownMenu aria-labelledby="dropdownBasic1">
                <button ngbDropdownItem>2018</button>
                <button ngbDropdownItem class="selected">2019</button>
                <button ngbDropdownItem>2020</button>
                <button ngbDropdownItem>2021</button>
              </div>
            </div>
            <div ngbDropdown class="common-dropdown">
              <button id="dropdownBasic1" ngbDropdownToggle>Regular</button>
              <div ngbDropdownMenu aria-labelledby="dropdownBasic1">
                <button ngbDropdownItem>International</button>
                <button ngbDropdownItem class="selected">Regular</button>
                <button ngbDropdownItem>Regular2</button>
                <button ngbDropdownItem>International2</button>
              </div>
            </div>
          </div>
        </div>
        <app-loader *ngIf="isloading"></app-loader>
        <app-no-data-widget *ngIf="!isloading && (!standings || standings?.length == 0)" [sport]="'kabaddi'"
          [message]="'Coming Soon..!'"></app-no-data-widget>

        <ngb-tabset class="filled-tabs">
          <ngb-tab>
            <ng-template ngbTabTitle>
              <div>{{ 'League' | translate }}</div>
            </ng-template>
            <ng-template ngbTabContent>
              <app-player-table *ngIf="standings?.teams?.length > 0" [data]="standings?.teams" [options]=" {
                  sport:'Basketball',
                  titles : ['Rank', ('Cricket_Module.Teams' | translate),'W', 'L', 'PCT', 'GB', 'H', 'A','DIV','CONF', 'PPG', 'OPPG', 'DIFF', 'STRK', 'L10'],
                  values : ['index', 'name', 'wins', 'losses', 'win_pct', 'gb_league', 'home', 'away','division', 'conference', 'points_for', 'points_against', 'point_diff', 'streak', 'less10'],
                  class : ['tour-stats-table'],
                  class_light_row : ['light-row']
                }">
              </app-player-table>
            </ng-template>
          </ngb-tab>
          <ngb-tab>
            <ng-template ngbTabTitle>
              <div>{{ 'Conference' | translate }}</div>
            </ng-template>
            <ng-template ngbTabContent>
              <ng-container *ngIf="standings?.conferences?.length > 0 ">
                <ng-container *ngFor="let conference of standings?.conferences">
                  <app-player-table *ngIf="conference?.teams?.length > 0" [data]="conference?.teams" [options]=" {
                          sport:'Basketball', titles : ['Rank', ('Cricket_Module.Teams' | translate),'W', 'L', 'PCT', 'GB', 'H', 'A','DIV','CONF', 'PPG', 'OPPG', 'DIFF', 'STRK', 'L10'],
                          values : ['index', 'name', 'wins', 'losses', 'win_pct', 'gb_conference', 'home', 'away','division', 'conference', 'points_for', 'points_against', 'point_diff', 'streak', 'less10'],
                          class : ['tour-stats-table'],
                          header_title : conference.name
                        }">
                  </app-player-table>
                </ng-container>
              </ng-container>
            </ng-template>
          </ngb-tab>
          <ngb-tab>
            <ng-template ngbTabTitle>
              <div>{{ 'Division' | translate }}</div>
            </ng-template>
            <ng-template ngbTabContent>
              <ng-container *ngIf="standings?.divisions?.length > 0 ">
                <ng-container *ngFor="let divisions of standings?.divisions">
                  <app-player-table *ngIf="divisions?.teams?.length > 0" [data]="divisions?.teams" [options]=" {
                              sport:'Basketball', titles : ['Rank', ('Cricket_Module.Teams' | translate),'W', 'L', 'PCT', 'GB', 'H', 'A','DIV','CONF', 'PPG', 'OPPG', 'DIFF', 'STRK', 'L10'],
                              values : ['index', 'name', 'wins', 'losses', 'win_pct', 'gb_conference', 'home', 'away','division', 'conference', 'points_for', 'points_against', 'point_diff', 'streak', 'less10'],
                              class : ['tour-stats-table'],
                              header_title : divisions.name
                            }">
                  </app-player-table>
                </ng-container>
              </ng-container>
            </ng-template>
          </ngb-tab>

        </ngb-tabset>
      </div>
      <div class="sidebar-col">
        <div class="sticky-sidebar">
          <app-custom-ads-widget [type]="'Banner'"></app-custom-ads-widget>
          <!--Recommended links-->
          <!-- <app-sidebar-links [sport]="'Cricket'" [link_type]="'tournament'"
              [options]="{type: 'current', title:'Current Series'}"></app-sidebar-links> -->
          <app-points-table [sport]="'Basketball'"></app-points-table>
          <app-custom-ads-widget [type]="'Rectangle'"></app-custom-ads-widget>

        </div>
      </div>
    </div>
  </div>
</section>