<section class="common-section cricket-recentnews recentnews-section">
  <div class="container">
    <div class="row sidebar-row">
      <div class="content-col">
        <div class="common-title-btn big-title-btn d-flex justify-content-between align-items-center">
          <h1>{{ 'Statistics' | translate }}</h1>
        </div>
        <app-loader *ngIf="isloading"></app-loader>
        <app-no-data-widget *ngIf="!isloading && (!standings || standings?.length == 0)" [sport]="'kabaddi'"
          [message]="'Coming Soon..!'"></app-no-data-widget>

        <ngb-tabset class="filled-tabs scorecard-tab">
          <ngb-tab>
            <ng-template ngbTabTitle>
              <div>{{ 'League' | translate }}</div>
            </ng-template>
            <ng-template ngbTabContent>
              <app-player-table *ngIf="standings?.teams?.length > 0" [data]="standings?.teams" [options]=" {
                  sport:'Basketball',
                  titles : ['Rank', ('Cricket_Module.Teams' | translate),'W', 'L', 'PCT', 'GB', 'H', 'A','DIV'],
                  values : ['name', 'name', 'wins', 'losses', 'win_pct', 'gb_league', 'home', 'home','division'],
                  class : ['tour-stats-table'],
                  class_light_row : ['light-row']
                }">
              </app-player-table>
            </ng-template>
          </ngb-tab>
          <ngb-tab>
            <ng-template ngbTabTitle>
              <div>{{ 'Conference' | translate }}</div>
            </ng-template>
            <ng-template ngbTabContent>

              <ng-container *ngIf="standings?.conferences?.length > 0 ">
                <ng-container *ngFor="let conference of standings?.conferences">
                  <app-player-table *ngIf="conference?.teams?.length > 0" [data]="conference?.teams" [options]=" {
                          sport:'Basketball',
                          titles : ['Rank', ('Cricket_Module.Teams' | translate),'W', 'L', 'PCT', 'GB', 'H'],
                          values : ['name', 'name', 'wins', 'losses', 'win_pct', 'gb_conference'],
                          class : ['tour-stats-table'],
                          class_light_row : ['light-row'],
                          header_title : conference.name
                        }">
                  </app-player-table>
                </ng-container>
              </ng-container>

            </ng-template>
          </ngb-tab>
          <ngb-tab>
            <ng-template ngbTabTitle>
              <div (click)="getTournamentStats('tackletotalpoint')">{{ 'Division' | translate }}</div>
            </ng-template>
            <ng-template ngbTabContent>
              adasdasddasda
              <!-- <app-player-table *ngIf="stats?.length > 0" [data]="stats" [options]=" {
                            sport:'kabaddi',
                            titles : ['POS',('Cricket_Module2.player' | translate),('Kabaddi_Module2.Successfull_tackles' | translate),('Kabaddi_Module2.Super_Tackles' | translate),('Kabaddi_Module2.Tackle_Points' | translate)],
                            values : ['pid', 'name', 'tacklesuccessful','supertackles','tackletotalpoint'],
                            class : ['tour-stats-table'],
                            class_light_row : ['light-row']
                          }">
              </app-player-table> -->
            </ng-template>
          </ngb-tab>

        </ngb-tabset>
      </div>
      <div class="sidebar-col">
        <div class="sticky-sidebar">
          <app-custom-ads-widget [type]="'Banner'"></app-custom-ads-widget>
          <!--Recommended links-->
          <!-- <app-sidebar-links [sport]="'Cricket'" [link_type]="'tournament'"
              [options]="{type: 'current', title:'Current Series'}"></app-sidebar-links> -->
          <app-points-table [sport]="'Basketball'"></app-points-table>
          <app-custom-ads-widget [type]="'Rectangle'"></app-custom-ads-widget>

        </div>
      </div>
    </div>
  </div>
</section>