<section class="common-section">
  <div class="container">
    <div class="row sidebar-row">
      <div class="content-col">
        <div class="common-title-btn big-title-btn d-flex justify-content-between align-items-center">
          <h1>{{ 'widgetModule.Table' | translate }}</h1>
        </div>
        <app-loader *ngIf="loading"></app-loader>
        <app-no-data-widget *ngIf="!loading && !standings"></app-no-data-widget>

        <ng-container *ngIf="standings && standings.groups">
          <ng-container *ngFor="let group of standings.groups">
            <app-player-table [data]="group.standings" [options]=" {
                  titles : ['POS',('Shared_Module2.TEAM' | translate), 'P', 'W', 'L', 'D', 'GF', 'GA', 'GD', 'PTS'],
                  values : ['rank', 'name', 'played', 'win', 'loss', 'draw', 'goals_for', 'goals_against', 'goals_diff', 'points'],
                  class : ['tour-stand-table'],
                  class_light_row : ['light-row'],
                  header_title : group.name,
                  sport : 'Hockey'
                }">
            </app-player-table>
          </ng-container>
        </ng-container>

      </div>
      <div class="sidebar-col">
        <div class="sticky-sidebar">
          <app-custom-ads-widget [type]="'Banner'"></app-custom-ads-widget>
          <app-top-scorer-widget [sport]="'Hockey'"></app-top-scorer-widget>
          <!-- <app-custom-ads-widget [type]="'Rectangle'"></app-custom-ads-widget> -->
        </div>
      </div>
    </div>
  </div>
</section>