<section class="venue-info rounded-box common-shadow" *ngIf="venuedetails">
  <ng-container *ngIf="sport == 'Cricket'">
    <ng-container *ngIf="venuedetails.lat && venuedetails.long">
      <agm-map [latitude]="venuedetails.lat" [longitude]="venuedetails.long">
        <agm-marker [latitude]="venuedetails.lat" [longitude]="venuedetails.long"></agm-marker>
      </agm-map>
    </ng-container>
    <p *ngIf="venuedetails?.name">
      <span class="title">{{ 'widgetModule.venue' | translate }} :</span>
      <span [innerHTML]="venuedetails?.name">{{venuedetails?.name}}</span>, {{venuedetails?.city_name}},
      {{venuedetails?.country_name}}
    </p>
    <p *ngIf="venuedetails?.capacity"><span class="title">{{ 'widgetModule.Capacity' | translate }}
        :</span>{{venuedetails?.capacity}}
    </p>
    <p *ngIf="venuedetails?.bowling_ends"><span class="title">{{ 'widgetModule.Ends' | translate }}
        :</span>{{venuedetails?.bowling_ends[0].name}}, {{venuedetails?.bowling_ends[1].name}}</p>
  </ng-container>

  <ng-container *ngIf="sport == 'kabaddi'">
    <ng-container *ngIf="venuedetails.lat && venuedetails.lng">
      <agm-map [latitude]="venuedetails.lat" [longitude]="venuedetails.lng">
        <agm-marker [latitude]="venuedetails.lat" [longitude]="venuedetails.lng"></agm-marker>
      </agm-map>
    </ng-container>
    <p *ngIf="venuedetails?.name">
      <span class="title">{{ 'widgetModule.venue' | translate }} :</span>
      {{venuedetails?.name}}
    </p>
    <p *ngIf="venuedetails?.capacity"><span class="title">{{ 'widgetModule.Capacity' | translate }}
        :</span>{{venuedetails?.capacity}}
    </p>
  </ng-container>

  <ng-container *ngIf="sport == 'soccer'">
    <ng-container *ngIf="venuedetails.lat && venuedetails.lng">
      <agm-map [latitude]="venuedetails.lat" [longitude]="venuedetails.lng">
        <agm-marker [latitude]="venuedetails.lat" [longitude]="venuedetails.lng"></agm-marker>
      </agm-map>
    </ng-container>
    <p *ngIf="venuedetails?.name">
      <span class="title">{{ 'widgetModule.venue' | translate }} :</span>
      {{venuedetails?.name}}
    </p>
    <p *ngIf="venuedetails?.capacity"><span class="title">{{ 'widgetModule.Capacity' | translate }}
        :</span>{{venuedetails?.capacity}}
    </p>
  </ng-container>

  <ng-container *ngIf="sport == 'Basketball'">
    <ng-container *ngIf="venuedetails.lat && venuedetails.lng">
      <agm-map [latitude]="venuedetails.lat" [longitude]="venuedetails.lng">
        <agm-marker [latitude]="venuedetails.lat" [longitude]="venuedetails.lng"></agm-marker>
      </agm-map>
    </ng-container>
    <p *ngIf="venuedetails?.name">
      <span class="title">{{ 'widgetModule.venue' | translate }} :</span>
      {{venuedetails?.name}}, {{venuedetails?.city}}, {{venuedetails?.country}}
    </p>
    <p *ngIf="venuedetails?.capacity"><span class="title">{{ 'widgetModule.Capacity' | translate }}
        :</span>{{venuedetails?.capacity}}
    </p>
  </ng-container>

  <ng-container *ngIf="sport == 'Racing'">
    <ng-container *ngIf="venuedetails.lat && venuedetails.lng">
      <agm-map [latitude]="venuedetails.lat" [longitude]="venuedetails.lng">
        <agm-marker [latitude]="venuedetails.lat" [longitude]="venuedetails.lng"></agm-marker>
      </agm-map>
    </ng-container>
    <p *ngIf="venuedetails?.name">
      <span class="title">{{ 'widgetModule.venue' | translate }} :</span>
      {{venuedetails?.name}}, {{venuedetails?.city}}, {{venuedetails?.country}}
    </p>
    <p *ngIf="venuedetails?.capacity"><span class="title">{{ 'widgetModule.Capacity' | translate }}
        :</span>{{venuedetails?.capacity}}
    </p>
  </ng-container>

</section>