<section class="common-section">
  <div class="container">
    <div class="common-desc-block common-shadow rounded-box ">
      <div class="row row-size12">
        <div class="col-lg-7">
          <h1>Who we are</h1>
          <div *ngFor="let item of customads">{{item.name}}</div>
          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et
            dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex
            ea commodo consequat. Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor
            incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco
            laboris nisi ut aliquip ex ea commodo consequat. Lorem ipsum dolor sit amet, consectetur adipisicing elit,
            sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud
            exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et
            dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex
            ea commodo consequat. Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor
            incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco
            laboris nisi ut aliquip ex ea commodo consequat. Lorem ipsum dolor sit amet, consectetur adipisicing elit,
            sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
        </div>
        <div class="col-lg-5">
          <img src="../../../assets/images/about-img.jpg">
        </div>
      </div>
    </div>
  </div>
</section>
<section class="about-count">
  <div class="container">
    <div class="row row-size12">
      <div class="col-md-4">
        <div class="count-item common-shadow rounded-box">
          <h1>4,200+</h1>
          <p>Articles</p>
        </div>
      </div>
      <div class="col-md-4">
        <div class="count-item common-shadow rounded-box">
          <h1>1,400+</h1>
          <p>Videos</p>
        </div>
      </div>
      <div class="col-md-4">
        <div class="count-item common-shadow rounded-box">
          <h1>45,000+</h1>
          <p>Viewers</p>
        </div>
      </div>
    </div>
  </div>
</section>
<section class="common-section reader-section">
  <div class="container">
    <div class="reader-inner">
      <div class="row row-size12">
        <div class="col-md-4">
          <div class="title-block">
            <h1>What our readers say ...</h1>
          </div>
        </div>
        <div class="col-md-8">
          <!-- <div class="header-live-slider">
            <owl-carousel-o [options]="customOptions">
              <ng-container class="items">
                <ng-template carouselSlide>
                  <div class="reader-item common-shadow rounded-box">
                    <img src="../../../assets/images/reader1.jpg">
                    <h5>Hal Jordan</h5>
                    <p>“ Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut
                      labore
                      et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut
                      aliquip ex ea commodo consequat. ”</p>
                  </div>
                </ng-template>
                <ng-template carouselSlide>
                  <div class="reader-item common-shadow rounded-box">
                    <img src="../../../assets/images/reader1.jpg">
                    <h5>Hal Jordan</h5>
                    <p>“ Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut
                      labore
                      et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut
                      aliquip ex ea commodo consequat. ”</p>
                  </div>
                </ng-template>
                <ng-template carouselSlide>
                  <div class="reader-item common-shadow rounded-box">
                    <img src="../../../assets/images/reader1.jpg">
                    <h5>Hal Jordan</h5>
                    <p>“ Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut
                      labore
                      et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut
                      aliquip ex ea commodo consequat. ”</p>
                  </div>
                </ng-template>
                <ng-template carouselSlide>
                  <div class="reader-item common-shadow rounded-box">
                    <img src="../../../assets/images/reader1.jpg">
                    <h5>Hal Jordan</h5>
                    <p>“ Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut
                      labore
                      et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut
                      aliquip ex ea commodo consequat. ”</p>
                  </div>
                </ng-template>
                <ng-template carouselSlide>
                  <div class="reader-item common-shadow rounded-box">
                    <img src="../../../assets/images/reader1.jpg">
                    <h5>Hal Jordan</h5>
                    <p>“ Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut
                      labore
                      et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut
                      aliquip ex ea commodo consequat. ”</p>
                  </div>
                </ng-template>
              </ng-container>
            </owl-carousel-o>
          </div> -->
          <div class="row row-size12">
            <div class="col-md-6">
              <div class="reader-item common-shadow rounded-box">
                <img src="../../../assets/images/reader1.jpg">
                <h5>Hal Jordan</h5>
                <p>“ Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut
                  labore
                  et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut
                  aliquip ex ea commodo consequat. ”</p>
              </div>
            </div>
            <div class="col-md-6">
              <div class="reader-item common-shadow rounded-box">
                <img src="../../../assets/images/reader1.jpg">
                <h5>Hal Jordan</h5>
                <p>“ Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut
                  labore
                  et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut
                  aliquip ex ea commodo consequat. ”</p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>