<section class="common-section">
  <div class="container">
    <div class="common-desc-block common-shadow rounded-box ">
      <div class="row row-size12">
        <div class="col-lg-7">
          <!-- <h1>Who we are</h1> -->
          <app-content [cmsKey]="'About Us'"></app-content>
        </div>
        <div class="col-lg-5">
          <img src="assets/images/static/about-img-2.jpg" alt="about-sportsinfo">
        </div>
      </div>
    </div>
  </div>
</section>
<section class="about-count">
  <div class="container">
    <div class="row row-size12">
      <div class="col-md-4" *ngFor="let stats of statistics; ">
        <div class="count-item common-shadow rounded-box">
          <h1>{{stats.count}}</h1>
          <p>{{stats.title}}</p>
        </div>
      </div>
    </div>
  </div>
</section>
<section class="common-section reader-section">
  <div class="container">
    <div class="reader-inner">
      <div class="row row-size12">
        <div class="col-lg-4">
          <div class="title-block">
            <h1>What our readers say ...</h1>
            <div class="owl-theme reader-slider-nav">
              <ul class="owl-nav">
                <li>
                  <button class="owl-prev common-shadow" (click)="owlCar.prev()">prev</button>
                </li>
                <li>
                  <button class="owl-next common-shadow" (click)="owlCar.next()">next</button>
                </li>
              </ul>
            </div>
          </div>
        </div>
        <div class="col-lg-8">
          <div class="reader-slider">
            <owl-carousel-o [options]="customOptions" #owlCar>
              <ng-container class="items">
                <ng-template carouselSlide *ngFor="let reader of readers">
                  <div class="reader-item common-shadow rounded-box">
                    <img src="{{ (reader.image)? reader.image : 'assets/images/placeholder-author.svg'}}">
                    <h5>{{reader.name}}</h5>
                    <p>“ {{ reader.view}} ”</p>
                  </div>
                </ng-template>
              </ng-container>
            </owl-carousel-o>
          </div>
          <div class="owl-theme reader-slider-nav mob-reader-slider-nav">
            <ul class="owl-nav">
              <li>
                <button class="owl-prev common-shadow" (click)="owlCar.prev()">prev</button>
              </li>
              <li>
                <button class="owl-next common-shadow" (click)="owlCar.next()">next</button>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>