<div class="sub-navabar" id="sub-navabar">
  <div class="sub-navabar-inner d-flex">
    <a class="submenu-back" [routerLink]="['/cricket']">Cricket</a>
    <div class="sub-navbar-container" id="sub-navbar-nav">
      <ul #subnavbarmenu class="subnavbarmenu">
        <li><a [routerLink]="['/cricket']" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">Home</a>
        </li>
        <li><a [routerLink]="['/cricket/fixtures']" routerLinkActive="active">Fixtures</a></li>
        <li ngbDropdown>
          <a id="dropdownBasic1" ngbDropdownToggle>Series</a>
          <ul ngbDropdownMenu aria-labelledby="dropdownBasic1">
            <li ngbDropdownItem *ngFor="let item of cricketseries | slice:0:4"><a
                (click)="getournamentInfo(item.tournament_id,item.name)">{{item.name}}</a></li>
          </ul>
        </li>
        <li><a class="special-nav-item" [routerLink]="['/cricket/tournament/c3I6dG91cm5hbWVudDoyNDc0/world-cup']">World Cup 2019</a></li>
      </ul>
      <div id="subnav-pointer" #subnavpointer></div>
    </div>
    <div class="clearfix"></div>
  </div>
</div>
