.player-profile .player-pic             { width: 233px;}
.player-profile .player-pic img         { width: 100%; }
.player-profile .player-info            { margin-left: 24px; padding: 24px; background: #fff; flex: 1; -webkit-flex: 1; -ms-flex: 1; }
.player-profile .info-col               { padding: 0px 8px; flex: 1; -webkit-flex: 1; -ms-flex: 1; }
.player-profile p.light-title           { margin-bottom: 6px; font-size: 12px; line-height: 15px; color: #A3A3A3; font-weight: 600; text-transform: uppercase}
.player-profile p                       { line-height: 20px; font-weight: 500; text-transform: capitalize; }
.player-profile .info-item:last-child p:last-child { margin: 0px; }
h4                                      { margin-bottom: 19px;}
.quick-stats .stat-item                 { padding: 24px 16px; background: #fff; text-align: center; cursor: pointer; position: relative; overflow: hidden;}
.quick-stats .stat-item:after           { content: ""; position: absolute; display: block; width: 100%; height: 8px; left: 0px; bottom: -8px; background: #ED1A33; transition: all 0.3s ease-in-out; -webkit-transition: all 0.3s ease-in-out; }
.quick-stats .stat-item:hover:after     { bottom: 0; }
.quick-stats h1                         { margin-bottom: 4px; font-family: 'IBM Plex Sans', sans-serif; font-style: normal; }
.quick-stats p                          { margin: 0px; font-size: 14px; line-height: 18px; color: #A3A3A3; font-weight: 600; text-transform: uppercase; }
/* -------- Player Stats Section ------- */
app-player-table .player-state            { margin-bottom: 24px; }
app-player-table:last-child .player-state { margin-bottom: 0px; }
.player-state .game-card                  { margin: -2px 0px -6px; }
.game-card                                { width: 16px; height: 24px; display: inline-block; border: 1px solid; border-radius: 2px; }
.game-card.red                            { background: #FA4040; border-color: #E00606; }
.game-card.yellow                         { background: #FAD340; border-color: #FAC640; }
.game-card.green                          { background: #6EC611; border-color: #68B00C; }

/***** Responsive CSS Start ******/

@media (min-width: 992px) and (max-width: 1199px) {
    .player-profile .player-pic             { width: 160px;}
    .player-profile .player-info            { padding: 20px 14px; }

}

@media (min-width: 768px) and (max-width: 991px) {
    .player-profile .player-pic             { width: 160px;}
    .player-profile .player-info            { padding: 20px 14px; }
    .player-profile p.light-title           { margin-bottom: 4px; }
    .player-profile p                       { margin-bottom: 18px;}
}

@media (max-width: 767px) {
    .player-profile .player-pic             { width: 120px;}
    .player-profile .player-info            { padding: 16px 10px; }
    .player-profile p.light-title           { margin-bottom: 4px; }
    .player-profile p                       { margin-bottom: 18px;}
    .quick-stats .stat-item                 { margin-bottom: 16px;}
    .quick-stats [class*="col-"]:last-child .stat-item  { margin-bottom: 0px;}
/* -------- Player Stats Section ------- */
    app-player-table .game-card               { margin: -2px 0px -5px; }
    .game-card                                { width: 14px; height: 20px; }
}

@media (max-width: 575px) {
    .player-profile .player-info,
    .player-profile                         { flex-direction: column; -webkit-flex-direction: column; }
    .player-profile .player-info            { margin-left: 0px; margin-top: 16px;}
    .player-profile p:last-child            { margin-bottom: 18px; }
    .quick-stats .stat-item                 { padding: 10px 15px; }
    .quick-stats .stat-item:after           { height: 4px; }
}