<section class="common-section cricket-recentnews recentnews-section">
  <div class="container">
    <div class="row sidebar-row">
      <div class="content-col">
        <div class="common-title-btn big-title-btn d-flex justify-content-between align-items-center">
          <h1>Teams</h1>
        </div>
        <app-data-loader-widget *ngIf="!teamsname"></app-data-loader-widget>
        <app-no-data-widget *ngIf="teamsname?.length == 0"></app-no-data-widget>
        <div class="team-list" *ngIf="teamsname">
          <div class="row row-size12">
            <div class="col-md-6 col-lg-12 col-xl-6" *ngFor="let team of teamsname">
              <div class="team-item rounded-box common-shadow d-flex" (click)="teamInfo(team.id,team.name)">
                <div class="team-flag"><img  [offset]="commonService.lazyloadoffset"  [lazyLoad]="team?.id | logosurl" [defaultImage]="cricketService.flagplaceholder" alt="team-flag"></div>
                <div class="team-name">
                  <h4>{{team.name}}</h4>
                  <h5>{{team.abbreviation}}</h5>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="sidebar-col">
        <div class="sticky-sidebar">
          <app-custom-ads-widget [type]="'Banner'"></app-custom-ads-widget>
          <app-custom-ads-widget [type]="'Rectangle'"></app-custom-ads-widget>
          <!--Current series widget-->
          <app-common-story-widget [title]="widget1title" [type]="widget1type" [data]="cricketseries"
            *ngIf="widget1type && widget1title"></app-common-story-widget>
        </div>
      </div>
    </div>
  </div>
</section>
