<section class="common-section cricket-recentnews recentnews-section">
  <div class="container">
    <div class="row sidebar-row">
      <div class="content-col">
        <div class="common-title-btn big-title-btn d-flex justify-content-between align-items-center">
          <h1>Teams</h1>
        </div>
        <div class="team-list">
          <div class="row row-size12">
            <div class="col-md-6 col-lg-12 col-xl-6">
              <div class="team-item rounded-box common-shadow d-flex">
                <div class="team-flag"><img src="../../../../../assets/images/flag-ind.svg" alt="team-flag"></div>
                <div class="team-name">
                  <h4>West Indies</h4>
                  <h5>WI</h5>
                </div>
              </div>
            </div>
            <div class="col-md-6 col-lg-12 col-xl-6">
              <div class="team-item rounded-box common-shadow d-flex">
                <div class="team-flag"><img src="../../../../../assets/images/flag-wi.svg" alt="team-flag"></div>
                <div class="team-name">
                  <h4>West Indies</h4>
                  <h5>WI</h5>
                </div>
              </div>
            </div>
            <div class="col-md-6 col-lg-12 col-xl-6">
              <div class="team-item rounded-box common-shadow d-flex">
                <div class="team-flag"><img src="../../../../../assets/images/flag-ind.svg" alt="team-flag"></div>
                <div class="team-name">
                  <h4>West Indies</h4>
                  <h5>WI</h5>
                </div>
              </div>
            </div>
            <div class="col-md-6 col-lg-12 col-xl-6">
              <div class="team-item rounded-box common-shadow d-flex">
                <div class="team-flag"><img src="../../../../../assets/images/flag-wi.svg" alt="team-flag"></div>
                <div class="team-name">
                  <h4>West Indies</h4>
                  <h5>WI</h5>
                </div>
              </div>
            </div>
            <div class="col-md-6 col-lg-12 col-xl-6">
              <div class="team-item rounded-box common-shadow d-flex">
                <div class="team-flag"><img src="../../../../../assets/images/flag-ind.svg" alt="team-flag"></div>
                <div class="team-name">
                  <h4>West Indies</h4>
                  <h5>WI</h5>
                </div>
              </div>
            </div>
            <div class="col-md-6 col-lg-12 col-xl-6">
              <div class="team-item rounded-box common-shadow d-flex">
                <div class="team-flag"><img src="../../../../../assets/images/flag-wi.svg" alt="team-flag"></div>
                <div class="team-name">
                  <h4>West Indies</h4>
                  <h5>WI</h5>
                </div>
              </div>
            </div>
            <div class="col-md-6 col-lg-12 col-xl-6">
              <div class="team-item rounded-box common-shadow d-flex">
                <div class="team-flag"><img src="../../../../../assets/images/flag-ind.svg" alt="team-flag"></div>
                <div class="team-name">
                  <h4>West Indies</h4>
                  <h5>WI</h5>
                </div>
              </div>
            </div>
            <div class="col-md-6 col-lg-12 col-xl-6">
              <div class="team-item rounded-box common-shadow d-flex">
                <div class="team-flag"><img src="../../../../../assets/images/flag-wi.svg" alt="team-flag"></div>
                <div class="team-name">
                  <h4>West Indies</h4>
                  <h5>WI</h5>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="sidebar-col">
        <div class="sticky-sidebar">
          <div class="ad-block"><img src="../../../assets/images/ad-320-80.jpg" alt="AD"></div>
          <div class="ad-block"><img src="../../../assets/images/ad-320-267.jpg" alt="AD"></div>
          <div class="common-stories-widget common-shadow rounded-box">
            <h5>Current Series</h5>
            <ul class="common-list">
              <li><a>Australia vs Pakistan</a></li>
              <li><a>IPL 2019</a></li>
              <li><a>World Cup 2019</a></li>
              <li><a>Sri Lanka vs South Africa</a></li>
              <li><a>India vs England</a></li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>