<div class="common-table match-info-table common-shadow rounded-box">
  <div class="table-responsive">
    <table class="table">
      <tr *ngFor="let title of options.titles; let i = index">
        <ng-container *ngIf="options.values[i]">
          <td>{{title | translate}}</td>
          <td>
            <!-- For Cricket Umpires array-->
            <div *ngIf="options.sport == 'Cricket' && i == 6 ; else simpleValue">
              <p *ngFor="let singleUmpire of options.values[i]">
                {{singleUmpire.name | split}} <span
                  class="light-text">{{ singleUmpire.type === 'on_field' ? '(On Field)' : singleUmpire.type === '3rd' ? '(3rd Umpire)' : ''}}</span>
              </p>
            </div>

            <!-- Direct value for all the sports-->
            <ng-template #simpleValue>
              {{options.values[i]}}
            </ng-template>
          </td>
        </ng-container>
      </tr>
    </table>
  </div>
</div>