
/* -------- Match Information Section ------- */
.common-table.match-info-table                       { margin-bottom: 24px;}
.common-table.match-info-table tr td                 { width: 50%; padding-left: 16px; text-align: left; }
.common-table.match-info-table tr td:first-child     { width: 20%; font-weight: 600; text-transform: uppercase; }
.common-table.match-info-table tr td:last-child      { border-left: 1px solid #EBEBEB; }
.common-table.match-info-table tr td p               { margin-bottom: 8px;}
.common-table.match-info-table tr td p:last-child    { margin-bottom: 0px;}

/* -- Arabic CSS -- */
.arabic .common-table.match-info-table tr td             { padding-left: 10px; padding-right: 16px; text-align: right; }
.arabic .common-table.match-info-table tr td:last-child  { border-left: none; border-right: 1px solid #EBEBEB; }