<app-loader *ngIf="loading"></app-loader>
<app-no-data-widget *ngIf="!loading && (!matchInfo)"></app-no-data-widget>
<section class="common-section" *ngIf="matchInfo">
  <div class="container">
    <div class="row sidebar-row">
      <div class="content-col">
        <!-- <app-loader *ngIf="!matchdata"></app-loader> -->
        <!-- START - ABOUT MATCH-->
        <app-match-about *ngIf="matchInfo" [data]="matchInfo" [competitor]="matchInfo?.sport_event?.competitors"
          [toss]="" [sport]="'Tennis'">
        </app-match-about>
        <!-- END - ABOUT MATCH-->
        <!-- START - MATCH TABS-->
        <ngb-tabset class="common-tabs match-tabs">

          <!--START - NEWS TAB-->
          <ngb-tab>
            <ng-template ngbTabTitle>{{ 'Shared_module.news' | translate }}</ng-template>
            <ng-template ngbTabContent>
              <app-blog-list *ngIf="paramArticle" [options]="paramArticle">
              </app-blog-list>
            </ng-template>
          </ngb-tab>
          <!--END - NEWS TAB-->

          <!--START - STATS-->
          <ngb-tab>
            <ng-template ngbTabTitle>{{'Stats' | translate}}</ng-template>
            <ng-template ngbTabContent>
              <app-probability [options]="probabilityOptions"
                *ngIf="matchInfo?.sport_event_status?.status != 'closed' && probabilityOptions.probability">
              </app-probability>

              <app-match-stats *ngIf="matchInfo?.statistics" [sport]="'Tennis'" [matchStats]="matchInfo">
              </app-match-stats>

              <section class="last-meetings-section" *ngIf="lastmatches?.length > 0">
                <h4 class="line-title">{{'Cricket_Module.Last_meetings' | translate}}</h4>
                <app-schedule [data]="lastmatches" [type]="'result'" [sport]="'Tennis'"
                  [tournament]="'matchInfo?.sport_event?.tournament?.id'"></app-schedule>
              </section>

              <app-no-data-widget
                *ngIf="!probabilityOptions.probability && !matchInfo?.statistics && lastmatches?.length == 0">
              </app-no-data-widget>

            </ng-template>
          </ngb-tab>
          <!--END - STATS-->

          <!--START - FIXTURES-->
          <ngb-tab>
            <ng-template ngbTabTitle>{{'fixtures' | translate}}</ng-template>
            <ng-template ngbTabContent>
              <app-no-data-widget *ngIf="nextmatches?.length == 0" [message]="'No match scheduled'">
              </app-no-data-widget>
              <app-schedule [data]="nextmatches" [type]="'Fixtures'" [sport]="'Tennis'"
                [tournament]="'matchInfo?.sport_event?.tournament?.id'"></app-schedule>
            </ng-template>
          </ngb-tab>
          <!--END - FIXTURES-->

        </ngb-tabset>
        <!-- END - MATCH TABS-->
      </div>
      <div class="sidebar-col">
        <div class="sticky-sidebar">
          <!--START - SIDERBAR ADS-->
          <app-custom-ads-widget [type]="'Banner'"></app-custom-ads-widget>
          <!--END - SIDERBAR ADS-->
          <!--START - SIDERBAR STORY-->
          <!-- <app-sidebar-links [sport]="'Cricket'" [link_type]="'tournament'"
            [options]="{type: 'current', title:'Recommended Links'}"></app-sidebar-links> -->
          <!--START - SIDERBAR STORY-->
          <app-custom-ads-widget [type]="'Rectangle'"></app-custom-ads-widget>
        </div>
      </div>
    </div>
  </div>
</section>