<section class="common-section cricket-recentnews recentnews-section">
  <div class="container">
    <div class="row sidebar-row">
      <div class="content-col">
        <div class="common-title-btn big-title-btn d-flex justify-content-between align-items-center">
          <h1>Statistics</h1>
        </div>
        <app-data-loader-widget *ngIf="!isdata && !nostatistics"></app-data-loader-widget>
        <app-no-data-widget *ngIf="nostatistics"></app-no-data-widget>
        <ngb-tabset class="filled-tabs" *ngIf="!nostatistics && isdata">
          <ngb-tab title="Batting">
            <ng-template ngbTabContent>
              <ngb-tabset class="common-tabs black-filled">
                <ngb-tab>
                  <ng-template ngbTabTitle>Score</ng-template>
                  <ng-template ngbTabContent>
                    <div class="common-table striped-table tour-stats-table common-shadow rounded-box">
                      <div class="table-responsive">
                        <table class="table">
                          <thead>
                            <tr class="light-row">
                              <th>POS</th>
                              <th>Player</th>
                              <th>High Score</th>
                            </tr>
                          </thead>
                          <tbody>
                            <tr *ngFor="let item of battingleaders?.highest_score">
                              <td>{{item.rank}}</td>
                              <td><a (click)="playerinfo(item.player.id,item.player.name)"><img class=""
                                    src="../../../../../assets/images/ipl-rr-logo.svg"
                                    alt="logo">{{item.player.name | split}}</a></td>
                              <td>{{item.total}}</td>
                            </tr>
                          </tbody>
                        </table>
                      </div>
                    </div>
                  </ng-template>
                </ngb-tab>
                <ngb-tab>
                  <ng-template ngbTabTitle>Runs</ng-template>
                  <ng-template ngbTabContent>
                    <div class="common-table striped-table tour-stats-table common-shadow rounded-box">
                      <div class="table-responsive">
                        <table class="table">
                          <thead>
                            <tr class="light-row">
                              <th>POS</th>
                              <th>Player</th>
                              <th>Runs</th>
                            </tr>
                          </thead>
                          <tbody>
                            <tr *ngFor="let item of battingleaders.top_runs">
                              <td>{{item.rank}}</td>
                              <td><a (click)="playerinfo(item.player.id,item.player.name)"><img class=""
                                    src="../../../../../assets/images/ipl-rr-logo.svg"
                                    alt="logo">{{item.player.name | split}}</a></td>
                              <td>{{item.total}}</td>
                            </tr>
                          </tbody>
                        </table>
                      </div>
                    </div>
                  </ng-template>
                </ngb-tab>
                <ngb-tab>
                  <ng-template ngbTabTitle>Average</ng-template>
                  <ng-template ngbTabContent>
                    <div class="common-table striped-table tour-stats-table common-shadow rounded-box">
                      <div class="table-responsive">
                        <table class="table">
                          <thead>
                            <tr class="light-row">
                              <th>POS</th>
                              <th>Player</th>
                              <th>Average</th>
                            </tr>
                          </thead>
                          <tbody>
                            <tr *ngFor="let item of battingleaders?.top_average">
                              <td>{{item.rank}}</td>
                              <td><a (click)="playerinfo(item.player.id,item.player.name)"><img class=""
                                    src="../../../../../assets/images/ipl-rr-logo.svg"
                                    alt="logo">{{item.player.name | split }}</a></td>
                              <td>{{item.average}}</td>
                            </tr>
                          </tbody>
                        </table>
                      </div>
                    </div>
                  </ng-template>
                </ngb-tab>
              </ngb-tabset>
            </ng-template>
          </ngb-tab>
          <!--Bowling stats-->
          <ngb-tab title="Bowling">
            <ng-template ngbTabContent>
              <ngb-tabset class="common-tabs black-filled">
                <!--Top wickets-->
                <ngb-tab>
                  <ng-template ngbTabTitle>Top</ng-template>
                  <ng-template ngbTabContent>
                    <div class="common-table striped-table tour-stats-table common-shadow rounded-box">
                      <div class="table-responsive">
                        <table class="table">
                          <thead>
                            <tr class="light-row">
                              <th>POS</th>
                              <th>Player</th>
                              <th>Wickets</th>
                            </tr>
                          </thead>
                          <tbody>
                            <tr *ngFor="let item of bowlingleaders?.top_wickets">
                              <td>{{item.rank}}</td>
                              <td><a (click)="playerinfo(item.player.id,item.player.name)"><img class=""
                                    src="../../../../../assets/images/ipl-rr-logo.svg"
                                    alt="logo">{{item.player.name | split}}</a></td>
                              <td>{{item.total}}</td>
                            </tr>
                          </tbody>
                        </table>
                      </div>
                    </div>
                  </ng-template>
                </ngb-tab>
                <!--Bowling average-->
                <ngb-tab>
                  <ng-template ngbTabTitle>Average</ng-template>
                  <ng-template ngbTabContent>
                    <div class="common-table striped-table tour-stats-table common-shadow rounded-box">
                      <div class="table-responsive">
                        <table class="table">
                          <thead>
                            <tr class="light-row">
                              <th>POS</th>
                              <th>Player</th>
                              <th>Average</th>
                            </tr>
                          </thead>
                          <tbody>
                            <tr *ngFor="let item of bowlingleaders.top_bowling_average">
                              <td>{{item.rank}}</td>
                              <td><a (click)="playerinfo(item.player.id,item.player.name)"><img class=""
                                    src="../../../../../assets/images/ipl-rr-logo.svg"
                                    alt="logo">{{item.player.name | split}}</a></td>
                              <td>{{item.average}}</td>
                            </tr>
                          </tbody>
                        </table>
                      </div>
                    </div>
                  </ng-template>
                </ngb-tab>
                <ngb-tab>
                  <ng-template ngbTabTitle>Economy</ng-template>
                  <ng-template ngbTabContent>
                    <div class="common-table striped-table tour-stats-table common-shadow rounded-box">
                      <div class="table-responsive">
                        <table class="table">
                          <thead>
                            <tr class="light-row">
                              <th>POS</th>
                              <th>Player</th>
                              <th>Economy Rate</th>
                            </tr>
                          </thead>
                          <tbody>
                            <tr *ngFor="let item of bowlingleaders.top_economy">
                              <td>{{item.rank}}</td>
                              <td><a (click)="playerinfo(item.player.id,item.player.name)"><img class=""
                                    src="../../../../../assets/images/ipl-rr-logo.svg"
                                    alt="logo">{{item.player.name | split}}</a></td>
                              <td>{{item.rate}}</td>
                            </tr>
                          </tbody>
                        </table>
                      </div>
                    </div>
                  </ng-template>
                </ngb-tab>
              </ngb-tabset>
            </ng-template>
          </ngb-tab>
          <!--Fielding stats-->
          <ngb-tab title="Fielding">
            <ng-template ngbTabContent>
              <ngb-tabset class="common-tabs black-filled">
                <ngb-tab>
                  <ng-template ngbTabTitle>Top Catches</ng-template>
                  <ng-template ngbTabContent>
                    <div class="common-table striped-table tour-stats-table common-shadow rounded-box">
                      <div class="table-responsive">
                        <table class="table">
                          <thead>
                            <tr class="light-row">
                              <th>POS</th>
                              <th>Player</th>
                              <th>Catches</th>
                            </tr>
                          </thead>
                          <tbody>
                            <tr *ngFor="let item of fieldingleaders?.top_catches">
                              <td>{{item.rank}}</td>
                              <td><a (click)="playerinfo(item.player.id,item.player.name)"><img class=""
                                    src="../../../../../assets/images/ipl-rr-logo.svg"
                                    alt="logo">{{item.player.name | split}}</a></td>
                              <td>{{item.total}}</td>
                            </tr>
                          </tbody>
                        </table>
                      </div>
                    </div>
                  </ng-template>
                </ngb-tab>
              </ngb-tabset>
            </ng-template>
          </ngb-tab>
        </ngb-tabset>
      </div>
      <div class="sidebar-col">
        <div class="sticky-sidebar">
            <app-custom-ads-widget [type]="'Banner'"></app-custom-ads-widget>
            <app-custom-ads-widget [type]="'Rectangle'"></app-custom-ads-widget>
          <!--Recommended links-->
          <app-common-story-widget [title]="widget1title" [type]="widget1type" [data]="cricketseries"
            *ngIf="widget1type && widget1title"></app-common-story-widget>
        </div>
      </div>
    </div>
  </div>
</section>
