.tour-stats-table .table tr th:first-child,
.tour-stats-table .table tr td:first-child      { width: 60px;  }
.tour-stats-table .table tr th:nth-child(2),
.tour-stats-table .table tr td:nth-child(2)     { text-align: left; width: 25%;  font-weight: 500;  }
.tour-stats-table .table tr td:first-child      { font-weight: 500; }
.tour-stats-table .table tr th:nth-child(2)     { padding-left: 50px; }
.tour-stats-table .table tr td:nth-child(2)     { padding-right: 32px; }
.tour-stats-table .table tr td:nth-child(2) img { height: 32px; width: auto; margin: -12px 8px -9px 0px; }
/* .tour-stats-table .table tr td:nth-child(2) img { height: 32px; width: auto; margin: -12px 8px -9px 0px; transform: translateX(150%); -webkit-transform: translateX(150%); opacity: 0; animation: flag-anim 1s ease-in-out forwards; -webkit-animation: flag-anim 1s ease-in-out forwards;  } */
/* @-webkit-keyframes flag-anim {
  0%      { transform: translate(-50%,-50%) scale(0); left: 50%; -webkit-transform: translate(-50%,-50%) scale(0); opacity: 0; }
  10%     { opacity: 1; left: 50%;}
  40%,50% { transform: translate(-75%,-50%) scale(1); left: 0%; -webkit-transform: translate(-75%,-50%) scale(1); opacity: 1; top: -100px; }
  78%     { transform: translate(-75%,-50%) scale(1); left: 0%; -webkit-transform: translate(-75%,-50%) scale(1); opacity: 1; top: -100px; }
  86%     { transform: translate(-75%,-50%) scale(0.9); left: 0%; -webkit-transform: translate(-75%,-50%) scale(0.9); opacity: 1; top: -100px; }
  92%     { transform: translate(-75%,-50%) scale(1.1); left: 0%; -webkit-transform: translate(-75%,-50%) scale(1.1); opacity: 1; top: -100px; }
  100%    { transform: translate(-75%,-50%) scale(1); left: 0%; -webkit-transform: translate(-75%,-50%) scale(1); opacity: 1; top: -100px; transform-origin: top left; -webkit-transform-origin: top left; }
} */
/* @keyframes flag-anim {
  0%      { opacity: 0; transform: translateX(150%); -webkit-transform: translateX(150%); }
  100%    { opacity: 1; transform: translateX(0%); -webkit-transform: translateX(0%); }
} */
/***** Responsive CSS Start ******/

@media (min-width: 1200px) and (max-width: 1379px) {
    .tour-stats-table .table tr td:nth-child(2) img { height: 28px; }
    .tour-stats-table .table tr th:nth-child(2)     { padding-left: 44px; }
}

@media (max-width: 1199px) {
    .tour-stats-table .table tr td:nth-child(2) img { height: 24px; }
    .tour-stats-table .table tr th:nth-child(2)     { padding-left: 36px; }
}


