<app-cricket-menu></app-cricket-menu>
<section class="common-section cricket-recentnews recentnews-section">
  <div class="container">
    <div class="row sidebar-row">
      <div class="content-col">
        <div class="common-title-btn big-title-btn tab-title-btn d-flex justify-content-between align-items-center">
          <h1>Cricket</h1>
          <button class="add-to-fav-btn"><span>Add to favorites</span></button>
        </div>
        <ngb-tabset class="common-tabs">
          <ngb-tab title="Recommended">
            <ng-template ngbTabContent>
              <div class="popular-main-item common-shadow" *ngFor="let post of populararticles | slice:0:1" >
                <div class="item-img common-zoom-container" [ngClass]="{'common-news-video': post.eType == 'Video'}" (click)="blogview(post._id,post.eType,post.sTitle)">
                  <div class="common-zoom-img" [lazyLoad]="post.sImage | resizeImage:['m']">
                  </div>
                </div>
                <div class="blog-desc">
                  <h4><a (click)="blogview(post._id,post.eType,post.sTitle)">{{post.sTitle}}</a></h4>
                  <p [innerHtml]="post.sDescription | truncate:[240,'...']" (click)="blogview(post._id,post.eType,post.sTitle)"></p>
                  <div class="author-info d-flex justify-content-between align-items-center">
                    <p class="author"><a>{{post.iId.sFirstName}}
                        {{post.iId.sLastName}}</a>{{post.dUpdatedAt | amFromUtc | amLocal | amTimeAgo}}</p>
                    <p class="view">{{post.nViewCounts}}</p>
                  </div>
                </div>
              </div>
              <div class="common-popular-list popular-list-4">
                <div class="row row-size12">
                  <div class="col-sm-6 col-xl-3" *ngFor="let post of populararticles | slice:1:5">
                    <div class="popular-item common-shadow">
                      <div class="img-block common-zoom-container"
                        [ngClass]="{'common-news-video': post.eType == 'Video'}" (click)="blogview(post._id,post.eType,post.sTitle)">
                        <div class="common-zoom-img" [lazyLoad]="post.sImage | resizeImage:['s']"></div>
                      </div>
                      <div class="item-desc">
                        <p class="bold-text"><a (click)="blogview(post._id,post.eType,post.sTitle)">{{post.sTitle | truncate:[56,'...']}}</a></p>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="ad-block"><img src="../../../assets/images/ad-1320-300.jpg" alt="AD"></div>
              <div class="common-news-list">
                <div class="common-news-item d-flex common-shadow" *ngFor="let post of populararticles | slice:5:9">
                  <div class="common-news-img common-zoom-container"
                    [ngClass]="{'common-news-video': post.eType == 'Video'}" (click)="blogview(post._id,post.eType,post.sTitle)">
                    <div class="common-zoom-img" [lazyLoad]="post.sImage | resizeImage:['s']">
                    </div>
                  </div>
                  <div class="common-news-desc">
                    <div class="news-excerpt">
                      <h5><a (click)="blogview(post._id,post.eType,post.sTitle)">{{post.sTitle}}</a></h5>
                  <p [innerHtml]="post.sDescription | truncate:[240,'...']"></p>
                     
                    </div>
                    <div class="author-info d-flex justify-content-between align-items-center">
                      <p class="author"><a>{{post.iId.sFirstName}}
                          {{post.iId.sLastName}}</a>{{post.dUpdatedAt | amFromUtc | amLocal | amTimeAgo}}</p>
                      <p class="view">{{post.nViewCounts}}</p>
                    </div>
                  </div>
                </div>
              </div>
              <div class="text-center"><button class="theme-btn down-btn" (click)="loadpopular()">Load More<span></span></button></div>
            </ng-template>
          </ngb-tab>
          <!--Latest Article Tab-->
          <ngb-tab>
            <ng-template ngbTabTitle>
              <div (click)="getRecentPosts()">Latest</div>
            </ng-template>
            <ng-template ngbTabContent>
              <div class="common-news-list">
                <div class="common-news-item d-flex common-shadow" *ngFor="let post of latestposts | slice:0:5">
                  <div class="common-news-img common-zoom-container"
                    [ngClass]="{'common-news-video': post.eType == 'Video'}" (click)="blogview(post._id,post.eType,post.sTitle)">
                    <div class="common-zoom-img" [lazyLoad]="post.sImage | resizeImage:['s']">
                    </div>
                  </div>
                  <div class="common-news-desc">
                    <div class="news-excerpt">
                      <h5><a (click)="blogview(post._id,post.eType,post.sTitle)">{{post.sTitle}}</a></h5>
                  <p [innerHtml]="post.sDescription | truncate:[240,'...']" (click)="blogview(post._id,post.eType,post.sTitle)"></p>
                    </div>
                    <div class="author-info d-flex justify-content-between align-items-center">
                      <p class="author"><a>{{post.iId.sFirstName}}
                          {{post.iId.sLastName}}</a>{{post.dUpdatedAt | amFromUtc | amLocal | amTimeAgo}}</p>
                      <p class="view">{{post.nViewCounts}}</p>
                    </div>
                  </div>
                </div>
              </div>
              <div class="text-center"><button class="theme-btn down-btn">Load More<span></span></button></div>
            </ng-template>
          </ngb-tab>
          <!--Videos tab start-->
          <ngb-tab>
            <ng-template ngbTabTitle>
              <div (click)="getVideoPosts()">Videos</div>
            </ng-template>
            <ng-template ngbTabContent>
              <div class="common-news-list">
                <div class="common-news-item d-flex common-shadow" *ngFor="let video of popularvideos | slice:0:5">
                  <div class="common-news-img common-zoom-container common-news-video" (click)="blogview(video._id,video.eType,video.sTitle)">
                    <div class="common-zoom-img" [lazyLoad]="video.sImage | resizeImage:['s']">
                    </div>
                  </div>
                  <div class="common-news-desc">
                    <div class="news-excerpt">
                      <h5><a (click)="blogview(video._id,video.eType,video.sTitle)">{{video.sTitle}}</a></h5>
                      <p [innerHtml]="video.sDescription | truncate:[240,'...']" (click)="blogview(video._id,video.eType,video.sTitle)"></p>
                    </div>
                    <div class="author-info d-flex justify-content-between align-items-center">
                      <p class="author"><a>{{video.iId.sFirstName}}
                          {{video.iId.sLastName}}</a>{{video.dUpdatedAt | amFromUtc | amLocal | amTimeAgo}}</p>
                      <p class="view">{{video.nViewCounts}}</p>
                    </div>
                  </div>
                </div>
              </div>
              <div class="text-center"><button class="theme-btn down-btn">Load More<span></span></button></div>
            </ng-template>
          </ngb-tab>
        </ngb-tabset>
      </div>
      <div class="sidebar-col">
        <div class="sticky-sidebar">
          <div class="ad-block"><img src="../../../assets/images/ad-320-80.jpg" alt="AD"></div>
          <div class="ad-block"><img src="../../../assets/images/ad-320-267.jpg" alt="AD"></div>
          <app-common-story-widget [title]="widget1title" [type]="widget1type" [data]="cricketseries"
            *ngIf="widget1type && widget1title"></app-common-story-widget>
          <app-common-story-widget [title]="widget2title" [type]="widget2type" [data]="populartags"
            *ngIf="widget2type && widget2title"></app-common-story-widget>
        </div>
      </div>
    </div>
  </div>
</section>
