<app-cricket-menu></app-cricket-menu>
<section class="common-section cricket-recentnews recentnews-section">
  <div class="container">
    <div class="row sidebar-row">
      <div class="content-col">
        <div class="common-title-btn big-title-btn tab-title-btn d-flex justify-content-between align-items-center">
          <h1>Cricket</h1>
          <app-favourites-widget [value]="{id:'cricket',name:'Cricket',type:'sport'}"></app-favourites-widget>
        </div>
        <ngb-tabset class="common-tabs">
          <ngb-tab title="Recommended">
            <ng-template ngbTabContent>
              <div class="popular-main-item common-shadow" *ngFor="let post of populararticles | slice:0:1">
                <div class="item-img common-zoom-container" [ngClass]="{'common-news-video': post.eType == 'Video'}"
                  [routerLink]="['/blog' , (post.eType |lowercase) , post._id , post.sSlug ]">
                  <div class="common-zoom-img" [offset]="commonService.lazyloadoffset"
                    [defaultImage]="commonService.largeblogPlaceholder" [lazyLoad]="post.sImage | resizeImage:['m']">
                  </div>
                </div>
                <div class="blog-desc">
                  <h4><a [routerLink]="['/blog' , (post.eType |lowercase) , post._id , post.sSlug ]">{{post.sTitle}}</a>
                  </h4>
                  <p [innerHtml]="post.sDescription | truncate:[240,'...'] | striphtml"
                    [routerLink]="['/blog' , (post.eType |lowercase) , post._id , post.sSlug ]"></p>
                  <div class="author-info d-flex justify-content-between align-items-center">
                    <p class="author"><a (click)="writerview(post?.iId?._id)">{{post.iId.sFirstName}}
                        {{post.iId.sLastName}}</a>{{post.dCreatedAt | amFromUtc | amLocal | amTimeAgo}}</p>
                    <p class="view">{{post.nViewCounts}}</p>
                  </div>
                </div>
              </div>
              <app-custom-ads-widget [type]="'Large'"></app-custom-ads-widget>
              <!-- <app-common-related-blog-card [posts]="populararticles" [start]="1" [end]="5">
              </app-common-related-blog-card> -->
              <app-custom-ads-widget [type]="'Large'"></app-custom-ads-widget>
              <!-- <app-common-blog-card [posts]="populararticles" [start]="5" [end]="9" (loadmore)="loadmor"></app-common-blog-card>
              <div class="text-center"><button class="theme-btn down-btn" (click)="loadpopular()">Load
                  More<span></span></button>
              </div> -->
              <!-- <app-blog-list [reqparams]="commonnewsparams" [type]="'recents'" *ngIf="commonnewsparams">
              </app-blog-list> -->
            </ng-template>
          </ngb-tab>
          <!--Latest Article Tab-->
          <ngb-tab>
            <ng-template ngbTabTitle>
              <div (click)="getRecentPosts()">Latest</div>
            </ng-template>
            <ng-template ngbTabContent>
              <!-- <app-blog-list [reqparams]="commonlatestparams" *ngIf="commonlatestparams" [type]="'recents'">
              </app-blog-list> -->
            </ng-template>
          </ngb-tab>
          <!--Videos tab start-->
          <ngb-tab>
            <ng-template ngbTabTitle>
              <div (click)="getVideoPosts()">Videos</div>
            </ng-template>
            <ng-template ngbTabContent>
              <!-- <app-blog-list [reqparams]="commonvideoparams" *ngIf="commonvideoparams" [type]="'recents'">
              </app-blog-list> -->
            </ng-template>
          </ngb-tab>
        </ngb-tabset>
      </div>
      <div class="sidebar-col">
        <div class="sticky-sidebar">
          <app-custom-ads-widget [type]="'Banner'"></app-custom-ads-widget>
          <app-custom-ads-widget [type]="'Rectangle'"></app-custom-ads-widget>
          <app-common-story-widget [title]="widget1title" [type]="widget1type" [data]="cricketseries"
            *ngIf="widget1type && widget1title"></app-common-story-widget>
          <app-common-story-widget [title]="widget2title" [type]="widget2type" [data]="populartags"
            *ngIf="widget2type && widget2title"></app-common-story-widget>
        </div>
      </div>
    </div>
  </div>
</section>