<section class="common-section cricket-recentnews recentnews-section">
  <div class="container">
    <div class="row sidebar-row">
      <div class="content-col">
        <div class="writer-profile d-flex">
          <img *ngIf="writerdata?.writerData" class="writer-pic rounded-box common-shadow align-self-start" [lazyLoad]="writerdata?.writerData?.sProfilePicture ? writerdata?.writerData?.sProfilePicture : ''">
          <div class="writer-info rounded-box common-shadow d-flex flex-column">
            <div>
              <h1>{{writerdata?.writerData?.sFirstName}} {{writerdata?.writerData?.sLastName}}</h1>
              <p>{{writerdata?.writerData?.sBio}}</p>
            </div>
            <p class="view-info">Posts : <b>{{writerdata?.writerData?.nPostsCount}}</b> | Views : <b>{{writerdata?.writerData?.nViewCounts}}</b> </p>
          </div>
        </div>
        <ngb-tabset class="common-tabs writer-tab">
          <ngb-tab>
            <ng-template ngbTabTitle>Latest</ng-template>
            <ng-template ngbTabContent>
              <!-- <div class="common-news-list">
                <div class="common-news-item d-flex common-shadow">
                  <div class="common-news-img common-zoom-container">
                    <div class="common-zoom-img" style="background-image: url(../../../assets/images/video-thumb.jpg)">
                    </div>
                  </div>
                  <div class="common-news-desc">
                    <div class="news-excerpt">
                      <h5><a>West Indies changes give Pollard World Cup hope</a></h5>
                      <p>Kieron Pollard last played an ODI in October 2016 but may still have
                        hopes of making it to the
                        West
                        Indies World Cup squad because of a new set-up running Cricket West
                        Indies…</p>
                    </div>
                    <div class="author-info d-flex justify-content-between align-items-center">
                      <p class="author"><a>Nick Evans</a>3 hrs ago</p>
                      <p class="view">6.5K</p>
                    </div>
                  </div>
                </div>
                <div class="common-news-item d-flex common-shadow">
                  <div class="common-news-img common-news-video common-zoom-container">
                    <div class="common-zoom-img" style="background-image: url(../../../assets/images/video-thumb.jpg)">
                    </div>
                  </div>
                  <div class="common-news-desc">
                    <div class="news-excerpt">
                      <h5><a>West Indies changes give Pollard World Cup hope</a></h5>
                      <p>Kieron Pollard last played an ODI in October 2016 but may still have
                        hopes of making it to the
                        West
                        Indies World Cup squad because of a new set-up running Cricket West
                        Indies…</p>
                    </div>
                    <div class="author-info d-flex justify-content-between align-items-center">
                      <p class="author"><a>Nick Evans</a>3 hrs ago</p>
                      <p class="view">6.5K</p>
                    </div>
                  </div>
                </div>
                <div class="common-news-item d-flex common-shadow">
                  <div class="common-news-img common-zoom-container">
                    <div class="common-zoom-img" style="background-image: url(../../../assets/images/video-thumb.jpg)">
                    </div>
                  </div>
                  <div class="common-news-desc">
                    <div class="news-excerpt">
                      <h5><a>West Indies changes give Pollard World Cup hope</a></h5>
                      <p>Kieron Pollard last played an ODI in October 2016 but may still have
                        hopes of making it to the
                        West
                        Indies World Cup squad because of a new set-up running Cricket West
                        Indies…</p>
                    </div>
                    <div class="author-info d-flex justify-content-between align-items-center">
                      <p class="author"><a>Nick Evans</a>3 hrs ago</p>
                      <p class="view">6.5K</p>
                    </div>
                  </div>
                </div>
                <div class="common-news-item d-flex common-shadow">
                  <div class="common-news-img common-zoom-container">
                    <div class="common-zoom-img" style="background-image: url(../../../assets/images/video-thumb.jpg)">
                    </div>
                  </div>
                  <div class="common-news-desc">
                    <div class="news-excerpt">
                      <h5><a>West Indies changes give Pollard World Cup hope</a></h5>
                      <p>Kieron Pollard last played an ODI in October 2016 but may still have
                        hopes of making it to the
                        West
                        Indies World Cup squad because of a new set-up running Cricket West
                        Indies…</p>
                    </div>
                    <div class="author-info d-flex justify-content-between align-items-center">
                      <p class="author"><a>Nick Evans</a>3 hrs ago</p>
                      <p class="view">6.5K</p>
                    </div>
                  </div>
                </div>
              </div>
              <div class="text-center"><button class="theme-btn down-btn">Load More<span></span></button> -->
                <app-common-news-list [type]="'writerrecent'" [reqparams]="commonrecentparams"></app-common-news-list>  
            </ng-template>
          </ngb-tab>
          <ngb-tab>
            <ng-template ngbTabTitle><div (click)="getWriteropularblogs()">Most Read</div></ng-template>
            <ng-template ngbTabContent>
              <!-- <div class="common-news-list">
                <div class="common-news-item d-flex common-shadow">
                  <div class="common-news-img common-zoom-container">
                    <div class="common-zoom-img" style="background-image: url(../../../assets/images/video-thumb.jpg)">
                    </div>
                  </div>
                  <div class="common-news-desc">
                    <div class="news-excerpt">
                      <h5><a>West Indies changes give Pollard World Cup hope</a></h5>
                      <p>Kieron Pollard last played an ODI in October 2016 but may still have
                        hopes of making it to the
                        West
                        Indies World Cup squad because of a new set-up running Cricket West
                        Indies…</p>
                    </div>
                    <div class="author-info d-flex justify-content-between align-items-center">
                      <p class="author"><a>Nick Evans</a>3 hrs ago</p>
                      <p class="view">6.5K</p>
                    </div>
                  </div>
                </div>
                <div class="common-news-item d-flex common-shadow">
                  <div class="common-news-img common-news-video common-zoom-container">
                    <div class="common-zoom-img" style="background-image: url(../../../assets/images/video-thumb.jpg)">
                    </div>
                  </div>
                  <div class="common-news-desc">
                    <div class="news-excerpt">
                      <h5><a>West Indies changes give Pollard World Cup hope</a></h5>
                      <p>Kieron Pollard last played an ODI in October 2016 but may still have
                        hopes of making it to the
                        West
                        Indies World Cup squad because of a new set-up running Cricket West
                        Indies…</p>
                    </div>
                    <div class="author-info d-flex justify-content-between align-items-center">
                      <p class="author"><a>Nick Evans</a>3 hrs ago</p>
                      <p class="view">6.5K</p>
                    </div>
                  </div>
                </div>
                <div class="common-news-item d-flex common-shadow">
                  <div class="common-news-img common-zoom-container">
                    <div class="common-zoom-img" style="background-image: url(../../../assets/images/video-thumb.jpg)">
                    </div>
                  </div>
                  <div class="common-news-desc">
                    <div class="news-excerpt">
                      <h5><a>West Indies changes give Pollard World Cup hope</a></h5>
                      <p>Kieron Pollard last played an ODI in October 2016 but may still have
                        hopes of making it to the
                        West
                        Indies World Cup squad because of a new set-up running Cricket West
                        Indies…</p>
                    </div>
                    <div class="author-info d-flex justify-content-between align-items-center">
                      <p class="author"><a>Nick Evans</a>3 hrs ago</p>
                      <p class="view">6.5K</p>
                    </div>
                  </div>
                </div>
                <div class="common-news-item d-flex common-shadow">
                  <div class="common-news-img common-zoom-container">
                    <div class="common-zoom-img" style="background-image: url(../../../assets/images/video-thumb.jpg)">
                    </div>
                  </div>
                  <div class="common-news-desc">
                    <div class="news-excerpt">
                      <h5><a>West Indies changes give Pollard World Cup hope</a></h5>
                      <p>Kieron Pollard last played an ODI in October 2016 but may still have
                        hopes of making it to the
                        West
                        Indies World Cup squad because of a new set-up running Cricket West
                        Indies…</p>
                    </div>
                    <div class="author-info d-flex justify-content-between align-items-center">
                      <p class="author"><a>Nick Evans</a>3 hrs ago</p>
                      <p class="view">6.5K</p>
                    </div>
                  </div>
                </div>
              </div>
              <div class="text-center"><button class="theme-btn down-btn">Load More<span></span></button>
              </div> -->
              <app-common-news-list [type]="'writerpopular'" [reqparams]="commonpopularparams"></app-common-news-list>
            </ng-template>
          </ngb-tab>
          <ngb-tab>
            <ng-template ngbTabTitle><div (click)="getWritervideos()">Videos</div></ng-template>
            <ng-template ngbTabContent>
              <!-- <div class="common-news-list">
                <div class="common-news-item d-flex common-shadow">
                  <div class="common-news-img common-zoom-container">
                    <div class="common-zoom-img" style="background-image: url(../../../assets/images/video-thumb.jpg)">
                    </div>
                  </div>
                  <div class="common-news-desc">
                    <div class="news-excerpt">
                      <h5><a>West Indies changes give Pollard World Cup hope</a></h5>
                      <p>Kieron Pollard last played an ODI in October 2016 but may still have
                        hopes of making it to the
                        West
                        Indies World Cup squad because of a new set-up running Cricket West
                        Indies…</p>
                    </div>
                    <div class="author-info d-flex justify-content-between align-items-center">
                      <p class="author"><a>Nick Evans</a>3 hrs ago</p>
                      <p class="view">6.5K</p>
                    </div>
                  </div>
                </div>
                <div class="common-news-item d-flex common-shadow">
                  <div class="common-news-img common-news-video common-zoom-container">
                    <div class="common-zoom-img" style="background-image: url(../../../assets/images/video-thumb.jpg)">
                    </div>
                  </div>
                  <div class="common-news-desc">
                    <div class="news-excerpt">
                      <h5><a>West Indies changes give Pollard World Cup hope</a></h5>
                      <p>Kieron Pollard last played an ODI in October 2016 but may still have
                        hopes of making it to the
                        West
                        Indies World Cup squad because of a new set-up running Cricket West
                        Indies…</p>
                    </div>
                    <div class="author-info d-flex justify-content-between align-items-center">
                      <p class="author"><a>Nick Evans</a>3 hrs ago</p>
                      <p class="view">6.5K</p>
                    </div>
                  </div>
                </div>
                <div class="common-news-item d-flex common-shadow">
                  <div class="common-news-img common-zoom-container">
                    <div class="common-zoom-img" style="background-image: url(../../../assets/images/video-thumb.jpg)">
                    </div>
                  </div>
                  <div class="common-news-desc">
                    <div class="news-excerpt">
                      <h5><a>West Indies changes give Pollard World Cup hope</a></h5>
                      <p>Kieron Pollard last played an ODI in October 2016 but may still have
                        hopes of making it to the
                        West
                        Indies World Cup squad because of a new set-up running Cricket West
                        Indies…</p>
                    </div>
                    <div class="author-info d-flex justify-content-between align-items-center">
                      <p class="author"><a>Nick Evans</a>3 hrs ago</p>
                      <p class="view">6.5K</p>
                    </div>
                  </div>
                </div>
                <div class="common-news-item d-flex common-shadow">
                  <div class="common-news-img common-zoom-container">
                    <div class="common-zoom-img" style="background-image: url(../../../assets/images/video-thumb.jpg)">
                    </div>
                  </div>
                  <div class="common-news-desc">
                    <div class="news-excerpt">
                      <h5><a>West Indies changes give Pollard World Cup hope</a></h5>
                      <p>Kieron Pollard last played an ODI in October 2016 but may still have
                        hopes of making it to the
                        West
                        Indies World Cup squad because of a new set-up running Cricket West
                        Indies…</p>
                    </div>
                    <div class="author-info d-flex justify-content-between align-items-center">
                      <p class="author"><a>Nick Evans</a>3 hrs ago</p>
                      <p class="view">6.5K</p>
                    </div>
                  </div>
                </div>
              </div>
              <div class="text-center"><button class="theme-btn down-btn">Load More<span></span></button>
              </div> -->
              <app-common-news-list [type]="'writervideos'" [reqparams]="commonvideoparams"></app-common-news-list>
            </ng-template>
          </ngb-tab>
        </ngb-tabset>
      </div>
      <div class="sidebar-col">
        <div class="sticky-sidebar">
          <app-custom-ads-widget [type]="'Banner'"></app-custom-ads-widget>
          <app-custom-ads-widget [type]="'Rectangle'"></app-custom-ads-widget>
          <div class="common-stories-widget common-shadow rounded-box">
            <h5>From this writer</h5>
            <ul class="common-list">
              <li><a>MS Dhoni overcomes Rajasthan Royals and dew with vintage assault</a></li>
              <li><a>Kolkata Knight Riders</a></li>
              <li><a>MS Dhoni overcomes Rajasthan Royals and dew with vintage assault</a></li>
              <li><a>Chennai Super Kings</a></li>
              <li><a>Kings XI Punjab</a></li>
            </ul>
          </div>
          <app-custom-ads-widget [type]="'Banner'"></app-custom-ads-widget>
        </div>
      </div>
    </div>
  </div>
</section>