<app-main-header></app-main-header>
<div class="sub-navabar">
  <div class="container">
    <a class="subemnu-back">Cricket</a>
    <div class="sub-navbar-container" id="sub-navbar-nav">
      <ul>
        <li><a class="active">Home</a></li>
        <li><a>Fixtures</a></li>
        <li><a>Series</a></li>
        <li><a>World Cup 2019</a></li>
      </ul>
    </div>
    <div id="subnav-pointer"></div>
    <div class="clearfix"></div>
  </div>
</div>
<div class="container">
  <img src="../../../assets/images/ad-1320-300.jpg" alt="AD">
</div>
<!-- <div class="cricket-ball-ani">
  <img src="../../../assets/images/cricket.svg">
</div> -->
<div class="flash-com-ani">
  <img src="../../../assets/images/cric-sticker.svg">
</div>
<section class="common-section cricket-recentnews recentnews-section">
  <div class="container">
    <div class="home-recentnews-title d-flex justify-content-between align-items-center">
      <h2>Cricket</h2>
      <button class="add-to-fav-btn"><span>Add to favorites</span></button>
    </div>
    <div class="row sidebar-row">
      <div class="content-col">
        <ngb-tabset>
          <ngb-tab title="Recommended">
            <ng-template ngbTabContent>
              <div class="common-news-list">
                <div class="common-news-item d-flex">
                  <div class="common-news-img common-zoom-container">
                    <div class="common-zoom-img" style="background-image: url(../../../assets/images/re-news-1.jpg)">
                    </div>
                  </div>
                  <div class="common-news-desc">
                    <div class="news-excerpt">
                      <h5><a>Recommended Haris Sohail's ton in vain as Australia complete clean sweep</a></h5>
                      <p>Once more, it was Pakistan who had the centurion, while Australia walked away with the victory.
                        Haris
                        Sohail's career-best score of 130…</p>
                    </div>
                    <div class="common-news-bootom d-flex justify-content-between align-items-center">
                      <p class="author"><span class="theme-color">Alexander Ljung</span>3hrs ago</p>
                      <p class="view">3.2K</p>
                    </div>
                  </div>
                </div>
                <div class="common-news-item d-flex">
                  <div class="common-news-img common-zoom-container">
                    <div class="common-zoom-img common-news-video"
                      style="background-image: url(../../../assets/images/re-news-1.jpg)"></div>
                  </div>
                  <div class="common-news-desc">
                    <div class="news-excerpt">
                      <h5><a>Haris Sohail's ton in vain as Australia complete clean sweep</a></h5>
                      <p>Once more, it was Pakistan who had the centurion, while Australia walked away with the victory.
                        Haris
                        Sohail's career-best score of 130…</p>
                    </div>
                    <div class="common-news-bootom d-flex justify-content-between align-items-center">
                      <p class="author"><span class="theme-color">Alexander Ljung</span>3hrs ago</p>
                      <p class="view">3.2K</p>
                    </div>
                  </div>
                </div>
                <div class="common-news-item d-flex">
                  <div class="common-news-img common-zoom-container">
                    <div class="common-zoom-img" style="background-image: url(../../../assets/images/re-news-1.jpg)">
                    </div>
                  </div>
                  <div class="common-news-desc">
                    <div class="news-excerpt">
                      <h5><a>Haris Sohail's ton in vain as Australia complete clean sweep</a></h5>
                      <p>Once more, it was Pakistan who had the centurion, while Australia walked away with the victory.
                        Haris
                        Sohail's career-best score of 130…</p>
                    </div>
                    <div class="common-news-bootom d-flex justify-content-between align-items-center">
                      <p class="author"><span class="theme-color">Alexander Ljung</span>3hrs ago</p>
                      <p class="view">3.2K</p>
                    </div>
                  </div>
                </div>
                <div class="common-news-item d-flex">
                  <div class="common-news-img common-zoom-container">
                    <div class="common-zoom-img common-news-video"
                      style="background-image: url(../../../assets/images/re-news-1.jpg)"></div>
                  </div>
                  <div class="common-news-desc">
                    <div class="news-excerpt">
                      <h5><a>Haris Sohail's ton in vain as Australia complete clean sweep</a></h5>
                      <p>Once more, it was Pakistan who had the centurion, while Australia walked away with the victory.
                        Haris
                        Sohail's career-best score of 130…</p>
                    </div>
                    <div class="common-news-bootom d-flex justify-content-between align-items-center">
                      <p class="author"><span class="theme-color">Alexander Ljung</span>3hrs ago</p>
                      <p class="view">3.2K</p>
                    </div>
                  </div>
                </div>
                <div class="common-news-item d-flex">
                  <div class="common-news-img common-zoom-container">
                    <div class="common-zoom-img" style="background-image: url(../../../assets/images/re-news-1.jpg)">
                    </div>
                  </div>
                  <div class="common-news-desc">
                    <div class="news-excerpt">
                      <h5><a>Haris Sohail's ton in vain as Australia complete clean sweep</a></h5>
                      <p>Once more, it was Pakistan who had the centurion, while Australia walked away with the victory.
                        Haris
                        Sohail's career-best score of 130…</p>
                    </div>
                    <div class="common-news-bootom d-flex justify-content-between align-items-center">
                      <p class="author"><span class="theme-color">Alexander Ljung</span>3hrs ago</p>
                      <p class="view">3.2K</p>
                    </div>
                  </div>
                </div>
                <div class="common-news-item d-flex">
                  <div class="common-news-img common-zoom-container">
                    <div class="common-zoom-img common-news-video"
                      style="background-image: url(../../../assets/images/re-news-1.jpg)"></div>
                  </div>
                  <div class="common-news-desc">
                    <div class="news-excerpt">
                      <h5><a>Haris Sohail's ton in vain as Australia complete clean sweep</a></h5>
                      <p>Once more, it was Pakistan who had the centurion, while Australia walked away with the victory.
                        Haris
                        Sohail's career-best score of 130…</p>
                    </div>
                    <div class="common-news-bootom d-flex justify-content-between align-items-center">
                      <p class="author"><span class="theme-color">Alexander Ljung</span>3hrs ago</p>
                      <p class="view">3.2K</p>
                    </div>
                  </div>
                </div>
              </div>
            </ng-template>
          </ngb-tab>
          <ngb-tab title="Latest">
            <ng-template ngbTabContent>
              <div class="common-news-list">
                <div class="common-news-item d-flex">
                  <div class="common-news-img common-zoom-container">
                    <div class="common-zoom-img" style="background-image: url(../../../assets/images/re-news-1.jpg)">
                    </div>
                  </div>
                  <div class="common-news-desc">
                    <div class="news-excerpt">
                      <h5><a>Latest Haris Sohail's ton in vain as Australia complete clean sweep</a></h5>
                      <p>Once more, it was Pakistan who had the centurion, while Australia walked away with the victory.
                        Haris
                        Sohail's career-best score of 130…</p>
                    </div>
                    <div class="common-news-bootom d-flex justify-content-between align-items-center">
                      <p class="author"><span class="theme-color">Alexander Ljung</span>3hrs ago</p>
                      <p class="view">3.2K</p>
                    </div>
                  </div>
                </div>
                <div class="common-news-item d-flex">
                  <div class="common-news-img common-zoom-container">
                    <div class="common-zoom-img common-news-video"
                      style="background-image: url(../../../assets/images/re-news-1.jpg)"></div>
                  </div>
                  <div class="common-news-desc">
                    <div class="news-excerpt">
                      <h5><a>Haris Sohail's ton in vain as Australia complete clean sweep</a></h5>
                      <p>Once more, it was Pakistan who had the centurion, while Australia walked away with the victory.
                        Haris
                        Sohail's career-best score of 130…</p>
                    </div>
                    <div class="common-news-bootom d-flex justify-content-between align-items-center">
                      <p class="author"><span class="theme-color">Alexander Ljung</span>3hrs ago</p>
                      <p class="view">3.2K</p>
                    </div>
                  </div>
                </div>
                <div class="common-news-item d-flex">
                  <div class="common-news-img common-zoom-container">
                    <div class="common-zoom-img" style="background-image: url(../../../assets/images/re-news-1.jpg)">
                    </div>
                  </div>
                  <div class="common-news-desc">
                    <div class="news-excerpt">
                      <h5><a>Haris Sohail's ton in vain as Australia complete clean sweep</a></h5>
                      <p>Once more, it was Pakistan who had the centurion, while Australia walked away with the victory.
                        Haris
                        Sohail's career-best score of 130…</p>
                    </div>
                    <div class="common-news-bootom d-flex justify-content-between align-items-center">
                      <p class="author"><span class="theme-color">Alexander Ljung</span>3hrs ago</p>
                      <p class="view">3.2K</p>
                    </div>
                  </div>
                </div>
                <div class="common-news-item d-flex">
                  <div class="common-news-img common-zoom-container">
                    <div class="common-zoom-img common-news-video"
                      style="background-image: url(../../../assets/images/re-news-1.jpg)"></div>
                  </div>
                  <div class="common-news-desc">
                    <div class="news-excerpt">
                      <h5><a>Haris Sohail's ton in vain as Australia complete clean sweep</a></h5>
                      <p>Once more, it was Pakistan who had the centurion, while Australia walked away with the victory.
                        Haris
                        Sohail's career-best score of 130…</p>
                    </div>
                    <div class="common-news-bootom d-flex justify-content-between align-items-center">
                      <p class="author"><span class="theme-color">Alexander Ljung</span>3hrs ago</p>
                      <p class="view">3.2K</p>
                    </div>
                  </div>
                </div>
                <div class="common-news-item d-flex">
                  <div class="common-news-img common-zoom-container">
                    <div class="common-zoom-img" style="background-image: url(../../../assets/images/re-news-1.jpg)">
                    </div>
                  </div>
                  <div class="common-news-desc">
                    <div class="news-excerpt">
                      <h5><a>Haris Sohail's ton in vain as Australia complete clean sweep</a></h5>
                      <p>Once more, it was Pakistan who had the centurion, while Australia walked away with the victory.
                        Haris
                        Sohail's career-best score of 130…</p>
                    </div>
                    <div class="common-news-bootom d-flex justify-content-between align-items-center">
                      <p class="author"><span class="theme-color">Alexander Ljung</span>3hrs ago</p>
                      <p class="view">3.2K</p>
                    </div>
                  </div>
                </div>
                <div class="common-news-item d-flex">
                  <div class="common-news-img common-zoom-container">
                    <div class="common-zoom-img common-news-video"
                      style="background-image: url(../../../assets/images/re-news-1.jpg)"></div>
                  </div>
                  <div class="common-news-desc">
                    <div class="news-excerpt">
                      <h5><a>Haris Sohail's ton in vain as Australia complete clean sweep</a></h5>
                      <p>Once more, it was Pakistan who had the centurion, while Australia walked away with the victory.
                        Haris
                        Sohail's career-best score of 130…</p>
                    </div>
                    <div class="common-news-bootom d-flex justify-content-between align-items-center">
                      <p class="author"><span class="theme-color">Alexander Ljung</span>3hrs ago</p>
                      <p class="view">3.2K</p>
                    </div>
                  </div>
                </div>
              </div>
            </ng-template>
          </ngb-tab>
          <ngb-tab title="Videos">
            <ng-template ngbTabContent>
              <div class="common-news-list">
                <div class="common-news-item d-flex">
                  <div class="common-news-img common-zoom-container">
                    <div class="common-zoom-img" style="background-image: url(../../../assets/images/re-news-1.jpg)">
                    </div>
                  </div>
                  <div class="common-news-desc">
                    <div class="news-excerpt">
                      <h5><a>Videos Haris Sohail's ton in vain as Australia complete clean sweep</a></h5>
                      <p>Once more, it was Pakistan who had the centurion, while Australia walked away with the victory.
                        Haris
                        Sohail's career-best score of 130…</p>
                    </div>
                    <div class="common-news-bootom d-flex justify-content-between align-items-center">
                      <p class="author"><span class="theme-color">Alexander Ljung</span>3hrs ago</p>
                      <p class="view">3.2K</p>
                    </div>
                  </div>
                </div>
                <div class="common-news-item d-flex">
                  <div class="common-news-img common-zoom-container">
                    <div class="common-zoom-img common-news-video"
                      style="background-image: url(../../../assets/images/re-news-1.jpg)"></div>
                  </div>
                  <div class="common-news-desc">
                    <div class="news-excerpt">
                      <h5><a>Haris Sohail's ton in vain as Australia complete clean sweep</a></h5>
                      <p>Once more, it was Pakistan who had the centurion, while Australia walked away with the victory.
                        Haris
                        Sohail's career-best score of 130…</p>
                    </div>
                    <div class="common-news-bootom d-flex justify-content-between align-items-center">
                      <p class="author"><span class="theme-color">Alexander Ljung</span>3hrs ago</p>
                      <p class="view">3.2K</p>
                    </div>
                  </div>
                </div>
                <div class="common-news-item d-flex">
                  <div class="common-news-img common-zoom-container">
                    <div class="common-zoom-img" style="background-image: url(../../../assets/images/re-news-1.jpg)">
                    </div>
                  </div>
                  <div class="common-news-desc">
                    <div class="news-excerpt">
                      <h5><a>Haris Sohail's ton in vain as Australia complete clean sweep</a></h5>
                      <p>Once more, it was Pakistan who had the centurion, while Australia walked away with the victory.
                        Haris
                        Sohail's career-best score of 130…</p>
                    </div>
                    <div class="common-news-bootom d-flex justify-content-between align-items-center">
                      <p class="author"><span class="theme-color">Alexander Ljung</span>3hrs ago</p>
                      <p class="view">3.2K</p>
                    </div>
                  </div>
                </div>
                <div class="common-news-item d-flex">
                  <div class="common-news-img common-zoom-container">
                    <div class="common-zoom-img common-news-video"
                      style="background-image: url(../../../assets/images/re-news-1.jpg)"></div>
                  </div>
                  <div class="common-news-desc">
                    <div class="news-excerpt">
                      <h5><a>Haris Sohail's ton in vain as Australia complete clean sweep</a></h5>
                      <p>Once more, it was Pakistan who had the centurion, while Australia walked away with the victory.
                        Haris
                        Sohail's career-best score of 130…</p>
                    </div>
                    <div class="common-news-bootom d-flex justify-content-between align-items-center">
                      <p class="author"><span class="theme-color">Alexander Ljung</span>3hrs ago</p>
                      <p class="view">3.2K</p>
                    </div>
                  </div>
                </div>
                <div class="common-news-item d-flex">
                  <div class="common-news-img common-zoom-container">
                    <div class="common-zoom-img" style="background-image: url(../../../assets/images/re-news-1.jpg)">
                    </div>
                  </div>
                  <div class="common-news-desc">
                    <div class="news-excerpt">
                      <h5><a>Haris Sohail's ton in vain as Australia complete clean sweep</a></h5>
                      <p>Once more, it was Pakistan who had the centurion, while Australia walked away with the victory.
                        Haris
                        Sohail's career-best score of 130…</p>
                    </div>
                    <div class="common-news-bootom d-flex justify-content-between align-items-center">
                      <p class="author"><span class="theme-color">Alexander Ljung</span>3hrs ago</p>
                      <p class="view">3.2K</p>
                    </div>
                  </div>
                </div>
                <div class="common-news-item d-flex">
                  <div class="common-news-img common-zoom-container">
                    <div class="common-zoom-img common-news-video"
                      style="background-image: url(../../../assets/images/re-news-1.jpg)"></div>
                  </div>
                  <div class="common-news-desc">
                    <div class="news-excerpt">
                      <h5><a>Haris Sohail's ton in vain as Australia complete clean sweep</a></h5>
                      <p>Once more, it was Pakistan who had the centurion, while Australia walked away with the victory.
                        Haris
                        Sohail's career-best score of 130…</p>
                    </div>
                    <div class="common-news-bootom d-flex justify-content-between align-items-center">
                      <p class="author"><span class="theme-color">Alexander Ljung</span>3hrs ago</p>
                      <p class="view">3.2K</p>
                    </div>
                  </div>
                </div>
              </div>
            </ng-template>
          </ngb-tab>
        </ngb-tabset>
        <!-- <div class="common-news-list">
          <div class="common-news-item d-flex">
            <div class="common-news-img common-zoom-container">
              <div class="common-zoom-img" style="background-image: url(../../../assets/images/re-news-1.jpg)"></div>
            </div>
            <div class="common-news-desc">
              <div class="news-excerpt">
                <h5><a>Haris Sohail's ton in vain as Australia complete clean sweep</a></h5>
                <p>Once more, it was Pakistan who had the centurion, while Australia walked away with the victory. Haris
                  Sohail's career-best score of 130…</p>
              </div>
              <div class="common-news-bootom d-flex justify-content-between align-items-center">
                <p class="author"><span class="theme-color">Alexander Ljung</span>3hrs ago</p>
                <p class="view">3.2K</p>
              </div>
            </div>
          </div>
          <div class="common-news-item d-flex">
            <div class="common-news-img common-zoom-container">
              <div class="common-zoom-img common-news-video"
                style="background-image: url(../../../assets/images/re-news-1.jpg)"></div>
            </div>
            <div class="common-news-desc">
              <div class="news-excerpt">
                <h5><a>Haris Sohail's ton in vain as Australia complete clean sweep</a></h5>
                <p>Once more, it was Pakistan who had the centurion, while Australia walked away with the victory. Haris
                  Sohail's career-best score of 130…</p>
              </div>
              <div class="common-news-bootom d-flex justify-content-between align-items-center">
                <p class="author"><span class="theme-color">Alexander Ljung</span>3hrs ago</p>
                <p class="view">3.2K</p>
              </div>
            </div>
          </div>
          <div class="common-news-item d-flex">
            <div class="common-news-img common-zoom-container">
              <div class="common-zoom-img" style="background-image: url(../../../assets/images/re-news-1.jpg)"></div>
            </div>
            <div class="common-news-desc">
              <div class="news-excerpt">
                <h5><a>Haris Sohail's ton in vain as Australia complete clean sweep</a></h5>
                <p>Once more, it was Pakistan who had the centurion, while Australia walked away with the victory. Haris
                  Sohail's career-best score of 130…</p>
              </div>
              <div class="common-news-bootom d-flex justify-content-between align-items-center">
                <p class="author"><span class="theme-color">Alexander Ljung</span>3hrs ago</p>
                <p class="view">3.2K</p>
              </div>
            </div>
          </div>
          <div class="common-news-item d-flex">
            <div class="common-news-img common-zoom-container">
              <div class="common-zoom-img common-news-video"
                style="background-image: url(../../../assets/images/re-news-1.jpg)"></div>
            </div>
            <div class="common-news-desc">
              <div class="news-excerpt">
                <h5><a>Haris Sohail's ton in vain as Australia complete clean sweep</a></h5>
                <p>Once more, it was Pakistan who had the centurion, while Australia walked away with the victory. Haris
                  Sohail's career-best score of 130…</p>
              </div>
              <div class="common-news-bootom d-flex justify-content-between align-items-center">
                <p class="author"><span class="theme-color">Alexander Ljung</span>3hrs ago</p>
                <p class="view">3.2K</p>
              </div>
            </div>
          </div>
          <div class="common-news-item d-flex">
            <div class="common-news-img common-zoom-container">
              <div class="common-zoom-img" style="background-image: url(../../../assets/images/re-news-1.jpg)"></div>
            </div>
            <div class="common-news-desc">
              <div class="news-excerpt">
                <h5><a>Haris Sohail's ton in vain as Australia complete clean sweep</a></h5>
                <p>Once more, it was Pakistan who had the centurion, while Australia walked away with the victory. Haris
                  Sohail's career-best score of 130…</p>
              </div>
              <div class="common-news-bootom d-flex justify-content-between align-items-center">
                <p class="author"><span class="theme-color">Alexander Ljung</span>3hrs ago</p>
                <p class="view">3.2K</p>
              </div>
            </div>
          </div>
          <div class="common-news-item d-flex">
            <div class="common-news-img common-zoom-container">
              <div class="common-zoom-img common-news-video"
                style="background-image: url(../../../assets/images/re-news-1.jpg)"></div>
            </div>
            <div class="common-news-desc">
              <div class="news-excerpt">
                <h5><a>Haris Sohail's ton in vain as Australia complete clean sweep</a></h5>
                <p>Once more, it was Pakistan who had the centurion, while Australia walked away with the victory. Haris
                  Sohail's career-best score of 130…</p>
              </div>
              <div class="common-news-bootom d-flex justify-content-between align-items-center">
                <p class="author"><span class="theme-color">Alexander Ljung</span>3hrs ago</p>
                <p class="view">3.2K</p>
              </div>
            </div>
          </div>
        </div> -->
        <button class="theme-btn full-btn">MORE STORIES</button>
      </div>
      <div class="sidebar-col">
        <div class="common-widget">
          <div class="widget-title theme-bg">
            <h5 class="white-text">Current Series</h5>
          </div>
          <ul class="common-list">
            <li><a>IPL 2019</a></li>
            <li><a>Australia vs Pakistan</a></li>
            <li><a>Sri Lanka vs South Africa</a></li>
            <li><a>India A vs President XI</a></li>
          </ul>
        </div>
        <div class="ad-block"><img src="../../../assets/images/ad-320-80.jpg" alt="AD"></div>
        <div class="ad-block"><img src="../../../assets/images/ad-320-267.jpg" alt="AD"></div>
        <div class="common-widget">
          <div class="widget-title theme-bg">
            <h5 class="white-text">Current Series</h5>
          </div>
          <ul class="common-list">
            <li><a>India</a></li>
            <li><a>Australia</a></li>
            <li><a>Sri Lanka</a></li>
            <li><a>England</a></li>
            <li><button>View all</button></li>
          </ul>
        </div>
        <div class="common-widget">
          <div class="widget-title theme-bg">
            <h5 class="white-text">Popular Right Now</h5>
          </div>
          <ul class="common-list">
            <li><a>IPL 2019</a></li>
            <li><a>Australia vs Pakistan</a></li>
            <li><a>Sri Lanka vs South Africa</a></li>
            <li><a>Virat Kohli</a></li>
            <li><a>Mumbai Indians</a></li>
            <li><button>View all</button></li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</section>

<app-main-footer></app-main-footer>