/* -------- Fixtures List ------- */
.schedule-list .schedule-month              { margin-bottom: 32px; padding-bottom: 32px; border-bottom: 2px solid rgba(0,0,0,0.05); }
.schedule-list .schedule-month:last-child   { margin-bottom: 0px; padding-bottom: 0px; border: none; }
.schedule-list .month-title                 { width: 174px; padding-right: 16px; }
.schedule-list .schedule-items              { width: calc(100% - 174px);  }
.schedule-list .month-title h5              { margin-top: 4px; font-family: 'IBM Plex Sans Condensed', sans-serif; transition: all 0.35s ease-in-out; -webkit-transition: all 0.35s ease-in-out; opacity: 0.3; text-transform: uppercase;}
.schedule-list .month-title .sticky-month   { position: sticky; position: -webkit-sticky; top: 0; }
.schedule-month:hover .month-title h5       { color: #ED1A33; opacity: 1;  }
.schedule-list .schedule-item               { margin-bottom: 16px; padding: 16px 24px 24px; background: #fff; transition: all 0.3s ease-in-out; -webkit-transition: all 0.3s ease-in-out;}
.schedule-list .schedule-item.schedule-hover{ cursor: pointer;}
.schedule-list .schedule-item:last-child    { margin-bottom: 0px; }
.schedule-list .schedule-item h4            { color: #292929; font-family: 'IBM Plex Sans', sans-serif; font-weight: 400; text-transform: uppercase; }
.schedule-list .schedule-item h5            { color: #A3A3A3; font-family: 'IBM Plex Sans', sans-serif; font-weight: 500; }
.schedule-list .schedule-item .schedule-date { margin: 0px; font-size: 18px; line-height: 23px; font-weight: 500; color: #A3A3A3;} 
.schedule-list .schedule-item.schedule-hover:hover         { background: #ED1A33; box-shadow: 0px 2px 8px rgba(237,26,51,0.16); -webkit-box-shadow: 0px 2px 8px rgba(237,26,51,0.16); }
.schedule-list .schedule-item.schedule-hover *             { transition: all 0.3s ease-in-out; -webkit-transition: all 0.3s ease-in-out;}
.schedule-list .schedule-item.schedule-hover:hover *       { color: #fff !important; }

/* -------- Tournament Fixtures List ------- */
.schedule-tour-list .schedule-item      { padding-bottom: 16px; overflow: hidden; position: relative;}
.schedule-item .match-desc              { width: 200px;}
.schedule-item .match-teams             { width: calc(100% - 208px); }
.schedule-tour-list .schedule-item *:last-child        { margin-bottom: 0px; }
.schedule-tour-list h6,
.schedule-tour-list .complete-match h5  { margin-bottom: 4px; font-size: 16px; line-height: 20px; color: #292929; font-weight: 700; }
.schedule-tour-list .schedule-item h5   { color: #292929; }
.schedule-tour-list h6                  { margin-bottom: 1px; color: #292929; font-weight: 600; }
.match-teams .vs-block h6               { margin: 0px 28px; color: #CCCCCC; }
.schedule-tour-list p                   { margin-bottom: 16px; font-size: 14px; line-height: 20px; color: #292929; font-weight: 500;}
.schedule-item .stadium-nm              { font-size: 12px; line-height: 18px; color: #7A7A7A; }
.schedule-tour-list .result-line        { font-family: 'IBM Plex Sans Condensed', sans-serif; font-weight: 600; }
.schedule-tour-list .time-line          { font-size: 16px; line-height: 20px; color: #525252; }
.match-teams .match-team                { width: calc(50% - 36px); }
.match-teams .match-team:first-child    { text-align: right;  -webkit-justify-content: flex-end; -moz-justify-content: flex-end; -ms-justify-content: flex-end; justify-content: flex-end; }
.match-teams .team-info                 { padding: 0px 12px; }
.match-teams .team-flag                 { height: 48px; width: auto; box-shadow: 0px 4px 6px rgba(0,0,0,0.14), 0px 6px 26px rgba(0,0,0,0.14); border-radius: 2px; }
.schedule-item .details-btn             { position: absolute; width: 32px; height: 100%; background: #ED1A33; font-size: 14px; line-height: 32px; font-family: 'IBM Plex Sans Condensed', sans-serif; font-weight: 700; letter-spacing: 1px; color: #fff; right: -32px; top: 0px; border-radius: 4px; text-transform: uppercase; }
.schedule-item .details-btn span        { position: relative; display: block; top: calc(50% + 2px); transform: rotate(-90deg); -webkit-transform: rotate(-90deg); }
.schedule-item:hover .details-btn       { right: 0px;}

/* -------- Teams List ------- */
.team-list .team-item               { margin-bottom: 24px; padding: 24px 24px 24px 16px; background: #fff; cursor: pointer; transition: all 0.3s ease-in-out; -webkit-transition: all 0.3s ease-in-out; border-left: 8px solid transparent; }
.team-list .team-item:hover         { padding-left: 24px; border-left-color: #ED1A33;}
.team-list [class*="col-"]:nth-last-child(2) .team-item,
.team-list [class*="col-"]:last-child .team-item    { margin-bottom: 0; }
.team-list .team-item .team-flag img{ height: 80px; width: auto; box-shadow: 0px 4px 6px rgba(0,0,0,0.14), 0px 6px 26px rgba(0,0,0,0.14); border-radius: 3.33px;}
.team-list .team-item .team-name    { padding-left: 16px; text-transform: uppercase; }
.team-list .team-item h4            { margin-bottom: 2px; font-family: 'IBM Plex Sans', sans-serif; color: #292929; font-weight: 500;}
.team-list .team-item h5            { font-family: 'IBM Plex Sans', sans-serif; color: #A3A3A3; font-weight: 400;}

/* -------- Point Table Widget ------- */
.point-table-widget .table                      { margin: 0px; }
.point-table-widget .table-responsive           { padding: 0px 8px 8px; }
.point-table-widget .table th,
.point-table-widget .table td                   { padding: 8px; font-size: 12px; line-height: 15px; color: #595959; border: none; }
.point-table-widget .table th                   { text-transform: uppercase; }        
.point-table-widget .table tr:nth-child(even)   { background: #F4F5F5; }
.point-table-widget .table tr th:last-child,
.point-table-widget .table tr td:last-child     { text-align: right; }
.point-table-widget .table tr td:first-child    { font-weight: 500; width: 30%; }

/* -------- Player Score Widget ------- */
.player-score-list li.common-player         { padding: 12px; cursor: pointer;}
.player-score-list li *                     { margin: 0px; font-family: 'IBM Plex Sans', sans-serif;}
.player-score-list li p                     { color: #292929; }
.player-score-list li p.num                 { font-size: 12px; line-height: 15px; font-weight: 700; }
.player-score-list li.common-player .player-names         { padding: 0px 7px; width: 100%;  }
.player-score-list li .name                 { margin-bottom: 6px; font-weight: 600; }
.player-score-list li .team                 { font-size: 14px; line-height: 18px; color: #A3A3A3; font-weight: 500;}
.player-score-list li .player-score         { margin-top: -10px; text-align: right;}
.player-score-list li .score-property       { margin-top: -4px; font-size: 12px; line-height: 15px; font-weight: 500; color: #A3A3A3; }
.player-score-list li.top-player img        { width: 160px; }
.player-score-list li.top-player .top-player-inner  { padding: 8px 12px 12px 8px; width: calc(100% - 160px); position: relative;}
.player-score-list li.top-player .num       { margin-bottom: 4px; }
.player-score-list li.top-player .name      { font-size: 16px; line-height: 23px; }
.player-score-list li.top-player .player-score  { position: absolute; right: 12px; bottom: 12px;}


/***** Responsive CSS Start ******/

@media (min-width: 1200px) and (max-width: 1379px) {
/* -------- Fixtures List ------- */
    .schedule-list .month-title                 { width: 120px; }
    .schedule-list .schedule-items              { width: calc(100% - 120px);  }
/* -------- Tournament Fixtures List ------- */
    .schedule-item .match-desc              { width: 160px; }
    .schedule-item .match-teams             { width: calc(100% - 168px); }
    .match-teams .match-team                { width: calc(50% - 5px); }
    .match-teams .team-info                 { padding: 0px 10px; }
    .match-teams .team-flag                 { height: 44px;}
    .match-teams .vs-block h6               { margin: 0px 10px; }
    .schedule-tour-list p                   { margin-bottom: 10px;}
/* -------- Teams List ------- */  
    .team-list .team-item .team-flag img{ height: 64px;}
    .team-list .team-item:hover         { padding-left: 20px; }
    .team-list .team-item .team-name    { padding-left: 12px;}
}

@media (max-width: 1199px) {
/* -------- Fixtures List ------- */
    .schedule-list .month-title                 { width: 100px; }
    .schedule-list .schedule-items              { width: calc(100% - 100px); }
/* -------- Tournament Fixtures List ------- */
    .schedule-tour-list .schedule-item      { padding: 16px 32px 16px 12px; flex-direction: column; -webkit-flex-direction: column; }
    .schedule-item .match-desc,
    .schedule-item .match-teams             { width: 100%; }
    .schedule-item .match-desc              { text-align: center; }
    .match-teams .team-info                 { padding: 0px 10px; }
    .schedule-item .match-teams             { margin-top: 12px; }
    .match-teams .match-team                { width: calc(50% - 5px); }
    .match-teams .team-flag                 { height: 42px;}
    .match-teams .vs-block h6               { margin: 0px 10px; }
    .schedule-tour-list p                   { margin-bottom: 6px;}
/* -------- Teams List ------- */  
    .team-list .team-item .team-flag img    { height: 64px;}
    .team-list [class*="col-"]:nth-last-child(2) .team-item { margin-bottom: 32px; }
}

@media (min-width: 992px) and (max-width: 1199px) {

}

@media (min-width: 768px) and (max-width: 991px) {
/* -------- Teams List ------- */  
    .team-list [class*="col-"]:nth-last-child(2) .team-item { margin-bottom: 0px; }

}

@media (max-width: 767px) {
/* -------- Fixtures List ------- */
    .schedule-list .schedule-month              { margin-bottom: 24px; padding-bottom: 24px;}
    .schedule-list .month-title                 { width: 90px; }
    .schedule-list .schedule-items              { width: calc(100% - 90px); }
    .schedule-list .schedule-item .schedule-date { font-size: 15px; line-height: 20px;}
/* -------- Tournament Fixtures List ------- */
    .match-teams .team-flag                 { height: 36px;}
    .schedule-tour-list .complete-match h5  { margin-bottom: 2px; font-size: 15px; line-height: 19px; }
    .schedule-tour-list .schedule-item      { padding-left: 4px;}
    .schedule-tour-list p                   { margin-bottom: 5px; font-size: 13px; line-height: 18px;}
/* -------- Teams List ------- */  
    .team-list .team-item                   { margin-bottom: 16px; padding: 16px; }

}

@media (max-width: 575px) {
/* -------- Fixtures List ------- */
    .schedule-list .schedule-month              { flex-direction: column; -webkit-flex-direction: column; }
    .schedule-list .month-title,
    .schedule-list .schedule-items              { width: 100%; }
    .schedule-list .schedule-item               { padding: 16px;}
    .schedule-list .month-title h5              { margin-bottom: 16px;}
    .schedule-list .month-title .sticky-month   { position: static; }
/* -------- Tournament Fixtures List ------- */
    .schedule-item .match-teams             { flex-direction: column; }
    .schedule-tour-list .schedule-item      { padding-left: 24px; padding-right: 40px;}
    .match-teams .match-team:first-child    { text-align: left; justify-content: start; -webkit-justify-content: start; }
    .match-teams .match-team:first-child .team-info     { order: 2; }
    .match-teams .match-team                { width: 100%; }
    .match-teams .vs-block h6               { padding: 2px; }
/* -------- Teams List ------- */
    .team-list .team-item .team-flag img{ height: 54px;}
    .team-list [class*="col-"]:nth-last-child(2) .team-item,
    .team-list .team-item                   { margin-bottom: 16px; }
    .team-list .team-item                   { padding: 16px 16px 16px 10px; border-left-width: 6px; }
    .team-list .team-item:hover             { padding-left: 18px;}

}
