<div class="schedule-list schedule-tour-list" *ngIf="listtype == 'simple'; else date_list">
  <div class="schedule-month d-flex" *ngFor="let item of data">
    <div class="month-title">
      <div class="sticky-month">
        <h5>{{item.key}}</h5>
      </div>
    </div>
    <div class="schedule-items">
      <ng-container *ngFor="let match of item.data">
        <ng-container *ngIf="sport == 'Cricket'">
          <ng-container *ngTemplateOutlet="cricket;context:{match: match, type:type}">
          </ng-container>
        </ng-container>
        <ng-container *ngIf="sport == 'Kabaddi'">
          <ng-container *ngTemplateOutlet="kabaddi;context:{match: match, type:type}">
          </ng-container>
        </ng-container>
        <ng-container *ngIf="sport == 'Soccer'">
          <ng-container *ngTemplateOutlet="soccer;context:{match: match, type:type}">
          </ng-container>
        </ng-container>
        <ng-container *ngIf="sport == 'Basketball'">
          <ng-container *ngTemplateOutlet="basketball;context:{match: match, type:type}">
          </ng-container>
        </ng-container>
        <ng-container *ngIf="sport == 'Hockey'">
          <ng-container *ngTemplateOutlet="hockey;context:{match: match, type:type}">
          </ng-container>
        </ng-container>
        <ng-container *ngIf="sport == 'Badminton'">
          <ng-container *ngTemplateOutlet="badminton;context:{match: match, type:type}">
          </ng-container>
        </ng-container>
      </ng-container>
    </div>
  </div>
</div>

<ng-template #cricket let-match="match">

  <div class="schedule-item d-flex align-items-center rounded-box common-shadow fullblock-link-container"
    [ngClass]="{'complete-match' : match?.match_result}">
    <div class="match-desc side-desc d-flex flex-column">
      <div>
        <h6>{{match.tournament_name ? match.tournament_name : ''}} <span
            class="text-capitalize">{{ match.tournament_round ? ((match.tournament_name) ? ' - '+match.tournament_round : match.tournament_round) : '' }}</span>
          <span *ngIf="match?.tournament_type == 'test' && match?.sport_event_status?.match_day">
            Day - {{match?.sport_event_status?.match_day}} </span>
        </h6>
        <p class="stadium-nm" *ngIf="match.venue_name" innerHTML="{{match.venue_name}}, {{match.city_name}}"></p>
      </div>
      <div>
        <p class="time-line" *ngIf="type == 'fixture'">{{match.scheduled | date:'h:mm a'}}</p>
        <p class="result-line" *ngIf="type == 'result'">
          {{(match?.match_result) ? match?.match_result : 'Match is '+ match.match_status }}
        </p>
      </div>
    </div>
    <div class="match-teams d-flex align-items-center" *ngIf="match.competitors">
      <div class="match-team d-flex align-items-center">
        <div class="team-info">
          <h5 [ngClass]="{'winner': match?.winner_id == match?.competitors[0]?.id}">
            {{match?.competitors[0]?.abbreviation}}</h5>
          <p *ngIf="match?.competitors[0]?.p_new">
            <ng-container *ngFor="let score of match?.competitors[0]?.p_new; let i = index">
              {{score?.display_score | cricketScore}}
              {{i == match?.competitors[0]?.p_new.length - 1 ?  ("(" + score?.display_overs + " ov)")   : '&'}}
            </ng-container>
          </p>
        </div>
        <div class="team-flag">
          <img [offset]="commonService.lazyloadoffset" [lazyLoad]="match?.competitors[0]?.id | logosurl"
            [defaultImage]="commonService.flagplaceholder" alt="team-flag">
        </div>
      </div>

      <div class="vs-block">
        <h6>vs</h6>
      </div>

      <div class="match-team d-flex align-items-center">
        <div class="team-flag">
          <img [offset]="commonService.lazyloadoffset" [lazyLoad]="match?.competitors[1]?.id | logosurl"
            [defaultImage]="commonService.flagplaceholder" alt="team-flag">
        </div>
        <div class="team-info">
          <h5 [ngClass]="{'winner':  match?.winner_id == match?.competitors[1]?.id}">
            {{match?.competitors[1]?.abbreviation}}</h5>
          <p *ngIf="match?.competitors[1]?.p_new">
            <ng-container *ngFor="let score of match?.competitors[1]?.p_new; let i = index">
              {{score?.display_score | cricketScore}}
              {{i == match?.competitors[1]?.p_new.length - 1 ?  ("(" + score?.display_overs + " ov)")   : '&'}}
            </ng-container>
          </p>
        </div>
      </div>
    </div>
    <a class="details-btn"><span>{{ 'widgetModule.details' | translate }}</span></a>
    <a class="fullblock-link"
      [routerLink]="['/cricket/match', (match.id | splitID),  (match.competitors[0].abbreviation + '-vs-' +match.competitors[1].abbreviation)]">
    </a>
  </div>

</ng-template>

<ng-template #kabaddi let-match="match" let-type="type">
  <div class="schedule-item goal-item d-flex align-items-center rounded-box common-shadow fullblock-link-container"
    [ngClass]="{'complete-match' : match?.status == 2}"
    *ngIf="match?.teams?.home?.tid != '' && match?.teams?.away?.tid != ''">
    <div class="match-desc side-desc d-flex flex-column">
      <div>
        <h6>
          <!-- {{match.tournament_name ? match.tournament_name : ''}}  -->
          <span class="text-capitalize">{{ match.round ? match.round : '' }}
            {{ (match?.subtitle ) ? ' - ' + match?.subtitle : ''}}</span>
        </h6>
        <p class="stadium-nm" *ngIf="match.venue && match.venue.name">{{match.venue.name}}</p>
      </div>
      <div>
        <p class="time-line" *ngIf="type == 'fixture'">
          {{ (match.timestampstart | amFromUnix) | amDateFormat:'hh:mm A' }}
        </p>
        <p class="result-line" *ngIf="type == 'result'">{{(match?.result) ? match?.result.text : '' }}</p>
      </div>
    </div>
    <div class="match-teams d-flex align-items-center">
      <div class="match-team d-flex align-items-center">
        <div class="team-info">
          <h5>
            {{match?.teams?.home?.tname}}</h5>
        </div>
        <div class="team-flag">
          <img [offset]="commonService.lazyloadoffset" [lazyLoad]="match?.teams?.home?.tid | logosurl:'kabaddi'"
            [defaultImage]="commonService.flagplaceholder" alt="{{match?.teams?.home?.tname}}" />
        </div>
      </div>

      <!-- For Upcoming Match -->
      <div class="vs-block" *ngIf="match?.status == 1">
        <h6>vs</h6>
      </div>
      <!-- For Complete/Result Match -->
      <div class="score-center-block" *ngIf="match?.status == 2">
        <p>ft</p>
        <div class="value d-flex justify-content-between">
          <h4 class="dark-text" *ngIf="match?.result?.home"
            [ngClass]="{'looser': match?.result?.winner != match?.teams?.home?.tid &&  match?.result?.tie != 'true'}">
            {{match?.result?.home}}</h4>
          <h4 class="dark-text">-</h4>
          <h4 class="dark-text" *ngIf="match?.result?.away"
            [ngClass]="{'looser': match?.result?.winner != match?.teams?.away?.tid  && match?.result?.tie != 'true'}">
            {{match?.result?.away}}</h4>
        </div>
      </div>

      <div class="match-team d-flex align-items-center">
        <div class="team-flag">
          <img [offset]="commonService.lazyloadoffset" [lazyLoad]="match?.teams?.away?.tid | logosurl:'kabaddi'"
            [defaultImage]="commonService.flagplaceholder" alt="{{match?.teams?.away?.tname}}" />
        </div>
        <div class="team-info">
          <h5>
            {{match?.teams?.away?.tname}}</h5>

        </div>
      </div>
      <a class="details-btn"><span>{{ 'widgetModule.details' | translate }}</span></a>
      <a class="fullblock-link" [routerLink]="['/kabaddi/match', match.mid, (match.shorttitle | slugify)]">
      </a>
    </div>
  </div>
  <!-- Final Match Layout -->
  <div
    class="schedule-item final-match-item d-flex align-items-center justify-content-center text-center rounded-box common-shadow"
    *ngIf="match?.teams?.home?.tid == '' && match?.teams?.away?.tid == ''">
    <div class=" match-desc">
      <h6 class="text-uppercase">
        <span class="text-capitalize">{{ match.round ? (match.round  | stringunder:"_") : '' }}
          {{ (match?.subtitle ) ? ' - ' + (match.subtitle  | stringunder:"-") : ''}}</span>
      </h6>
      <p class="stadium-nm" *ngIf="match.venue && match.venue.name">{{match.venue.name}}</p>
      <p class="time-line">{{ (match.timestampstart | amFromUnix) | amDateFormat:'hh:mm A' }}</p>
    </div>
  </div>
</ng-template>

<ng-template #soccer let-match="match" let-type="type">
  <div class="schedule-item goal-item d-flex align-items-center rounded-box common-shadow fullblock-link-container"
    [ngClass]="{'complete-match' : match?.sport_event_status?.status == 'closed'}">
    <div class="match-desc side-desc d-flex flex-column">
      <div>
        <h6 class="text-capitalize">
          {{match?.sport_event?.sport_event_context?.stage ? replace(match?.sport_event?.sport_event_context?.stage.phase) : ''}}
          <span
            class="text-capitalize">{{ match?.sport_event?.sport_event_context?.round ? match?.sport_event?.sport_event_context?.round?.name : '' }}</span>
        </h6>
        <p class="stadium-nm" *ngIf="match.sport_event.venue?.name">{{match.sport_event?.venue?.name}}</p>
      </div>
      <div>
        <p class="time-line" *ngIf="type == 'fixture'">{{match.sport_event.start_time | date:'h:mm a'}}
        </p>
        <!-- <p class="result-line" *ngIf="type == 'result'">{{(match?.result) ? match?.result.text : '' }}</p> -->
      </div>
    </div>
    <div class="match-teams d-flex align-items-center">
      <div class="match-team d-flex align-items-center">
        <div class="team-info">
          <h5 [ngClass]="{'winner': match?.sport_event_status?.winner_id == match.sport_event?.competitors[0]?.id}">
            {{match.sport_event?.competitors[0].abbreviation}}</h5>
        </div>
        <div class="team-flag">
          <img [offset]="commonService.lazyloadoffset"
            [lazyLoad]="match.sport_event?.competitors[0].id | logosurl:'soccer'"
            [defaultImage]="commonService.flagplaceholder" alt="{{match.sport_event?.competitors[0].abbreviation}}">
        </div>
      </div>

      <!-- For Upcoming Match -->
      <div class="vs-block" *ngIf="match.sport_event_status?.status != 'closed'">
        <h6>vs</h6>
      </div>
      <!-- For Complete/Result Match -->
      <div class="score-center-block" *ngIf="match.sport_event_status?.status == 'closed'">
        <p>ft</p>
        <div class="value d-flex justify-content-between">
          <h4 class="dark-text">
            {{match.sport_event?.competitors[0].qualifier == 'home' ? match.sport_event_status?.home_score : match.sport_event_status?.away_score}}
          </h4>
          <h4 class="dark-text">-</h4>
          <h4 class="dark-text">
            {{match.sport_event.competitors[1].qualifier == 'home' ? match.sport_event_status?.home_score : match.sport_event_status?.away_score}}
          </h4>
        </div>
      </div>

      <div class="match-team d-flex align-items-center">
        <div class="team-flag">
          <img [offset]="commonService.lazyloadoffset"
            [lazyLoad]="match.sport_event?.competitors[1].id | logosurl:'soccer'"
            [defaultImage]="commonService.flagplaceholder" alt="{{match.sport_event.competitors[1].abbreviation}}">
        </div>
        <div class="team-info">
          <h5 [ngClass]="{'winner': match?.sport_event_status?.winner_id == match.sport_event.competitors[1]?.id}">
            {{match.sport_event.competitors[1].abbreviation}}</h5>
        </div>
      </div>

      <a class="details-btn"><span>{{ 'widgetModule.details' | translate }}</span></a>
      <a class="fullblock-link"
        [routerLink]="['/soccer/match', (match.sport_event.id | splitID), (match.sport_event?.competitors[0].abbreviation + '-vs-' +match.sport_event.competitors[1].abbreviation)]">
      </a>
    </div>
  </div>

</ng-template>

<ng-template #basketball let-match="match" let-type="type">
  <div class="schedule-item goal-item d-flex align-items-center rounded-box common-shadow fullblock-link-container"
    [ngClass]="{'complete-match' : match?.status=='closed'}">
    <div class="match-desc side-desc d-flex flex-column">
      <div>
        <!-- <h6 class="text-capitalize">
        {{match?.sport_event?.sport_event_context?.stage ? replace(match?.sport_event?.sport_event_context?.stage.phase) : ''}}
        <span
          class="text-capitalize">{{ match?.sport_event?.sport_event_context?.round ? match?.sport_event?.sport_event_context?.round?.name : '' }}</span>
      </h6> -->
        <p class="stadium-nm" *ngIf="match?.venue"> {{match?.venue?.name}},
          {{match?.venue?.city}},{{match?.venue?.country}}</p>
      </div>
      <div>
        <p class="time-line" *ngIf="type == 'fixture'">{{match?.scheduled | date:'h:mm a'}}</p>
        <!-- <p class="result-line" *ngIf="type == 'result'">{{(match?.result) ? match?.result.text : '' }}</p> -->
      </div>
    </div>

    <div class="match-teams d-flex align-items-center" *ngIf="match?.home">
      <div class="match-team d-flex align-items-center">
        <div class="team-info">
          <h5 [ngClass]="{'winner': match?.status == 'closed' && match?.home_points > match?.away_points}">
            {{match?.home?.alias}}
          </h5>
        </div>
        <div class="team-flag">
          <img [offset]="commonService.lazyloadoffset" [lazyLoad]="match?.home?.sr_id | logosurl:'basketball'"
            [defaultImage]="commonService.flagplaceholder" alt="{{match?.home?.alias}}">
        </div>
      </div>

      <!-- For Upcoming Match -->
      <div class="vs-block" *ngIf="match?.status != 'closed'">
        <h6>vs</h6>
      </div>
      <!-- For Complete/Result Match -->
      <div class="score-center-block" *ngIf="match?.status == 'closed'">
        <p>Final</p>
        <div class="value d-flex justify-content-between">
          <h4 class="dark-text">
            {{match?.home_points}}
          </h4>
          <h4 class="dark-text">-</h4>
          <h4 class="dark-text">
            {{match?.away_points}}
          </h4>
        </div>
      </div>

      <div class="match-team d-flex align-items-center" *ngIf="match?.away">
        <div class="team-flag">
          <img [offset]="commonService.lazyloadoffset" [lazyLoad]="match?.away?.sr_id | logosurl:'basketball'"
            [defaultImage]="commonService.flagplaceholder" alt="{{match?.away?.alias}}">
        </div>
        <div class="team-info">
          <h5 [ngClass]="{'winner': match?.status == 'closed' && match?.away_points > match?.home_points}">
            {{match?.away?.alias}}
          </h5>
        </div>
      </div>

      <a class="details-btn"><span>{{ 'widgetModule.details' | translate }}</span></a>
      <a class="fullblock-link"
        [routerLink]="['/basketball/match', (match?.id), (match?.home?.alias + '-vs-' +match?.away?.alias)]">
      </a>

    </div>
  </div>
</ng-template>

<ng-template #hockey let-match="match" let-type="type">
  <div class="schedule-item goal-item d-flex align-items-center rounded-box common-shadow fullblock-link-container"
    [ngClass]="{'complete-match' : match?.sport_event_status?.status == 'closed'}">
    <div class="match-desc side-desc d-flex flex-column">
      <div>
        <h6 class="text-capitalize">
          {{match?.sport_event?.sport_event_context?.stage ? replace(match?.sport_event?.sport_event_context?.stage.phase) : ''}}
          <span
            *ngIf="match?.sport_event?.sport_event_context?.round && match?.sport_event?.sport_event_context?.round?.number"
            class="text-capitalize">{{ match?.sport_event?.sport_event_context?.round ? ', Round - ' + match?.sport_event?.sport_event_context?.round?.number : '' }}</span>
        </h6>
        <p class="stadium-nm" *ngIf="match.sport_event.venue?.name">{{match.sport_event?.venue?.name}}</p>
      </div>
      <div>
        <p class="time-line" *ngIf="type == 'fixture' ||  !match?.sport_event_status?.winner_id">
          {{match.sport_event.start_time | date:'h:mm a'}}
        </p>
      </div>
    </div>
    <div class="match-teams d-flex align-items-center">
      <div class="match-team d-flex align-items-center">
        <div class="team-info">
          <h5 [ngClass]="{'winner': match?.sport_event_status?.winner_id == match.sport_event?.competitors[0]?.id}">
            {{match.sport_event?.competitors[0].abbreviation}}</h5>
        </div>
        <div class="team-flag">
          <img [offset]="commonService.lazyloadoffset"
            [lazyLoad]="match.sport_event?.competitors[0].id | logosurl:'hockey'"
            [defaultImage]="commonService.flagplaceholder" alt="{{match.sport_event?.competitors[0].abbreviation}}">
        </div>
      </div>

      <!-- For Upcoming Match -->
      <div class="vs-block" *ngIf="match.sport_event_status?.status != 'closed'">
        <h6>vs</h6>
      </div>
      <!-- For Complete/Result Match -->
      <div class="score-center-block" *ngIf="match.sport_event_status?.status == 'closed'">
        <p>ft</p>
        <div class="value d-flex justify-content-between">
          <h4 class="dark-text">
            {{match.sport_event?.competitors[0].qualifier == 'home' ? match.sport_event_status?.home_score : match.sport_event_status?.away_score}}
          </h4>
          <h4 class="dark-text">-</h4>
          <h4 class="dark-text">
            {{match.sport_event.competitors[1].qualifier == 'home' ? match.sport_event_status?.home_score : match.sport_event_status?.away_score}}
          </h4>
        </div>
      </div>

      <div class="match-team d-flex align-items-center">
        <div class="team-flag">
          <img [offset]="commonService.lazyloadoffset"
            [lazyLoad]="match.sport_event?.competitors[1].id | logosurl:'hockey'"
            [defaultImage]="commonService.flagplaceholder" alt="{{match.sport_event.competitors[1].abbreviation}}">
        </div>
        <div class="team-info">
          <h5 [ngClass]="{'winner': match?.sport_event_status?.winner_id == match.sport_event.competitors[1]?.id}">
            {{match.sport_event.competitors[1].abbreviation}}</h5>
        </div>
      </div>

      <a class="details-btn"><span>{{ 'widgetModule.details' | translate }}</span></a>
      <a class="fullblock-link"
        [routerLink]="['/hockey/match', (match.sport_event.id | splitID), (match.sport_event?.competitors[0].abbreviation + '-vs-' +match.sport_event.competitors[1].abbreviation)]">
      </a>
    </div>
  </div>

</ng-template>

<ng-template #badminton let-match="match" let-type="type">
  <div class="schedule-item goal-item d-flex align-items-center rounded-box common-shadow fullblock-link-container"
    [ngClass]="{'complete-match' : match?.sport_event_status?.status == 'closed'}">
    <div class="match-desc side-desc d-flex flex-column">
      <div>
        <h6 class="text-capitalize">
          {{match?.sport_event?.sport_event_context?.stage ? replace(match?.sport_event?.sport_event_context?.stage.phase) : ''}}
          <span
            *ngIf="match?.sport_event?.sport_event_context?.round && match?.sport_event?.sport_event_context?.round?.number"
            class="text-capitalize">{{ match?.sport_event?.sport_event_context?.round ? ', Round - ' + match?.sport_event?.sport_event_context?.round?.number : '' }}</span>
        </h6>
        <p class="stadium-nm" *ngIf="match.sport_event.venue?.name">{{match.sport_event?.venue?.name}}</p>
      </div>
      <div>
        <p class="time-line" *ngIf="type == 'fixture' ||  !match?.sport_event_status?.winner_id">
          {{match.sport_event.start_time | date:'h:mm a'}}
        </p>
      </div>
    </div>
    <div class="match-teams d-flex align-items-center"
      [ngClass]="{'doubles' : match?.sport_event?.sport_event_context?.stage?.phase == 'mixed_doubles' }">

      <div class="match-team d-flex align-items-center"
        [ngClass]="{'winner': match?.sport_event_status?.status=='closed' && match?.sport_event_status?.winner_id == match?.sport_event?.competitors[0].id }">

        <ng-container *ngIf="match?.sport_event?.competitors[0].players; else singleHomeComp">
          <ng-container *ngFor="let competitor of match?.sport_event?.competitors[0].players">
            <ng-container *ngTemplateOutlet="homeTeam;context:{ team:competitor}">
            </ng-container>
          </ng-container>
        </ng-container>
        <ng-template #singleHomeComp>
          <ng-container *ngTemplateOutlet="homeTeam;context:{ team:match?.sport_event?.competitors[0]}">
          </ng-container>
        </ng-template>
        <ng-template #homeTeam let-team="team">
          <div class="double-team d-flex align-items-center">
            <div class="team-info">
              <h5 [ngClass]="{'winner': match?.sport_event_status?.winner_id == team?.id}">
                {{team.abbreviation}}</h5>
            </div>
            <div class="team-flag">
              <img [offset]="commonService.lazyloadoffset" [lazyLoad]="team.id | logosurl:'badminton'"
                [defaultImage]="commonService.flagplaceholder" alt="{{team.abbreviation}}">
            </div>
          </div>
        </ng-template>
      </div>

      <!-- For Upcoming Match -->
      <div class="vs-block" *ngIf="match.sport_event_status?.status != 'closed'">
        <h6>vs</h6>
      </div>
      <!-- For Complete/Result Match -->
      <div class="score-center-block" *ngIf="match.sport_event_status?.status == 'closed'">
        <p>ft</p>
        <div class="value d-flex justify-content-between">
          <h4 class="dark-text">
            {{match.sport_event?.competitors[0].qualifier == 'home' ? match.sport_event_status?.home_score : match.sport_event_status?.away_score}}
          </h4>
          <h4 class="dark-text">-</h4>
          <h4 class="dark-text">
            {{match.sport_event.competitors[1].qualifier == 'home' ? match.sport_event_status?.home_score : match.sport_event_status?.away_score}}
          </h4>
        </div>
      </div>

      <div class="match-team d-flex align-items-center"
        [ngClass]="{'winner': match?.sport_event_status?.status=='closed' && match?.sport_event_status?.winner_id == match?.sport_event?.competitors[1].id }">

        <ng-container *ngIf="match?.sport_event?.competitors[1].players; else singleAwayComp">
          <ng-container *ngFor="let competitor of match?.sport_event?.competitors[1].players">
            <ng-container *ngTemplateOutlet="awayTeam;context:{ team:competitor}">
            </ng-container>
          </ng-container>
        </ng-container>
        <ng-template #singleAwayComp>
          <ng-container *ngTemplateOutlet="awayTeam;context:{ team:match?.sport_event?.competitors[1]}">
          </ng-container>
        </ng-template>
        <ng-template #awayTeam let-team="team">
          <div class="double-team d-flex align-items-center">
            <div class="team-flag">
              <img [offset]="commonService.lazyloadoffset"
                [lazyLoad]="match.sport_event?.competitors[1].id | logosurl:'badminton'"
                [defaultImage]="commonService.flagplaceholder" alt="{{team.abbreviation}}">
            </div>
            <div class="team-info">
              <h5 [ngClass]="{'winner': match?.sport_event_status?.winner_id == team?.id}">
                {{team.abbreviation}}</h5>
            </div>
          </div>
        </ng-template>
      </div>

      <a class="details-btn"><span>{{ 'widgetModule.details' | translate }}</span></a>
      <a class="fullblock-link"
        [routerLink]="['/badminton/match', (match.sport_event.id | splitID), (match.sport_event?.competitors[0].abbreviation + '-vs-' +match.sport_event.competitors[1].abbreviation)]">
      </a>
    </div>
  </div>

</ng-template>


<ng-template #date_list>
  <ng-container *ngIf="sport == 'Basketball'">
    <ng-container *ngTemplateOutlet="basketball_list">
    </ng-container>
  </ng-container>
  <ng-container *ngIf="sport == 'Soccer'">
    <ng-container *ngTemplateOutlet="soccer_list">
    </ng-container>
  </ng-container>
  <ng-container *ngIf="sport == 'Hockey'">
    <ng-container *ngTemplateOutlet="hockey_list">
    </ng-container>
  </ng-container>
  <ng-container *ngIf="sport == 'Badminton'">
    <ng-container *ngTemplateOutlet="badminton_list">
    </ng-container>
  </ng-container>
</ng-template>

<ng-template #soccer_list>
  <div class="common-tour-list" *ngIf="data.length > 0">
    <div class="grp-item" *ngFor="let item of data">
      <div class="soccer-tour-title">
        <p>{{item?.data?.season?.name}}</p>
      </div>
      <div class="schedule-tour-list">
        <div class="schedule-item goal-item common-item d-flex align-items-center fullblock-link-container"
          *ngFor="let match of item.data.matches"
          [ngClass]="{'complete-match' : match?.sport_event_status?.status=='closed'}">

          <div class="match-teams d-flex align-items-center" *ngIf="match.sport_event?.competitors">
            <div class="match-team d-flex align-items-center">
              <div class="team-info">
                <h5
                  [ngClass]="{'winner': match?.sport_event_status?.winner_id == match.sport_event?.competitors[0]?.id}">
                  {{match.sport_event?.competitors[0].name}}</h5>
              </div>
              <div class="team-flag">
                <img [offset]="commonService.lazyloadoffset"
                  [lazyLoad]="match.sport_event?.competitors[0]?.id | logosurl:'soccer'"
                  [defaultImage]="commonService.flagplaceholder" alt="{{match.sport_event?.competitors[0].name}}">
              </div>
            </div>

            <!-- For Upcoming Match -->
            <div class="vs-block" *ngIf="match.sport_event_status?.status != 'closed'">
              <h6>vs</h6>
            </div>
            <!-- For Complete/Result Match -->
            <div class="score-center-block" *ngIf="match.sport_event_status?.status == 'closed'">
              <p>ft</p>
              <div class="value d-flex justify-content-between">
                <h4 class="dark-text">
                  {{match.sport_event?.competitors[0].qualifier == 'home' ? match.sport_event_status?.home_score : match.sport_event_status?.away_score}}
                </h4>
                <h4 class="dark-text">-</h4>
                <h4 class="dark-text">
                  {{match.sport_event.competitors[1].qualifier == 'home' ? match.sport_event_status?.home_score : match.sport_event_status?.away_score}}
                </h4>
              </div>
            </div>

            <div class="match-team d-flex align-items-center">
              <div class="team-flag">
                <img [offset]="commonService.lazyloadoffset"
                  [lazyLoad]="match.sport_event?.competitors[1]?.id | logosurl:'soccer'"
                  [defaultImage]="commonService.flagplaceholder" alt="{{match.sport_event.competitors[1].name}}">
              </div>
              <div class="team-info">
                <h5
                  [ngClass]="{'winner': match?.sport_event_status?.winner_id == match.sport_event.competitors[1]?.id}">
                  {{match.sport_event.competitors[1].name}}</h5>
              </div>
            </div>

            <a class="details-btn"><span>{{ 'widgetModule.details' | translate }}</span></a>
            <a class="fullblock-link"
              [routerLink]="['/soccer/match', (match.sport_event.id | splitID), (match.sport_event?.competitors[0].abbreviation + '-vs-' +match.sport_event.competitors[1].abbreviation)]">
            </a>

          </div>

          <div class="match-desc text-center">
            <h6>
              <span class="text-capitalize">{{match.sport_event.start_time | date:'h:mm a'}}</span>
            </h6>
            <p class="stadium-nm" *ngIf="match.sport_event.venue">
              {{match.sport_event.venue?.name}}, {{match.sport_event.venue?.city_name}},
              {{match.sport_event.venue?.country_name}}
            </p>
            <!-- <p class="time-line" *ngIf="type == 'fixture'">{{ (match.timestampstart | amFromUnix) | amDateFormat:'hh:mm A' }}</p>
            <p class="result-line" *ngIf="type == 'result'">{{(match?.result) ? match?.result.text : '' }}</p> -->
          </div>
        </div>
      </div>
    </div>
  </div>
</ng-template>

<ng-template #basketball_list>

  <div class="common-tour-list" *ngIf="data.length > 0">
    <div class="grp-item tour-without-grp">
      <!-- <div class="soccer-tour-title">
        <p>{{item?.data?.season?.name}}</p>
      </div> -->
      <div class="schedule-tour-list">
        <div
          class="schedule-item goal-item common-item common-shadow rounded-box d-flex align-items-center fullblock-link-container"
          *ngFor="let match of data" [ngClass]="{'complete-match' : match?.status=='closed'}">
          <div class="match-teams d-flex align-items-center" *ngIf="match?.home && match?.away">

            <div class="match-team d-flex align-items-center" *ngIf="match?.home">
              <div class="team-info">
                <h5 [ngClass]="{'winner': match?.status == 'closed' && match?.home_points > match?.away_points}">
                  {{match?.home?.name}}
                </h5>
              </div>
              <div class="team-flag">
                <img [offset]="commonService.lazyloadoffset" [lazyLoad]="match?.home?.sr_id | logosurl:'basketball'"
                  [defaultImage]="commonService.flagplaceholder" alt="{{match?.home?.name}}">
              </div>
            </div>

            <!-- For Upcoming Match -->
            <div class="vs-block" *ngIf="match?.status != 'closed'">
              <h6>vs</h6>
            </div>
            <!-- For Complete/Result Match -->
            <div class="score-center-block" *ngIf="match?.status == 'closed'">
              <p>{{ 'Final' | translate }}</p>
              <div class="value d-flex justify-content-between">
                <h4 class="dark-text">
                  {{match?.home_points}}
                </h4>
                <h4 class="dark-text">-</h4>
                <h4 class="dark-text">
                  {{match?.away_points}}
                </h4>
              </div>
            </div>

            <div class="match-team d-flex align-items-center" *ngIf="match?.away">
              <div class="team-flag">
                <img [offset]="commonService.lazyloadoffset" [lazyLoad]="match?.away?.sr_id | logosurl:'basketball'"
                  [defaultImage]="commonService.flagplaceholder" alt="{{match?.away?.name}}">
              </div>
              <div class="team-info">
                <h5 [ngClass]="{'winner':  match?.status == 'closed' && match?.away_points > match?.home_points}">
                  {{match?.away?.name}}
                </h5>
              </div>
            </div>

            <a class="details-btn"><span>{{ 'widgetModule.details' | translate }}</span></a>
            <a class="fullblock-link"
              [routerLink]="['/basketball/match', (match?.id), (match?.home?.alias + '-vs-' +match?.away?.alias)]">
            </a>

          </div>

          <div class="match-desc text-center">
            <h6>
              <span class="text-capitalize">{{match?.scheduled | date:'h:mm a'}}</span>
            </h6>
            <p class="stadium-nm" *ngIf="match?.venue">
              {{match?.venue?.name}}, {{match?.venue?.city}},
              {{match?.venue?.country}}
            </p>
            <!-- <p class="time-line" *ngIf="type == 'fixture'">{{ (match.timestampstart | amFromUnix) | amDateFormat:'hh:mm A' }}</p>
            <p class="result-line" *ngIf="type == 'result'">{{(match?.result) ? match?.result.text : '' }}</p> -->
          </div>
        </div>
      </div>
    </div>
  </div>
</ng-template>

<ng-template #hockey_list>

  <div class="common-tour-list" *ngIf="data.length > 0">
    <div class="grp-item tour-without-grp">
      <!-- <div class="soccer-tour-title">
        <p>{{item?.data?.season?.name}}</p>
      </div> -->
      <div class="schedule-tour-list">
        <div
          class="schedule-item goal-item common-item common-shadow rounded-box d-flex align-items-center fullblock-link-container"
          *ngFor="let match of data" [ngClass]="{'complete-match' : match?.sport_event_status?.status=='closed'}">
          <div class="match-teams d-flex align-items-center"
            *ngIf="match?.sport_event?.competitors[0] && match?.sport_event?.competitors[1]">

            <div class="match-team d-flex align-items-center" *ngIf="match?.sport_event?.competitors[0]">
              <div class="team-info">
                <h5
                  [ngClass]="{'winner': match?.sport_event_status?.status=='closed' && match?.sport_event_status?.winner_id == match?.sport_event?.competitors[0].id }">
                  {{match?.sport_event?.competitors[0]?.name}}
                </h5>
              </div>
              <div class="team-flag">
                <img [offset]="commonService.lazyloadoffset"
                  [lazyLoad]="match?.sport_event?.competitors[0].id | logosurl:'hockey'"
                  [defaultImage]="commonService.flagplaceholder" alt="{{match?.sport_event?.competitors[0].name}}">
              </div>
            </div>

            <!-- For Upcoming Match -->
            <div class="vs-block" *ngIf="match?.sport_event_status?.status!='closed'">
              <h6>vs</h6>
            </div>
            <!-- For Complete/Result Match -->
            <div class="score-center-block" *ngIf="match?.sport_event_status?.status == 'closed'">
              <p>vs</p>
              <div class="value d-flex justify-content-between">
                <h4 class="dark-text">
                  {{match?.sport_event_status?.home_score}}
                </h4>
                <h4 class="dark-text">-</h4>
                <h4 class="dark-text">
                  {{match?.sport_event_status?.away_score}}
                </h4>
              </div>
            </div>

            <div class="match-team d-flex align-items-center" *ngIf="match?.sport_event?.competitors[1]">
              <div class="team-flag">
                <img [offset]="commonService.lazyloadoffset"
                  [lazyLoad]="match?.sport_event?.competitors[1].id | logosurl:'hockey'"
                  [defaultImage]="commonService.flagplaceholder" alt="{{match?.sport_event?.competitors[1].name}}">
              </div>
              <div class="team-info">
                <h5
                  [ngClass]="{'winner': match?.sport_event_status?.status=='closed' && match?.sport_event_status?.winner_id == match?.sport_event?.competitors[1].id }">
                  {{match?.sport_event?.competitors[1].name}}
                </h5>
              </div>
            </div>

            <a class="details-btn"><span>{{ 'widgetModule.details' | translate }}</span></a>
            <a class="fullblock-link"
              [routerLink]="['/hockey/match', (match?.sport_event?.id | splitID), (match?.sport_event?.competitors[0].abbreviation + '-vs-' +match?.sport_event?.competitors[0].abbreviation)]">
            </a>

          </div>

          <div class="match-desc text-center">
            <h6>
              <span class="text-capitalize">{{match?.sport_event?.start_time | date:'h:mm a'}}</span>
            </h6>
            <p class="stadium-nm" *ngIf="match?.sport_event?.sport_event_context?.season">
              {{match?.sport_event?.sport_event_context?.season?.name}}
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</ng-template>

<ng-template #badminton_list>
  <div class="common-tour-list" *ngIf="data.length > 0">
    <div class="grp-item tour-without-grp">
      <div class="soccer-tour-title">
        <p>{{match?.sport_event?.sport_event_context?.season?.name}}</p>
      </div>
      <div class="schedule-tour-list">
        <div
          class="schedule-item goal-item badminton-item common-item common-shadow rounded-box d-flex align-items-center fullblock-link-container"
          *ngFor="let match of data" [ngClass]="{'complete-match' : match?.sport_event_status?.status=='closed'}">
          <div class="match-teams d-flex align-items-center"
            [ngClass]="{'doubles' : match?.sport_event?.sport_event_context?.stage?.phase == 'mixed_doubles' }"
            *ngIf="match?.sport_event?.competitors[0] && match?.sport_event?.competitors[1]">

            <div class="match-team d-flex align-items-center"
              [ngClass]="{'winner': match?.sport_event_status?.status=='closed' && match?.sport_event_status?.winner_id == match?.sport_event?.competitors[0].id }">
              <ng-container *ngIf="match?.sport_event?.competitors[0].players; else singleHomeComp">
                <ng-container *ngFor="let competitor of match?.sport_event?.competitors[0].players">
                  <ng-container *ngTemplateOutlet="homeTeam;context:{ team:competitor}">
                  </ng-container>
                </ng-container>
              </ng-container>
              <ng-template #singleHomeComp>
                <ng-container *ngTemplateOutlet="homeTeam;context:{ team:match?.sport_event?.competitors[0]}">
                </ng-container>
              </ng-template>
              <ng-template #homeTeam let-team="team">
                <div class="double-team d-flex align-items-center">
                  <div class="team-info">
                    <h5>
                      {{team?.name}}
                    </h5>
                  </div>
                  <div class="team-flag">
                    <img [offset]="commonService.lazyloadoffset" [lazyLoad]="team.id | logosurl:'badminton'"
                      [defaultImage]="commonService.flagplaceholder" alt="{{team.name}}">
                  </div>
                </div>
              </ng-template>
            </div>

            <!-- For Upcoming Match -->
            <div class="vs-block" *ngIf="match?.sport_event_status?.status!='closed'">
              <h6>vs</h6>
            </div>
            <!-- For Complete/Result Match -->
            <div class="score-center-block" *ngIf="match?.sport_event_status?.status == 'closed'">
              <p>vs</p>
              <div class="value d-flex justify-content-between">
                <h4 class="dark-text">
                  {{match?.sport_event_status?.home_score}}
                </h4>
                <h4 class="dark-text">-</h4>
                <h4 class="dark-text">
                  {{match?.sport_event_status?.away_score}}
                </h4>
              </div>
            </div>
            <div class="match-team d-flex align-items-center"
              [ngClass]="{'winner': match?.sport_event_status?.status=='closed' && match?.sport_event_status?.winner_id == match?.sport_event?.competitors[1].id }">
              <ng-container *ngIf="match?.sport_event?.competitors[1].players; else singleAwayComp">
                <ng-container *ngFor="let competitor of match?.sport_event?.competitors[1].players">
                  <ng-container *ngTemplateOutlet="awayTeam;context:{ team:competitor}">
                  </ng-container>
                </ng-container>
              </ng-container>
              <ng-template #singleAwayComp>
                <ng-container *ngTemplateOutlet="awayTeam;context:{ team:match?.sport_event?.competitors[1]}">
                </ng-container>
              </ng-template>
              <ng-template #awayTeam let-team="team">
                <div class="double-team d-flex align-items-center">
                  <div class="team-flag">
                    <img [offset]="commonService.lazyloadoffset" [lazyLoad]="team.id | logosurl:'badminton'"
                      [defaultImage]="commonService.flagplaceholder" alt="{{team.name}}">
                  </div>
                  <div class="team-info">
                    <h5>
                      {{team.name}}
                    </h5>
                  </div>
                </div>
              </ng-template>
            </div>

            <a class="details-btn"><span>{{ 'widgetModule.details' | translate }}</span></a>
            <a class="fullblock-link"
              [routerLink]="['/badminton/match', (match?.sport_event?.id | splitID), (match?.sport_event?.competitors[0].abbreviation + '-vs-' +match?.sport_event?.competitors[0].abbreviation)]">
            </a>

          </div>

          <div class="match-desc text-center">
            <h6>
              <span class="text-capitalize">{{match?.sport_event?.start_time | date:'h:mm a'}}</span>
            </h6>
            <p class="stadium-nm" *ngIf="match?.sport_event?.sport_event_context?.season">
              <!-- {{match?.sport_event?.sport_event_context?.season?.name}} -->
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</ng-template>