/* -------- Fixtures List ------- */
.schedule-list .schedule-list-inner .schedule-month:last-child,
.schedule-list .schedule-month              { margin-bottom: 32px; padding-bottom: 32px; border-bottom: 2px solid rgba(0,0,0,0.05); }
.schedule-list .schedule-list-inner:last-child .schedule-month,
.schedule-list .schedule-month:last-child   { margin-bottom: 0px; padding-bottom: 0px; border: none; }
.schedule-list .month-title                 { width: 174px; padding-right: 16px; }
.schedule-list .schedule-items              { flex-grow: 1; -webkit-flex-grow: 1; }
.schedule-list .month-title h5              { margin-top: 4px; font-family: 'IBM Plex Sans Condensed', sans-serif; transition: all 0.35s ease-in-out; -webkit-transition: all 0.35s ease-in-out; opacity: 0.3; text-transform: uppercase;}
.schedule-list .month-title .sticky-month   { position: sticky; position: -webkit-sticky; top: 100px; }
.schedule-month:hover .month-title h5       { color: #ED1A33; opacity: 1;  }
.schedule-list .schedule-item               { margin-bottom: 16px; padding: 16px 24px 24px; background: #fff; }
.schedule-list .schedule-item.schedule-hover{ cursor: pointer;}
.schedule-list .schedule-item:last-child    { margin-bottom: 0px; }
/* .schedule-list .schedule-item h4            { color: #292929; font-family: 'IBM Plex Sans', sans-serif; font-weight: 400; text-transform: uppercase; } */
.schedule-list .schedule-item h5            { padding-left: 12px; color: #A3A3A3; font-family: 'IBM Plex Sans', sans-serif; font-weight: 500; flex-shrink: 0; -webkit-flex-shrink: 0;  }
.schedule-list .schedule-item .schedule-date { margin: 0px; font-size: 18px; line-height: 23px; font-weight: 500; color: #A3A3A3;} 
/* .schedule-list .schedule-item.schedule-hover:hover         { background: #ED1A33; box-shadow: 0px 2px 8px rgba(237,26,51,0.16); -webkit-box-shadow: 0px 2px 8px rgba(237,26,51,0.16); }
.schedule-list .schedule-item.schedule-hover *             { transition: all 0.3s ease-in-out; -webkit-transition: all 0.3s ease-in-out;}
.schedule-list .schedule-item.schedule-hover:hover *       { color: #fff !important; } */

/* -------- Tournament Fixtures List ------- */
.schedule-tour-list .schedule-item      { padding-bottom: 16px; min-height: 112px; overflow: hidden; position: relative; background: #fff;}
.schedule-item .match-desc              { width: 200px; align-self: flex-start; -webkit-align-self: flex-start; }
.schedule-item .match-teams             { width: calc(100% - 208px); }
.schedule-tour-list .schedule-item *:last-child         { margin-bottom: 0px; }
.schedule-tour-list h6,
.schedule-tour-list .complete-match h5                  { margin-bottom: 4px; font-size: 16px; line-height: 20px; color: #292929; font-weight: 700; }
.schedule-tour-list .complete-match h5.winner:after     { content: ""; margin: 0px 5px 4px; display: inline-block; height: 12px; width: 12px; background:url(assets/images/winner-cup.svg) no-repeat center center / cover; vertical-align: middle; }
.schedule-tour-list .schedule-item h5   { padding: 0px; color: #292929; }
.schedule-tour-list h6                  { margin-bottom: 1px; color: #292929; font-weight: 600; }
.match-teams .vs-block h6               { margin: 0px 28px; color: #CCCCCC; }
.schedule-tour-list p                   { margin-bottom: 16px; font-size: 14px; line-height: 20px; color: #292929; font-weight: 500;}
.schedule-item .stadium-nm              { font-size: 12px; line-height: 18px; color: #7A7A7A; }
.schedule-tour-list .result-line        { font-family: 'IBM Plex Sans Condensed', sans-serif; font-weight: 600; }
.schedule-tour-list .time-line          { font-size: 16px; line-height: 20px; color: #525252; }
.match-teams .match-team                { width: calc(50% - 36px); }
.match-teams .match-team:first-child    { text-align: right;  -webkit-justify-content: flex-end; -moz-justify-content: flex-end; -ms-justify-content: flex-end; justify-content: flex-end; }
.match-teams .team-info                 { padding: 0px 12px; }
.match-teams .team-flag                 { border: 2px solid #E5E5E5; border-radius: 3px; overflow: hidden; }
.match-teams .team-flag img             { height: 46px; width: auto;}
.schedule-item .details-btn             { position: absolute; width: 32px; height: 100%; background: #ED1A33; font-size: 14px; line-height: 32px; font-family: 'IBM Plex Sans Condensed', sans-serif; font-weight: 700; letter-spacing: 1px; color: #fff; right: 0px; transform: translateX(100%); -webkit-transform: translateX(100%); top: 0px; border-radius: 4px; text-transform: uppercase; }
.schedule-item .details-btn span        { position: absolute; color: #fff; display: block; top: 50%; left: 50%; transform: translate(-50%, -50%) rotate(-90deg); -webkit-transform: translate(-50%, -50%) rotate(-90deg); }
.schedule-item:hover .details-btn       { transform: translateX(0%); -webkit-transform: translateX(0%); }

/* -------- Tournament Fixtures For Kabaddi ------- */
.schedule-tour-list .score-center-block     { margin: -10px 12px 0px; width: 100px; text-transform: uppercase; text-align: center; }
.schedule-tour-list .score-center-block p   { margin-bottom: 0px; font-weight: 700; color: #ccc; }
.schedule-tour-list .score-center-block h4  { font-family: 'IBM Plex Sans', sans-serif; font-weight: 700; }
.schedule-tour-list .score-center-block h4.looser   { opacity: 0.5;}

/* -------- Tournament Fixtures For Soccer ------- */
.soccer-tour-list .soccer-tour              { margin-bottom: 24px; padding: 16px 24px 24px; background: #fff; }
.soccer-tour-list .soccer-tour:last-child   { margin: 0px; }
.soccer-tour-list .soccer-tour-title        { padding-bottom: 14px; border-bottom: 2px solid #EBEBEB; }
.soccer-tour-list .soccer-tour-title p      { margin: 0px; line-height: 20px; font-weight: 600; text-transform: uppercase; }
.schedule-tour-list .soccer-item            { padding: 24px 16px 16px; flex-direction: column; -webkit-flex-direction: column; }
.schedule-tour-list .soccer-item:nth-child(even) { background: #F7F7F8; }
.schedule-item.soccer-item .match-desc,
.schedule-item.soccer-item .match-teams     { width: 100%; }
.schedule-item.soccer-item .match-desc      { padding-top: 16px; }
.soccer-item .match-teams .team-flag img    { display: block; height: 24px;}
.soccer-tour-list .soccer-tour .vs-block,
.soccer-tour-list .soccer-tour .score-center-block { min-width: 124px; padding: 0px 26px; text-align: center; }
.soccer-tour .score-center-block h4         { margin: 0px; font-size: 16px; line-height: 20px; }

/* -- Arabic CSS -- */
.arabic .schedule-list .month-title         { padding-right: 0px; padding-left: 16px; }
.arabic .schedule-item .details-btn         { right: auto; left: 0; transform: translateX(-100%); -webkit-transform: translateX(-100%);  }
.arabic .schedule-item:hover .details-btn   { transform: translateX(0%); -webkit-transform: translateX(0%); }

/***** Responsive CSS Start ******/
@media (min-width: 1200px) and (max-width: 1379px) {
/* -------- Fixtures List ------- */
    .schedule-list .month-title                 { width: 120px; }
/* -------- Tournament Fixtures List ------- */
    .schedule-item .match-desc              { width: 160px; }
    .schedule-item .match-teams             { width: calc(100% - 168px); }
    .match-teams .match-team                { width: calc(50% - 5px); }
    .match-teams .team-info                 { padding: 0px 10px; }
    .match-teams .team-flag img             { height: 42px;}
    .match-teams .vs-block h6               { margin: 0px 10px; }
    .schedule-tour-list p                   { margin-bottom: 10px;}
}

@media (max-width: 1199px) {
/* -------- Fixtures List ------- */
    .schedule-list .month-title                 { width: 100px; }
/* -------- Tournament Fixtures List ------- */
    .schedule-tour-list .schedule-item      { padding: 16px 16px 16px 12px; flex-direction: column; -webkit-flex-direction: column; }
    .schedule-item .match-desc,
    .schedule-item .match-teams             { width: 100%; }
    .schedule-item .match-desc              { text-align: center; }
    .match-teams .team-info                 { padding: 0px 10px; }
    .schedule-item .match-teams             { margin-top: 12px; }
    .match-teams .match-team                { width: calc(50% - 5px); }
    .match-teams .team-flag img             { height: 40px;}
    .match-teams .vs-block h6               { margin: 0px 10px; }
    .schedule-tour-list p                   { margin-bottom: 6px;}
/* -------- Tournament Fixtures For Kabaddi ------- */
    .schedule-tour-list .score-center-block     { margin: -5px 8px 0px; padding-top: 5px; }
/* -------- Tournament Fixtures For Soccer ------- */
    .soccer-tour-list .soccer-tour .vs-block,
    .soccer-tour-list .soccer-tour .score-center-block { min-width: 104px; padding: 0px 16px;}
    .soccer-tour-list .schedule-item .match-teams { margin-top: 4px; }
}

@media (max-width: 767px) {
/* -------- Fixtures List ------- */
    .schedule-list .schedule-list-inner .schedule-month:last-child,
    .schedule-list .schedule-month              { margin-bottom: 24px; padding-bottom: 24px;}
    .schedule-list .month-title                 { width: 90px; }
    .schedule-list .schedule-item .schedule-date { font-size: 15px; line-height: 20px;}
/* -------- Tournament Fixtures List ------- */
    .match-teams .team-flag img             { height: 34px;}
    .schedule-tour-list .complete-match h5  { margin-bottom: 2px; font-size: 15px; line-height: 19px; }
    .schedule-tour-list p                   { margin-bottom: 5px; font-size: 13px; line-height: 18px;}
    .schedule-tour-list .time-line          { font-size: 14px; line-height: 18px; }
}

@media (max-width: 575px) {
/* -------- Fixtures List ------- */
    .schedule-list .schedule-month              { flex-direction: column; -webkit-flex-direction: column; }
    .schedule-list .month-title                 { width: 100%; }
    .schedule-list .schedule-item               { padding: 16px;}
    .schedule-list .month-title h5              { margin-bottom: 16px;}
    .schedule-list .month-title .sticky-month   { position: static; }
/* -------- Tournament Fixtures List ------- */
    .match-teams .team-flag img                     { height: 28px; }
    .schedule-item.complete-match .match-teams      { flex-direction: column; -webkit-flex-direction: column; }
    .schedule-tour-list .schedule-item              { padding: 10px 12px; }
    .complete-match .match-teams .match-team:first-child            { text-align: left; justify-content: start; -webkit-justify-content: start; }
    .complete-match .match-teams .match-team .team-info     { display: flex; flex-grow: 1; -webkit-flex-grow: 1; justify-content: space-between; -webkit-justify-content: space-between;}
    .complete-match .match-teams .match-team:first-child .team-info     { order: 2; }
    .complete-match .match-teams .match-team                { width: 100%; }
    .match-teams .vs-block h6                       { padding: 2px; }
/* -------- Tournament Fixtures For Kabaddi ------- */
    .schedule-item.goal-item .match-teams                {justify-content: space-between; -webkit-justify-content: space-between;}
    .schedule-item.complete-match.goal-item .match-teams      { flex-direction: row; -webkit-flex-direction: row; }
    .schedule-item.complete-match.goal-item .match-team,
    .schedule-item.goal-item .match-team                 { width: calc(50% - 40px); flex-direction: column; -webkit-flex-direction: column; flex-shrink: 0; -webkit-flex-shrink: 0; }
    .schedule-item.goal-item .match-teams .match-team:first-child     { text-align: left; justify-content: start; -webkit-justify-content: start; }
    .schedule-item.goal-item .match-teams .match-team .team-info     { margin-top: 5px; text-align: center; }
    .schedule-item.goal-item .match-teams .match-team:first-child .team-info      { order: 2; }
    .schedule-item.goal-item h5                          { font-size: 13px; line-height: 17px; }
/* -------- Tournament Fixtures For Soccer ------- */
    .soccer-tour-list .soccer-tour              { margin-bottom: 16px; padding: 12px 16px 16px;}
    .schedule-tour-list .schedule-item.soccer-item  { padding: 10px 8px; }
    .soccer-tour-list .soccer-tour-title        { padding-bottom: 8px;}
    .soccer-tour-list .soccer-tour .vs-block,
    .soccer-tour-list .soccer-tour .score-center-block { min-width: initial; padding: 0px 8px;}
    .schedule-item.soccer-item .match-desc      { padding-top: 8px; }

}
