<div class="header-live-section" *ngIf="isBrowser">
  <div class="container">
    <div class="header-live-inner d-flex align-items-center">

      <div class="slider-sports-selection">
        <owl-carousel-o [options]="customOptions1" (changed)="changeSlide($event)" #sportsSlider>
          <ng-template carouselSlide [id]="'Cricket'">
            <div class="slide-item">{{ 'Header_menu.Cricket' | translate }}</div>
          </ng-template>
          <ng-template carouselSlide [id]="'Kabaddi'">
            <div class="slide-item">{{ 'Header_menu.Kabaddi' | translate }}</div>
          </ng-template>
          <ng-template carouselSlide [id]="'Soccer'">
            <div class="slide-item">{{ 'Header_menu.Soccer' | translate }}</div>
          </ng-template>
          <ng-template carouselSlide [id]="'Basketball'">
            <div class="slide-item">{{ 'Basketball' | translate }}</div>
          </ng-template>
          <ng-template carouselSlide [id]="'Hockey'">
            <div class="slide-item">{{ 'Field Hockey' | translate }}</div>
          </ng-template>
          <ng-template carouselSlide [id]="'Badminton'">
            <div class="slide-item">{{ 'Badminton' | translate }}</div>
          </ng-template>
          <ng-template carouselSlide [id]="'Tennis'">
            <div class="slide-item">{{ 'Tennis' | translate }}</div>
          </ng-template>
        </owl-carousel-o>
      </div>

      <div class="header-live-slider" *ngIf="slider.length > 0">
        <owl-carousel-o [options]="customOptions" *ngIf="sport == 'Kabaddi'">
          <ng-container class="items" *ngFor="let slide of slider">
            <ng-template carouselSlide>
              <!--Live matches-->

              <div class="slider-item">
                <div class="slider-item-inner fullblock-link-container">
                  <div class="title d-flex justify-content-between">
                    <p class="tour-name" [ngClass]="sport | lowercase">
                      <b>{{ slide?.competition?.cname ? slide?.competition?.cname : slide?.title}}
                      </b>
                    </p>

                    <p *ngIf="slide.status != 3; else matchStatus">
                      {{ (slide.timestampstart | amFromUnix) | amTimeAgo }}
                    </p>
                    <ng-template #matchStatus>
                      <p class="live-result"> {{slide?.result?.text != '' ? slide?.result?.text : slide?.status_str}}
                      </p>
                    </ng-template>
                  </div>

                  <ng-container>
                    <ng-container
                      *ngTemplateOutlet="kabaddi_team;context:{competitor:slide?.teams?.home, match:slide, qualifier:'home'}">
                    </ng-container>
                    <ng-container
                      *ngTemplateOutlet="kabaddi_team;context:{competitor:slide?.teams?.away, match:slide, qualifier:'away'}">
                    </ng-container>
                  </ng-container>

                  <ng-template #kabaddi_team let-competitor="competitor" let-match="match" let-qualifier="qualifier">
                    <div class="match-info d-flex justify-content-between align-items-center">
                      <p [ngClass]="{'match-winner':  match?.result?.winner == competitor?.tid }">
                        <img [lazyLoad]="competitor?.logo" alt="{{competitor?.shortname}}"
                          [defaultImage]="commonService.flagplaceholder">{{competitor?.shortname}}</p>
                      <p *ngIf="match?.result[qualifier] != 0"><b>{{match?.result[qualifier]}}</b></p>
                    </div>
                  </ng-template>

                  <div class="row">
                    <div class="col-lg-12">
                      <p class="result-line" *ngIf="slide.match_status == 'live'">
                        {{slide?.venue?.name ? slide?.venue?.name : ''}}</p>
                      <p class="result-line" *ngIf="slide.match_status != 'live'">
                        {{slide?.result?.text != '' ? slide?.result?.text : slide?.venue?.name}}</p>
                    </div>
                  </div>
                  <a class="fullblock-link"
                    [routerLink]="['/kabaddi/match',(slide.mid),((slide.teams.home.tname | slugify) + '-' + (slide.teams.away.tname | slugify))]"></a>
                </div>
              </div>
            </ng-template>
          </ng-container>
        </owl-carousel-o>
        <owl-carousel-o [options]="customOptions" *ngIf="sport == 'Cricket'">
          <ng-container class="items" *ngFor="let slide of slider">
            <ng-template carouselSlide>
              <!--Live matches-->
              <div class="slider-item">
                <div class="slider-item-inner fullblock-link-container">
                  <div class="title d-flex justify-content-between">
                    <p class="tour-name" [ngClass]="sport | lowercase">
                      <b>{{slide.season_name ? slide.season_name : slide.tournament_name}} </b> <span
                        class="text-capitalize">{{ slide.tournament_round ? ' - '+slide.tournament_round : '' }}</span>
                    </p>

                    <!-- <p class="tour-name"><b>{{slide.season_name ? slide.season_name : slide.tournament_name}}</b></p> -->
                    <p
                      *ngIf="slide.status == 'not_started' || slide.status == 'closed' || slide.status == 'ended'; else matchStatus">
                      {{slide.scheduled | amTimeAgo}}</p>
                    <ng-template #matchStatus>
                      <p class="live-result">{{slide.status ? slide.status : slide.match_status}}</p>
                    </ng-template>
                  </div>

                  <ng-container *ngIf="slide?.competitorsObj?.away?.show_first; else home_first">
                    <ng-container
                      *ngTemplateOutlet="team;context:{competitor:slide?.competitorsObj?.away, match:slide}">
                    </ng-container>
                    <ng-container
                      *ngTemplateOutlet="team;context:{competitor:slide?.competitorsObj?.home, match:slide}">
                    </ng-container>
                  </ng-container>
                  <ng-template #home_first>
                    <ng-container>
                      <ng-container
                        *ngTemplateOutlet="team;context:{competitor:slide?.competitorsObj?.home, match:slide}">
                      </ng-container>
                      <ng-container
                        *ngTemplateOutlet="team;context:{competitor:slide?.competitorsObj?.away, match:slide}">
                      </ng-container>
                    </ng-container>
                  </ng-template>

                  <ng-template #team let-competitor="competitor" let-match="match">
                    <div class="match-info d-flex justify-content-between align-items-center">
                      <p [ngClass]="{'match-winner': match.winner_id == competitor?.id}">
                        <img [lazyLoad]="competitor?.id| logosurl" alt="{{competitor?.abbreviation}}"
                          [defaultImage]="commonService.flagplaceholder">{{competitor?.abbreviation}}</p>
                      <p *ngIf="competitor?.period_scores"><b>
                          {{competitor?.period_scores.display_score | cricketScore}}
                          ({{competitor?.period_scores.display_overs}}
                          ov)</b></p>
                    </div>
                  </ng-template>

                  <div class="row">
                    <div class="col-lg-12">
                      <p class="result-line" *ngIf="slide.match_status == 'live' || !slide.match_result"
                        [innerHTML]="slide?.venue_name"></p>
                      <p class="result-line" *ngIf="slide.match_status != 'live' && slide.match_result">
                        {{ slide.match_result}}</p>
                    </div>
                  </div>
                  <a class="fullblock-link"
                    [routerLink]="['/cricket/match',(slide.id | splitID),(slide.competitorsObj.home.abbreviation + '-vs-' +slide.competitorsObj.away.abbreviation)]"></a>
                </div>
              </div>
            </ng-template>
          </ng-container>
        </owl-carousel-o>
        <owl-carousel-o [options]="customOptions" *ngIf="sport == 'Soccer'">
          <ng-container class="items" *ngFor="let slide of slider">
            <ng-template carouselSlide>
              <!--Live matches-->
              <div class="slider-item">
                <div class="slider-item-inner fullblock-link-container">
                  <div class="title d-flex justify-content-between">
                    <p class="tour-name" [ngClass]="sport | lowercase">
                      <b>{{slide?.sport_event?.sport_event_context?.season ? slide?.sport_event?.sport_event_context?.season.name : ''}}
                      </b>
                      <span
                        class="text-capitalize">{{slide?.sport_event?.sport_event_context?.stage ? replace(slide?.sport_event?.sport_event_context?.stage.phase) : ''}}
                      </span>
                    </p>

                    <!-- <p class="tour-name"><b>{{slide.season_name ? slide.season_name : slide.tournament_name}}</b></p> -->
                    <p
                      *ngIf="slide?.sport_event_status?.status == 'not_started' || slide?.sport_event_status?.status == 'closed'; else matchStatus">
                      {{slide.sport_event.start_time  | amTimeAgo}}</p>
                    <ng-template #matchStatus>
                      <p class="live-result">
                        {{slide?.sport_event_status?.status ? slide?.sport_event_status?.status : slide?.sport_event_status?.match_status}}
                      </p>
                    </ng-template>
                  </div>

                  <ng-container
                    *ngTemplateOutlet="team;context:{competitor:slide?.sport_event?.competitors[0], match:slide}">
                  </ng-container>
                  <ng-container
                    *ngTemplateOutlet="team;context:{competitor:slide?.sport_event?.competitors[1], match:slide}">
                  </ng-container>

                  <ng-template #team let-competitor="competitor" let-match="match">
                    <div class="match-info d-flex justify-content-between align-items-center">
                      <p [ngClass]="{'match-winner': match.sport_event_status.winner_id == competitor?.id}">
                        <img [lazyLoad]="competitor?.id| logosurl" alt="{{competitor?.abbreviation}}"
                          [defaultImage]="commonService.flagplaceholder">{{competitor?.abbreviation}}</p>
                      <p><b>
                          {{competitor?.qualifier == 'home' ? match.sport_event_status.home_score : match.sport_event_status.away_score}}</b>
                      </p>
                    </div>
                  </ng-template>

                  <div class="row">
                    <div class="col-lg-12">
                      <p class="result-line" *ngIf="slide.sport_event?.venue?.name">
                        {{slide.sport_event?.venue?.name ? slide.sport_event?.venue?.name : ''}}</p>
                      <!-- <p class="result-line" *ngIf="slide.match_status != 'live'">
                        {{slide.match_result ? slide.match_result : slide.venue_name}}</p> -->
                    </div>
                  </div>
                  <a class="fullblock-link"
                    [routerLink]="['/soccer/match',(slide.sport_event.id | splitID),(slide.sport_event.competitors[0].abbreviation + '-vs-' +slide.sport_event.competitors[1].abbreviation)]"></a>
                </div>
              </div>
            </ng-template>
          </ng-container>
        </owl-carousel-o>
        <owl-carousel-o [options]="customOptions" *ngIf="sport == 'Basketball'">
          <ng-container class="items" *ngFor="let slide of slider">
            <ng-template carouselSlide>
              <!--Live matches-->
              <div class="slider-item">
                <div class="slider-item-inner fullblock-link-container">
                  <div class="title d-flex justify-content-between">
                    <p class="tour-name" [ngClass]="sport | lowercase"> {{ 'Basketball' | translate}}</p>
                    <p *ngIf="['scheduled','closed', 'complete'].indexOf(slide.status) > -1; else matchStatus">
                      {{slide.scheduled  | amTimeAgo}}</p>
                    <ng-template #matchStatus>
                      <p class="live-result">
                        {{slide?.status ? slide?.status : slide?.match_status}}
                      </p>
                    </ng-template>
                  </div>

                  <ng-container
                    *ngTemplateOutlet="teamBasketball;context:{competitor:slide?.home, oppo:slide?.away, match:slide, abbr:'home'}">
                  </ng-container>
                  <ng-container
                    *ngTemplateOutlet="teamBasketball;context:{competitor:slide?.away, oppo:slide?.home, match:slide, abbr:'away'}">
                  </ng-container>

                  <ng-template #teamBasketball let-competitor="competitor" let-match="match" let-oppo="oppo"
                    let-abbr="abbr">
                    <div class="match-info d-flex justify-content-between align-items-center">
                      <p
                        [ngClass]="{'match-winner': ['closed', 'complete'].indexOf(match.status) > -1 ? (abbr == 'home' ? (match?.home_points > match?.away_points) : (match?.away_points > match?.home_points)) : ''}">
                        <img [lazyLoad]="competitor?.sr_id| logosurl:'basketball'" alt="{{competitor?.name}}"
                          [defaultImage]="commonService.flagplaceholder">
                        {{competitor?.market}} {{competitor?.name}}
                      </p>
                      <p><b>
                          <!-- {{(['inprogress', 'halftime', 'delayed'].indexOf(match.status) > -1 ? 
                          competitor.points : 
                          (abbr == 'home' ? match?.home_points : match?.away_points))}} -->
                          {{(abbr == 'home' ? (match?.home_points > -1 ? match?.home_points : competitor.point) : (match?.away_points > -1  ? match?.away_points : competitor.point) )}}
                        </b>
                      </p>
                    </div>
                  </ng-template>

                  <div class="row">
                    <div class="col-lg-12">
                      <p class="result-line" *ngIf="slide?.venue?.name">
                        {{slide?.venue?.name ? slide?.venue?.name : ''}}</p>
                      <!-- <p class="result-line" *ngIf="slide.match_status != 'live'">
                          {{slide.match_result ? slide.match_result : slide.venue_name}}</p> -->
                    </div>
                  </div>
                  <a class="fullblock-link"
                    [routerLink]="['/basketball/match', slide?.id, (slide?.home?.alias + '-vs-' +slide?.away?.alias)]"></a>
                </div>
              </div>
            </ng-template>
          </ng-container>
        </owl-carousel-o>
        <owl-carousel-o [options]="customOptions" *ngIf="sport == 'Hockey'">
          <ng-container class="items" *ngFor="let slide of slider">
            <ng-template carouselSlide>
              <!--Live matches-->
              <div class="slider-item">
                <div class="slider-item-inner fullblock-link-container">
                  <div class="title d-flex justify-content-between">
                    <p class="tour-name" [ngClass]="sport | lowercase">
                      <b>{{slide?.sport_event?.sport_event_context?.season ? slide?.sport_event?.sport_event_context?.season.name : ''}}
                      </b>
                      <span
                        class="text-capitalize">{{slide?.sport_event?.sport_event_context?.stage ? replace(slide?.sport_event?.sport_event_context?.stage.phase) : ''}}
                      </span>
                    </p>

                    <!-- <p class="tour-name"><b>{{slide.season_name ? slide.season_name : slide.tournament_name}}</b></p> -->
                    <p
                      *ngIf="slide?.sport_event_status?.status == 'not_started' || slide?.sport_event_status?.status == 'closed'; else matchStatus">
                      {{slide.sport_event.start_time  | amTimeAgo}}</p>
                    <ng-template #matchStatus>
                      <p class="live-result">
                        {{slide?.sport_event_status?.status ? slide?.sport_event_status?.status : slide?.sport_event_status?.match_status}}
                      </p>
                    </ng-template>
                  </div>

                  <ng-container
                    *ngTemplateOutlet="team;context:{competitor:slide?.sport_event?.competitors[0], match:slide}">
                  </ng-container>
                  <ng-container
                    *ngTemplateOutlet="team;context:{competitor:slide?.sport_event?.competitors[1], match:slide}">
                  </ng-container>

                  <ng-template #team let-competitor="competitor" let-match="match">
                    <div class="match-info d-flex justify-content-between align-items-center">
                      <p [ngClass]="{'match-winner': match.sport_event_status.winner_id == competitor?.id}">
                        <img [lazyLoad]="competitor?.id| logosurl" alt="{{competitor?.abbreviation}}"
                          [defaultImage]="commonService.flagplaceholder">{{competitor?.abbreviation}}</p>
                      <p><b>
                          {{competitor?.qualifier == 'home' ? match.sport_event_status.home_score : match.sport_event_status.away_score}}</b>
                      </p>
                    </div>
                  </ng-template>

                  <div class="row">
                    <div class="col-lg-12">
                      <p class="result-line" *ngIf="slide.sport_event?.venue?.name">
                        {{slide.sport_event?.venue?.name ? slide.sport_event?.venue?.name : ''}}</p>
                      <!-- <p class="result-line" *ngIf="slide.match_status != 'live'">
                        {{slide.match_result ? slide.match_result : slide.venue_name}}</p> -->
                    </div>
                  </div>
                  <a class="fullblock-link"
                    [routerLink]="['/hockey/match',(slide.sport_event.id | splitID),(slide.sport_event.competitors[0].abbreviation + '-vs-' +slide.sport_event.competitors[1].abbreviation)]"></a>
                </div>
              </div>
            </ng-template>
          </ng-container>
        </owl-carousel-o>
        <owl-carousel-o [options]="customOptions" *ngIf="sport == 'Badminton'">
          <ng-container class="items" *ngFor="let slide of slider">
            <ng-template carouselSlide>
              <!--Live matches-->
              <div class="slider-item">
                <div class="slider-item-inner fullblock-link-container">
                  <div class="title d-flex justify-content-between">
                    <p class="tour-name" [ngClass]="sport | lowercase">
                      <b>{{slide?.sport_event?.sport_event_context?.season ? slide?.sport_event?.sport_event_context?.season.name : ''}}
                      </b>
                      <span
                        class="text-capitalize">{{slide?.sport_event?.sport_event_context?.stage ? replace(slide?.sport_event?.sport_event_context?.stage.phase) : ''}}
                      </span>
                    </p>

                    <!-- <p class="tour-name"><b>{{slide.season_name ? slide.season_name : slide.tournament_name}}</b></p> -->
                    <p
                      *ngIf="slide?.sport_event_status?.status == 'not_started' || slide?.sport_event_status?.status == 'closed'; else matchStatus">
                      {{slide.sport_event.start_time  | amTimeAgo}}</p>
                    <ng-template #matchStatus>
                      <p class="live-result">
                        {{slide?.sport_event_status?.status ? slide?.sport_event_status?.status : slide?.sport_event_status?.match_status}}
                      </p>
                    </ng-template>
                  </div>

                  <ng-container
                    *ngTemplateOutlet="team;context:{competitor:slide?.sport_event?.competitors[0], match:slide}">
                  </ng-container>
                  <ng-container
                    *ngTemplateOutlet="team;context:{competitor:slide?.sport_event?.competitors[1], match:slide}">
                  </ng-container>

                  <ng-template #team let-competitor="competitor" let-match="match">
                    <div class="match-info d-flex justify-content-between align-items-center">
                      <p [ngClass]="{'match-winner': match.sport_event_status.winner_id == competitor?.id}">
                        <img [lazyLoad]="competitor?.id| logosurl" alt="{{competitor?.abbreviation}}"
                          [defaultImage]="commonService.flagplaceholder">{{competitor?.abbreviation}}</p>
                      <p><b>
                          {{competitor?.qualifier == 'home' ? match.sport_event_status.home_score : match.sport_event_status.away_score}}</b>
                      </p>
                    </div>
                  </ng-template>

                  <div class="row">
                    <div class="col-lg-12">
                      <p class="result-line" *ngIf="slide.sport_event?.venue?.name">
                        {{slide.sport_event?.venue?.name ? slide.sport_event?.venue?.name : ''}}</p>
                      <!-- <p class="result-line" *ngIf="slide.match_status != 'live'">
                        {{slide.match_result ? slide.match_result : slide.venue_name}}</p> -->
                    </div>
                  </div>
                  <a class="fullblock-link"
                    [routerLink]="['/badminton/match',(slide.sport_event.id | splitID),(slide.sport_event.competitors[0].abbreviation + '-vs-' +slide.sport_event.competitors[1].abbreviation)]"></a>
                </div>
              </div>
            </ng-template>
          </ng-container>
        </owl-carousel-o>
        <owl-carousel-o [options]="customOptions" *ngIf="sport == 'Tennis'">
          <ng-container class="items" *ngFor="let slide of slider">
            <ng-template carouselSlide>
              <!--Live matches-->
              <div class="slider-item">
                <div class="slider-item-inner fullblock-link-container">
                  <div class="title d-flex justify-content-between">
                    <p class="tour-name" [ngClass]="sport | lowercase">
                      <b>{{slide?.season ? slide?.season.name : ''}} {{slide.sport_event ? 1 : 0}}
                      </b>
                      <!-- <span
                        class="text-capitalize">{{slide?.sport_event?.sport_event_context?.stage ? replace(slide?.sport_event?.sport_event_context?.stage.phase) : ''}}
                      </span> -->
                    </p>

                    <!-- <p class="tour-name"><b>{{slide.season_name ? slide.season_name : slide.tournament_name}}</b></p> -->
                    <p
                      *ngIf="slide?.sport_event_status?.status == 'not_started' || slide?.sport_event_status?.status == 'closed'; ">
                      {{slide.scheduled  | amTimeAgo}}</p>
                    <!-- <ng-template #matchStatus>
                      <p class="live-result">
                        {{slide?.sport_event_status?.status ? slide?.sport_event_status?.status : slide?.sport_event_status?.match_status}}
                      </p>
                    </ng-template> -->
                  </div>

                  <ng-container
                    *ngTemplateOutlet="team;context:{competitor:(slide?.competitors) ? slide?.competitors[0] : slide?.sport_event?.competitors[0], match:slide}">
                  </ng-container>
                  <ng-container
                    *ngTemplateOutlet="team;context:{competitor:(slide?.competitors) ? slide?.competitors[1] : slide?.sport_event?.competitors[1], match:slide}">
                  </ng-container>

                  <ng-template #team let-competitor="competitor" let-match="match">
                    <div class="match-info d-flex justify-content-between align-items-center">
                      <p [ngClass]="{'match-winner': match.winner_id == competitor?.id}">
                        <img [lazyLoad]="competitor?.id| logosurl" alt="{{competitor?.abbreviation}}"
                          [defaultImage]="commonService.flagplaceholder">{{competitor?.abbreviation}}</p>
                      <p>
                        <!-- <b>{{competitor?.qualifier == 'home' ? match.sport_event_status.home_score : match.sport_event_status.away_score}}</b> -->
                      </p>
                    </div>
                  </ng-template>

                  <div class="row">
                    <div class="col-lg-12">
                      <p class="result-line" *ngIf="slide.sport_event?.venue || slide?.venue">
                        {{slide?.venue ? slide?.venue?.name : slide.sport_event?.venue?.name}}</p>
                    </div>
                  </div>
                  <a class="fullblock-link" *ngIf="slide.sport_event; else fixtureLink"
                    [routerLink]="['/tennis/match',(slide.sport_event.id | splitID),(slide.sport_event.competitors[0].abbreviation + '-vs-' +slide.sport_event.competitors[1].abbreviation)]"></a>
                  <ng-template #fixtureLink>
                    <a class="fullblock-link"
                      [routerLink]="['/tennis/match',(slide.id | splitID),(slide.competitors[0].abbreviation + '-vs-' +slide.competitors[1].abbreviation)]"></a>
                  </ng-template>
                </div>
              </div>
            </ng-template>
          </ng-container>
        </owl-carousel-o>
      </div>
    </div>
    <div class="header-live-slider no-matches d-flex justify-content-center align-items-center"
      *ngIf="slider.length == 0">
      <p class="no-margin">{{'No matches in recent period.' | translate}}</p>
    </div>
  </div>
</div>