/* -------- Header Slider CSS ------- */
.header-live-section                                    { background: #1B2A5A; position: relative; z-index: 1113; }
.header-live-inner                                      { min-height: 80px; }
.slider-sports-selection                                { padding: 40px 0px; width: 150px; }
.slider-sports-selection .slide-item                    { color: #fff; text-transform: uppercase; font-weight: 500; text-align: center; }
.slider-sports-dropdown .dropdown-toggle                { padding: 11px 16px; background: transparent; width: 150px; line-height: 20px; color: #fff; font-weight: 600; font-family: 'IBM Plex Sans Condensed', sans-serif; border-radius: 2em; border: 2px solid #fff; text-align: left; }
.slider-sports-dropdown .dropdown-toggle::after         { position: absolute; width: 20px; height: 20px; top: 50%; right: 16px; transform: translateY(-50%); -webkit-transform: translateY(-50%); background: url(assets/images/dropdown-arrow.svg) no-repeat center center / cover; border: none; transition: all 0.3s ease-in-out; -webkit-transition: all 0.3s ease-in-out; }
.slider-sports-dropdown.show .dropdown-toggle::after    { transform: translatey(-50%) rotate(180deg); -webkit-transform: translatey(-50%) rotate(180deg); }
.slider-sports-dropdown .dropdown-menu                  { margin-top: 8px; padding: 0px; min-width: 100%; border: none; border-radius: 4px; overflow: hidden; }
.slider-sports-dropdown .dropdown-menu .dropdown-item   { padding: 10px 12px; font-size: 14px; line-height: 18px; color: #292929; font-weight: 600; }
.slider-sports-dropdown .dropdown-menu .dropdown-item.selected,
.slider-sports-dropdown .dropdown-menu .dropdown-item:hover { background: #FFE6E9; color: #ED1A33; }
.header-live-slider                                     { margin-left: 24px; padding: 12px 50px; width: calc(100% - 174px); position: relative;  }
.header-live-slider .slider-item-inner                  { margin: 0px 8px; padding: 8px; min-height: 105px; background: #fff;  cursor: pointer; border-radius: 4px; }
.header-live-slider .slider-item-inner p                { margin-bottom: 4px; font-size: 12px; line-height: 16px; font-family: 'IBM Plex Sans', sans-serif;}
.header-live-slider .slider-item .title p               { font-size: 12px; line-height: 15px; color: #A5A5A5; font-family: 'IBM Plex Sans Condensed', sans-serif;  }
.header-live-slider .slider-item .title p:last-child    { padding-left: 14px; flex-shrink: 0; -webkit-flex-shrink: 0; }
.header-live-slider .slider-item .title p.live-result           { color: #ED1A33; text-transform: capitalize; }
.header-live-slider .slider-item .title p.live-result:before    { content: ""; margin: -2px 4px 0px -10px; width: 6px; height: 6px; background: #ED1A33; display: inline-block; vertical-align: middle; border-radius: 50%; }
.header-live-slider .slider-item .title .tour-name      { white-space: nowrap; text-overflow: ellipsis; overflow: hidden;}
.header-live-slider .slider-item .title p b             { color: #595959; font-weight: 700;}
.header-live-slider .slider-item .match-winner::after   { content: ""; margin: 0px 5px 4px; display: inline-block; height: 12px; width: 12px; background: url(assets/images/winner-cup.svg); vertical-align: middle; }
.header-live-slider .slider-item .match-info img        { margin: -3px 4px 0px 0px; height: 16px; width: auto; display: inline-block; }
.header-live-slider .slider-item .match-info p          { color: #292929; font-weight: 500; }
.header-live-slider .slider-item .result-line           { margin: 1px 0px 0px; font-size: 11px; line-height: 14px; }
.header-live-slider.no-matches p                        { color: rgba(255,255,255,0.7); font-weight: 500;}

/* -------- Arabic CSS ------- */
.arabic .header-live-slider .slider-item .title p:last-child            { padding-left: 0px; padding-right: 14px; }
.arabic .header-live-slider .slider-item .title p.live-result:before    { content: ""; margin-right: -10px; margin-left: 4px; }
.arabic .header-live-slider .slider-item .match-info img                { margin-right: 0px; margin-left: 4px; }
.arabic .slider-sports-selection .owl-theme .owl-nav [class*="owl-"]    { left: auto; right: 50%; transform: translateX(50%); -webkit-transform: translateX(50%); }

/***** Responsive CSS Start ******/

@media (min-width: 992px) and (max-width: 1199px) {
/* -------- Header Slider CSS ------- */
    .slider-sports-dropdown .dropdown-toggle            { padding: 8px 12px; width: 130px; font-size: 14px; line-height: 18px; }
    .slider-sports-dropdown .dropdown-toggle::after     { width: 20px; height: 20px; right: 12px; }
    .slider-sports-selection                            {  width: 142px; }
    .header-live-slider                                 { margin-left: 12px; width: calc(100% - 142px); }
    .slider-sports-dropdown .dropdown-menu .dropdown-item   { padding: 8px 12px; font-size: 13px; line-height: 16px;}
}


@media (max-width: 991px) {
/* -------- Header Slider CSS ------- */
    .slider-sports-dropdown .dropdown-toggle            { padding: 7px 10px; width: 110px; font-size: 12px; line-height: 17px; }
    .slider-sports-dropdown .dropdown-toggle::after     { width: 18px; height: 18px; right: 10px; }
    .slider-sports-selection                            {  width: 122px; }
    .header-live-slider                                 { margin-left: 12px; width: calc(100% - 122px); }
    .slider-sports-dropdown .dropdown-menu .dropdown-item   { padding: 8px 12px; font-size: 13px; line-height: 16px;}
}
@media (min-width: 575px) {
    .slider-sports-selection                                { padding: 40px 0px; }
    .slider-sports-selection .slide-item                    { transform: rotate(-90deg); -webkit-transform: rotate(-90deg); }
}
@media (max-width: 575px) {
/* -------- Header Slider CSS ------- */
    .slider-sports-dropdown                                 { margin-bottom: 12px;}
    .slider-sports-selection                                { padding: 2px 0px 12px; }
    .header-live-slider                                     { margin-left: 0px; padding: 12px 24px; width: 100%;}
    .header-live-section .header-live-inner                 { flex-direction: column-reverse; -webkit-flex-direction: column-reverse; }
    .header-live-slider .slider-item-inner                  { min-height: 105px; }
    .header-live-slider .slider-item .match-winner::after   { margin: 0px 5px 4px; height: 12px; width: 12px; }
/* -------- Arabic CSS ------- */
    .arabic .slider-sports-selection .owl-theme .owl-nav [class*="owl-"] { transform: translateY(-50%) rotate(-90deg); -webkit-transform: translateY(-50%) rotate(-90deg);}
    .arabic .slider-sports-selection .owl-theme .owl-nav .owl-prev  { right: auto; left: -30px;}
    .arabic .slider-sports-selection .owl-theme .owl-nav .owl-next  { right: -30px;}
}