<section class="common-section">
  <div class="container">
    <h1>{{'Contact_us.Contact_Us' | translate}}</h1>
    <div class="row row-size12" *ngIf="contactObj">
      <div class="col-md-4">
        <div class="contact-item d-flex flex-column common-shadow rounded-box">
          <div>
            <img src="assets/images/static/message-red.svg" alt="mail">
          </div>
          <h5 *ngIf="contactObj['sContactEmail']"><a
              href="mailto:{{contactObj['sContactEmail']}}">{{contactObj['sContactEmail']}}</a></h5>
        </div>
      </div>
      <div class="col-md-4">
        <div class="contact-item d-flex flex-column common-shadow rounded-box">
          <div>
            <img src="assets/images/static/telephone-red.svg" alt="telephone">
          </div>
          <h5 *ngIf="contactObj['sContactNumber']"><a href="tel:{{contactObj['sContactNumber']}}">+91
              {{contactObj['sContactNumber']}}</a></h5>
        </div>
      </div>
      <div class="col-md-4">
        <div class="contact-item d-flex flex-column common-shadow rounded-box">
          <div>
            <img src="assets/images/static/map-red.svg" alt="address">
          </div>
          <h5 *ngIf="contactObj['sAddress']">{{contactObj['sAddress']}}</h5>
        </div>
      </div>
    </div>
  </div>
</section>
<section class="common-form-section">
  <div class="container">
    <div class="common-section">
      <div class="common-desc-block common-shadow rounded-box">
        <div class="row row-size12">
          <div class="col-lg-4">
            <div class="title-block">
              <h1>{{'Contact_us.Send_message' | translate}}</h1>
            </div>
          </div>
          <div class="col-lg-8">
            <div *ngIf="!submitsuccess">
              <form [formGroup]="contactForm" (ngSubmit)="submit()" novalidate>
                <div class="row">
                  <div class="col-md-6">
                    <div class="form-group" [ngClass]="{'has-error': submitted && f.sName.errors}">
                      <input type="text" class="form-control" placeholder="{{'Contact_us.Full_Name' | translate}}"
                        formControlName="sName">
                      <span
                        *ngIf="submitted && f.sName.hasError('required')">{{'Contact_us.required_field' | translate}}</span>
                    </div>
                  </div>
                  <div class="col-md-6">
                    <div class="form-group" [ngClass]="{'has-error': submitted && f.sEmail.errors}">
                      <input type="email" class="form-control" placeholder="{{'Contact_us.Email' | translate}}"
                        formControlName="sEmail">
                      <span
                        *ngIf="submitted && f.sEmail.hasError('required')">{{'Contact_us.required_field' | translate}}</span>
                      <span
                        *ngIf="submitted && f.sEmail.hasError('email')">{{'Contact_us.valid_email_msg' | translate}}</span>
                    </div>
                  </div>
                </div>
                <div class="row">
                  <div class="col-md-12">
                    <div class="form-group" [ngClass]="{'has-error': submitted && f.sSubject.errors}">
                      <input type="text" class="form-control" placeholder="{{'Contact_us.Subject' | translate}}"
                        formControlName="sSubject">
                      <span
                        *ngIf="submitted && f.sSubject.hasError('required')">{{'Contact_us.required_field' | translate}}</span>
                    </div>
                  </div>
                </div>
                <div class="row">
                  <div class="col-md-12">
                    <div class="form-group" [ngClass]="{'has-error': submitted && f.sMessage.errors}">
                      <textarea type="text" class="form-control" placeholder="{{'Contact_us.Message' | translate}}"
                        formControlName="sMessage"></textarea>
                      <span
                        *ngIf="submitted && f.sMessage.hasError('required')">{{'Contact_us.required_field' | translate}}</span>
                    </div>
                  </div>
                </div>
                <button class="theme-btn" type="submit">{{'Contact_us.Submit' | translate}}<span></span></button>
              </form>
            </div>
            <div class="form-sucess-block" *ngIf="submitsuccess">
              <img src="assets/images/static/submit-right-icon.svg" alt="sucess">
              <p class="light-text">{{'Contact_us.response_submit_msg' | translate}}</p>
              <button class="theme-btn" type="submit"
                (click)="anothersubmit()">{{'Contact_us.submit_another' | translate}}<span></span></button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>