<div class="common-widget point-table-widget" *ngIf="pointstable">
  <div class="widget-title">
    <h5>Points Table</h5>
  </div>
  <div class="table-responsive">
    <table class="table">
      <thead>
        <tr>
          <th>TEAM</th>
          <th>M</th>
          <th>w</th>
          <th>l</th>
          <th>t</th>
          <th>n/r</th>
          <th>p</th>
          <th>NRR</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let item of pointstable">
          <td>{{item.team.abbreviation ? item.team.abbreviation : item.team.name}}</td>
          <td>{{item.played}}</td>
          <td>{{item.win}}</td>
          <td>{{item.loss}}</td>
          <td>{{item.draw}}</td>
          <td>{{item.no_result}}</td>
          <td>{{item.points}}</td>
          <td>{{item.net_run_rate}}</td>
        </tr>
      </tbody>
    </table>
  </div>
</div>