<section class="common-section cricket-recentnews recentnews-section">
  <div class="container">
    <div class="row sidebar-row">
      <div class="content-col">
        <div class="common-title-btn big-title-btn tab-title-btn d-flex justify-content-between align-items-center">
          <h1>{{playerbasic?.name | split}}</h1>
          <!-- <button class="add-to-fav-btn added"><span>Add to favorites</span></button> -->
        </div>
        <app-data-loader-widget *ngIf="!playerprofile"></app-data-loader-widget>
        <app-no-data-widget *ngIf="playerprofile?.length == 0"></app-no-data-widget>
        <ngb-tabset class="common-tabs" *ngIf="playerprofile">
          <ngb-tab>
            <ng-template ngbTabTitle>Profile</ng-template>
            <ng-template ngbTabContent>
              <section class="player-profile d-flex">
                <div class="player-pic">
                  <img class="common-shadow rounded-box" alt="" [lazyLoad]="playerbasic?.id | playerimage:['m']"  [offset]="commonService.lazyloadoffset" 
                    [defaultImage]="cricketService.playerplaceholder">
                </div>
                <div class="player-info d-flex common-shadow rounded-box">
                  <div class="info-col">
                    <p class="light-title">Full Name</p>
                    <p>
                      {{playerbasic ? playerbasic.full_name ? playerbasic.full_name : playerbasic.name ? playerbasic.name : '' : ''}}
                    </p>
                    <div class="info-item" *ngIf="playerbasic?.date_of_birth">
                      <p class="light-title">Born</p>
                      <p>{{playerbasic?.date_of_birth | date}}</p>
                    </div>
                    <div class="info-item" *ngIf="playerbasic?.nationality">
                      <p class="light-title">Nationality</p>
                      <p>{{playerbasic?.nationality}}</p>
                    </div>
                  </div>
                  <div class="info-col">
                    <div class="info-item" *ngIf="playerbasic?.batting_style">
                      <p class="light-title">Batting Style</p>
                      <p>{{playerbasic?.batting_style | stringunder}}</p>
                    </div>
                    <div class="info-item" *ngIf="playerbasic?.bowling_style">
                      <p class="light-title">Bowling Style</p>
                      <p>{{playerbasic?.bowling_style | stringunder}}</p>
                    </div>
                    <div class="info-item" *ngIf="playerbasic?.type">
                      <p class="light-title">Role</p>
                      <p>{{playerbasic?.type | stringunder}}</p>
                    </div>
                  </div>
                  <!-- <div class="info-col">
                    <p class="light-title">jersey no</p>
                    <p>7</p>
                  </div> -->
                </div>
              </section>
              <section class="common-section quick-stats">
                <h4>Quick Stats</h4>
                <div class="row row-size12">
                  <div class="col-md-4">
                    <div class="common-shadow rounded-box stat-item">
                      <h1>{{totalmatches}}</h1>
                      <p>Matches</p>
                    </div>
                  </div>
                  <div class="col-md-4">
                    <div class="common-shadow rounded-box stat-item">
                      <h1>{{totalruns}}</h1>
                      <p>Runs</p>
                    </div>
                  </div>
                  <div class="col-md-4">
                    <div class="common-shadow rounded-box stat-item">
                      <h1>{{totalwicket}}</h1>
                      <p>Wickets</p>
                    </div>
                  </div>
                </div>
              </section>
              <h4>Major Teams</h4>
              <div class="team-list">
                <div class="row row-size12">
                  <div class="col-md-6 col-lg-12 col-xl-6" *ngFor="let item of playerprofile?.teams"
                    (click)="cricketService.teamInfo(item.id,item.name)">
                    <div class="team-item rounded-box common-shadow d-flex">
                      <div class="team-flag"><img [lazyLoad]="item?.id | logosurl"  [offset]="commonService.lazyloadoffset" 
                          [defaultImage]="cricketService.flagplaceholder" alt="team-flag"></div>
                      <div class="team-name">
                        <h4>{{item?.name}}</h4>
                        <h5>{{item?.abbreviation}}</h5>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </ng-template>
          </ngb-tab>
          <ngb-tab>
            <ng-template ngbTabTitle>Stats</ng-template>
            <ng-template ngbTabContent>
              <app-data-loader-widget *ngIf="!playerstats"></app-data-loader-widget>
              <app-no-data-widget *ngIf="playerstats?.length == 0"></app-no-data-widget>
              <div class="common-table player-sate striped-table tour-stats-table common-shadow rounded-box"
                *ngIf="playerstats">
                <div class="table-title">
                  <h6>Batting Stats</h6>
                </div>
                <div class="table-responsive">
                  <table class="table">
                    <thead>
                      <tr class="light-row">
                        <th>Game type</th>
                        <th>MAT</th>
                        <th>INN</th>
                        <th>R</th>
                        <th>AVG</th>
                        <th>SR</th>
                        <th>HS</th>
                        <th>100s</th>
                        <th>50s</th>
                        <th>4s</th>
                        <th>6s</th>
                      </tr>
                    </thead>
                    <tbody>
                      <tr *ngFor="let item of playerstats ">
                        <td>{{item.type | stringunder}}</td>
                        <td>{{item.batting.matches}}</td>
                        <td>{{item.batting.innings}}</td>
                        <td>{{item.batting.runs}}</td>
                        <td>{{item.batting.average}}</td>
                        <td>{{item.batting.strike_rate}}</td>
                        <td>{{item.batting.highest_score}}</td>
                        <td>{{item.batting.hundreds}}</td>
                        <td>{{item.batting.fifties}}</td>
                        <td>{{item.batting.fours}}</td>
                        <td>{{item.batting.sixes}}</td>
                      </tr>
                    </tbody>
                  </table>
                </div>
              </div>
              <div class="common-table player-sate striped-table tour-stats-table common-shadow rounded-box">
                <div class="table-title">
                  <h6>Bowling Stats</h6>
                </div>
                <div class="table-responsive">
                  <table class="table">
                    <thead>
                      <tr class="light-row">
                        <th>Game type</th>
                        <th>MAT</th>
                        <th>INN</th>
                        <th>OV</th>
                        <th>Maiden</th>
                        <th>R</th>
                        <th>W</th>
                        <th>AVG</th>
                        <th>SR</th>
                        <th>Eco</th>
                        <th>5Ws</th>
                        <th>10Ws</th>
                      </tr>
                    </thead>
                    <tbody>
                      <tr *ngFor="let item of playerstats">
                        <td>{{item.type | stringunder}}</td>
                        <td>{{item.bowling.matches}}</td>
                        <td>{{item.bowling.innings}}</td>
                        <td>{{item.bowling.overs}}</td>
                        <td>{{item.bowling.maidens}}</td>
                        <td>{{item.bowling.runs}}</td>
                        <td>{{item.bowling.wickets}}</td>
                        <td>{{item.bowling.average}}</td>
                        <td>{{item.bowling.strike_rate}}</td>
                        <td>{{item.bowling.economy}}</td>
                        <td>{{item.bowling.five_wicket_hauls}}</td>
                        <td>{{item.bowling.ten_wicket_hauls}}</td>
                      </tr>
                    </tbody>
                  </table>
                </div>
              </div>
            </ng-template>
          </ngb-tab>
          <ngb-tab>
            <ng-template ngbTabTitle>News</ng-template>
            <ng-template ngbTabContent>
              <app-common-news-list [type]="commonnewstype" [reqparams]="commonnewsparams"></app-common-news-list>
            </ng-template>
          </ngb-tab>
        </ngb-tabset>
      </div>
      <div class="sidebar-col">
        <div class="sticky-sidebar">
          <app-custom-ads-widget [type]="'Banner'"></app-custom-ads-widget>
          <app-custom-ads-widget [type]="'Rectangle'"></app-custom-ads-widget>
          <app-common-story-widget [title]="widget1title" [type]="widget1type" [data]="cricketseries"
            *ngIf="widget1type && widget1title"></app-common-story-widget>
        </div>
      </div>
    </div>
  </div>
</section>