<section class="common-section cricket-recentnews recentnews-section">
  <div class="container">
    <div class="row sidebar-row">
      <div class="content-col">
        <div class="common-title-btn big-title-btn tab-title-btn d-flex justify-content-between align-items-center">
          <h1>{{playerbasic?.name | split}}</h1>
          <!-- <button class="add-to-fav-btn added"><span>Add to favorites</span></button> -->
        </div>
        <app-data-loader-widget *ngIf="!playerprofile"></app-data-loader-widget>
        <app-no-data-widget *ngIf="playerprofile?.length == 0"></app-no-data-widget>
        <ngb-tabset class="common-tabs" *ngIf="playerprofile">
          <ngb-tab>
            <ng-template ngbTabTitle>Profile</ng-template>
            <ng-template ngbTabContent>
              <section class="player-profile d-flex">
                <div class="player-pic">
                  <img class="common-shadow rounded-box" alt="" src="../../../../../assets/images/placeholder-sqad.svg">
                </div>
                <div class="player-info d-flex common-shadow rounded-box">
                  <div class="info-col">
                    <p class="light-title">Full Name</p>
                    <p>{{playerbasic?.full_name}}</p>
                    <p class="light-title">Born</p>
                    <p>{{playerbasic?.date_of_birth | date}}</p>
                    <p class="light-title">Nationality</p>
                    <p>{{playerbasic?.nationality}}</p>
                  </div>
                  <div class="info-col">
                    <p class="light-title">Batting Style</p>
                    <p>{{playerbasic?.batting_style | stringunder}}</p>
                    <p class="light-title">Bowling Style</p>
                    <p>{{playerbasic?.bowling_style | stringunder}}</p>
                    <p class="light-title">Role</p>
                    <p>{{playerbasic?.type | stringunder}}</p>
                  </div>
                  <div class="info-col">
                    <!-- <p class="light-title">jersey no</p>
                    <p>7</p> -->
                  </div>
                </div>
              </section>
              <section class="common-section quick-stats">
                <h4>Quick Stats</h4>
                <div class="row row-size12">
                  <div class="col-md-4">
                    <div class="common-shadow rounded-box stat-item">
                      <h1>{{totalmatches}}</h1>
                      <p>Matches</p>
                    </div>
                  </div>
                  <div class="col-md-4">
                    <div class="common-shadow rounded-box stat-item">
                      <h1>{{totalruns}}</h1>
                      <p>Runs</p>
                    </div>
                  </div>
                  <div class="col-md-4">
                    <div class="common-shadow rounded-box stat-item">
                      <h1>{{totalwicket}}</h1>
                      <p>Wickets</p>
                    </div>
                  </div>
                </div>
              </section>
              <h4>Major Teams</h4>
              <div class="team-list">
                <div class="row row-size12">
                  <div class="col-md-6 col-lg-12 col-xl-6" *ngFor="let item of playerprofile?.teams">
                    <div class="team-item rounded-box common-shadow d-flex">
                      <div class="team-flag"><img src="../../../../../assets/images/flag-ind.svg" alt="team-flag"></div>
                      <div class="team-name">
                        <h4>{{item?.name}}</h4>
                        <h5>{{item?.abbreviation}}</h5>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </ng-template>
          </ngb-tab>
          <ngb-tab>
            <ng-template ngbTabTitle>Stats</ng-template>
            <ng-template ngbTabContent>
                <app-data-loader-widget *ngIf="!playerstats"></app-data-loader-widget>
                <app-no-data-widget *ngIf="playerstats?.length == 0"></app-no-data-widget>
              <div class="common-table player-sate striped-table tour-stats-table common-shadow rounded-box" *ngIf="playerstats">
                <div class="table-title">
                  <h6>Batting Stats</h6>
                </div>
                <div class="table-responsive">
                  <table class="table">
                    <thead>
                      <tr class="light-row">
                        <th>Game type</th>
                        <th>MAT</th>
                        <th>INN</th>
                        <th>R</th>
                        <th>AVG</th>
                        <th>SRR</th>
                        <th>HS</th>
                        <th>100s</th>
                        <th>50s</th>
                        <th>4s</th>
                        <th>6s</th>
                      </tr>
                    </thead>
                    <tbody>
                      <tr *ngFor="let item of playerstats ">
                        <td>{{item.type | stringunder}}</td>
                        <td>{{item.batting.matches}}</td>
                        <td>{{item.batting.innings}}</td>
                        <td>{{item.batting.runs}}</td>
                        <td>{{item.batting.average}}</td>
                        <td>{{item.batting.strike_rate}}</td>
                        <td>{{item.batting.highest_score}}</td>
                        <td>{{item.batting.hundreds}}</td>
                        <td>{{item.batting.fifties}}</td>
                        <td>{{item.batting.fours}}</td>
                        <td>{{item.batting.sixes}}</td>
                      </tr>
                      <!-- <tr>
                        <td>ODI</td>
                        <td>120</td>
                        <td>10</td>
                        <td>1200</td>
                        <td>38.06</td>
                        <td>96.23</td>
                        <td>183*</td>
                        <td>30</td>
                        <td>50</td>
                        <td>1624</td>
                        <td>104</td>
                      </tr>
                      <tr>
                        <td>T20I</td>
                        <td>120</td>
                        <td>10</td>
                        <td>1200</td>
                        <td>38.06</td>
                        <td>96.23</td>
                        <td>183*</td>
                        <td>30</td>
                        <td>50</td>
                        <td>1624</td>
                        <td>104</td>
                      </tr>
                      <tr>
                        <td>First Class</td>
                        <td>120</td>
                        <td>10</td>
                        <td>1200</td>
                        <td>38.06</td>
                        <td>96.23</td>
                        <td>183*</td>
                        <td>30</td>
                        <td>50</td>
                        <td>1624</td>
                        <td>104</td>
                      </tr>
                      <tr>
                        <td>ListA</td>
                        <td>120</td>
                        <td>10</td>
                        <td>1200</td>
                        <td>38.06</td>
                        <td>96.23</td>
                        <td>183*</td>
                        <td>30</td>
                        <td>50</td>
                        <td>1624</td>
                        <td>104</td>
                      </tr>
                      <tr>
                        <td>T20</td>
                        <td>120</td>
                        <td>10</td>
                        <td>1200</td>
                        <td>38.06</td>
                        <td>96.23</td>
                        <td>183*</td>
                        <td>30</td>
                        <td>50</td>
                        <td>1624</td>
                        <td>104</td>
                      </tr> -->
                    </tbody>
                  </table>
                </div>
              </div>
              <div class="common-table player-sate striped-table tour-stats-table common-shadow rounded-box">
                <div class="table-title">
                  <h6>Bowling Stats</h6>
                </div>
                <div class="table-responsive">
                  <table class="table">
                    <thead>
                      <tr class="light-row">
                        <th>Game type</th>
                        <th>MAT</th>
                        <th>INN</th>
                        <th>OV</th>
                        <th>Maiden</th>
                        <th>R</th>
                        <th>W</th>
                        <th>AVG</th>
                        <th>SRR</th>
                        <th>Ecco</th>
                        <th>5Ws</th>
                        <th>10Ws</th>
                      </tr>
                    </thead>
                    <tbody>
                      <tr *ngFor="let item of playerstats">
                        <td>{{item.type | stringunder}}</td>
                        <td>{{item.bowling.matches}}</td>
                        <td>{{item.bowling.innings}}</td>
                        <td>{{item.bowling.overs}}</td>
                        <td>{{item.bowling.maidens}}</td>
                        <td>{{item.bowling.runs}}</td>
                        <td>{{item.bowling.wickets}}</td>
                        <td>{{item.bowling.average}}</td>
                        <td>{{item.bowling.strike_rate}}</td>
                        <td>{{item.bowling.economy}}</td>
                        <td>{{item.bowling.five_wicket_hauls}}</td>
                        <td>{{item.bowling.ten_wicket_hauls}}</td>
                      </tr>
                      <!-- <tr>
                        <td>ODI</td>
                        <td>120</td>
                        <td>10</td>
                        <td>1200</td>
                        <td>120</td>
                        <td>38.08</td>
                        <td>5</td>
                        <td>35.5</td>
                        <td>36.0</td>
                        <td>5.12</td>
                        <td>12</td>
                        <td>-</td>
                      </tr>
                      <tr>
                        <td>T20I</td>
                        <td>120</td>
                        <td>10</td>
                        <td>1200</td>
                        <td>120</td>
                        <td>38.08</td>
                        <td>5</td>
                        <td>35.5</td>
                        <td>36.0</td>
                        <td>5.12</td>
                        <td>12</td>
                        <td>-</td>
                      </tr>
                      <tr>
                        <td>First Class</td>
                        <td>120</td>
                        <td>10</td>
                        <td>1200</td>
                        <td>120</td>
                        <td>38.08</td>
                        <td>5</td>
                        <td>35.5</td>
                        <td>36.0</td>
                        <td>5.12</td>
                        <td>12</td>
                        <td>-</td>
                      </tr>
                      <tr>
                        <td>ListA</td>
                        <td>120</td>
                        <td>10</td>
                        <td>1200</td>
                        <td>120</td>
                        <td>38.08</td>
                        <td>5</td>
                        <td>35.5</td>
                        <td>36.0</td>
                        <td>5.12</td>
                        <td>12</td>
                        <td>-</td>
                      </tr>
                      <tr>
                        <td>T20</td>
                        <td>120</td>
                        <td>10</td>
                        <td>1200</td>
                        <td>120</td>
                        <td>38.08</td>
                        <td>5</td>
                        <td>35.5</td>
                        <td>36.0</td>
                        <td>5.12</td>
                        <td>12</td>
                        <td>-</td>
                      </tr> -->
                    </tbody>
                  </table>
                </div>
              </div>
            </ng-template>
          </ngb-tab>
          <ngb-tab>
            <ng-template ngbTabTitle>News</ng-template>
            <ng-template ngbTabContent>
              <!-- <div class="common-news-list">
                <div class="common-news-item d-flex common-shadow">
                  <div class="common-news-img common-zoom-container">
                    <div class="common-zoom-img" style="background-image: url(../../../assets/images/video-thumb.jpg)">
                    </div>
                  </div>
                  <div class="common-news-desc">
                    <div class="news-excerpt">
                      <h5><a>West Indies changes give Pollard World Cup hope</a></h5>
                      <p>Kieron Pollard last played an ODI in October 2016 but may still have
                        hopes of making it to the
                        West
                        Indies World Cup squad because of a new set-up running Cricket West
                        Indies…</p>
                    </div>
                    <div class="author-info d-flex justify-content-between align-items-center">
                      <p class="author"><a>Nick Evans</a>3 hrs ago</p>
                      <p class="view">6.5K</p>
                    </div>
                  </div>
                </div>
                <div class="common-news-item d-flex common-shadow">
                  <div class="common-news-img common-news-video common-zoom-container">
                    <div class="common-zoom-img" style="background-image: url(../../../assets/images/video-thumb.jpg)">
                    </div>
                  </div>
                  <div class="common-news-desc">
                    <div class="news-excerpt">
                      <h5><a>West Indies changes give Pollard World Cup hope</a></h5>
                      <p>Kieron Pollard last played an ODI in October 2016 but may still have
                        hopes of making it to the
                        West
                        Indies World Cup squad because of a new set-up running Cricket West
                        Indies…</p>
                    </div>
                    <div class="author-info d-flex justify-content-between align-items-center">
                      <p class="author"><a>Nick Evans</a>3 hrs ago</p>
                      <p class="view">6.5K</p>
                    </div>
                  </div>
                </div>
                <div class="common-news-item d-flex common-shadow">
                  <div class="common-news-img common-zoom-container">
                    <div class="common-zoom-img" style="background-image: url(../../../assets/images/video-thumb.jpg)">
                    </div>
                  </div>
                  <div class="common-news-desc">
                    <div class="news-excerpt">
                      <h5><a>West Indies changes give Pollard World Cup hope</a></h5>
                      <p>Kieron Pollard last played an ODI in October 2016 but may still have
                        hopes of making it to the
                        West
                        Indies World Cup squad because of a new set-up running Cricket West
                        Indies…</p>
                    </div>
                    <div class="author-info d-flex justify-content-between align-items-center">
                      <p class="author"><a>Nick Evans</a>3 hrs ago</p>
                      <p class="view">6.5K</p>
                    </div>
                  </div>
                </div>
                <div class="common-news-item d-flex common-shadow">
                  <div class="common-news-img common-zoom-container">
                    <div class="common-zoom-img" style="background-image: url(../../../assets/images/video-thumb.jpg)">
                    </div>
                  </div>
                  <div class="common-news-desc">
                    <div class="news-excerpt">
                      <h5><a>West Indies changes give Pollard World Cup hope</a></h5>
                      <p>Kieron Pollard last played an ODI in October 2016 but may still have
                        hopes of making it to the
                        West
                        Indies World Cup squad because of a new set-up running Cricket West
                        Indies…</p>
                    </div>
                    <div class="author-info d-flex justify-content-between align-items-center">
                      <p class="author"><a>Nick Evans</a>3 hrs ago</p>
                      <p class="view">6.5K</p>
                    </div>
                  </div>
                </div>
              </div>
              <div class="text-center"><button class="theme-btn down-btn">Load More<span></span></button>
              </div> -->
               <app-common-news-list [type]="commonnewstype" [reqparams]="commonnewsparams"></app-common-news-list>
            </ng-template>
          </ngb-tab>
        </ngb-tabset>
      </div>
      <div class="sidebar-col">
        <div class="sticky-sidebar">
            <app-custom-ads-widget [type]="'Banner'"></app-custom-ads-widget>
            <app-custom-ads-widget [type]="'Rectangle'"></app-custom-ads-widget>
          <app-common-story-widget [title]="widget1title" [type]="widget1type" [data]="cricketseries"
          *ngIf="widget1type && widget1title"></app-common-story-widget>
        </div>
      </div>
    </div>
  </div>
</section>