<section class="common-section cricket-recentnews recentnews-section">
  <div class="container">
    <div class="row sidebar-row">
      <div class="content-col">
        <div class="common-title-btn big-title-btn tab-title-btn d-flex justify-content-between align-items-center">
          <h1>MS DHONI</h1>
          <button class="add-to-fav-btn added"><span>Add to favorites</span></button>
        </div>
        <ngb-tabset class="common-tabs">
          <ngb-tab>
            <ng-template ngbTabTitle>Profile</ng-template>
            <ng-template ngbTabContent>
              <section class="common-section quick-stats">
                <h4>Quick Stats</h4>
                <div class="row row-size12">
                  <div class="col-md-4">
                    <div class="common-shadow rounded-box stat-item">
                      <h1>1380</h1>
                      <p>Matches</p>
                    </div>
                  </div>
                  <div class="col-md-4">
                    <div class="common-shadow rounded-box stat-item">
                      <h1>43436</h1>
                      <p>Runs</p>
                    </div>
                  </div>
                  <div class="col-md-4">
                    <div class="common-shadow rounded-box stat-item">
                      <h1>03</h1>
                      <p>Wickets</p>
                    </div>
                  </div>
                </div>
              </section>
              <h4>Major Teams</h4>
              <div class="team-list">
                <div class="row row-size12">
                  <div class="col-md-6 col-lg-12 col-xl-6">
                    <div class="team-item rounded-box common-shadow d-flex">
                      <div class="team-flag"><img src="../../../../../assets/images/flag-ind.svg" alt="team-flag"></div>
                      <div class="team-name">
                        <h4>West Indies</h4>
                        <h5>WI</h5>
                      </div>
                    </div>
                  </div>
                  <div class="col-md-6 col-lg-12 col-xl-6">
                    <div class="team-item rounded-box common-shadow d-flex">
                      <div class="team-flag"><img src="../../../../../assets/images/flag-wi.svg" alt="team-flag"></div>
                      <div class="team-name">
                        <h4>West Indies</h4>
                        <h5>WI</h5>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </ng-template>
          </ngb-tab>
          <ngb-tab>
            <ng-template ngbTabTitle>Stats</ng-template>
            <ng-template ngbTabContent>
              <div class="table-title">
                <h6>Batting Stats</h6>
              </div>
              <div class="common-table player-sate striped-table tour-stats-table common-shadow rounded-box">
                <div class="table-responsive">
                  <table class="table">
                    <thead>
                      <tr class="light-row">
                        <th>Game type</th>
                        <th>MAT</th>
                        <th>INN</th>
                        <th>R</th>
                        <th>AVG</th>
                        <th>SRR</th>
                        <th>HS</th>
                        <th>100s</th>
                        <th>50s</th>
                        <th>4s</th>
                        <th>6s</th>
                      </tr>
                    </thead>
                    <tbody>
                      <tr>
                        <td>Test</td>
                        <td>120</td>
                        <td>10</td>
                        <td>1200</td>
                        <td>38.06</td>
                        <td>96.23</td>
                        <td>183*</td>
                        <td>30</td>
                        <td>50</td>
                        <td>1624</td>
                        <td>104</td>
                      </tr>
                      <tr>
                        <td>ODI</td>
                        <td>120</td>
                        <td>10</td>
                        <td>1200</td>
                        <td>38.06</td>
                        <td>96.23</td>
                        <td>183*</td>
                        <td>30</td>
                        <td>50</td>
                        <td>1624</td>
                        <td>104</td>
                      </tr>
                      <tr>
                        <td>T20I</td>
                        <td>120</td>
                        <td>10</td>
                        <td>1200</td>
                        <td>38.06</td>
                        <td>96.23</td>
                        <td>183*</td>
                        <td>30</td>
                        <td>50</td>
                        <td>1624</td>
                        <td>104</td>
                      </tr>
                      <tr>
                        <td>First Class</td>
                        <td>120</td>
                        <td>10</td>
                        <td>1200</td>
                        <td>38.06</td>
                        <td>96.23</td>
                        <td>183*</td>
                        <td>30</td>
                        <td>50</td>
                        <td>1624</td>
                        <td>104</td>
                      </tr>
                      <tr>
                        <td>ListA</td>
                        <td>120</td>
                        <td>10</td>
                        <td>1200</td>
                        <td>38.06</td>
                        <td>96.23</td>
                        <td>183*</td>
                        <td>30</td>
                        <td>50</td>
                        <td>1624</td>
                        <td>104</td>
                      </tr>
                      <tr>
                        <td>T20</td>
                        <td>120</td>
                        <td>10</td>
                        <td>1200</td>
                        <td>38.06</td>
                        <td>96.23</td>
                        <td>183*</td>
                        <td>30</td>
                        <td>50</td>
                        <td>1624</td>
                        <td>104</td>
                      </tr>
                    </tbody>
                  </table>
                </div>
              </div>
              <div class="table-title">
                <h6>Bowling Stats</h6>
              </div>
              <div class="common-table player-sate striped-table tour-stats-table common-shadow rounded-box">
                <div class="table-responsive">
                  <table class="table">
                    <thead>
                      <tr class="light-row">
                        <th>Game type</th>
                        <th>MAT</th>
                        <th>INN</th>
                        <th>OV</th>
                        <th>Maiden</th>
                        <th>R</th>
                        <th>W</th>
                        <th>AVG</th>
                        <th>SRR</th>
                        <th>Ecco</th>
                        <th>5Ws</th>
                        <th>10Ws</th>
                      </tr>
                    </thead>
                    <tbody>
                      <tr>
                        <td>Test</td>
                        <td>120</td>
                        <td>10</td>
                        <td>1200</td>
                        <td>120</td>
                        <td>38.08</td>
                        <td>5</td>
                        <td>35.5</td>
                        <td>36.0</td>
                        <td>5.12</td>
                        <td>12</td>
                        <td>-</td>
                      </tr>
                      <tr>
                        <td>ODI</td>
                        <td>120</td>
                        <td>10</td>
                        <td>1200</td>
                        <td>120</td>
                        <td>38.08</td>
                        <td>5</td>
                        <td>35.5</td>
                        <td>36.0</td>
                        <td>5.12</td>
                        <td>12</td>
                        <td>-</td>
                      </tr>
                      <tr>
                        <td>T20I</td>
                        <td>120</td>
                        <td>10</td>
                        <td>1200</td>
                        <td>120</td>
                        <td>38.08</td>
                        <td>5</td>
                        <td>35.5</td>
                        <td>36.0</td>
                        <td>5.12</td>
                        <td>12</td>
                        <td>-</td>
                      </tr>
                      <tr>
                        <td>First Class</td>
                        <td>120</td>
                        <td>10</td>
                        <td>1200</td>
                        <td>120</td>
                        <td>38.08</td>
                        <td>5</td>
                        <td>35.5</td>
                        <td>36.0</td>
                        <td>5.12</td>
                        <td>12</td>
                        <td>-</td>
                      </tr>
                      <tr>
                        <td>ListA</td>
                        <td>120</td>
                        <td>10</td>
                        <td>1200</td>
                        <td>120</td>
                        <td>38.08</td>
                        <td>5</td>
                        <td>35.5</td>
                        <td>36.0</td>
                        <td>5.12</td>
                        <td>12</td>
                        <td>-</td>
                      </tr>
                      <tr>
                        <td>T20</td>
                        <td>120</td>
                        <td>10</td>
                        <td>1200</td>
                        <td>120</td>
                        <td>38.08</td>
                        <td>5</td>
                        <td>35.5</td>
                        <td>36.0</td>
                        <td>5.12</td>
                        <td>12</td>
                        <td>-</td>
                      </tr>
                    </tbody>
                  </table>
                </div>
              </div>
            </ng-template>
          </ngb-tab>
          <ngb-tab>
            <ng-template ngbTabTitle>News</ng-template>
            <ng-template ngbTabContent>
              <div class="common-news-list">
                <div class="common-news-item d-flex common-shadow">
                  <div class="common-news-img common-zoom-container">
                    <div class="common-zoom-img" style="background-image: url(../../../assets/images/video-thumb.jpg)">
                    </div>
                  </div>
                  <div class="common-news-desc">
                    <div class="news-excerpt">
                      <h5><a>West Indies changes give Pollard World Cup hope</a></h5>
                      <p>Kieron Pollard last played an ODI in October 2016 but may still have
                        hopes of making it to the
                        West
                        Indies World Cup squad because of a new set-up running Cricket West
                        Indies…</p>
                    </div>
                    <div class="author-info d-flex justify-content-between align-items-center">
                      <p class="author"><a>Nick Evans</a>3 hrs ago</p>
                      <p class="view">6.5K</p>
                    </div>
                  </div>
                </div>
                <div class="common-news-item d-flex common-shadow">
                  <div class="common-news-img common-news-video common-zoom-container">
                    <div class="common-zoom-img" style="background-image: url(../../../assets/images/video-thumb.jpg)">
                    </div>
                  </div>
                  <div class="common-news-desc">
                    <div class="news-excerpt">
                      <h5><a>West Indies changes give Pollard World Cup hope</a></h5>
                      <p>Kieron Pollard last played an ODI in October 2016 but may still have
                        hopes of making it to the
                        West
                        Indies World Cup squad because of a new set-up running Cricket West
                        Indies…</p>
                    </div>
                    <div class="author-info d-flex justify-content-between align-items-center">
                      <p class="author"><a>Nick Evans</a>3 hrs ago</p>
                      <p class="view">6.5K</p>
                    </div>
                  </div>
                </div>
                <div class="common-news-item d-flex common-shadow">
                  <div class="common-news-img common-zoom-container">
                    <div class="common-zoom-img" style="background-image: url(../../../assets/images/video-thumb.jpg)">
                    </div>
                  </div>
                  <div class="common-news-desc">
                    <div class="news-excerpt">
                      <h5><a>West Indies changes give Pollard World Cup hope</a></h5>
                      <p>Kieron Pollard last played an ODI in October 2016 but may still have
                        hopes of making it to the
                        West
                        Indies World Cup squad because of a new set-up running Cricket West
                        Indies…</p>
                    </div>
                    <div class="author-info d-flex justify-content-between align-items-center">
                      <p class="author"><a>Nick Evans</a>3 hrs ago</p>
                      <p class="view">6.5K</p>
                    </div>
                  </div>
                </div>
                <div class="common-news-item d-flex common-shadow">
                  <div class="common-news-img common-zoom-container">
                    <div class="common-zoom-img" style="background-image: url(../../../assets/images/video-thumb.jpg)">
                    </div>
                  </div>
                  <div class="common-news-desc">
                    <div class="news-excerpt">
                      <h5><a>West Indies changes give Pollard World Cup hope</a></h5>
                      <p>Kieron Pollard last played an ODI in October 2016 but may still have
                        hopes of making it to the
                        West
                        Indies World Cup squad because of a new set-up running Cricket West
                        Indies…</p>
                    </div>
                    <div class="author-info d-flex justify-content-between align-items-center">
                      <p class="author"><a>Nick Evans</a>3 hrs ago</p>
                      <p class="view">6.5K</p>
                    </div>
                  </div>
                </div>
              </div>
              <div class="text-center"><button class="theme-btn down-btn">Load More<span></span></button>
              </div>
            </ng-template>
          </ngb-tab>
        </ngb-tabset>
      </div>
      <div class="sidebar-col">
        <div class="sticky-sidebar">
          <div class="ad-block"><img src="../../../assets/images/ad-320-80.jpg" alt="AD"></div>
          <div class="ad-block"><img src="../../../assets/images/ad-320-267.jpg" alt="AD"></div>
          <div class="common-stories-widget common-shadow rounded-box">
            <h5>Other players</h5>
            <ul class="common-list">
              <li><a>Virat Kohli</a></li>
              <li><a>Ravindra Jadeja</a></li>
              <li><a>Mohammed Shami</a></li>
              <li><a>Irfan Pathan</a></li>
              <li><a>Yuvraj Singh</a></li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>