<!-- Start Top Highlight -->
<section class="home-banner" *ngIf="banners?.length > 0">
  <img class="common-banner-pattern" src="assets/images/common-banner-pattern.svg">
  <div class="banner-text">
    <div class="container">
      <div class="row">
        <div class="col-xl-5 col-md-7 col-sm-9 col-10">
          <h1 class="white-text">Top Highlights</h1>
          <ul class="banner-news-list">
            <li *ngFor="let post of banners;let i = index;">
              <a [state]="{ id: post._id }" [routerLink]="[(post.eType |lowercase) , post.sSlug ]"
                [ngClass]="{'active': i===highlightImage}" (mouseover)="stopHighlightInterval(i)"
                (mouseout)="initHighlightInterval(i)">{{post.sTitle}}</a></li>
          </ul>
        </div>
      </div>
    </div>
  </div>
  <div class="banner-images">
    <div class="banner-image" *ngFor="let item of banners; let i=index;" [ngClass]="{'active': i===highlightImage}"
      [offset]="commonService.lazyloadoffset" [lazyLoad]="item.sImage | resizeImage:['m']"></div>
  </div>
</section>
<!-- End  Top Highlight -->

<!-- Start Ads -->
<div class="container">
  <app-custom-ads-widget [type]="'Large'"></app-custom-ads-widget>
</div>
<!-- End Ads -->


<!-- Start Articles -->
<section class="common-section home-popular-article">
  <div class="container">
    <div class="row sidebar-row">
      <div class="content-col">
        <app-sports-home [options]="{page_type:'home', reqParams :{nStart:0, nLimit:5, eType:'Article'}}">
        </app-sports-home>
      </div>

      <!-- Start Cricket sidebar -->
      <div class="sidebar-col">
        <app-cricket-sidebar></app-cricket-sidebar>
      </div>
      <!-- End Cricket sidebar -->
    </div>
  </div>
</section>
<!-- End Articles -->

<!-- Start Videos -->
<section class="common-section popular-video-section" *ngIf="popularvideos.length > 0">
  <div class="container">
    <div class="row row-size12">
      <div class="col-xl-9">
        <div class="common-title-btn d-flex justify-content-between align-items-center">
          <h4 class="white-text">Popular Videos</h4>
          <a class="theme-btn" [state]="{ type: 'popular' }" [routerLink]="['video']" *ngIf="popularvideos.length > 4">
            View All<span></span></a>
        </div>
      </div>
    </div>
    <div class="row row-size12">
      <div class="col-lg-9 col-md-8" *ngFor="let video of popularvideos | slice:0:1">
        <div class="main-popular-video common-zoom-container common-full-img">
          <div class="common-zoom-img common-overlay" [defaultImage]="commonService.largeblogPlaceholder"
            [offset]="commonService.lazyloadoffset" [lazyLoad]="video.sImage | resizeImage:['m']">
          </div>
          <a class="play-btn" [routerLink]="[(video.eType |lowercase), video.sSlug ]"><img src="/assets/images/play-btn.svg" alt="play"></a>
          <div class="video-desc">
            <h2 class="white-text">
                <a [routerLink]="[(video.eType |lowercase), video.sSlug ]">{{video.sTitle}}</a>
            </h2>
            <div class="author-info d-flex justify-content-between align-items-center">
              <p class="author">
                <a [routerLink]="['/writer',video?.iId?._id]">{{video.iId.sFirstName}}
                  {{video.iId.sLastName}}</a>{{video.dUpdatedAt | amFromUtc | amLocal | amTimeAgo}}
              </p>
              <p class="view white-view">{{video.nViewCounts}}</p>
            </div>
          </div>
          <!-- <a class="fullblock-link" [routerLink]="[(video.eType |lowercase), video.sSlug ]"></a> -->
        </div>
      </div>
      <div class="col-lg-3 col-md-4">
        <ng-scrollbar class="custom-scrollbar">
          <div class="home-popular-vid-list">
            <div class="video-item fullblock-link-container" *ngFor="let video of popularvideos">
              <div class="video-img common-overlay common-zoom-container common-full-img">
                <div class="common-zoom-img" [defaultImage]="commonService.smallblogPlaceholder"
                  [offset]="commonService.lazyloadoffset" [lazyLoad]="video.sImage | resizeImage:['s']">
                </div>
                <p class="bold-text white-text">
                  {{video.sTitle | truncate:[60,'...'] }}
                </p>
              </div>
              <a class="fullblock-link" [routerLink]="[(video.eType |lowercase), video.sSlug ]"></a>
            </div>
          </div>
        </ng-scrollbar>
      </div>
    </div>
  </div>
  <img class="pattern pattern-left" src="/assets/images/video-pattern-img.svg">
  <img class="pattern pattern-right" src="/assets/images/video-pattern-img.svg">
</section>
<!-- End Videos -->

<section class="common-section recentnews-section">
  <div class="container">
    <div class="row sidebar-row">
      <div class="content-col">
        <app-sports-home [options]="{page_type:'home', 'blog_type': 'recent', reqParams :{nStart:0, nLimit:4}}">
        </app-sports-home>
      </div>
      <div class="sidebar-col" >
        <app-sidebar-links [sport]="'home'" [link_type]="'blogs'" [options]="{reqParams :{nStart:0, nLimit:5}, type: 'recent', title:'Recommended Stories'}"></app-sidebar-links>
        <app-custom-ads-widget [type]="'Banner'"></app-custom-ads-widget>
      </div>
    </div>
  </div>
</section>