<section class="common-section">
  <div class="container">
    <div class="row sidebar-row">
      <div class="content-col">
        <div class="common-title-btn big-title-btn d-flex justify-content-between align-items-center">
          <h1>{{'Cricket_Module.Statistics' | translate}}</h1>
        </div>
        <app-loader *ngIf="isLoading"></app-loader>
        <app-no-data-widget *ngIf="!isLoading && !stats?.batting"></app-no-data-widget>
        <ngb-tabset class="filled-tabs" *ngIf="stats?.batting">
          <ngb-tab title="{{'Cricket_Module.Batting' | translate}}" *ngIf="stats?.batting">
            <ng-template ngbTabContent>
              <ngb-tabset class="common-tabs black-filled">
                <ngb-tab>
                  <ng-template ngbTabTitle>{{'Cricket_Module.Score' | translate}}</ng-template>
                  <ng-template ngbTabContent>
                    <app-player-table *ngIf="stats?.batting?.highest_score" [data]="stats?.batting?.highest_score"
                      [options]=" {
                        sport:'Cricket',
                          titles : ['POS',('Cricket_Module2.player' | translate), ('Cricket_Module2.High_Score' | translate)],
                           sort : [true, false, true],
                          values : ['rank', 'image', 'total'],
                          class : ['tour-stats-table'],
                          class_light_row : ['light-row']
                        }">
                    </app-player-table>
                  </ng-template>
                </ngb-tab>
                <ngb-tab>
                  <ng-template ngbTabTitle>{{'Cricket_Module.Runs' | translate}}</ng-template>
                  <ng-template ngbTabContent>
                    <app-player-table *ngIf="stats?.batting?.top_runs" [data]="stats?.batting?.top_runs" [options]="{
                          sport:'Cricket',
                          titles : ['POS', ('Cricket_Module2.player' | translate), ('Cricket_Module.Runs' | translate)],
                            sort : [true, false, true],
                          values : ['rank', 'image', 'total'],
                          class : ['tour-stats-table'],
                          class_light_row : ['light-row']
                        }">
                    </app-player-table>
                  </ng-template>
                </ngb-tab>
                <ngb-tab>
                  <ng-template ngbTabTitle>{{'Cricket_Module.Average' | translate}}</ng-template>
                  <ng-template ngbTabContent>
                    <app-player-table *ngIf="stats?.batting?.top_average" [data]="stats?.batting?.top_average"
                      [options]=" {
                          sport:'Cricket',
                          titles : ['POS', ('Cricket_Module2.player' | translate),('Cricket_Module.Average' | translate)],
                           sort : [true, false, true],
                          values : ['rank', 'image', 'average'],
                          class : ['tour-stats-table'],
                          class_light_row : ['light-row']
                        }">
                    </app-player-table>
                  </ng-template>
                </ngb-tab>
              </ngb-tabset>
            </ng-template>
          </ngb-tab>

          <!--Bowling stats-->
          <ngb-tab title="{{'Cricket_Module.Bowling' | translate}}" *ngIf="stats?.bowling">
            <ng-template ngbTabContent>
              <ngb-tabset class="common-tabs black-filled">
                <!--Top wickets-->
                <ngb-tab>
                  <ng-template ngbTabTitle>{{'Cricket_Module.Top' | translate}}</ng-template>
                  <ng-template ngbTabContent>
                    <app-player-table *ngIf="stats?.bowling?.top_wickets" [data]="stats?.bowling?.top_wickets"
                      [options]=" {
                          'sport':'Cricket',
                          titles : ['POS', ('Cricket_Module2.player' | translate),('Cricket_Module.Wickets' | translate)],
                            sort : [true, false, true],
                          values : ['rank', 'image', 'total'],
                          class : ['tour-stats-table'],
                          class_light_row : ['light-row']
                        }">
                    </app-player-table>
                  </ng-template>
                </ngb-tab>
                <!--Bowling average-->
                <ngb-tab>
                  <ng-template ngbTabTitle>{{'Cricket_Module.Average' | translate}}</ng-template>
                  <ng-template ngbTabContent>
                    <app-player-table *ngIf="stats?.bowling?.top_bowling_average"
                      [data]="stats?.bowling?.top_bowling_average" [options]=" {
                          sport:'Cricket',
                          titles : ['POS', ('Cricket_Module2.player' | translate), ('Cricket_Module.Average' | translate)],
                            sort : [true, false, true],
                          values : ['rank', 'image', 'average'],
                          class : ['tour-stats-table'],
                          class_light_row : ['light-row']
                        }">
                    </app-player-table>
                  </ng-template>
                </ngb-tab>
                <ngb-tab>
                  <ng-template ngbTabTitle>{{'Cricket_Module.Economy' | translate}}</ng-template>
                  <ng-template ngbTabContent>
                    <app-player-table *ngIf="stats?.bowling?.top_economy" [data]="stats?.bowling?.top_economy"
                      [options]="{
                        sport:'Cricket',
                          titles : ['POS', ('Cricket_Module2.player' | translate),('Cricket_Module2.Economy_Rate' | translate)],
                          sort : [true, false, true],
                          values : ['rank', 'image', 'rate'],
                          class : ['tour-stats-table'],
                          class_light_row : ['light-row']
                        }">
                    </app-player-table>
                  </ng-template>
                </ngb-tab>
              </ngb-tabset>
            </ng-template>
          </ngb-tab>
          <!--Fielding stats-->
          <ngb-tab title="{{'Cricket_Module.Fielding' | translate}}" *ngIf="stats?.fielding">
            <ng-template ngbTabContent>
              <ngb-tabset class="common-tabs black-filled">
                <ngb-tab>
                  <ng-template ngbTabTitle>{{'Cricket_Module.Top_Catches' | translate}}</ng-template>
                  <ng-template ngbTabContent>
                    <app-player-table *ngIf="stats?.fielding?.top_catches" [data]="stats?.fielding?.top_catches"
                      [options]=" {
                        sport:'Cricket',
                          titles : ['POS', ('Cricket_Module2.player' | translate), ('Cricket_Module2.Catches' | translate)],
                          sort : [true, false, true],
                          values : ['rank', 'image', 'total'],
                          class : ['tour-stats-table'],
                          class_light_row : ['light-row']
                        }">
                    </app-player-table>
                  </ng-template>
                </ngb-tab>
              </ngb-tabset>
            </ng-template>
          </ngb-tab>
        </ngb-tabset>
      </div>
      <div class="sidebar-col">
        <div class="sticky-sidebar">
          <app-custom-ads-widget [type]="'Banner'"></app-custom-ads-widget>
          <!--Recommended links-->
          <app-sidebar-links [sport]="'Cricket'" [link_type]="'tournament'"
            [options]="{type: 'current', title:('Cricket_Module.Current_Series' | translate)}"></app-sidebar-links>

          <app-custom-ads-widget [type]="'Rectangle'"></app-custom-ads-widget>

        </div>
      </div>
    </div>
  </div>
</section>