/* -------- Navbar CSS ------- */
nav.navbar                      { padding: 0px; width: 100%; background: #22336F; font-family: 'IBM Plex Sans Condensed', sans-serif; font-weight: 600; text-transform: uppercase; top: 0; z-index: 1112; }
nav.navbar.sticky               { position: fixed; top: 0; z-index: 1115;}
nav .navbar-brand               { margin-right: 48px; padding: 3px 0px 4px 48px; display: inline-block;  position: relative; }
/* nav .navbar-brand:before        { content: ""; position: absolute; width: 52px; height: calc(100% + 0px); right: -50px; top: 0px; background: url(assets/images/logo-shape.svg) no-repeat center center / 100% 100%; } */
nav .navbar-brand:before        { content: ""; position: absolute; width: 200%; height: calc(100% + 0px); right: -38px; bottom: 0px; background: #fff; transform: skewX(24deg) perspective(1200px); -webkit-transform: skewX(24deg) perspective(1200px); border-radius: 0px 28px 0px 0px; }
nav .navbar-brand img           { max-width: 143px; position: relative; z-index: 1;}
.navbar-nav                     { position: relative; } 
.navbar .navbar-nav .nav-link   { margin: 0px; padding: 16px 12px; font-size: 16px; line-height: 20px; color: #fff; cursor: pointer; opacity: 0.3; white-space: nowrap; }
.navbar-nav li .nav-link.active,
.navbar-nav li .nav-link:hover,
.navbar-nav li .nav-link:focus   { opacity: 1; }
.navbar-nav-container           { position: absolute; left: 50%; transform: translateX(-50%); -webkit-transform: translateX(-50%); }
.login-search                   { margin: 0px 36px 0px auto; }
.login-search li a              { font-weight: 500; text-transform: capitalize;}
.login-search > li > a          { margin: 0px 12px; width: 32px; height: 32px; display: block; background: no-repeat center center / cover; opacity: 0.3;}
.login-search li a.search       { background-image: url(assets/images/search-icon.svg); }
.login-search li a.lang-select  { background-image: url(assets/images/lang-icon.svg); }
.login-search li a.search.active{ background-image: url(assets/images/close-icon.svg); opacity: 1; }
.login-search li a.login        { background-image: url(assets/images/user-icon.svg); }
.login-search .common-dropdown .dropdown-toggle::after  { display: none; }
.login-search .common-dropdown .dropdown-toggle { padding: 0px; border: none; border-radius: 0; }
.login-search .common-dropdown a.login.logged   { border-radius: 50%; border: 2px solid #fff; opacity: 1; }
.login-search .common-dropdown.show .dropdown-toggle { opacity: 1;}
.login-search li .dropdown-menu                 { margin-top: 10px; top: 100% !important; left: auto !important; right: 0; transform: translate(0) !important; -webkit-transform: translate(0) !important; }

/* -------- Serch Box CSS ------- */
.common-serch-box               { z-index: -112; opacity: 0; position: absolute; width: 100%; min-height: calc(100vh - 100px); background: rgba(27, 42, 90, 0.9); transition: all 0.3s ease-in-out; -webkit-transition: all 0.3s ease-in-out; }
.common-serch-box.show          { z-index: 112; opacity: 1; }
.search-bar                     { padding: 48px 0px; background: #fff; text-align: center; transform: translateY(-100%); -webkit-transform: translateY(-100%); transition: all 0.3s ease-in-out; -webkit-transition: all 0.3s ease-in-out; }
.common-serch-box.show .search-bar              { transform: translateY(0%); -webkit-transform: translateY(0%); }
.search-bar form ::-webkit-input-placeholder    { color: #A3A3A3; opacity: 1; }
.search-bar form ::-moz-placeholder             { color: #A3A3A3; opacity: 1; }
.search-bar form :-ms-input-placeholder         { color: #A3A3A3; opacity: 1; }
.search-bar form :-moz-placeholder              { color: #A3A3A3; opacity: 1; }
.search-bar .search-box         { width: 60%; display: inline-block; position: relative;  vertical-align: middle; }
.search-bar input               { padding: 0px 50px 8px 0px; width: 100%; font-size: 40px; line-height: 50px; font-weight: 400; border: none; border-bottom: 2px solid #EBEBEB; border-radius: 0px; }
.search-bar input:focus         { border-color: #ED1A33; }
.search-bar .search-box button  { position: absolute; width: 44px; height: 44px; top: 50%; right: 4px; transform: translateY(-50%); background: url(assets/images/search-icon-gray.svg) no-repeat center center / cover; border: none; opacity: 0.5; }
.search-bar .search-close       { display: none; margin-left: 8px; width: 24px; height: 24px; background: url(assets/images/close-icon.svg) no-repeat center center; filter: invert(1); -webkit-filter: invert(1); opacity: 0.3; vertical-align: middle; border: none; }
.search-bar .search-close:hover { opacity: 0.6;}
.search-result .common-title-btn        { padding-bottom: 16px; border-bottom: 2px solid rgba(255,255,255,0.2);  }
.search-result .common-title-btn h3     { margin: 0px; }
.search-result                  { padding: 50px 0px; }
.search-result .common-popular-list .item-desc  { min-height: 68px; }

/* -- Arabic CSS -- */
.arabic nav .navbar-brand               { margin-right: 0px; margin-left: 48px; padding-left: 0px; padding-right: 48px; }
.arabic nav .navbar-brand:before        { right: auto; left: -38px; transform: skewX(-24deg) perspective(1200px); -webkit-transform: skewX(-24deg) perspective(1200px); border-radius: 28px 0px 0px 0px; }
.arabic .login-search                   { margin-right: auto; margin-left: 36px;}

/***** Responsive CSS Start ******/

@media (max-width: 1379px) {
    .navbar-nav-container           { position: relative; left: 15px; transform: translateX(0%); -webkit-transform: translateX(0%); }
/* -- Arabic CSS -- */
    .arabic .navbar-nav-container   { left: auto; right: 15px; }
}

@media (min-width: 1200px) and (max-width: 1379px) {
/* -------- Navbar CSS ------- */
    nav .navbar-brand               { padding: 3px 0px 3px 24px;}
    .navbar .navbar-nav .nav-link   { padding: 16px 8.5px; }
    .login-search                   { margin: 0px 24px 0px auto; }
/* -------- Serch Box CSS ------- */
    .search-bar                     { padding: 32px 0px; background: #fff;}
    .search-bar input               { font-size: 26px; line-height: 34px; }
    .search-result                  { padding: 32px 0px; }
    .search-bar .search-box button  { width: 26px; height: 26px;}
    .search-result .common-popular-list .item-desc  { min-height: 90px; }

/* -- Arabic CSS -- */
    .arabic nav .navbar-brand       { padding-right: 24px; }
    .arabic .login-search           { margin-left: 24px; }
}

@media (min-width: 992px) and (max-width: 1199px) {
/* -------- Navbar CSS ------- */
    nav .navbar-brand               { margin-right: 36px; padding: 3px 0px 4px 24px;}
    nav .navbar-brand:before        { right: -28px; }
    .navbar .navbar-nav .nav-link   { padding: 15px 6px; font-size: 14px; }
    nav .navbar-brand img           { width: 140px;}
    .login-search                   { margin: 0px 16px 0px auto; }
    .login-search > li > a              { margin: 0px 8px; width: 24px; height: 24px; }
    .login-search li .dropdown-menu     { margin-top: 14px; }
/* -------- Serch Box CSS ------- */
    .search-bar                     { padding: 16px 0px; background: #fff;}
    .search-bar input               { font-size: 20px; line-height: 26px; }
    .search-result                  { padding: 20px 0px; }
    .search-bar .search-box button  { width: 20px; height: 20px;}
    .search-result .common-popular-list .img-block  { height: 110px; }
    .search-result .common-popular-list .item-desc  { min-height: 76px; padding: 8px; }
/* -- Arabic CSS -- */
    .arabic nav .navbar-brand           { margin-left: 36px; padding-right: 24px; }
    .arabic nav .navbar-brand:before    { left: -28px; }
    .arabic .login-search               { margin-left: 16px;}

}


@media (max-width: 991px) {
/* -------- Serch Box CSS ------- */
    .search-bar                                     { padding: 12px 0px; background: #fff;}
    .search-bar .search-box                         { width: 80%; }
    .search-bar input                               { font-size: 18px; line-height: 22px; }
    .search-result                                  { padding: 20px 0px; }
    .search-bar .search-box button                  { width: 20px; height: 20px;}
    .search-result .common-popular-list .img-block  { height: 110px; }
    .search-result .common-popular-list .item-desc  { min-height: 76px; padding: 8px; }
    .search-result .common-popular-list > .row      { flex-wrap: nowrap; -webkit-flex-wrap: nowrap; overflow: scroll; }
    .search-result .common-popular-list > .row > [class*="col-"] { min-width: 220px;}
}

@media (min-width: 768px) and (max-width: 991px) {
/* -------- Navbar CSS ------- */
    nav .navbar-brand               { margin-right: 28px; padding: 5px 8px 5px 12px; }
    nav .navbar-brand:before        { right: -16px;}
    .navbar-nav-container           { left: 0px; }
    .navbar .navbar-nav .nav-link   { padding: 11px 4px; font-size: 11.7px; }
    nav .navbar-brand img           { width: 106px;}
    .login-search                   { margin: 0px 8px 0px auto; }
    .login-search > li > a              { margin: 0px 4px; width: 18px; height: 18px; }
    .login-search li .dropdown-menu     { margin-top: 14px; }

/* -- Arabic CSS -- */
    .arabic nav .navbar-brand           { margin-left: 30px; padding-right: 15px;}
    .arabic nav .navbar-brand:before    { left: -16px; }
    .arabic .navbar-nav-container       { right: 0px; }
    .arabic .login-search               { margin-left: 8px;}
}

@media (max-width: 767px) {
/* -------- Navbar CSS ------- */
    nav.navbar.menu-open                                { overflow: visible; z-index: 1113;}
    nav .navbar-brand                                   { margin-right: 24px; padding: 3px 4px 3px 16px;}
    nav .navbar-brand:before                            { right: -28px; }
    nav .navbar-brand img                               { max-width: 126px; }
    nav .navbar-toggler                                 { margin: 0px 15px; position: absolute; top: 50%; right: 0; transform: translateY(-50%); -webkit-transform: translateY(-50%); padding: 0px; width: 26px; height: 26px; border: none !important; border-radius: 0px; }
    nav .navbar-toggler .icon-bar                       { margin: 0px; width: 100%; height: 3px; display: block; background: #fff; position: absolute; top: calc(50% - 1px); transition: all 0.2s ease-in; -webkit-transition: all 0.2s ease-in; border-radius: 2px; }
    nav .navbar-toggler .icon-bar:nth-child(1)          { top: calc(50% - 9px); }
    nav .navbar-toggler .icon-bar:nth-child(4)          { top: calc(50% + 7px); }
    nav .navbar-toggler.active .icon-bar:nth-child(2)   { -webkit-transform: rotate(45deg); transform: rotate(45deg); }
    nav .navbar-toggler.active .icon-bar:nth-child(3)   { -webkit-transform: rotate(-45deg); transform: rotate(-45deg); }
    nav .navbar-toggler.active .icon-bar:nth-child(1),
    nav .navbar-toggler.active .icon-bar:nth-child(4)   { top: calc(50% - 1px); opacity: 0; }
    .navbar-nav-container                               { left: 0px;}
    .navbar-collapse.collapse                           { display: block !important; position: absolute; top: 100%; left: 0%; max-height: 0; width: 100%; background: #1B2A5A; z-index: 1111; transition: all 0.3s ease-in-out; -webkit-transition: all 0.3s ease-in-out; text-align: center; overflow: hidden; }
    .menu-open .navbar-collapse.collapse                { left: 0%; height: auto; max-height: 100vh; }
    .navbar .navbar-collapse .navbar-nav                { padding: 16px 0px; }
    .navbar .navbar-nav .nav-link                       { padding: 8px 30px; }
    .login-search                                       { margin: 0px 50px 0px 0px; flex-direction: row; -webkit-flex-direction: row; }
    .login-search > li > a                              { margin: 0px 6px; width: 24px; height: 24px; }
    .login-search li .dropdown-menu                     { margin-top: 14px; }

    /* .login-search > li > a                                  { margin: 8px 30px;}
    .login-search li .dropdown-menu                     { margin-left: 30px; min-width: 180px; right: auto !important; left: 0px !important; } */
/* -------- Serch Box CSS ------- */
    .search-bar .search-close                           { display: inline-block; }
    .search-result                                      { padding: 16px 0px; }

/* -- Arabic CSS -- */
    .arabic nav .navbar-brand               { margin-left: 24px; padding-right: 12px;}
    .arabic nav .navbar-brand:before        { left: -28px; }
    .arabic nav .navbar-toggler             { right: auto; left: 0;}
    .arabic .login-search                   { margin-left: 50px;}
    .arabic .navbar-collapse.collapse            { left: auto; right: -70%;  }
    .arabic .menu-open .navbar-collapse.collapse { right: 0px; }
}

@media (max-width: 575px) {
/* -------- Navbar CSS ------- */
    nav .navbar-brand:before                            { right: -22px; transform: skewX(20deg) perspective(1200px); -webkit-transform: skewX(20deg) perspective(1200px); border-radius: 0px 18px 0px 0px; }
    nav .navbar-brand img                               { max-width: 113px; }
/* -------- Serch Box CSS ------- */
    .search-bar input                               { font-size: 16px; line-height: 20px; }
    .search-result .common-title-btn h3             { font-size: 18px; }
/* -- Arabic CSS -- */
    .arabic nav .navbar-brand:before        { left: -22px; }

}