<div class="header-live-section">
  <div class="container">
    <div class="header-live-slider">
      <owl-carousel-o [options]="customOptions" *ngIf="slider.length > 0">
        <ng-container class="items" *ngFor="let slide of slider">
          <ng-template carouselSlide>
            <!--Live matches-->
            <div class="slider-item"
              (click)="getmatchdetail(slide.match_id,slide.competitors.home.abbreviation,slide.competitors.away.abbreviation)">
              <div class="slider-item-inner">
                <div class="title d-flex justify-content-between">
                  <p class="tour-name"><b>{{slide.season_name ? slide.season_name : slide.tournament_name}}</b></p>
                  <p
                    *ngIf="slide.status == 'not_started' || slide.match_status == 'ended' || slide.status == 'closed'; else matchStatus">
                    {{slide.scheduled | amTimeAgo}}</p>
                  <ng-template #matchStatus>
                    <p class="live-result">{{slide.status ? slide.status : slide.match_status}}</p>
                  </ng-template>
                </div>

                <ng-container *ngIf="slide?.competitors?.away?.show_first; else home_first">
                  <ng-container *ngTemplateOutlet="team;context:{competitor:slide?.competitors?.away}">
                  </ng-container>
                  <ng-container *ngTemplateOutlet="team;context:{competitor:slide?.competitors?.home}">
                  </ng-container>
                </ng-container>
                <ng-template #home_first>
                  <ng-container>
                    <ng-container *ngTemplateOutlet="team;context:{competitor:slide?.competitors?.home}">
                    </ng-container>
                    <ng-container *ngTemplateOutlet="team;context:{competitor:slide?.competitors?.away}">
                    </ng-container>
                  </ng-container>
                </ng-template>

                <ng-template #team let-competitor="competitor">
                  <div class="match-info d-flex justify-content-between align-items-center">
                    <p [ngClass]="{'match-winner': competitor?.winner}">
                      <img [lazyLoad]="competitor?.id| logosurl"
                        [defaultImage]="cricketService.flagplaceholder">{{competitor?.name}}</p>
                    <p *ngIf="competitor?.period_scores"><b>
                        {{competitor?.period_scores.display_score}} ({{competitor?.period_scores.display_overs}}
                        ov)</b></p>
                  </div>
                </ng-template>

                <div class="row">
                  <div class="col-lg-9">
                    <p class="result-line" *ngIf="slide.match_status == 'live'">
                      {{slide.venue_name ? slide.venue_name : ''}}</p>
                    <p class="result-line" *ngIf="slide.match_status != 'live'">
                      {{slide.match_result ? slide.match_result : slide.venue_name}}</p>
                  </div>
                </div>
              </div>
            </div>
          </ng-template>
        </ng-container>
      </owl-carousel-o>
    </div>
  </div>
</div>
<nav class="navbar navbar-expand-md" id="navbar" [ngClass]="{'menu-open': isapply}" (scroll)="onWindowScroll($event);">
  <a class="navbar-brand" (click)="routing('/')"><img src="/assets/images/logo.svg" alt=""></a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
    [ngClass]="{'active': isapply}" (click)="isapply = !isapply" aria-controls="navbarSupportedContent"
    aria-expanded="false" aria-label="Toggle navigation">
    <span class="icon-bar"></span>
    <span class="icon-bar"></span>
    <span class="icon-bar"></span>
    <span class="icon-bar"></span>
  </button>
  <div class="collapse navbar-collapse">
    <div class="navbar-nav-container" id="navbar-nav">
      <ul class="navbar-nav" #navbarnav>
        <li class="nav-item">
          <a class="nav-link" routerLink="/cricket" routerLinkActive="active" (click)="isapply = false">Cricket</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" [routerLink]="['/coming-soon/soccer']" routerLinkActive="active"
            (click)="isapply = false">Soccer</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" [routerLink]="['/coming-soon/badminton']" routerLinkActive="active"
            (click)="isapply = false">Badminton</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" [routerLink]="['/coming-soon/basketball']" routerLinkActive="active"
            (click)="isapply = false">Basketball</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" [routerLink]="['/coming-soon/field-Hockey']" routerLinkActive="active"
            (click)="isapply = false">Field Hockey</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" [routerLink]="['/coming-soon/racing']" routerLinkActive="active"
            (click)="isapply = false">Racing</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" [routerLink]="['/coming-soon/tennis-sports']" routerLinkActive="active"
            (click)="isapply = false">Tennis sports</a>
        </li>
      </ul>
      <!-- <div id="nav-pointer" #navpointer></div> -->
    </div>
    <ul class="navbar-nav navbar-rightside login-search">
      <li><a class="search" [ngClass]="{'active': issearch}" (click)="searchopen()" #searchOpen></a></li>
      <li *ngIf="!isLogin">
        <a class="login" (click)="open(content)"></a>
      </li>
      <li ngbDropdown *ngIf="isLogin">
        <a class="login"   [ngClass]="{'logged': isLogin}"  ngbDropdownToggle [lazyLoad]="socialUser.photoUrl"></a>
        <ul ngbDropdownMenu aria-labelledby="dropdownBasic1">
          <li ngbDropdownItem><a (click)="logout()">Logout</a></li>
        </ul>
      </li>
    </ul>
  </div>
</nav>

<app-search [issearch]="issearch" [searchOpen]="searchOpen" (clickOutside)="close($event)"></app-search>

<ng-template #content let-modal>
  <div class="modal-body">
    <h1>Sign In</h1>
    <ul>
      <li><button (click)="signInWithGoogle()"><img src="/assets/images/google-signin.svg">Sign in with Google</button>
      </li>
      <li><button class="fb-button" (click)="signInWithFB()"><img src="/assets/images/facebook-signin.svg">Continue with
          Facebook</button></li>
    </ul>
    <p class="signin-text">By signing in with Google or Facebook, you agree to
      SportsInfo’s <a [routerLink]="['/terms-and-conditions']">Terms</a> and <a
        [routerLink]="['/privacy-policy']">Privacy Policies</a>.</p>
  </div>
</ng-template>