<section class="common-section cricket-recentnews recentnews-section">
  <div class="container">
    <div class="row sidebar-row">
      <div class="content-col">
        <div class="common-title-btn big-title-btn d-flex justify-content-between align-items-center">
          <h1>Standings</h1>
        </div>
        <div class="common-table tour-stand-table striped-table common-shadow rounded-box">
          <div class="table-responsive">
            <table class="table">
              <thead>
                <tr>
                  <th>POS</th>
                  <th>TEAM</th>
                  <th>M</th>
                  <th>W</th>
                  <th>L</th>
                  <th>D</th>
                  <th>NRR</th>
                </tr>
              </thead>
              <tbody>
                <tr *ngFor="let item of pointstable">
                  <td>{{item.rank}}</td>
                  <td><a (click)="teamInfo(item.team.id,item.team.name)"><img class="" src="../../../../../assets/images/flag-ind.svg" alt="logo">{{item.team.name}}
                  </a></td>
                  <td>{{item.played}}</td>
                  <td>{{item.win}}</td>
                  <td>{{item.loss}}</td>
                  <td>{{item.draw}}</td>
                  <td>{{item.net_run_rate}}</td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
      <div class="sidebar-col">
        <div class="sticky-sidebar">
            <app-custom-ads-widget [type]="'Banner'"></app-custom-ads-widget>
            <app-custom-ads-widget [type]="'Rectangle'"></app-custom-ads-widget>
          <!--Recommended links-->
          <app-common-story-widget [title]="widget1title" [type]="widget1type" [data]="cricketseries"
            *ngIf="widget1type && widget1title"></app-common-story-widget>
        </div>
      </div>
    </div>
  </div>
</section>
