<section class="common-section cricket-recentnews recentnews-section">
  <div class="container">
    <div class="row sidebar-row">
      <div class="content-col">
        <div class="common-title-btn big-title-btn d-flex justify-content-between align-items-center">
          <h1>Standings</h1>
        </div>
        <div class="common-table striped-table tour-stats-table common-shadow rounded-box">
          <div class="table-responsive">
            <table class="table">
              <thead>
                <tr>
                  <th>POS</th>
                  <th>TEAM</th>
                  <th>P</th>
                  <th>W</th>
                  <th>L</th>
                  <th>D</th>
                  <th>NRR</th>
                </tr>
              </thead>
              <tbody>
                <tr>
                  <td>1</td>
                  <td><img class="" src="../../../../../assets/images/flag-ind.svg" alt="logo">India
                  </td>
                  <td>4</td>
                  <td>3</td>
                  <td>1</td>
                  <td>0</td>
                  <td>1.333</td>
                </tr>
                <tr>
                  <td>2</td>
                  <td><img class="" src="../../../../../assets/images/flag-ind.svg" alt="logo">India
                  </td>
                  <td>4</td>
                  <td>3</td>
                  <td>1</td>
                  <td>0</td>
                  <td>1.333</td>
                </tr>
                <tr>
                  <td>3</td>
                  <td><img class="" src="../../../../../assets/images/flag-ind.svg" alt="logo">India
                  </td>
                  <td>4</td>
                  <td>3</td>
                  <td>1</td>
                  <td>0</td>
                  <td>1.333</td>
                </tr>
                <tr>
                  <td>4</td>
                  <td><img class="" src="../../../../../assets/images/flag-ind.svg" alt="logo">India
                  </td>
                  <td>4</td>
                  <td>3</td>
                  <td>1</td>
                  <td>0</td>
                  <td>1.333</td>
                </tr>
                <tr>
                  <td>5</td>
                  <td><img class="" src="../../../../../assets/images/flag-ind.svg" alt="logo">India
                  </td>
                  <td>4</td>
                  <td>3</td>
                  <td>1</td>
                  <td>0</td>
                  <td>1.333</td>
                </tr>
                <tr>
                  <td>6</td>
                  <td><img class="" src="../../../../../assets/images/flag-ind.svg" alt="logo">India
                  </td>
                  <td>4</td>
                  <td>3</td>
                  <td>1</td>
                  <td>0</td>
                  <td>1.333</td>
                </tr>
                <tr>
                  <td>7</td>
                  <td><img class="" src="../../../../../assets/images/flag-ind.svg" alt="logo">India
                  </td>
                  <td>4</td>
                  <td>3</td>
                  <td>1</td>
                  <td>0</td>
                  <td>1.333</td>
                </tr>
                <tr>
                  <td>8</td>
                  <td><img class="" src="../../../../../assets/images/flag-ind.svg" alt="logo">India
                  </td>
                  <td>4</td>
                  <td>3</td>
                  <td>1</td>
                  <td>0</td>
                  <td>1.333</td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
      <div class="sidebar-col">
        <div class="sticky-sidebar">
          <div class="ad-block"><img src="../../../assets/images/ad-320-80.jpg" alt="AD"></div>
          <div class="ad-block"><img src="../../../assets/images/ad-320-267.jpg" alt="AD"></div>
          <div class="common-stories-widget common-shadow rounded-box">
            <h5>Recommended links</h5>
            <ul class="common-list">
              <li><a>West Indies</a></li>
              <li><a>IPL 2019</a></li>
              <li><a>World Cup 2019</a></li>
              <li><a>Sri Lanka vs South Africa</a></li>
              <li><a>India vs England</a></li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>