.rotate{
    transform: rotate(90deg); 
}
.listHide{
    overflow: hidden !important;
    height: 0px !important;

}
.listShow{

height: auto !important;
}
.floatRight{
    float: right !important;
}
.isActiveLink{
    background: #1b3056;
    color: #fff !important;
}           
.subHeader{
    margin-left: 15px;
    font-weight: bold;
    font-size: 16px;
    color: rgb(214, 206, 206);
}
.leftNavFooter{
    position: fixed !important;
    top: 55em;
    background: #1b3056;
}

