<app-loader *ngIf="loading"></app-loader>
<app-no-data-widget *ngIf="!loading && (!matchInfo)" [sport]="'Racing'"></app-no-data-widget>
<section class="common-section" *ngIf="matchInfo">
  <div class="container">
    <div class="row sidebar-row">
      <div class="content-col">
        <!-- START - ABOUT MATCH-->
        <app-match-about [data]="matchInfo" [competitor]="matchInfo?.sport_event?.competitors" [toss]=""
          [sport]="'Racing'" [commentry]="commentry"></app-match-about>
        <!-- END - ABOUT MATCH-->

        <!-- START - MATCH TABS-->
        <ngb-tabset class="common-tabs match-tabs">
          <!--START - COMMENTARY  -->

          <ngb-tab>
            <ng-template ngbTabTitle>{{ 'widgetModule.Results' | translate }}</ng-template>
            <ng-template ngbTabContent>
              <app-countdown *ngIf="matchInfo?.status != 'Finished'" [scheduled]="matchInfo?.scheduled_end">
              </app-countdown>
              <ngb-tabset class="filled-tabs scorecard-tab racing-scorecard" *ngIf="matchInfo?.stages && matchInfo?.status == 'Finished'">
                <ng-container>
                  <ng-container *ngFor="let stage of matchInfo?.stages">

                    <ngb-tab>
                      <ng-template ngbTabTitle>
                        <div>{{ stage.description }}
                        </div>
                      </ng-template>
                      <ng-template ngbTabContent>
                        <app-loader *ngIf="commentry.loading"></app-loader>
                        <app-no-data-widget *ngIf="!commentry.loading && !commentry.data[stage.id]" [sport]="'Racing'"
                          [message]="'No Results available'">
                        </app-no-data-widget>
                        <app-player-table *ngIf="commentry.data[stage.id] && stage.type == 'practice'"
                          [data]="commentry.data[stage.id]" [options]=" {
                            sport:'Racing',
                            titles : ['POS','Drivers', 'Race Time', 'Laps'],
                            sort : [true, false, false, true],
                            values : ['result.position', 'name', 'result.fastest_lap_time', 'result.laps'],
                            class : ['tour-stats-table'],
                            game: game,
                            tbl_type:'competitor',
                            class_light_row : ['light-row']
                          }">
                        </app-player-table>
                        <app-player-table *ngIf="commentry.data[stage.id] && stage.type == 'qualifying'"
                          [data]="commentry.data[stage.id]" [options]=" {
                            sport:'Racing',
                            titles : ['POS','Drivers', 'Laps'],
                            sort : [true, false, true],
                            values : ['result.position', 'name', 'result.laps'],
                            class : ['tour-stats-table'],
                            game: game,
                            tbl_type:'competitor',
                            class_light_row : ['light-row']
                          }">
                        </app-player-table>
                        <app-player-table *ngIf="commentry.data[stage.id] && stage.type == 'race'"
                          [data]="commentry.data[stage.id]" [options]=" {
                            sport:'Racing',
                            titles : ['POS','Drivers', 'Race Time', 'Laps', 'Pits', 'Fastest Laps'],
                            sort : [true, false, false, true, true, false],
                            values : ['result.position', 'name', 'result.time', 'result.laps', 'result.pitstop_count', 'result.fastest_lap_time'],
                            class : ['tour-stats-table'],
                            game: game,
                            tbl_type:'competitor',
                            class_light_row : ['light-row']
                          }">
                        </app-player-table>
                      </ng-template>
                    </ngb-tab>

                  </ng-container>
                </ng-container>

              </ngb-tabset>

            </ng-template>
          </ngb-tab>
          <!--END - COMMENTARY  -->

          <!--START - Circuit TAB-->
          <ngb-tab>
            <ng-template ngbTabTitle>{{ 'Circuit' | translate }}</ng-template>
            <ng-template ngbTabContent>
              <app-match-info-card *ngIf="matchInfo" [data]="matchInfo"
                [options]="{
                 sport:'Racing',
                 titles : [ 'Race', 'Circuit', 'Circuit Length', 'Laps'],
                 values : [ matchInfo?.description, matchInfo?.venue?.name + ', ' + matchInfo?.venue?.city + ', ' + matchInfo?.venue?.country, matchInfo?.venue?.length, matchInfo?.venue?.laps] }">
              </app-match-info-card>
              <app-venue-map-card [sport]="'Racing'" [venuedetails]="matchInfo?.venue" *ngIf="matchInfo?.venue">
              </app-venue-map-card>
            </ng-template>
          </ngb-tab>
          <!--END - Circuit TAB-->

          <!--START - NEWS TAB-->
          <ngb-tab>
            <ng-template ngbTabTitle>{{ 'Shared_module.news' | translate }}</ng-template>
            <ng-template ngbTabContent>
              <app-blog-list *ngIf="paramArticle" [options]="paramArticle" [sport]="'Racing'">
              </app-blog-list>
            </ng-template>
          </ngb-tab>
          <!--END - NEWS TAB-->
        </ngb-tabset>
        <!-- END - MATCH TABS-->
      </div>
      <div class="sidebar-col">
        <div class="sticky-sidebar">
          <!--START - SIDERBAR ADS-->
          <app-custom-ads-widget [type]="'Banner'"></app-custom-ads-widget>
          <!--END - SIDERBAR ADS-->
          <!--START - SIDERBAR STORY-->
          <!-- <app-sidebar-links [sport]="'Cricket'" [link_type]="'tournament'"
            [options]="{type: 'current', title:'Recommended Links'}"></app-sidebar-links> -->
          <!--START - SIDERBAR STORY-->
          <app-custom-ads-widget [type]="'Rectangle'"></app-custom-ads-widget>
        </div>
      </div>
    </div>
  </div>
</section>