<div class="match-lienup common-shadow rounded-box"
  [ngClass]="{'soccer-lineup' : sport=='soccer', 'kabaddi-lineup': sport=='kabaddi'}">

  <ng-container *ngIf="sport=='kabaddi'">
    <ng-container *ngTemplateOutlet="kabaddi;">
    </ng-container>
  </ng-container>

  <ng-container *ngIf="sport=='soccer'">
    <ng-container *ngTemplateOutlet="soccer;">
    </ng-container>
  </ng-container>

  <ng-template #kabaddi>
    <!-- Start Ground -->
    <div class="ground-map-block kabaddi-map" *ngIf="lineup.length != 0">
      <div class="ground-map" *ngIf="team.length != 0">
        <img src="assets/images/match/kabaddi-ground.svg" alt="kabaddi-ground">
        <ul class="ground-player-list">
          <li *ngFor="let player of team[0].squad">
            <div class="number">{{player?.shirtnumber}}</div>
            <p>
              <a [routerLink]="['/kabaddi/player', team[0]?.tid, player?.pid, (player?.name | slugify )]">
                {{player.name}}
              </a></p>
          </li>
        </ul>
        <ul class="ground-player-list list-2">
          <li *ngFor="let player of team[1].squad">
            <div class="number">{{player?.shirtnumber}}</div>
            <p><a [routerLink]="['/kabaddi/player', team[1]?.tid, player?.pid, (player?.name | slugify )]">
                {{player.name}}
              </a></p>
          </li>
        </ul>
      </div>
    </div>
    <!-- End Ground -->

    <div class="lienup-row d-flex align-items-start justify-content-between">
      <!-- Start Team 1 Squads-->
      <div>
        <div class="heading">
          <p class="d-flex align-items-center justify-content-end">
            <b><a [routerLink]="['/kabaddi/team', team[0]?.tid, (team[0]?.tname | slugify )]">{{team[0].tname}}</a></b>
            <img alt="{{team[0].tname}}" [lazyLoad]="team[0].tid | logosurl:'kabaddi'" [defaultImage]="commonService.teamPlaceholder"
              [offset]="commonService.lazyloadoffset">
          </p>
        </div>
        <!-- <ng-container *ngIf="team[0]?.players?.length > 0"> -->
        <ng-container *ngFor="let squad of objectKeys(team[0]?.players).sort()">
          <h5 class="text-capitalize">{{squad}}</h5>
          <ul class="lienup-list">
            <li *ngFor="let player of team[0]?.players[squad]">
              <p class="text-capitalize">
                <a [routerLink]="['/kabaddi/player', team[0]?.tid, player?.pid, (player?.name | slugify )]">
                  {{player.name}}
                </a>
              </p>
              <span>{{player?.shirtnumber}}</span>
            </li>
          </ul>
        </ng-container>
        <!-- </ng-container> -->
      </div>
      <!-- End Team 1 Squads-->

      <!-- Start Team 2 Squads-->
      <div>
        <div class="heading">
          <p class="d-flex align-items-center">
            <img alt="{{team[1].tname}}" [lazyLoad]="team[1].tid | logosurl:'kabaddi'" [defaultImage]="commonService.teamPlaceholder"
              [offset]="commonService.lazyloadoffset">
            <b><a [routerLink]="['/kabaddi/team', team[1]?.tid, (team[1]?.tname | slugify )]">{{team[1].tname}}</a></b>
          </p>
        </div>
        <!-- <ng-container *ngIf="team[1]?.players?.length > 0"> -->
        <ng-container *ngFor="let squad of objectKeys(team[1]?.players).sort()">
          <h5 class="text-capitalize">{{squad}}</h5>
          <ul class="lienup-list">
            <li *ngFor="let player of team[1]?.players[squad]">
              <span class="filled">{{player?.shirtnumber}}</span>
              <p class="text-capitalize">
                <a [routerLink]="['/kabaddi/player', team[1]?.tid, player?.pid, (player?.name | slugify )]">
                  {{player.name}}
                </a>
              </p>
            </li>
          </ul>
        </ng-container>
        <!-- </ng-container> -->
      </div>
      <!-- End Team 2 Squads-->

    </div>
  </ng-template>


  <ng-template #soccer>
    <!-- Start Ground -->
    <div class="ground-map-block soccer-map" *ngIf="team.home?.formation?.type && team.away?.formation?.type">
      <div class="ground-map" *ngIf="team.length != 0">
        <img src="assets/images/match/soccer-ground.svg" alt="kabaddi-ground">
        <div class="ground-player-lists d-flex">
          <div class="d-flex align-items-center justify-content-around">
            <ul class="ground-player-list" *ngFor="let formated_players of team.home.formated_players">
              <li *ngFor="let player of formated_players">
                <div class="number" [ngStyle]="{'background':'#'+team.home?.jersey.base, 'color': '#'+team.home?.jersey.number }">{{player?.jersey_number}}</div>
                <p>
                  <a
                    [routerLink]="['/soccer/player', (team.home?.id | splitID), (player?.id | splitID), (player?.name | slugify )]">
                    {{player.name | slice:0:15}}
                  </a>
                </p>
              </li>
            </ul>
          </div>
          <div class="d-flex align-items-center justify-content-around">
            <ul class="ground-player-list list-2" *ngFor="let formated_players of team.away.formated_players">
              <li *ngFor="let player of formated_players">
                <div class="number" [ngStyle]="{'background':'#'+team.away?.jersey.base, 'color': '#'+team.away?.jersey.number }">{{player?.jersey_number}}</div>
                <p>
                  <a
                    [routerLink]="['/soccer/player', (team.away?.id | splitID), (player?.id | splitID), (player?.name | slugify )]">
                    {{player.name | slice:0:15}}
                  </a>
                </p>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
    <!-- End Ground -->
    <!-- {{team | json}} -->
    <div class="lienup-row d-flex align-items-start justify-content-between" *ngIf="team.length != 0">
      <!-- Start Team 1 Squads-->
      <div>
        <div class="heading">
          <p class="d-flex align-items-center justify-content-end">
            <span><b><a
                  [routerLink]="['/soccer/team', (team.home?.id | splitID), (team.home?.name | slugify )]">{{team.home.name}}</a></b>
              <span *ngIf="team.home?.formation?.type">{{team.home?.formation?.type}}</span>
            </span>
            <img alt="{{team.home.name}}" [lazyLoad]="" [defaultImage]="commonService.teamPlaceholder"
              [offset]="commonService.lazyloadoffset">
          </p>
        </div>
        <!-- <ng-container *ngIf="team.home?.squad && team.home?.squad?.length > 0"> -->
        <ng-container *ngFor="let role of objectKeys(team.home?.squad).sort()">
          <h5 class="text-capitalize">{{role}}</h5>
          <ul class="lienup-list">
            <li *ngFor="let player of team.home?.squad[role]">
              <p class="text-capitalize">
                <a
                  [routerLink]="['/soccer/player', (team.home?.id | splitID), (player?.id | splitID), (player?.name | slugify )]">
                  {{player.name}}
                </a>
              </p>
              <span class="filled"
                [ngStyle]="{'background':'#'+team.home?.jersey.base, 'border-color': (team.home?.jersey.base == 'ffffff') ? '#E0E0E0' : '#'+team.home?.jersey.base, 'color': '#'+team.home?.jersey.number }">{{player?.jersey_number}}</span>
            </li>
          </ul>
        </ng-container>
        <!-- </ng-container> -->
      </div>
      <!-- End Team 1 Squads-->

      <!-- Start Team 2 Squads-->
      <div>
        <div class="heading">
          <p class="d-flex align-items-center">
            <img alt="{{team.away.tname}}" [lazyLoad]="team.away.logo" [defaultImage]="commonService.teamPlaceholder"
              [offset]="commonService.lazyloadoffset">
            <span><b><a
                  [routerLink]="['/soccer/team', (team.away?.id | splitID), (team.away?.name | slugify )]">{{team.away.name}}</a></b>
                  <span *ngIf="team.away?.formation?.type">{{team.away?.formation?.type}}</span>
            </span>

          </p>
        </div>
        <!-- <ng-container *ngIf="team.away?.squad && team.away?.squad?.length > 0"> -->
        <ng-container *ngFor="let role of objectKeys(team.away?.squad).sort()">
          <h5 class="text-capitalize">{{role}}</h5>
          <ul class="lienup-list">
            <li *ngFor="let player of team.away?.squad[role]">
              <span class="filled"
                [ngStyle]="{'background':'#'+team.away?.jersey.base, 'border-color': (team.away?.jersey.base == 'ffffff') ? '#E0E0E0' : '#'+team.away?.jersey.base, 'color': '#'+team.away?.jersey.number }">{{player?.jersey_number}}</span>
              <p class="text-capitalize">
                <a
                  [routerLink]="['/soccer/player', (team.away?.id | splitID), (player?.id | splitID), (player?.name | slugify )]">
                  {{player.name}}
                </a>
              </p>
            </li>
          </ul>
        </ng-container>
        <!-- </ng-container> -->
      </div>
      <!-- End Team 2 Squads-->

    </div>
  </ng-template>
</div>