/* -------- Facts & Figures Section ------- */
.team-probability-outer                         { background: #E0E0E0; }
.team-probability                               { width: 0px; height: 6px; position: relative;}
.probability-fill                               { position: absolute; height: 100%; background: #ED1A33; animation: prob-fill 0.4s ease-in-out 0.5s forwards; -webkit-animation: prob-fill 0.4s ease-in-out 0.5s forwards; }
@-webkit-keyframes prob-fill {
    0%      { width: 0; }
    100%    { width: 100%; }
}
@keyframes prob-fill {
    0%      { width: 0; }
    100%    { width: 100%; }
}
.probability-section,
.last-meetings-section                          { margin-bottom: 48px;}
.probability-section                            { background: #fff;}
.probability-block                              { padding: 24px 24px 18px; }
.probability-section .team-block img            { height: 107px; width: auto; border-radius: 4.44px; box-shadow: 0px 5px 8px rgba(0,0,0,0.14), 0px 8px 35px rgba(0,0,0,0.11); -webkit-box-shadow: 0px 5px 8px rgba(0,0,0,0.14), 0px 8px 35px rgba(0,0,0,0.11);}
.probability-section .team-block h3             { margin: 0px 42px; display: inline-block; font-size: 64px; line-height: 84px; font-family: 'IBM Plex Sans', sans-serif; font-weight: 400; font-style: normal; vertical-align: middle; }
agm-map                                         { height: 300px; }
/* .venue-info                                     { padding: 16px; background: #fff; }
.venue-info p                                   { margin: 16px 0px 0px 8px; font-size: 18px; line-height: 23px; font-weight: 500;}
.venue-info p span                              { margin-right: 8px; color: #A3A3A3; font-weight: 400; } */

/***** Responsive CSS Start ******/

@media (min-width: 1200px) and (max-width: 1379px) {
/* -------- Facts & Figures Section ------- */
    .probability-section .team-block img            { height: 86px; }
    .probability-section .team-block h3             { margin: 0px 32px; font-size: 48px; line-height: 68px; }
}

@media (max-width: 1199px) {
/* -------- Facts & Figures Section ------- */
    .probability-section .team-block img        { height: 72px; }
    .probability-section .team-block h3         { margin: 0px 24px; font-size: 32px; line-height: 42px; }
}

@media (max-width: 767px) {
/* -------- Facts & Figures Section ------- */
    .probability-section .team-block img        { height: 52px; }
    .probability-section .team-block h3         { margin: 0px 20px; font-size: 28px; line-height: 38px; }
    /* .venue-info p                               { font-size: 16px; line-height: 22px; } */
}

@media (max-width: 575px) {
/* -------- Facts & Figures Section ------- */
    .probability-block                          { padding: 16px 16px 14px; }
    .probability-section .team-block img        { height: 36px; }
    .probability-section .team-block h3         { margin: 0px 8px; font-size: 20px; line-height: 28px; }
}