<!-- currentOverStats
{{currentOverStats | json}} -->
<!-- <div class="commentary-title" *ngIf="commentaries.stats || (data.sport_event_status.status == 'live' && oversummery && commentaries.stats.over_number != oversummery[0].over)"> -->
<div class="commentary-title" *ngIf="(commentaries.stats && data.sport_event_status.status == 'closed') || (commentaries.stats &&  data.sport_event_status.status == 'live' && oversummery && oversummery.length > 0 && commentaries.stats.over_number != oversummery[0].over)">
        <span>End of over : {{commentaries.stats.over_number}}</span>
  <span>{{commentaries.stats.abbreviation}} : {{commentaries.stats.display_score}}</span>   <!-- TODO - display_score-->
  <!-- <span>RR : 8.00</span> -->  <!-- TODO - Run Rate-->
  <span>Summary : {{commentaries.stats.runs}} Runs {{commentaries.stats.wickets}} Wickets</span>
</div>

<div class="commentary-item common-shadow rounded-box" *ngIf="commentaries.data && commentaries.data.length > 0">
  <ul>
    <li class="d-flex" *ngFor="let commentary of commentaries.data">

      <!-- Display overs-->
      <p class="over-ball" *ngIf="commentary.display_overs">
        {{ commentary.display_overs }} </p>

      <!-- Run-->
      <!-- TODO - class for wicket too-->
      <p class="over-run" [ngClass]="{'hightlight': commentary.type=='wicket' || commentary.bowling_params.extra_runs_type || commentary.batting_params.runs_scored == 4 || commentary.batting_params.runs_scored == 6}" *ngIf="commentary.batting_params">
        {{commentary.type == 'wicket' || commentary.bowling_params.extra_runs_conceded ? (commentary.batting_params.runs_scored > 0 ? commentary.batting_params.runs_scored : '') : commentary.batting_params.runs_scored }}
        <ng-container *ngIf="commentary.type == 'wicket'"><span>W</span></ng-container>
        <ng-container *ngIf="commentary.bowling_params.extra_runs_type"><span>{{commentary.bowling_params.extra_runs_type}}</span></ng-container>
      </p>

      <!-- Commentry-->
      <p class="commentary-line" *ngIf="commentary.commentaries">{{commentary.commentaries[0].text}}</p>

    </li>
  </ul>
</div>