/* -------- Banner Section ------- */
.home-banner                                        { margin-bottom: 48px; padding: 104px 0px 123px; background: #1B2A5A; position: relative; overflow: hidden;}
.home-banner:after                                  { content: ""; display: block; position: absolute; width: 100%; height: 32px; left: 0px; bottom: 0px; background: url(../../../assets/images/bottom-round-shape.svg) no-repeat center center / 100% 100%; z-index: 5; }
.home-banner .banner-text                           { position: relative; z-index: 3;}
.home-banner .banner-images                         { position: absolute; width: 66%; height: 100%; top: 0px; right: 0px; z-index: 1; opacity: 0.79; }
.home-banner .banner-image                          { position: absolute; width: 100%; height: 100%; background: no-repeat center center / cover; transition: all 0.5s ease-in-out; -webkit-transition: all 0.5s ease-in-out; }
.home-banner .banner-image:after                    { content: ""; display: block; position: absolute; width: 100%; height: 100%; top: 0%; left: 0px; background-image: linear-gradient( to right, #1B2A5A 8%, rgba(27,42,90,0.00) 56%); }
.home-banner .banner-images .banner-image           { opacity: 0; transform: scale(1.2); -webkit-transform: scale(1.2); }
.home-banner .banner-images .banner-image.active    { opacity: 1;  transform: scale(1); -webkit-transform: scale(1); }
.home-banner .banner-news-list                      { border-left: 4px solid rgba(236,236,236,0.1); }
.home-banner .banner-news-list li a                 { margin-bottom: 24px; padding: 0px 24px; display: block; font-size: 20px; line-height: 25px; color: rgba(255,255,255,0.5); font-family: 'IBM Plex Sans Condensed', sans-serif; position: relative; }
.home-banner .banner-news-list li a.active,
.home-banner .banner-news-list li a:hover           { color: rgba(255,255,255,1);  }
.home-banner .banner-news-list li a:before          { content: ""; position: absolute; width: 4px; height: 0%; background: red; left: -4px; bottom: 0px; transition: all 0.3s ease-in-out; -webkit-transition: all 0.3s ease-in-out;}
.home-banner .banner-news-list li a:hover:before,
.home-banner .banner-news-list li a.active:before   { bottom: 0px; top: 0px; height: 100%; }
.home-banner .common-banner-pattern                 { width: 100%; position: absolute; left: -90%; top: -21%; transform: rotate(-164deg) translate(-30% , 43%) scale(1.1); -webkit-transform: rotate(-164deg) translate(-30% , 43%) scale(1.1); transform-origin: center center; opacity: 0.24; z-index: 3; }

/* -------- Popular Video Section ------- */
.popular-video-section                                  { background: #060332; position: relative; overflow: hidden; }
.home-video-title                                       { margin-bottom: 32px;}
.main-popular-video                                     { height: 550px; position: relative; cursor: pointer; border-radius: 4px;}
.main-popular-video .video-desc                         { padding: 24px; position: absolute; width: 100%; bottom: 0px; }
.main-popular-video:before,
.main-popular-video:after                               { content: ""; position: absolute; display: block; width: 190px; height: 190px; top: 50%; left: 50%; transform: translate(-50%, -50%); -webkit-transform: translate(-50%, -50%);  background: url(assets/images/play-btn.svg) no-repeat center center / cover; z-index: 1; }
.main-popular-video:before                              { opacity: 0; background-image: url(assets/images/play-btn-anim.png); }
.main-popular-video:hover:before                        { opacity: 1; }
.main-popular-video h2 a,
.main-popular-video .author-info p,
.main-popular-video .author-info p.author a             { color: #fff;}
.home-popular-vid-list                                  { padding-right: 16px; height: 550px; }
ng-scrollbar.custom-scrollbar                           { --scrollbar-padding: 0px; --scrollbar-size: 8px; --scrollbar-thumb-color: #352D8C; --scrollbar-thumb-hover-color: #352D8C; --scrollbar-border-radius: 0px; }
.home-popular-vid-list .video-item                      { margin-bottom: 24px; position: relative; }
.home-popular-vid-list .video-img                       { height: 180px; border-radius: 4px; cursor: pointer; } 
.home-popular-vid-list .video-item p                    { margin: 0px; padding: 8px 12px; position: absolute; width: 100%; left: 0px; bottom: 0px; z-index: 2; }
.popular-video-section .container                       { position: relative; z-index: 2;}
.popular-video-section .pattern                         { position: absolute; width: 50%; z-index: 1;}
.popular-video-section .pattern-left                    { width: 44%; left: -20%; top: -60%; transform: rotate(-92deg); -webkit-transform: rotate(-92deg); }
.popular-video-section .pattern-right                   { right: -25%; bottom: -65%; transform: rotate(120deg); -webkit-transform: rotate(120deg); }

/***** Responsive CSS Start ******/
@media (min-width: 1380px) and (max-width: 1499px) {
    .home-banner .common-banner-pattern     { left: -94%; top: -14%; }
}

@media (min-width: 1200px) and (max-width: 1379px) {
/* -------- Banner Section ------- */
    .home-banner                            { padding: 94px 0px 112px;} 
    .home-banner .banner-news-list li a     { padding: 0px 0px 0px 24px; font-size: 19px; line-height: 24px;}
    .home-banner .common-banner-pattern     { left: -96%; top: -10%; }
/* -------- Popular Video Section ------- */
    .main-popular-video                         { height: 520px; }
    .home-popular-vid-list                      { padding-right: 26px; height: 520px; }
    .home-popular-vid-list .video-img           { height: 166px; }
    .popular-video-section .pattern-left        { left: -20%; top: -37%; }
    .popular-video-section .pattern-right       { right: -26%; bottom: -42%; }

}

@media (min-width: 992px) and (max-width: 1199px) {
/* -------- Banner Section ------- */
    .home-banner                            { margin-bottom: 40px; padding: 84px 0px 102px;} 
    .home-banner .banner-news-list li a     { padding: 0px 0px 0px 22px; font-size: 18px; line-height: 23px;}
    .home-banner .common-banner-pattern     { left: -98%; top: 0%; }
/* -------- Popular Video Section ------- */
    .main-popular-video                         { height: 480px; }
    .home-popular-vid-list                      { padding-right: 30px; height: 480px; }
    .home-popular-vid-list .video-img           { height: 146px; }
    .popular-video-section .pattern-left        { left: -20%; top: -37%; }
    .popular-video-section .pattern-right       { right: -26%; bottom: -42%; }
}

@media (max-width: 991px) {

}

@media (min-width: 768px) and (max-width: 991px) {
/* -------- Banner Section ------- */
    .home-banner                            { margin-bottom: 36px; padding: 60px 0px 80px;} 
    .home-banner:after                      { height: 26px;}
    .home-banner .banner-news-list li a     { margin-bottom: 20px; padding: 0px 0px 0px 18px; font-size: 17px; line-height: 22px;}
    .home-banner .common-banner-pattern     { left: -98%; top: 0%; }
/* -------- Popular Video Section ------- */
    .main-popular-video                     { height: 360px; }
    .main-popular-video:before,
    .main-popular-video:after               { width: 120px; height: 120px; }
    .home-popular-vid-list                  { padding-right: 20px; height: 360px; }
    .home-popular-vid-list .video-img       { height: 120px; }
    .popular-video-section .pattern-left    { left: -20%; top: -37%; }
    .popular-video-section .pattern-right   { right: -26%; bottom: -42%; }
}

@media (max-width: 767px) {
/* -------- Banner Section ------- */
    .home-banner                            { margin-bottom: 30px; padding: 40px 0px;} 
    .home-banner:after                      { height: 20px;}
    .home-banner .banner-news-list li a     { margin-bottom: 15px; padding: 0px 0px 0px 14px; font-size: 16px; line-height: 22px;}
    .home-banner .common-banner-pattern     { left: -98%; top: 4%; }
/* -------- Popular Video Section ------- */
    .main-popular-video                     { margin-bottom: 24px; height: 300px; }
    .main-popular-video:before,
    .main-popular-video:after               { width: 100px; height: 100px;}
    .home-popular-vid-list                  { padding: 0px; height: initial; display: flex;}
    .home-popular-vid-list .video-item      { margin: 0px 16px 0px 0px; width: 280px; flex-shrink: 0; -webkit-flex-shrink: 0; }
    /* .home-popular-vid-list                  { padding: 0px 12%; height: 360px; } */
    .home-popular-vid-list .video-img       { height: 120px; }
    .popular-video-section .pattern-left    { left: -20%; top: -37%; }
    .popular-video-section .pattern-right   { right: -26%; bottom: -42%; }
}

@media (max-width: 575px) {
/* -------- Banner Section ------- */
    .home-banner:after                      { height: 16px;}
    .popular-video-section .pattern         { display: none; }
    .home-banner .common-banner-pattern     { left: -105%; top: 40%; transform: rotate(-164deg) translate(-40% , 43%) scale(1.1); -webkit-transform: rotate(-164deg) translate(-40% , 43%) scale(1.1); }

}

