/* -------- Banner Section ------- */
.home-banner                                        { height: 593px; margin-bottom: 48px; padding: 104px 0px 143px; background: #1B2A5A; position: relative; }
.home-banner:after                                  { content: ""; display: block; position: absolute; width: 100%; height: 32px; left: 0px; bottom: 0px; background: url(../../../assets/images/bottom-round-shape.svg) no-repeat center center / 100% 100%; z-index: 1; }
.home-banner .banner-text                           { position: relative; z-index: 3;}
.home-banner .banner-images                         { position: absolute; width: 66%; height: 100%; top: 0px; right: 0px; z-index: 1; opacity: 0.79; }
.home-banner .banner-image                          { position: absolute; width: 100%; height: 100%; background: no-repeat center center / cover; transition: all 0.5s ease-in-out; -webkit-transition: all 0.5s ease-in-out; }
.home-banner .banner-image:after                    { content: ""; display: block; position: absolute; width: 100%; height: 100%; top: 0%; left: 0px; background-image: linear-gradient( to right, #1B2A5A 8%, rgba(27,42,90,0.00) 56%); }
.home-banner .banner-images .banner-image           { opacity: 0; }
.home-banner .banner-images .banner-image.active    { opacity: 1; }
.home-banner .banner-news-list                      { border-left: 4px solid rgba(236,236,236,0.1); }
.home-banner .banner-news-list li a                 { margin-bottom: 24px; padding: 0px 24px; display: block; font-size: 20px; line-height: 25px; color: rgba(255,255,255,0.5); font-family: 'IBM Plex Sans Condensed', sans-serif; position: relative; }
.home-banner .banner-news-list li a.active,
.home-banner .banner-news-list li a:hover           { color: rgba(255,255,255,1);  }
.home-banner .banner-news-list li a:before          { content: ""; position: absolute; width: 4px; height: 0%; background: red; left: -4px; bottom: 0px; transition: all 0.3s ease-in-out; -webkit-transition: all 0.3s ease-in-out;}
.home-banner .banner-news-list li a:hover:before,
.home-banner .banner-news-list li a.active:before   { bottom: 0px; top: 0px; height: 100%; }

/* -------- Popular Video Section ------- */
.popular-video-section                                  { background: #060332; position: relative; overflow: hidden; }
.home-video-title                                       { margin-bottom: 32px;}
.main-popular-video                                     { height: 550px; position: relative; cursor: pointer; border-radius: 4px;}
.main-popular-video .video-desc                         { padding: 24px; position: absolute; width: 100%; bottom: 0px; }
.main-popular-video .play-btn                           { position: absolute; top: 50%; left: 50%; transform: translate(-50%, -50%); -webkit-transform: translate(-50%, -50%); }
.main-popular-video .author-info p,
.main-popular-video .author-info p.author a             { color: #fff;}
.home-popular-vid-list                                  { padding-right: 16px; height: 550px; }
ng-scrollbar.custom-scrollbar                           { --scrollbar-padding: 0px; --scrollbar-size: 8px; --scrollbar-thumb-color: #352D8C; --scrollbar-thumb-hover-color: #352D8C; --scrollbar-border-radius: 0px; }
.home-popular-vid-list .video-item                      { margin-bottom: 24px; position: relative; }
.home-popular-vid-list .video-img                       { height: 180px; border-radius: 4px; cursor: pointer; } 
.home-popular-vid-list .video-item p                    { margin: 0px; padding: 8px 12px; position: absolute; width: 100%; left: 0px; bottom: 0px; z-index: 2; }
.popular-video-section .container                       { position: relative; z-index: 2;}
.popular-video-section .pattern                         { position: absolute; width: 88%; right: -19%; bottom: -62%; z-index: 1;}

/* -------- Recent News Section ------- */
.home-recentnews-title                  { margin-bottom: 8px; }
.home-recentnews-title h2               { margin-bottom: 0px; }


/***** Responsive CSS Start ******/

@media (min-width: 1200px) and (max-width: 1379px) {
/* -------- Banner Section ------- */
    .home-banner .banner-item p         { font-size: 18px; }
/* -------- Popular Articles Section ------- */
    .popular-article-section .popular-main-item .item-img .item-img-pic { height: 420px; }
    .home-popular-list .img-block                                       { height: 156px; }
/* -------- Popular Video Section ------- */
    .main-popular-video video                               { height: 410px; }
    .home-popular-vid-list                                  { height: 552px; }
    .home-popular-vid-list .video-img                       { width: 160px; } 
    .home-popular-vid-list .video-item p                    { padding: 0px 10px; width: calc(100% - 126px); }

}

@media (min-width: 992px) and (max-width: 1199px) {
/* -------- Banner Section ------- */
    .home-banner .banner-item p         { font-size: 17px; }
/* -------- Popular Articles Section ------- */
    .popular-article-section .popular-main-item .item-img .item-img-pic     { height: 360px; }
    .popular-article-section .popular-main-item .blog-desc                  { padding: 20px 0px 0px 20px; }
    .home-popular-list .img-block                                           { height: 120px; }
/* -------- Popular Video Section ------- */
    .main-popular-video video                               { height: 410px; }
    .home-popular-vid-list                                  { height: 474px; }
    .home-popular-vid-list .video-img                       { width: 136px; height: 92px; } 
    .home-popular-vid-list .video-item p                    { padding: 0px 10px; width: calc(100% - 126px); }	
}

@media (max-width: 991px) {
	.recentnews-section .sidebar-col        { order: 2; }    
}

@media (min-width: 768px) and (max-width: 991px) {
/* -------- Banner Section ------- */
    .home-banner                        { margin-bottom: 36px; height: 460px; }
    .home-banner .justin-block          { padding: 6px 14px; font-size: 14px; line-height: 18px;}
    .home-banner .banner-item-list      { padding: 24px 0px 40px; }
    .home-banner .banner-item           { padding: 12px; height: 136px; }
    .home-banner .banner-item p         { font-size: 15px; }
/* -------- Popular Articles Section ------- */
    .popular-article-section .popular-main-item .item-img .item-img-pic { height: 360px; }
    .home-popular-list .img-block                                       { height: 120px; }
/* -------- Popular Video Section ------- */
    .main-popular-video video                               { height: 222px; }
    .main-popular-video .play-btn-block button              { width: 88px; height: 88px; }
    .home-popular-vid-list                                  { padding-left: 10px; height: 340px; }
    .home-popular-vid-list .video-img                       { width: 136px; height: 92px; } 
    .home-popular-vid-list .video-item p                    { padding: 0px 10px; width: calc(100% - 126px); }	
	
}

@media (max-width: 767px) {
/* -------- Banner Section ------- */
    .home-banner                        { margin-bottom: 32px; height: 320px; min-height: 60vh; }
    .home-banner .banner-inner          { padding-bottom: 24px; }
    .home-banner .justin-block          { padding: 6px 14px; font-size: 14px; line-height: 18px;}
    .home-banner .banner-item-list      { display: none; }
/* -------- Popular Articles Section ------- */
    .popular-article-section .popular-main-item .item-img .item-img-pic { height: 240px; }
    .home-popular-list .popular-item                                    { margin-bottom: 24px; }
    .home-popular-list [class*="col-"]:last-child .popular-item         { margin-bottom: 0px; }
/* -------- Popular Video Section ------- */
    .main-popular-video video                               { height: 342px; }
    .main-popular-video .play-btn-block button              { width: 88px; height: 88px; }
    .home-popular-vid-list                                  { margin-top: 15px; }
    .home-popular-vid-list                                  { padding-left: 10px; height: 340px; }
    .home-popular-vid-list .video-item p                    { padding: 0px 16px; font-size: 16px; line-height: 22px; }	
}

@media (max-width: 575px) {
/* -------- Popular Video Section ------- */
    .main-popular-video video                               { height: auto; }
    .main-popular-video .play-btn-block                     { left: 0px; top: 0px; width: 100%; height: calc(100% - 4px); }
    .main-popular-video .play-btn-block button              { width: 64px; height: 64px; }
    .home-popular-vid-list                                  { padding-left: 0px; }
    ng-scrollbar.custom-scrollbar                           { border-left: none; }
    .home-popular-vid-list .video-img                       { width: 150px; }
    .home-popular-vid-list .video-item p                    { padding: 0px 10px; width: calc(100% - 130px); font-size: 14px; line-height: 20px; }


}

