<!-- Start Top Highlight -->
<section class="home-banner">
  <img class="common-banner-pattern" src="../../../assets/images/common-banner-pattern.svg">
  <div class="banner-text">
    <div class="container">
      <div class="row">
        <div class="col-xl-5 col-md-7 col-sm-9 col-10">
          <h1 class="white-text">Top Highlights</h1>
          <ul class="banner-news-list">
            <li *ngFor="let post of bannerposts;let i = index;" (click)="blogview(post._id,post.eType,post.sTitle)"><a
                [ngClass]="{'active': i===listindex}" (mouseover)="onmouseover(i)">{{post.sTitle}}</a></li>
          </ul>
        </div>
      </div>
    </div>
  </div>
  <div class="banner-images">
    <div class="banner-image" *ngFor="let item of bannerimages; let i=index;" [ngClass]="{'active': i===imageindex}"
      [lazyLoad]="item | resizeImage:['m']"></div>
  </div>
</section>
<!-- End  Top Highlight -->

<!-- Start Ads -->
<div class="container">
  <app-custom-ads-widget [type]="'Large'"></app-custom-ads-widget>
</div>
<!-- End Ads -->

<!-- Start Articles -->
<section class="common-section home-popular-article">
  <div class="container">
    <div class="row sidebar-row">
      <div class="content-col">
        <div class="popular-main-item common-shadow" *ngFor="let article of populararticles | slice:0:1">
          <div class="item-img common-zoom-container" [ngClass]="{'common-news-video': article.eType == 'Video'}">
            <div class="common-zoom-img" [defaultImage]="largeblogdefault"
              [lazyLoad]="article.sImage | resizeImage:['m']"
              (click)="blogview(article._id,article.eType,article.sTitle)">
            </div>
          </div>
          <div class="blog-desc">
            <h4><a (click)="blogview(article._id,article.eType,article.sTitle)">{{article.sTitle}}</a></h4>
            <p [innerHtml]="article.sDescription | truncate:[240,'...'] | striphtml"
              (click)="blogview(article._id,article.eType,article.sTitle)"></p>
            <div class="author-info d-flex justify-content-between align-items-center">
              <p class="author"><a (click)="writerview(article?.iId?._id)">{{article.iId.sFirstName}}
                  {{article.iId.sLastName}}</a>{{article.dUpdatedAt | amFromUtc | amLocal | amTimeAgo}}</p>
              <p class="view">{{article.nViewCounts}}</p>
            </div>
          </div>
        </div>
        <app-custom-ads-widget [type]="'Large'"></app-custom-ads-widget>

        <div class="common-title-btn d-flex justify-content-between align-items-center">
          <h4>Related news</h4>
          <button class="theme-btn" [routerLink]="['/blog/list/popular/article']">View All<span></span></button>
        </div>
        <app-common-related-blog-card [posts]="populararticles" [start]="1" [end]="5"></app-common-related-blog-card>
      </div>
      <!-- Start Cricket sidebar -->
      <div class="sidebar-col">
        <div class="common-widget tab-widget">
          <div class="widget-title">
            <h5>Cricket</h5>
          </div>
          <ngb-tabset class="common-tabs">
            <ngb-tab title="Fixtures">
              <ng-template ngbTabContent>
                <ul class="common-list cricket-list">
                    <app-data-loader-widget *ngIf="!matchfixtures || nofixturesdata"></app-data-loader-widget>
                    <app-no-data-widget *ngIf="matchfixtures?.length == 0 || nofixturesdata"></app-no-data-widget>
                  <li *ngFor="let item of matchfixtures | slice:0:4"
                    (click)="matchDetail(item.match_id,item.competitors[0].name,item.competitors[1].name)">
                    <div class="title d-flex justify-content-between">
                      <p><b>{{item.season_name ? item.season_name : item.tournament_name}}</b></p>
                      <p>{{item.scheduled | amTimeAgo }}</p>
                    </div>
                    <div class="match-info d-flex justify-content-between align-items-center">
                      <p><img  [lazyLoad]="item.competitors[0].id | logosurl" [defaultImage]="cricketService.flagplaceholder" alt="rcb">{{item.competitors[0].name}}</p>
                    </div>
                    <div class="match-info d-flex justify-content-between align-items-center">
                      <p><img [lazyLoad]="item.competitors[1].id | logosurl" [defaultImage]="cricketService.flagplaceholder" alt="kxip">{{item.competitors[1].name}}
                      </p>
                    </div>
                    <div class="row">
                      <div class="col-md-9">
                        <p class="result-line">Starts {{item.scheduled | amLocal | amDateFormat:'LT'}} |
                          {{item.city_name}}</p>
                      </div>
                    </div>
                  </li>
                  <li><button [routerLink]="['/cricket/recent-fixtures/upcoming/view']" *ngIf="matchfixtures?.length != 0">View
                      all</button></li>
                </ul>
              </ng-template>
            </ngb-tab>
            <ngb-tab>
              <ng-template ngbTabTitle>
                <div (click)="getMatchResults()">Results</div>
              </ng-template>
              <ng-template ngbTabContent>
                <app-data-loader-widget *ngIf="!matchresults || isnodata"></app-data-loader-widget>
                <app-no-data-widget *ngIf="matchresults?.length == 0 || isnodata"></app-no-data-widget>
                <ul class="common-list cricket-list">
                  <li *ngFor="let result of matchresults | slice:1:5"
                    (click)="matchDetail(result.match_id,result.competitors[0].name,result.competitors[1].name)">
                    <div class="title d-flex justify-content-between">
                      <p><b>{{result.season_name ? result.season_name : result.tournament_name}}</b></p>
                      <p>{{result.scheduled | amTimeAgo}}</p>
                    </div>
                    <div *ngFor="let item of result.period_score_new">
                      <div class="match-info d-flex justify-content-between align-items-center" *ngIf="!item.teamFlag">
                        <p [ngClass]="{'match-winner': item.team.winner}"><img [lazyLoad]="item.team.id | logosurl" [defaultImage]="cricketService.flagplaceholder"
                            alt="rcb">{{item.team.abbreviation}}</p>
                        <p>{{item?.display_score}}({{item?.display_overs}} ov)</p>
                      </div>
                      <div class="match-info d-flex justify-content-between align-items-center" *ngIf="item.teamFlag">
                        <p [ngClass]="{'match-winner': item.team.winner}"><img
                          [lazyLoad]="item.team.id | logosurl" [defaultImage]="cricketService.flagplaceholder" alt="kxip">{{item.team.abbreviation}}
                        </p>
                        <p>{{item?.display_score}}({{item?.display_overs}} ov)</p>
                      </div>
                    </div>
                    <div class="row">
                      <div class="col-md-9">
                        <p class="result-line">{{result?.match_result}}</p>
                      </div>
                    </div>
                  </li>
                  <li><button [routerLink]="['/cricket/recent-fixtures/results/view']" *ngIf="matchresults">View all</button>
                  </li>
                </ul>
              </ng-template>
            </ngb-tab>
          </ngb-tabset>
        </div>
        <app-custom-ads-widget [type]="'Rectangle'"></app-custom-ads-widget>
        <app-custom-ads-widget [type]="'Banner'"></app-custom-ads-widget>
      </div>
      <!-- End Cricket sidebar -->
    </div>
  </div>
</section>
<!-- End Articles -->

<!-- Start Videos -->
<section class="common-section popular-video-section">
  <div class="container">
    <div class="row row-size12">
      <div class="col-xl-9">
        <div class="common-title-btn d-flex justify-content-between align-items-center">
          <h4 class="white-text">Popular Videos</h4>
          <button class="theme-btn" [routerLink]="['/blog/list/popular/video']">View All<span></span></button>
        </div>
      </div>
    </div>
    <div class="row row-size12">
      <div class="col-lg-9 col-md-8" *ngFor="let video of popularvideos | slice:0:1">
        <div class="main-popular-video common-zoom-container common-full-img">
          <div class="common-zoom-img common-overlay" [defaultImage]="largeblogdefault"
            [lazyLoad]="video.sImage | resizeImage:['m']" (click)="blogview(video._id,video.eType,video.sTitle)">
          </div>
          <a class="play-btn"><img src="../../../assets/images/play-btn.svg" alt="play"></a>
          <div class="video-desc">
            <h2 class="white-text"><a (click)="blogview(video._id,video.eType,video.sTitle)">{{video.sTitle}}</a></h2>
            <div class="author-info d-flex justify-content-between align-items-center">
              <p class="author">
                <a (click)="writerview(video?.iId?._id)">{{video.iId.sFirstName}}
                  {{video.iId.sLastName}}</a>{{video.dUpdatedAt | amFromUtc | amLocal | amTimeAgo}}
              </p>
              <p class="view white-view">{{video.nViewCounts}}</p>
            </div>
          </div>
        </div>
      </div>
      <div class="col-lg-3 col-md-4">
        <ng-scrollbar class="custom-scrollbar">
          <div class="home-popular-vid-list">
            <div class="video-item" *ngFor="let video of popularvideos"
              (click)="blogview(video._id,video.eType,video.sTitle)">
              <div class="video-img common-overlay common-zoom-container common-full-img">
                <div class="common-zoom-img" [defaultImage]="smallblogdefault"
                  [lazyLoad]="video.sImage | resizeImage:['s']">
                </div>
                <p class="bold-text white-text" (click)="blogview(video._id,video.eType,video.sTitle)">
                  {{video.sTitle | truncate:[60,'...'] }}
                </p>
              </div>
            </div>
          </div>
        </ng-scrollbar>
      </div>
    </div>
  </div>
  <img class="pattern pattern-left" src="../../../assets/images/video-pattern-img.svg">
  <img class="pattern pattern-right" src="../../../assets/images/video-pattern-img.svg">
</section>
<!-- End Videos -->


<section class="common-section recentnews-section">
  <div class="container">
    <div class="row sidebar-row">
      <div class="content-col">
        <app-common-news-list [reqparams]="commonnewsparams" *ngIf="commonnewsparams"></app-common-news-list>
      </div>
      <div class="sidebar-col">
        <div class="common-stories-widget common-shadow rounded-box">
          <h5>Recommended Stories</h5>
          <ul class="common-list">
            <li *ngFor="let post of recentposts | slice:4:9"><a
                (click)="blogview(post._id,post.eType,post.sTitle)">{{post.sTitle | truncate:[60,'...']}}</a></li>
          </ul>
        </div>
        <app-custom-ads-widget [type]="'Banner'"></app-custom-ads-widget>
      </div>
    </div>
  </div>
</section>
