<app-main-header></app-main-header>
<section class="home-banner">
  <div class="banner-text">
    <div class="container">
      <div class="row">
        <div class="col-md-5">
          <h1 class="white-text">Top Highlights</h1>
          <ul class="banner-news-list">
            <li *ngFor="let post of bannerposts;let i = index;"><a [ngClass]="{'active': i===listindex}"
                (mouseover)="onmouseover(i)">{{post.sTitle}}</a></li>
          </ul>
        </div>
      </div>
    </div>
  </div>
  <div class="banner-images">
    <div class="banner-image" *ngFor="let item of bannerimages; let i=index;" [ngClass]="{'active': i===imageindex}"
      [style.background-image]="'url(' + item + ')'"></div>
  </div>
</section>
<div class="container">
  <img src="../../../assets/images/ad-1320-300.jpg" alt="AD">
</div>
<section class="common-section home-popular-article">
  <div class="container">
    <div class="row sidebar-row">
      <div class="content-col">
        <div class="popular-main-item" *ngFor="let article of populararticles | slice:0:1">
          <div class="item-img common-zoom-container">
            <div class="common-zoom-img" [style.background-image]="'url(' + article.sImage + ')'">
            </div>
          </div>
          <div class="blog-desc">
            <h4><a>{{article.sTitle}}</a></h4>
            <p>{{article.sDescription | truncate:[240,'...']}}</p>
            <div class="author-info d-flex justify-content-between align-items-center">
              <p class="author"><a>{{article.iId.sFirstName}}
                  {{article.iId.sLastName}}</a>{{article.dUpdatedAt | amFromUtc | amLocal | amTimeAgo}}</p>
              <p class="view">{{article.nViewCounts}}</p>
            </div>
          </div>
        </div>
        <div class="ad-block"><img src="../../../assets/images/ad-1320-300.jpg" alt="AD"></div>
        <div class="common-title-btn d-flex justify-content-between align-items-center">
          <h4>Related news</h4>
          <button class="theme-btn">View All<span></span></button>
        </div>
        <div class="common-popular-list">
          <div class="row row-size12">
            <div class="col-md-3">
              <div class="popular-item">
                <div class="img-block common-zoom-container">
                  <div class="common-zoom-img" style="background-image: url(../../../assets/images/re-news-1.jpg)"></div>
                </div>
                <div class="item-desc">
                  <p><a>Haris Sohail's ton in vain as Australia complete clean sweep</a></p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="sidebar-col">
        <div class="common-widget tab-widget">
          <div class="widget-title theme-bg">
            <h5 class="white-text">Cricket</h5>
          </div>
          <ngb-tabset>
            <ngb-tab title="Fixtures">
              <ng-template ngbTabContent>
                <ul class="common-list cricket-list">
                  <li>
                    <div class="title d-flex justify-content-between align-items-center">
                      <p><b>IPL2019</b></p>
                      <p>Today | Match 8</p>
                    </div>
                    <div class="match-info d-flex justify-content-between align-items-center">
                      <p><img src="../../../assets/images/rcb-icon.svg" alt="rcb">RCB</p>
                      <p>187/5(20.0 ov)</p>
                    </div>
                    <div class="match-info match-winner d-flex justify-content-between align-items-center">
                      <p><img src="../../../assets/images/kxip-icon.svg" alt="kxip">KXIP</p>
                      <p>188/2(19.2 ov)</p>
                    </div>
                    <div class="row">
                      <div class="col-md-9">
                        <p class="result-line">Kings XI Punjab beat Royal Challengers Bangalore by 4 wickets</p>
                      </div>
                    </div>
                  </li>
                  <li>
                    <div class="title d-flex justify-content-between align-items-center">
                      <p><b>IPL2019</b></p>
                      <p>Today | Match 8</p>
                    </div>
                    <div class="match-info d-flex justify-content-between align-items-center">
                      <p><img src="../../../assets/images/rcb-icon.svg" alt="rcb">RCB</p>
                      <p>187/5(20.0 ov)</p>
                    </div>
                    <div class="match-info match-winner d-flex justify-content-between align-items-center">
                      <p><img src="../../../assets/images/kxip-icon.svg" alt="kxip">KXIP</p>
                      <p>188/2(19.2 ov)</p>
                    </div>
                    <div class="row">
                      <div class="col-md-9">
                        <p class="result-line">Kings XI Punjab beat Royal Challengers Bangalore by 4 wickets</p>
                      </div>
                    </div>
                  </li>
                  <li>
                    <div class="title d-flex justify-content-between align-items-center">
                      <p><b>IPL2019</b></p>
                      <p>Today | Match 8</p>
                    </div>
                    <div class="match-info d-flex justify-content-between align-items-center">
                      <p><img src="../../../assets/images/rcb-icon.svg" alt="rcb">RCB</p>
                      <p>187/5(20.0 ov)</p>
                    </div>
                    <div class="match-info match-winner d-flex justify-content-between align-items-center">
                      <p><img src="../../../assets/images/kxip-icon.svg" alt="kxip">KXIP</p>
                      <p>188/2(19.2 ov)</p>
                    </div>
                    <div class="row">
                      <div class="col-md-9">
                        <p class="result-line">Kings XI Punjab beat Royal Challengers Bangalore by 4 wickets</p>
                      </div>
                    </div>
                  </li>
                  <li><button>View all</button></li>
                </ul>
              </ng-template>
            </ngb-tab>
            <ngb-tab title="Results">
              <ng-template ngbTabContent>
                <ul class="common-list cricket-list">
                  <li>
                    <div class="title d-flex justify-content-between align-items-center">
                      <p><b>IPL2019</b></p>
                      <p>Today | Match 8</p>
                    </div>
                    <div class="match-info d-flex justify-content-between align-items-center">
                      <p><img src="../../../assets/images/rcb-icon.svg" alt="rcb">RCB</p>
                      <p>187/5(20.0 ov)</p>
                    </div>
                    <div class="match-info match-winner d-flex justify-content-between align-items-center">
                      <p><img src="../../../assets/images/kxip-icon.svg" alt="kxip">KXIP</p>
                      <p>188/2(19.2 ov)</p>
                    </div>
                    <div class="row">
                      <div class="col-md-9">
                        <p class="result-line">Kings XI Punjab beat Royal Challengers Bangalore by 4 wickets</p>
                      </div>
                    </div>
                  </li>
                  <li>
                    <div class="title d-flex justify-content-between align-items-center">
                      <p><b>IPL2019</b></p>
                      <p>Today | Match 8</p>
                    </div>
                    <div class="match-info match-winner d-flex justify-content-between align-items-center">
                      <p><img src="../../../assets/images/rcb-icon.svg" alt="rcb">CSK</p>
                      <p>187/5(20.0 ov)</p>
                    </div>
                    <div class="match-info d-flex justify-content-between align-items-center">
                      <p><img src="../../../assets/images/kxip-icon.svg" alt="kxip">KXIP</p>
                      <p>188/2(19.2 ov)</p>
                    </div>
                    <div class="row">
                      <div class="col-md-9">
                        <p class="result-line">Kings XI Punjab beat Royal Challengers Bangalore by 4 wickets</p>
                      </div>
                    </div>
                  </li>
                  <li><button>View all</button></li>
                </ul>
              </ng-template>
            </ngb-tab>
          </ngb-tabset>
        </div>
        <div class="ad-block"><img src="../../../assets/images/ad-320-80.jpg" alt="AD"></div>
        <div class="ad-block"><img src="../../../assets/images/ad-320-267.jpg" alt="AD"></div>
      </div>
    </div>
  </div>
</section>
<section class="common-section popular-video-section">
  <div class="container">
    <div class="home-video-title d-flex justify-content-between align-items-center">
      <h2 class="white-text">Popular Video</h2>
      <button class="theme-btn">View All</button>
    </div>
    <div class="row">
      <div class="col-lg-8 col-md-7">
        <div class="main-popular-video">
          <video id="videobtn" width="100%" height="489" preload="none" [poster]="popularvideos[0]?.sImage
          " #videoele controlsList="nodownload">
            <source [src]="popularvideos[0]?.sVideo" type="video/mp4">
          </video>
          <div class="play-btn-block" [ngClass]="{'video-play-hide': !isPlayBtn}"><button
              (click)="playvideo()"></button></div>
        </div>
        <h3><a>{{popularvideos[0]?.sTitle}}</a></h3>
      </div>
      <div class="col-lg-4 col-md-5">
        <ng-scrollbar class="custom-scrollbar">
          <div class="home-popular-vid-list">
            <div class="video-item d-flex align-items-center" *ngFor="let item of popularvideos">
              <div class="video-img common-zoom-container">
                <div class="common-zoom-img" [style.background-image]="'url(' + item.sImage + ')'">
                </div>
              </div>
              <p class="small-text"><a>{{item.sTitle}}</a></p>
            </div>
            <!-- <div class="video-item d-flex align-items-center">
              <div class="video-img common-zoom-container">
                <div class="common-zoom-img" style="background-image: url(../../../assets/images/video-thumb-2.jpg)">
                </div>
              </div>
              <p class="small-text"><a>Five IPL players who have successfully auditioned for CWC19</a></p>
            </div>
            <div class="video-item d-flex align-items-center">
              <div class="video-img common-zoom-container">
                <div class="common-zoom-img" style="background-image: url(../../../assets/images/video-thumb-1.jpg)">
                </div>
              </div>
              <p class="small-text"><a>How Bumrah upstaged the Kohli-de Villiers symphony</a></p>
            </div>
            <div class="video-item d-flex align-items-center">
              <div class="video-img common-zoom-container">
                <div class="common-zoom-img" style="background-image: url(../../../assets/images/video-thumb-2.jpg)">
                </div>
              </div>
              <p class="small-text"><a>Talking points: Gayle turns middle overs into death overs</a></p>
            </div>
            <div class="video-item d-flex align-items-center">
              <div class="video-img common-zoom-container">
                <div class="common-zoom-img" style="background-image: url(../../../assets/images/video-thumb-1.jpg)">
                </div>
              </div>
              <p class="small-text"><a>Talking points: Gayle turns middle overs into death overs</a></p>
            </div>
            <div class="video-item d-flex align-items-center">
              <div class="video-img common-zoom-container">
                <div class="common-zoom-img" style="background-image: url(../../../assets/images/video-thumb-2.jpg)">
                </div>
              </div>
              <p class="small-text"><a>Talking points: Gayle turns middle overs into death overs</a></p>
            </div> -->
          </div>
        </ng-scrollbar>
      </div>
    </div>
  </div>
  <img class="pattern" src="../../../assets/images/video-pattern.svg">
</section>
<div class="container">
  <img src="../../../assets/images/ad-1320-300.jpg" alt="AD">
</div>
<section class="common-section recentnews-section">
  <div class="container">
    <div class="row sidebar-row">
      <div class="sidebar-col"></div>
      <div class="content-col">
        <div class="home-recentnews-title d-flex justify-content-between align-items-center">
          <h2>RECENT news</h2>
          <button class="theme-btn">View All</button>
        </div>
      </div>
    </div>
    <div class="row sidebar-row">
      <div class="sidebar-col">
        <div class="common-widget">
          <div class="widget-title theme-bg">
            <h5 class="white-text">Popular Right Now</h5>
          </div>
          <ul class="common-list">
            <li><a>IPL 2019</a></li>
            <li><a>Australia vs Pakistan</a></li>
            <li><a>Sri Lanka vs South Africa</a></li>
            <li><a>Virat Kohli</a></li>
            <li><a>Mumbai Indians</a></li>
            <li><button>View all</button></li>
          </ul>
        </div>
        <div class="ad-block"><img src="../../../assets/images/ad-320-80.jpg" alt="AD"></div>
      </div>
      <div class="content-col">
        <div class="common-news-list">
          <div class="common-news-item d-flex" *ngFor="let item of recentposts">
            <div class="common-news-img common-zoom-container">
              <div class="common-zoom-img" [ngClass]="{'common-news-video': item.eType == 'Video'}"
                [style.background-image]="'url(' + item.sImage + ')'"></div>
            </div>
            <div class="common-news-desc">
              <div class="news-excerpt">
                <h5><a>{{item.sTitle}}</a></h5>
                <p>{{item.sDescription | truncate:[160,'...']}}</p>
              </div>
              <div class="common-news-bootom d-flex justify-content-between align-items-center">
                <p class="author"><span class="theme-color">{{item.iId.sFirstName}}
                    {{item.iId.sLastName}}</span>{{item.dUpdatedAt | amFromUtc | amLocal | amTimeAgo}}</p>
                <p class="view">{{item.nViewCounts}}</p>
              </div>
            </div>
          </div>
        </div>
        <button class="theme-btn full-btn">MORE STORIES</button>
      </div>
    </div>
  </div>
</section>
<!-- <section class="common-section cricket-recentnews recentnews-section">
  <div class="container">
    <div class="row sidebar-row">
      <div class="sidebar-col"></div>
      <div class="content-col">
        <div class="home-recentnews-title d-flex justify-content-between align-items-center">
          <h2>RECENT news</h2>
          <button class="theme-btn">View All</button>
        </div>
      </div>
    </div>
    <div class="row sidebar-row">
      <div class="sidebar-col">
        <div class="common-widget">
          <div class="widget-title theme-bg">
            <h5 class="white-text">Popular Right Now</h5>
          </div>
          <ul class="common-list">
            <li><a>IPL 2019</a></li>
            <li><a>Australia vs Pakistan</a></li>
            <li><a>Sri Lanka vs South Africa</a></li>
            <li><a>Virat Kohli</a></li>
            <li><a>Mumbai Indians</a></li>
            <li><button>View all</button></li>
          </ul>
        </div>
        <div class="ad-block"><img src="../../../assets/images/ad-320-80.jpg" alt="AD"></div>
      </div>
      <div class="content-col">
        <div class="common-news-list">
          <div class="common-news-item d-flex">
            <div class="common-news-img common-zoom-container">
              <div class="common-zoom-img"></div>
            </div>
            <div class="common-news-desc">
              <div class="news-excerpt">
                <h5><a>The time has come for Mumbai Indians to look beyond Kieron Pollard</a></h5>
                <p>Another new season, and another dismal start for the Mumbai Indians. Year after year, it has become a pattern for the Mumbai-based franchise…</p>
              </div>
              <div class="common-news-bootom d-flex justify-content-between align-items-center">
                <p class="author"><span class="theme-color">Alexander Ljung</span>3hrs ago</p>
                <p class="view">3.2K</p>
              </div>
            </div>
          </div>
        </div>
        <button class="theme-btn full-btn">MORE STORIES</button>
      </div>
    </div>
  </div>
</section> -->
<app-main-footer></app-main-footer>
<img #img style="display:none;" crossOrigin="Anonymous" (load)="myfn()">