<section class="common-section">
  <div class="container">
    <div class="row sidebar-row">
      <div class="content-col">
        <div class="common-title-btn big-title-btn common-dropdown-title d-flex justify-content-between align-items-center">
          <h1>{{ 'widgetModule.Table' | translate }}</h1>
          <div class="nba-common-selection d-flex">
            <div ngbDropdown class="common-dropdown date-dropdown" *ngIf="seasons?.length > 0" #seasonDrop="ngbDropdown"
              placement="bottom">
              <button id="dropdownBasic1" ngbDropdownToggle>{{filter.name}}</button>
              <div ngbDropdownMenu aria-labelledby="dropdownBasic1">
                <button ngbDropdownItem *ngFor="let season of seasons"
                  (click)="seasonDrop.close();filterHockeySeason(season);"
                  [ngClass]="{'selected' : filter.name == season.name  }">
                  {{season.name}}
                </button>
              </div>
            </div>
          </div>
        </div>
        <app-loader *ngIf="loading"></app-loader>
        <app-no-data-widget *ngIf="!loading && !standings" [sport]="'Badminton'"></app-no-data-widget>

        <ng-container *ngIf="standings && standings.groups">
          <ng-container *ngFor="let group of standings.groups">
            <app-player-table [data]="group.standings" [options]=" {
                    titles : ['POS',('Shared_Module2.TEAM' | translate), 'P', 'W', 'L', 'D', 'GF', 'GA', 'GD', 'PTS'],
                     sort : [true,false, true, true, true, true, true, true, true, true],
                    values : ['rank', 'name', 'played', 'win', 'loss', 'draw', 'goals_for', 'goals_against', 'goals_diff', 'points'],
                    class : ['tour-stand-table'],
                    class_light_row : ['light-row'],
                    header_title : group.name,
                    sport : 'Badminton'
                  }">
            </app-player-table>
          </ng-container>
        </ng-container>

      </div>
      <div class="sidebar-col">
        <div class="sticky-sidebar">
          <app-custom-ads-widget [type]="'Banner'"></app-custom-ads-widget>
          <app-top-scorer-widget [sport]="'Badminton'"></app-top-scorer-widget>
          <!-- <app-custom-ads-widget [type]="'Rectangle'"></app-custom-ads-widget> -->
        </div>
      </div>
    </div>
  </div>
</section>