<div class="common-news-list" *ngIf="articles && articles?.length > 0">
  <app-blog-card [posts]="articles" *ngIf="options.card_type" [card_type]="options.card_type" [sport]="sport">
  </app-blog-card>
  <app-blog-card [posts]="articles" *ngIf="!options.card_type" [card_type]="'list'" [sport]="sport"></app-blog-card>
</div>
<app-loader *ngIf="isLoading"></app-loader>
<app-no-data-widget *ngIf="!isLoading && articles?.length == 0 || !articles" [sport]="sport"></app-no-data-widget>

<div class="text-center">
  <a class="theme-btn down-btn" (click)="loadmore()" *ngIf="!isLoading && articles?.length > 0 && isLoadMore">
    {{'widgetModule.Load_more' | translate}}<span></span></a>

  <!-- <div class="common-stories-widget common-shadow rounded-box" *ngIf="widgetblogs?.length > 0">
    <h5>Recent Stories</h5>
    <ul class="common-list">
      <li *ngFor="let item of widgetblogs | slice:0:5"><a [routerLink]="['/blog',(item.eType |lowercase) , item._id , item.sSlug ]">{{item.sTitle}}</a></li>
    </ul>
  </div> -->
</div>