<section class="common-section cricket-recentnews recentnews-section">
  <div class="container">
    <div class="row sidebar-row">
      <div class="content-col">
        <div class="common-title-btn big-title-btn d-flex justify-content-between align-items-center">
          <h1>Table</h1>
        </div>
        <app-loader *ngIf="loading"></app-loader>
        <app-no-data-widget *ngIf="!loading && !info"></app-no-data-widget>
        
        <ng-container *ngIf="info && info.standings">
        <ng-container *ngFor="let standing of info.standings">
          <app-player-table [data]="standing.tables"
              [options]=" {
                  titles : ['POS', 'TEAM', 'P', 'W', 'L', 'D', 'SD', 'PTS'],
                  values : ['position', 'tname', 'matchplayed', 'win', 'loss', 'draw', 'scoredifference', 'totalpoints'],
                  class : ['tour-stats-table'],
                  class_light_row : ['light-row'],
                  header_title : standing.name,
                  sport : 'kabaddi'
                }">
            </app-player-table>
        </ng-container>
        </ng-container>

      </div>
      <div class="sidebar-col">
        <div class="sticky-sidebar">
          <app-custom-ads-widget [type]="'Banner'"></app-custom-ads-widget>
          <!--Recommended links-->
          <!-- <app-common-story-widget  [title]="'Current Series'" [type]="'currentseries'"></app-common-story-widget> -->
          <!-- <app-sidebar-links [sport]="'Cricket'" [link_type]="'tournament'" [options]="{type: 'current', title:'Current Series'}"></app-sidebar-links> -->
            <div class="common-widget tab-widget" *ngIf="scorerdata && scorerdata?.length > 0 ">
              <div class="widget-title">
                <h5>Top Scorers</h5>
              </div>
              <ngb-tabset class="common-tabs">
                <ngb-tab>
                  <ng-template ngbTabTitle><div (click)="gettopscorer('totalpoint')">Points</div></ng-template>
                  <ng-template ngbTabContent>
                    <ul class="common-list player-score-list">
                      <li class="top-player d-flex" *ngFor="let item of (scorerdata | slice:0:1);let i = index;">
                        <img alt="player" [offset]="commonService.lazyloadoffset"
                          [lazyLoad]="cricketService.playerplaceholder"
                          [defaultImage]="cricketService.playerplaceholder">
                        <div class="top-player-inner">
                          <p class="num">{{i+1}}.</p>
                          <div class="player-names">
                            <p class="name">
                              <a
                                [routerLink]="['/cricket/player',(item.pid ),(item.name | slugify)]">
                                {{item.name | split}}
                              </a>
                            </p>
                            <p class="team">{{item.tname}}</p>
                          </div>
                          <div class="player-score">
                            <h3>{{item.totalpoint}}</h3>
                            <p class="score-property">Points</p>
                          </div>
                        </div>
                      </li>
                      <li class="common-player d-flex justify-content-between align-items-center"
                        *ngFor="let item of (scorerdata | slice:1:10);let i = index;">
                        <p class="num">{{i+2}}.</p>
                        <div class="player-names">
                          <p class="name">
                            <a
                              [routerLink]="['/kabaddi/player', (item.tid) , (item.pid ),(item.name | slugify)]">
                              {{item.name | split}}
                            </a>
                          </p>
                          <p class="team">{{item.tname}}</p>
                        </div>
                        <div class="player-score">
                          <h3>{{item.totalpoint}}</h3>
                          <p class="score-property">Points</p>
                        </div>
                      </li>
                      <li><a class="view-all-btn" [routerLink]="['./stats']">View all</a></li>
                    </ul>
                  </ng-template>
                </ngb-tab>
                <ngb-tab>
                  <ng-template ngbTabTitle><div (click)="gettopscorer('raidtotalpoint')">Raid Points</div></ng-template>
                  <ng-template ngbTabContent>
                    <ul class="common-list player-score-list">
                      <li class="top-player d-flex" *ngFor="let item of (scorerdata | slice:0:1);let i = index;">
                        <img alt="player" [offset]="commonService.lazyloadoffset"
                          [lazyLoad]="cricketService.playerplaceholder"
                          [defaultImage]="cricketService.playerplaceholder">
                        <div class="top-player-inner">
                          <p class="num">{{i+1}}.</p>
                          <div class="player-names">
                            <p class="name">
                              <a
                                [routerLink]="['/cricket/player',(item.pid ),(item.name | slugify)]">
                                {{item.name | split}}
                              </a>
                            </p>
                            <p class="team">{{item.tname}}</p>
                          </div>
                          <div class="player-score">
                            <h3>{{item.raidtotalpoint}}</h3>
                            <p class="score-property">Points</p>
                          </div>
                        </div>
                      </li>
                      <li class="common-player d-flex justify-content-between align-items-center"
                        *ngFor="let item of (scorerdata | slice:1:10);let i = index;">
                        <p class="num">{{i+2}}.</p>
                        <div class="player-names">
                          <p class="name">
                            <a
                              [routerLink]="['/kabaddi/player', (item.tid) , (item.pid ),(item.name | slugify)]">
                              {{item.name | split}}
                            </a>
                          </p>
                          <p class="team">{{item.tname}}</p>
                        </div>
                        <div class="player-score">
                          <h3>{{item.raidtotalpoint}}</h3>
                          <p class="score-property">Points</p>
                        </div>
                      </li>
                      <li><a class="view-all-btn" [routerLink]="['./stats']">View all</a></li>
                    </ul>
                  </ng-template>
                </ngb-tab>
              </ngb-tabset>
            </div>
          <app-custom-ads-widget [type]="'Rectangle'"></app-custom-ads-widget>
        </div>
      </div>
    </div>
  </div>
</section>