<section class="common-section cricket-recentnews recentnews-section">
  <div class="container">
    <div class="row sidebar-row">
      <div class="content-col">
        <div class="common-title-btn big-title-btn d-flex justify-content-between align-items-center">
          <h1>Table</h1>
        </div>
        <app-loader *ngIf="loading"></app-loader>
        <app-no-data-widget *ngIf="!info"></app-no-data-widget>
        
        <ng-container *ngIf="info && info.standings">
        <ng-container *ngFor="let standing of info.standings">
          <app-player-table [data]="standing.tables"
              [options]=" {
                  titles : ['POS', 'TEAM', 'P', 'W', 'L', 'D', 'SD', 'PTS'],
                  values : ['position', 'tname', 'matchplayed', 'win', 'loss', 'draw', 'scoredifference', 'totalpoints'],
                  class : ['tour-stats-table'],
                  class_light_row : ['light-row'],
                  header_title : standing.name,
                  sport : 'kabaddi'
                }">
            </app-player-table>
        </ng-container>
        </ng-container>

      </div>
      <div class="sidebar-col">
        <div class="sticky-sidebar">
          <app-custom-ads-widget [type]="'Banner'"></app-custom-ads-widget>
          <!--Recommended links-->
          <!-- <app-common-story-widget  [title]="'Current Series'" [type]="'currentseries'"></app-common-story-widget> -->

          <app-custom-ads-widget [type]="'Rectangle'"></app-custom-ads-widget>
        </div>
      </div>
    </div>
  </div>
</section>