<app-loader *ngIf="loading"></app-loader>
<app-no-data-widget *ngIf="!loading && (!matchInfo)" [sport]="'Badminton'"></app-no-data-widget>
<section class="common-section" *ngIf="matchInfo">
  <div class="container">
    <div class="row sidebar-row">
      <div class="content-col">
        <!-- START - ABOUT MATCH-->
        <app-match-about [data]="matchInfo" [competitor]="matchInfo?.sport_event?.competitors" [toss]=""
          [sport]="'Badminton'"></app-match-about>
        <!-- END - ABOUT MATCH-->

        <!-- START - MATCH TABS-->
        <ngb-tabset class="common-tabs match-tabs">
          <!--START - COMMENTARY  -->

          <ngb-tab>
            <ng-template ngbTabTitle>{{ 'Cricket_Module.Commentary' | translate }}</ng-template>
            <ng-template ngbTabContent>
              <app-no-data-widget
                *ngIf="(!matchInfo?.timeline || !matchInfo?.sport_event_status?.period_scores) && matchInfo?.sport_event_status?.status != 'not_started'"
                [sport]="'Badminton'">
              </app-no-data-widget>
              <app-countdown *ngIf="matchInfo?.sport_event_status?.status == 'not_started'"
                [scheduled]="matchInfo?.sport_event?.start_time">
              </app-countdown>

              <ngb-tabset class="filled-tabs"
                *ngIf="matchInfo?.timeline && matchInfo?.sport_event_status?.period_scores && matchInfo?.sport_event_status?.period_scores.length > 0">
                <ng-container>
                  <ng-container *ngFor="let period of matchInfo?.sport_event_status?.period_scores">
                    <ngb-tab title="{{ 'Set ' + period.number}}">
                      <ng-template ngbTabContent>
                        <div class="badminton-commentry rounded-box common-shadow text-center">
                          <ng-container *ngFor="let timeline of matchInfo?.timeline">
                            <div class="commentry-item"
                              *ngIf="timeline.period == period.number && timeline.home_score && timeline.away_score">
                              <div class="item-inner d-flex justify-content-between mx-auto light-text">
                                <span
                                  [ngClass]="{'highlight' : timeline.home_score > timeline.away_score}">{{timeline.home_score}}</span>
                                <span>-</span>
                                <span
                                  [ngClass]="{'highlight' : timeline.away_score > timeline.home_score}">{{timeline.away_score}}</span>
                              </div>
                              <span class="time">{{timeline.time | date:'h:mm a'}}</span>
                            </div>
                          </ng-container>
                        </div>
                      </ng-template>
                    </ngb-tab>
                  </ng-container>
                </ng-container>

              </ngb-tabset>

            </ng-template>
          </ngb-tab>
          <!--END - COMMENTARY  -->

          <!--START - NEWS TAB-->
          <ngb-tab>
            <ng-template ngbTabTitle>{{ 'Shared_module.news' | translate }}</ng-template>
            <ng-template ngbTabContent>
              <app-blog-list *ngIf="paramArticle" [options]="paramArticle" [sport]="'Badminton'">
              </app-blog-list>
            </ng-template>
          </ngb-tab>
          <!--END - NEWS TAB-->
        </ngb-tabset>
        <!-- END - MATCH TABS-->
      </div>
      <div class="sidebar-col">
        <div class="sticky-sidebar">
          <!--START - SIDERBAR ADS-->
          <app-custom-ads-widget [type]="'Banner'"></app-custom-ads-widget>
          <!--END - SIDERBAR ADS-->
          <!--START - SIDERBAR STORY-->
          <!-- <app-sidebar-links [sport]="'Cricket'" [link_type]="'tournament'"
            [options]="{type: 'current', title:'Recommended Links'}"></app-sidebar-links> -->
          <!--START - SIDERBAR STORY-->
          <app-custom-ads-widget [type]="'Rectangle'"></app-custom-ads-widget>
        </div>
      </div>
    </div>
  </div>
</section>