.owl-theme .owl-nav                             { position: absolute; margin: 0px; left: 0px; top: 50%; width: 100%; }
.owl-theme .owl-nav [class*="owl-"]             { position: absolute; margin: 0px; width: 44px; height: 44px; background: rgba(255,255,255,0.10); font-size: 0px; transform: translateY(-50%); -webkit-transform: translateY(-50%); border: none; border-radius: 16px;  transition: all 0.3s ease-in-out; -webkit-transition: all 0.3s ease-in-out;}
.owl-theme .owl-nav [class*="owl-"]:hover       { background-color: rgba(255,255,255,0.20);}
.owl-theme .owl-nav .owl-prev                   { left: -50px; }
.owl-theme .owl-nav .owl-next                   { right: -50px;}
.owl-theme .owl-nav [class*="owl-"]:after       { content: ""; position: absolute; left: 0px; top: 0px; height: 100%; width: 100%; background: url(assets/images/right-arrow.svg) no-repeat center center;}
.owl-theme .owl-nav .owl-prev:after             { transform: rotate(180deg); -webkit-transform: rotate(180deg); }
@media (max-width: 575px) {
  .owl-theme .owl-nav [class*="owl-"] { width: 32px; height: 32px; border-radius: 10px;}
  .owl-theme .owl-nav .owl-prev       { left: -30px; }
  .owl-theme .owl-nav .owl-next       { right: -30px;}
}
