<section class="common-section cricket-recentnews recentnews-section">
  <div class="container">
    <div class="row sidebar-row">
      <div class="content-col">
        <div class="common-title-btn big-title-btn d-flex justify-content-between align-items-center">
          <h1>Teams</h1>
        </div>
        <app-loader *ngIf="!teams"></app-loader>
        <app-no-data-widget *ngIf="teams?.length == 0"></app-no-data-widget>
        <app-team-card [teams]="teams" [sport]="sport" [tournament]="tournamentid"></app-team-card>
        <!-- 
            For Kabaddi 
            <div class="team-group-list">
            <div class="team-group common-section top-padding">
              <h4>Group A</h4>
              <app-team-card [teams]="teams" [sport]="sport" [tournament]="tournamentid"></app-team-card>
            </div>
            <div class="team-group common-section top-padding">
              <h4>Group B</h4>
              <app-team-card [teams]="teams" [sport]="sport" [tournament]="tournamentid"></app-team-card>
            </div>          
          </div> -->
      </div>
      <div class="sidebar-col">
        <div class="sticky-sidebar">
          <app-custom-ads-widget [type]="'Banner'"></app-custom-ads-widget>
          <app-top-scorer-widget [sport]="'kabaddi'" *ngIf="sport == 'kabaddi'"></app-top-scorer-widget>
          <!--Current series widget-->
          <app-sidebar-links [sport]="'Cricket'" [link_type]="'tournament'"
            [options]="{type: 'current', title:'Current Series'}" *ngIf="sport == 'cricket'"></app-sidebar-links>
          <!-- <app-custom-ads-widget [type]="'Rectangle'"></app-custom-ads-widget> -->
        </div>
      </div>
    </div>
  </div>
</section>