.team-group.common-section:first-child  { padding-top: 0px; }
.team-group h4                          { margin-bottom: 24px;}


@media (max-width: 767px) {
    .team-group h4                      { margin-bottom: 12px;}
}