<section class="common-section cricket-recentnews recentnews-section">
  <div class="container">
    <div class="row sidebar-row">
      <div class="content-col">
        <div class="common-title-btn big-title-btn d-flex justify-content-between align-items-center">
          <h1>{{ 'widgetModule.Table' | translate }}</h1>
        </div>
        <app-loader *ngIf="loading"></app-loader>
        <app-no-data-widget *ngIf="!loading && pointstable?.length == 0" [message]="'No standings data available!'">
        </app-no-data-widget>
        <ng-container *ngIf="pointstable">
          <app-player-table [data]="pointstable[0]?.groups[0]?.standings" [options]="{
                  titles : ['POS',('Shared_Module2.TEAM' | translate),'P', 'W', 'L', 'D', 'GF','GA','GD','PTS'],
                  values : ['rank', 'competitor.name', 'played', 'win', 'loss', 'draw', 'goals_for','goals_against','goals_diff','points'],
                  class : ['tour-stand-table'],
                  sport : 'soccer'
                }">
          </app-player-table>
        </ng-container>
      </div>
      <div class="sidebar-col">
        <div class="sticky-sidebar">
          <app-custom-ads-widget [type]="'Banner'"></app-custom-ads-widget>
          <app-sidebar-links [sport]="'Soccer'" [link_type]="'popular'"
            [options]="{reqParams:{'eSport' : 'Soccer'}, type: 'tags', title:('Cricket_Module.Popular_Right_Now' | translate)}">
          </app-sidebar-links>
          <!-- <app-custom-ads-widget [type]="'Rectangle'"></app-custom-ads-widget> -->
        </div>
      </div>
    </div>
  </div>
</section>