<app-loader *ngIf="loading"></app-loader>
<app-no-data-widget *ngIf="!loading && (!matchInfo)"></app-no-data-widget>
<section class="common-section cricket-recentnews recentnews-section" *ngIf="matchInfo">
  <div class="container">
    <div class="row sidebar-row">
      <div class="content-col">
        <!-- <app-loader *ngIf="!matchdata"></app-loader> -->
        <!-- START - ABOUT MATCH-->
        <app-match-about [data]="matchInfo" [competitor]="team" [toss]="" [sport]="'soccer'"></app-match-about>
        <!-- END - ABOUT MATCH-->
        <!-- START - MATCH TABS-->
        <ngb-tabset class="common-tabs match-tabs">
          <!-- START - MATCH COMMENTRY-->
          <ngb-tab id="commentry">
            <ng-template ngbTabTitle>{{ 'Kabaddi_Module.commentary' | translate }}</ng-template>
            <ng-template ngbTabContent>
              <!-- <h5>Match Commentary</h5> -->
              <!-- <app-loader *ngIf="loading"></app-loader> -->
              <ng-container *ngIf="matchInfo">
                <!-- <app-goal-commentry *ngIf="commentry.length > 0" [commentry]="commentry"></app-goal-commentry> -->
                <app-countdown *ngIf="commentry.length == 0 && matchInfo.sport_event_status?.status == 'not_started'"
                  [scheduled]="matchInfo.sport_event?.start_time" [sport]="'soccer'"></app-countdown>
              </ng-container>
            </ng-template>
          </ngb-tab>
          <!-- END - MATCH COMMENTRY-->
          <!-- START - LINEUPS-->
          <ngb-tab id="lineups"  *ngIf="matchLineups?.lineups?.competitors.length > 0">
            <ng-template ngbTabTitle >
              <div>{{ 'Kabaddi_Module.Lineups' | translate }}</div>
            </ng-template>
            <ng-template ngbTabContent>
              <app-lineup [lineup]="matchLineups.lineups" [team]="team" [sport]="'soccer'"> </app-lineup>
            </ng-template>
          </ngb-tab>
          <!-- END - LINEUPS-->
          <!--START - Stats-->
          <ngb-tab>
            <ng-template ngbTabTitle>
              <!-- <div (click)="getMatchstats(matchInfo.match_info.mid)">{{ 'widgetModule.Stats' | translate }}</div> -->
            </ng-template>
            <ng-template ngbTabContent>
              <!-- <app-loader *ngIf="statsLoading"></app-loader>
              <app-no-data-widget *ngIf="!statsLoading && (!matchStats)"></app-no-data-widget> -->
              <!-- <app-no-data-widget [sport]="'kabaddi'" [message]="'Coming Soon..!'">
              </app-no-data-widget> -->
              <!-- <div class="match-stats common-shadow rounded-box" *ngIf="matchStats">
                <div class="stat-row head-row d-flex align-items-center">
                  <div>
                    <p class="d-flex align-items-center justify-content-end">
                      <b>
                        <a
                          [routerLink]="['/kabaddi/team', matchStats?.match_info?.teams?.home?.tid, (matchStats?.match_info?.teams?.home?.tname | slugify )]">
                          {{matchStats.match_info.teams.home.tname}}
                        </a>
                      </b>
                      <img alt="{{matchStats?.match_info?.teams?.home?.tname}}"
                        [lazyLoad]="matchStats?.match_info?.teams?.home?.logo"
                        [defaultImage]="cricketService.teamPlaceholder" [offset]="commonService.lazyloadoffset">
                    </p>
                  </div>
                  <div class="center-col">
                    <h5>{{ 'Kabaddi_Module.match_stats' | translate }}</h5>
                  </div>
                  <div>
                    <p class="d-flex align-items-center justify-content-end">
                      <a
                        [routerLink]="['/kabaddi/team', matchStats?.match_info?.teams?.away?.tid, (matchStats?.match_info?.teams?.away?.tname | slugify )]">
                        {{matchStats.match_info.teams.away.tname}}
                      </a>
                      <img alt="{{matchStats?.match_info?.teams?.away?.tname}}"
                        [lazyLoad]="matchStats?.match_info?.teams?.away?.logo"
                        [defaultImage]="cricketService.teamPlaceholder" [offset]="commonService.lazyloadoffset">
                    </p>
                  </div>
                </div>
                <div class="stat-row point-row d-flex align-items-center">
                  <div>
                    <p
                      [ngClass]="{'hightlight': matchStats.match_info.result?.home > matchStats.match_info.result?.away}">
                      <b>{{ ((matchStats.match_info.result?.home) / ((matchStats.match_info.result?.home | strTonumber) + (matchStats.match_info.result?.away | strTonumber)) * 100) | number:'2.0-0' }}</b><span
                        class="point-line"
                        [ngStyle]="{'width': 'calc('+ ((matchStats.match_info.result?.home) / ((matchStats.match_info.result?.home | strTonumber) + (matchStats.match_info.result?.away | strTonumber)) * 100) +'% * 0.8 )'}"><span></span></span>
                    </p>
                  </div>
                  <div class="center-col">
                    <p>{{ 'widgetModule.points' | translate }}%</p>
                  </div>
                  <div>
                    <p
                      [ngClass]="{'hightlight': matchStats.match_info.result?.away > matchStats.match_info.result?.home}">
                      <span class="point-line"
                        [ngStyle]="{'width': 'calc('+ ((matchStats.match_info.result?.away) / ((matchStats.match_info.result?.home | strTonumber) + (matchStats.match_info.result?.away | strTonumber)) * 100) +'% * 0.8 )'}"><span></span></span>
                      <b>{{ ((matchStats.match_info.result?.away) / ((matchStats.match_info.result?.home | strTonumber) + (matchStats.match_info.result?.away | strTonumber)) * 100) | number:'2.0-0' }}</b>
                    </p>
                  </div>
                </div>
                <div class="stat-row d-flex align-items-center">
                  <div>
                    <p
                      [ngClass]="{'hightlight': matchStats.team_stats.home.raidtotalpoint > matchStats.team_stats.away.raidtotalpoint}">
                      <b>{{matchStats.team_stats.home.raidtotalpoint}}</b></p>
                  </div>
                  <div class="center-col">
                    <p>{{ 'widgetModule.Raid_Points' | translate }}</p>
                  </div>
                  <div>
                    <p
                      [ngClass]="{'hightlight': matchStats.team_stats.away.raidtotalpoint > matchStats.team_stats.home.raidtotalpoint}">
                      <b>{{matchStats.team_stats.away.raidtotalpoint}}</b></p>
                  </div>
                </div>
                <div class="stat-row d-flex align-items-center">
                  <div>
                    <p
                      [ngClass]="{'hightlight': matchStats.team_stats.home.tackletotalpoint > matchStats.team_stats.away.tackletotalpoint}">
                      <b>{{matchStats.team_stats.home.tackletotalpoint}}</b></p>
                  </div>
                  <div class="center-col">
                    <p>{{ 'Kabaddi_Module.tackle_point' | translate }}</p>
                  </div>
                  <div>
                    <p
                      [ngClass]="{'hightlight': matchStats.team_stats.away.tackletotalpoint > matchStats.team_stats.home.tackletotalpoint}">
                      <b>{{matchStats.team_stats.away.tackletotalpoint}}</b></p>
                  </div>
                </div>
                <div class="stat-row d-flex align-items-center">
                  <div>
                    <p
                      [ngClass]="{'hightlight': matchStats.team_stats.home.alloutpoint > matchStats.team_stats.away.alloutpoint }">
                      <b>{{matchStats.team_stats.home.alloutpoint}}</b></p>
                  </div>
                  <div class="center-col">
                    <p>{{ 'Kabaddi_Module.all_out_point' | translate }}</p>
                  </div>
                  <div>
                    <p
                      [ngClass]="{'hightlight': matchStats.team_stats.away.alloutpoint > matchStats.team_stats.home.alloutpoint}">
                      <b>{{matchStats.team_stats.away.alloutpoint}}</b></p>
                  </div>
                </div>
                <div class="stat-row d-flex align-items-center">
                  <div>
                    <p
                      [ngClass]="{'hightlight': matchStats.team_stats.home.extrapoint > matchStats.team_stats.away.extrapoint}">
                      <b>{{matchStats.team_stats.home.extrapoint}}</b></p>
                  </div>
                  <div class="center-col">
                    <p>{{ 'Kabaddi_Module.extra_points' | translate }}</p>
                  </div>
                  <div>
                    <p
                      [ngClass]="{'hightlight': matchStats.team_stats.away.extrapoint > matchStats.team_stats.home.extrapoint}">
                      <b>{{matchStats.team_stats.away.extrapoint}}</b></p>
                  </div>
                </div>
              </div> -->
            </ng-template>
          </ngb-tab>
          <!--END - Stats-->
          <!-- START - Info-->
          <ngb-tab>
            <ng-template ngbTabTitle>
              <div>{{ 'Kabaddi_Module.Info' | translate }}</div>
            </ng-template>
            <ng-template ngbTabContent>
              <!-- <app-match-info-card [options]="{
             sport:'kabaddi',
             titles : [('Cricket_Module.Match' | translate), ('Kabaddi_Module2.Tournament' | translate), ('Kabaddi_Module2.Zone' | translate),('widgetModule.venue' | translate)],
             values : [matchInfo.match_info.title,matchInfo.match_info.competition.cname,matchInfo.match_info.zone ? matchInfo.match_info.zone : '-',matchInfo.match_info.venue.name] }
             " [data]="matchInfo" *ngIf="matchInfo"></app-match-info-card>
              <h4 class="line-title">{{ 'Kabaddi_Module.venue_details' | translate }}</h4>
              <app-venue-map-card [sport]="'kabaddi'" [venuedetails]="venuedetails" *ngIf="venuedetails">
              </app-venue-map-card> -->
            </ng-template>
          </ngb-tab>
          <!--START - NEWS TAB-->
          <ngb-tab>
            <ng-template ngbTabTitle>{{ 'Shared_module.news' | translate }}</ng-template>
            <ng-template ngbTabContent>
              <!-- <app-blog-list *ngIf="paramArticle" [options]="paramArticle">
              </app-blog-list> -->
            </ng-template>
          </ngb-tab>
          <!--END - NEWS TAB-->
        </ngb-tabset>
        <!-- END - MATCH TABS-->
      </div>
      <div class="sidebar-col">
        <div class="sticky-sidebar">
          <!--START - SIDERBAR ADS-->
          <app-custom-ads-widget [type]="'Banner'"></app-custom-ads-widget>
          <!--END - SIDERBAR ADS-->
          <!--START - SIDERBAR STORY-->
          <!-- <app-sidebar-links [sport]="'Cricket'" [link_type]="'tournament'"
            [options]="{type: 'current', title:'Recommended Links'}"></app-sidebar-links> -->
          <!--START - SIDERBAR STORY-->
          <app-custom-ads-widget [type]="'Rectangle'"></app-custom-ads-widget>
        </div>
      </div>
    </div>
  </div>
</section>