.head-to-head                   { padding: 24px; text-align: center; }
.head-to-head .head-team        { width: 50%; }
.head-to-head .head-center      { width: 30%; flex-shrink: 0; -webkit-flex-shrink: 0; }
.head-to-head h1                { margin: -10px 0px; font-family: inherit; font-style: normal; }
.head-to-head .head-center h1   { font-size: 64px; line-height: 84px; }
.head-to-head .flag-img         { height: 102px; border: 2px solid #EBEBEB; border-radius: 4px; }

/***** Responsive CSS Start ******/
@media (min-width: 1200px) and (max-width: 1379px) {
    .head-to-head .flag-img     { height: 92px; }
}
    
@media (max-width: 1199px) {
    .head-to-head                   { padding: 20px; }
    .head-to-head .flag-img         { height: 72px; }
    .head-to-head .head-center h1   { font-size: 52px; line-height: 72px; }
}

@media (max-width: 768px) {
    .head-to-head                   { padding: 16px; }
    .head-to-head .flag-img         { height: 62px; }
    .head-to-head h1                { margin: -6px 0px; }
    .head-to-head .head-center h1   { font-size: 42px; line-height: 56px; }
}

@media (max-width: 576px) {
    .head-to-head                   { padding: 12px 8px; }
    .head-to-head .flag-img         { height: 36px; }
    .head-to-head h1                { margin: -4px 0px; }
    .head-to-head .head-center h1   { font-size: 30px; line-height: 42px; }
}