<app-loader *ngIf="loading"></app-loader>
<app-no-data-widget *ngIf="!loading && (!matchInfo)"></app-no-data-widget>
<section class="common-section cricket-recentnews recentnews-section" *ngIf="matchInfo">
  <div class="container">
    <div class="row sidebar-row">
      <div class="content-col">
        <!-- <app-loader *ngIf="!matchdata"></app-loader> -->
        <!-- START - ABOUT MATCH-->
        <app-match-about [data]="matchInfo" [competitor]="team" [toss]="" [sport]="'soccer'"></app-match-about>
        <!-- END - ABOUT MATCH-->
        <!-- START - MATCH TABS-->
        <ngb-tabset class="common-tabs match-tabs">
          <!-- START - MATCH COMMENTRY-->
          <ngb-tab id="commentry">
            <ng-template ngbTabTitle>{{ 'Kabaddi_Module.commentary' | translate }}</ng-template>
            <ng-template ngbTabContent>
              <!-- <h5>Match Commentary</h5> -->
              <!-- <app-loader *ngIf="loading"></app-loader> -->
              <ng-container *ngIf="matchInfo">
                <!-- <app-goal-commentry *ngIf="commentry.length > 0" [commentry]="commentry"></app-goal-commentry> -->
                <app-countdown *ngIf="commentry.length == 0 && matchInfo.sport_event_status?.status == 'not_started'"
                  [scheduled]="matchInfo.sport_event?.start_time" [sport]="'soccer'"></app-countdown>
              </ng-container>
            </ng-template>
          </ngb-tab>
          <!-- END - MATCH COMMENTRY-->
          <!-- START - LINEUPS-->
          <ngb-tab id="lineups" *ngIf="(matchLineups?.lineups | json) != '{}'">
            <ng-template ngbTabTitle>
              <div>{{ 'Kabaddi_Module.Lineups' | translate }} </div>
            </ng-template>
            <ng-template ngbTabContent>
              <app-lineup [lineup]="matchLineups" [team]="team" [sport]="'soccer'"> </app-lineup>
            </ng-template>
          </ngb-tab>
          <!-- END - LINEUPS-->
          <!--START - Stats-->
          <ngb-tab>
            <ng-template ngbTabTitle>
              <div (click)="getMatchstats(matchInfo.sport_event.id)">{{ 'widgetModule.Stats' | translate }}</div>
            </ng-template>
            <ng-template ngbTabContent>
              <app-loader *ngIf="statsLoading"></app-loader>
              <app-no-data-widget *ngIf="!statsLoading && (!matchStats)"></app-no-data-widget>
              <app-match-stats [sport]="'soccer'" [matchStats]="team" [info]="matchInfo"
                *ngIf="team.home.statistics && team.away.statistics"></app-match-stats>
              <!-- <section class="common-section top-padding">
                <h4 class="line-title">Head-to-Head</h4>
                <div class="head-to-head common-shadow rounded-box d-flex justify-content-between align-items-center">
                  <div class="head-team d-flex justify-content-between align-items-center">
                    <img class="flag-img" src="assets/images/sample/India-flag.svg">
                    <div class="">
                      <p class="no-margin">Wins</p>
                      <h1>16</h1>
                    </div>
                  </div>
                  <div class="head-center">
                    <p class="no-margin">Played</p>
                    <h1>23</h1>
                    <p class="no-margin">Draw : 3</p>
                  </div>
                  <div class="head-team d-flex justify-content-between align-items-center">
                    <div>
                      <p class="no-margin">Wins</p>
                      <h1>16</h1>
                    </div>
                    <img class="flag-img" src="assets/images/sample/India-flag.svg">
                  </div>
                </div>
              </section>
              <section class="common-section top-padding">
                <h4 class="line-title">Form</h4>
                <div class="form-teams-block common-shadow rounded-box d-flex">
                  <div>
                    <div>
                      <img class="flag-img" src="assets/images/sample/India-flag.svg" alt="team">
                      <h5>Wolverhampton Wanderers</h5>
                    </div>
                    <ul class="form-match-list">
                      <li>
                        <div ngbDropdown class="d-inline-block">
                          <button class="win" id="dropdownBasic1" ngbDropdownToggle>w</button>
                          <div ngbDropdownMenu aria-labelledby="dropdownBasic1">
                            <h1>3-2</h1>
                            <p class="t-name">vs Brazil <img src="assets/images/sample/India-flag.svg" alt="team"></p>
                            <p class="no-margin">Premier League 2018/19</p>
                          </div>
                        </div>
                      </li>
                      <li>
                        <div ngbDropdown class="d-inline-block">
                          <button class="win" id="dropdownBasic1" ngbDropdownToggle>w</button>
                          <div ngbDropdownMenu aria-labelledby="dropdownBasic1">
                            <h1>3-2</h1>
                            <p class="t-name">vs Brazil <img src="assets/images/sample/India-flag.svg" alt="team"></p>
                            <p class="no-margin">Premier League 2018/19</p>
                          </div>
                        </div>
                      </li>
                      <li>
                        <div ngbDropdown class="d-inline-block">
                          <button class="" id="dropdownBasic1" ngbDropdownToggle>d</button>
                          <div ngbDropdownMenu aria-labelledby="dropdownBasic1">
                            <h1>3-2</h1>
                            <p class="t-name">vs Brazil <img src="assets/images/sample/India-flag.svg" alt="team"></p>
                            <p class="no-margin">Premier League 2018/19</p>
                          </div>
                        </div>
                      </li>
                      <li>
                        <div ngbDropdown class="d-inline-block">
                          <button class="loss" id="dropdownBasic1" ngbDropdownToggle>l</button>
                          <div ngbDropdownMenu aria-labelledby="dropdownBasic1">
                            <h1>3-2</h1>
                            <p class="t-name">vs Brazil <img src="assets/images/sample/India-flag.svg" alt="team"></p>
                            <p class="no-margin">Premier League 2018/19</p>
                          </div>
                        </div>
                      </li>
                      <li>
                        <div ngbDropdown class="d-inline-block">
                          <button class="win" id="dropdownBasic1" ngbDropdownToggle>w</button>
                          <div ngbDropdownMenu aria-labelledby="dropdownBasic1">
                            <h1>3-2</h1>
                            <p class="t-name">vs Brazil <img src="assets/images/sample/India-flag.svg" alt="team"></p>
                            <p class="no-margin">Premier League 2018/19</p>
                          </div>
                        </div>
                      </li>
                    </ul>
                  </div>
                  <div>
                    <div class="">
                      <img class="flag-img" src="assets/images/sample/India-flag.svg">
                      <h5>Wolverhampton Wanderers</h5>
                    </div>
                    <ul class="form-match-list">
                      <li>
                        <div ngbDropdown class="d-inline-block">
                          <button class="win" id="dropdownBasic1" ngbDropdownToggle>w</button>
                          <div ngbDropdownMenu aria-labelledby="dropdownBasic1">
                            <h1>3-2</h1>
                            <p class="t-name">vs Brazil <img src="assets/images/sample/India-flag.svg" alt="team"></p>
                            <p class="no-margin">Premier League 2018/19</p>
                          </div>
                        </div>
                      </li>
                      <li>
                        <div ngbDropdown class="d-inline-block">
                          <button class="win" id="dropdownBasic1" ngbDropdownToggle>w</button>
                          <div ngbDropdownMenu aria-labelledby="dropdownBasic1">
                            <h1>3-2</h1>
                            <p class="t-name">vs Brazil <img src="assets/images/sample/India-flag.svg" alt="team"></p>
                            <p class="no-margin">Premier League 2018/19</p>
                          </div>
                        </div>
                      </li>
                      <li>
                        <div ngbDropdown class="d-inline-block">
                          <button class="" id="dropdownBasic1" ngbDropdownToggle>d</button>
                          <div ngbDropdownMenu aria-labelledby="dropdownBasic1">
                            <h1>3-2</h1>
                            <p class="t-name">vs Brazil <img src="assets/images/sample/India-flag.svg" alt="team"></p>
                            <p class="no-margin">Premier League 2018/19</p>
                          </div>
                        </div>
                      </li>
                      <li>
                        <div ngbDropdown class="d-inline-block">
                          <button class="loss" id="dropdownBasic1" ngbDropdownToggle>l</button>
                          <div ngbDropdownMenu aria-labelledby="dropdownBasic1">
                            <h1>3-2</h1>
                            <p class="t-name">vs Brazil <img src="assets/images/sample/India-flag.svg" alt="team"></p>
                            <p class="no-margin">Premier League 2018/19</p>
                          </div>
                        </div>
                      </li>
                      <li>
                        <div ngbDropdown class="d-inline-block">
                          <button class="win" id="dropdownBasic1" ngbDropdownToggle>w</button>
                          <div ngbDropdownMenu aria-labelledby="dropdownBasic1">
                            <h1>3-2</h1>
                            <p class="t-name">vs Brazil <img src="assets/images/sample/India-flag.svg" alt="team"></p>
                            <p class="no-margin">Premier League 2018/19</p>
                          </div>
                        </div>
                      </li>
                    </ul>
                  </div>
                </div>
              </section> -->
            </ng-template>
          </ngb-tab>
          <!--END - Stats-->
          <!-- START - Info-->
          <ngb-tab>
            <ng-template ngbTabTitle>
              <div>{{ 'Kabaddi_Module.Info' | translate }}</div>
            </ng-template>
            <ng-template ngbTabContent>
              <app-match-info-card [options]="{
             sport:'soccer',
             titles : [('Cricket_Module.Match' | translate), ('Kabaddi_Module2.Tournament' | translate), ('Kabaddi_Module2.Zone' | translate),('widgetModule.venue' | translate),('Cricket_Module.Weather_Condition' | translate),('Cricket_Module.Pitch_Condition' | translate),'Referee'],
             values : [matchInfo.match_title, matchInfo.sport_event?.sport_event_context?.season?.name ,matchInfo.sport_event.sport_event_context.group?.name ,matchInfo.sport_event.venue?.name, matchInfo.sport_event.sport_event_conditions?.weather?.overall_conditions ,matchInfo.sport_event.sport_event_conditions?.weather?.pitch_conditions, matchInfo.sport_event.sport_event_conditions?.referee?.name] }" [data]="matchInfo" *ngIf="matchInfo"></app-match-info-card>
              <!-- <h4 class="line-title">{{ 'Kabaddi_Module.venue_details' | translate }}</h4> -->
              <app-venue-map-card [sport]="'soccer'" [venuedetails]="matchInfo?.venuedetails" *ngIf="matchInfo?.venuedetails">
              </app-venue-map-card>
            </ng-template>
          </ngb-tab>
          <!--START - NEWS TAB-->
          <ngb-tab>
            <ng-template ngbTabTitle>{{ 'Shared_module.news' | translate }}</ng-template>
            <ng-template ngbTabContent>
              <app-blog-list *ngIf="paramArticle" [options]="paramArticle">
              </app-blog-list>
            </ng-template>
          </ngb-tab>
          <!--END - NEWS TAB-->
        </ngb-tabset>
        <!-- END - MATCH TABS-->
      </div>
      <div class="sidebar-col">
        <div class="sticky-sidebar">
          <!--START - SIDERBAR ADS-->
          <app-custom-ads-widget [type]="'Banner'"></app-custom-ads-widget>
          <!--END - SIDERBAR ADS-->
          <!--START - SIDERBAR STORY-->
          <!-- <app-sidebar-links [sport]="'Cricket'" [link_type]="'tournament'"
            [options]="{type: 'current', title:'Recommended Links'}"></app-sidebar-links> -->
          <!--START - SIDERBAR STORY-->
          <app-custom-ads-widget [type]="'Rectangle'"></app-custom-ads-widget>
        </div>
      </div>
    </div>
  </div>
</section>