<app-loader *ngIf="loading"></app-loader>
<app-no-data-widget *ngIf="!loading && (!matchInfo)"></app-no-data-widget>
<section class="common-section cricket-recentnews recentnews-section" *ngIf="matchInfo">
  <div class="container">
    <div class="row sidebar-row">
      <div class="content-col">
        <!-- <app-loader *ngIf="!matchdata"></app-loader> -->
        <!-- START - ABOUT MATCH-->
        <app-match-about *ngIf="team.home && team.away" [data]="matchInfo" [competitor]="team" [toss]=""
          [sport]="'soccer'"></app-match-about>
        <!-- END - ABOUT MATCH-->
        <!-- START - MATCH TABS-->
        <ngb-tabset class="common-tabs match-tabs">
          <!-- START - MATCH COMMENTRY-->
          <ngb-tab id="commentry"
            *ngIf="matchInfo.sport_event_status?.status == 'not_started' || ((matchInfo.sport_event_status?.status == 'live' || matchInfo.sport_event_status?.status == 'closed') && matchInfo?.sport_event?.coverage?.sport_event_properties?.commentary)">
            <ng-template ngbTabTitle>{{ 'Kabaddi_Module.commentary' | translate }}</ng-template>
            <ng-template ngbTabContent>
              <!-- <h5>Match Commentary</h5> -->
              <!-- <app-loader *ngIf="loading"></app-loader> -->
              <ng-container *ngIf="matchInfo">
                <app-goal-commentry *ngIf="matchInfo?.timeline && matchInfo?.timeline.length > 0"
                  [commentry]="matchInfo?.timeline" [sport]="'soccer'" [team]="team"></app-goal-commentry>
                <app-countdown *ngIf="!matchInfo?.timeline && matchInfo.sport_event_status?.status == 'not_started'"
                  [scheduled]="matchInfo.sport_event?.start_time" [sport]="'soccer'"></app-countdown>
                <app-no-data-widget *ngIf="(matchInfo.sport_event_status?.status == 'live' && !matchInfo?.timeline)"
                  [sport]="'soccer'"></app-no-data-widget>
              </ng-container>
            </ng-template>
          </ngb-tab>
          <!-- END - MATCH COMMENTRY-->
          <!-- START - LINEUPS-->
          <ngb-tab id="lineups" *ngIf="matchLineups?.lineups && (matchLineups?.lineups | json) != '{}'">
            <ng-template ngbTabTitle>
              <div>{{ 'Kabaddi_Module.Lineups' | translate }} </div>
            </ng-template>
            <ng-template ngbTabContent>
              <app-lineup [lineup]="matchLineups" [team]="team" [sport]="'soccer'"> </app-lineup>
            </ng-template>
          </ngb-tab>
          <!-- END - LINEUPS-->
          <!--START - Stats-->
          <ngb-tab>
            <ng-template ngbTabTitle>
              <div>{{ 'widgetModule.Stats' | translate }}</div>
            </ng-template>
            <ng-template ngbTabContent>
              <app-loader *ngIf="lineupLoading"></app-loader>
              <app-no-data-widget
                *ngIf="!lineupLoading && (!matchStats) && teamvsteamdata?.length == 0 && (teamssummary.team1.matches.length == 0 && teamssummary.team2.matches.length)"
                [sport]="'soccer'"></app-no-data-widget>
              <app-match-stats [sport]="'soccer'" [matchStats]="team" [info]="matchInfo"
                *ngIf="!lineupLoading && team?.home?.statistics && team?.away?.statistics"></app-match-stats>

              <!--head to head section start-->
              <section class="common-section top-padding" *ngIf="teamvsteamdata && teamvsteamdata?.length > 0">
                <h4 class="line-title">Head-to-Head</h4>
                <div class="head-to-head common-shadow rounded-box d-flex justify-content-between align-items-center">
                  <div class="head-team d-flex justify-content-between align-items-center">
                    <div class="flag-block">
                      <img class="flag-img" [offset]="commonService.lazyloadoffset"
                        [lazyLoad]="headtohead?.team1?.id | logosurl:'soccer'"
                        [defaultImage]="commonService.flagplaceholder" alt="team-flag">
                      <p>
                        <a
                          [routerLink]="['/soccer/team', (headtohead?.teams?.team1?.id | splitID), (headtohead?.teams?.team1?.name | slugify )]">
                          {{headtohead?.teams?.team1?.name}}
                        </a>
                      </p>
                    </div>
                    <div class="">
                      <p class="no-margin">Wins</p>
                      <h1>{{headtohead?.teams?.team1?.total}}</h1>
                    </div>
                  </div>
                  <div class="head-center">
                    <p class="no-margin">Played</p>
                    <h1>{{headtohead?.totalmatches}}</h1>
                    <p class="no-margin">Draw : {{headtohead?.draw}}</p>
                  </div>
                  <div class="head-team d-flex justify-content-between align-items-center">
                    <div>
                      <p class="no-margin">Wins</p>
                      <h1>{{headtohead?.teams?.team2?.total}}</h1>
                    </div>
                    <div class="flag-block">
                      <img class="flag-img" [offset]="commonService.lazyloadoffset"
                        [lazyLoad]="headtohead?.team2?.id | logosurl:'soccer'"
                        [defaultImage]="commonService.flagplaceholder" alt="team-flag">
                      <p>
                        <a
                          [routerLink]="['/soccer/team', (headtohead?.teams?.team2?.id | splitID), (headtohead?.teams?.team2?.name | slugify )]">
                          {{headtohead?.teams?.team2?.name}}
                        </a>
                      </p>
                    </div>
                  </div>
                </div>
              </section>
              <!--head to head section end-->

              <!-- last meetings section -->
              <section class="last-meetings-section" *ngIf="teamvsteamdata && teamvsteamdata?.length > 0">
                <h4 class="line-title">{{'Cricket_Module.Last_meetings' | translate}}</h4>
                <app-schedule [data]="teamvsteamdata" [type]="'result'" [sport]="'soccer'" [tournament]="' '"
                  *ngIf="teamvsteamdata?.length > 0"></app-schedule>
              </section>
              <!-- last meetings section end-->

              <!--Individual Team Form Section start-->
              <section class="common-section top-padding"
                *ngIf="teamssummary.team1.matches.length > 0 && teamssummary.team2.matches.length > 0 ">
                <h4 class="line-title">Form</h4>
                <div class="form-teams-block common-shadow rounded-box d-flex">
                  <div>
                    <div>
                      <img class="flag-img" [lazyLoad]="teamssummary?.team1?.info?.id | logosurl:'soccer'"
                        [defaultImage]="commonService.flagplaceholder" alt="team">
                      <h5>
                        <a
                          [routerLink]="['/soccer/team', (teamssummary?.team1?.info?.id | splitID), (teamssummary?.team1?.info?.name | slugify )]">
                          {{teamssummary?.team1?.info?.name}}
                        </a>
                      </h5>
                    </div>
                    <ul class="form-match-list">
                      <li *ngFor="let match of teamssummary.team1.matches">

                        <div class="d-inline-block" ngbDropdown #myDrop="ngbDropdown">
                          <button id="dropdownBasic1" ngbDropdownAnchor (mouseover)="myDrop.open()"
                            (mouseout)="myDrop.close();"
                            [ngClass]="{'win':match.result == 'winner', 'loss': match.result == 'loss', '':match.result == 'draw'}">
                            {{match.result == 'winner' ? 'w' : match.result == 'loss' ? 'L' : 'D' }}
                          </button>
                          <div ngbDropdownMenu aria-labelledby="dropdownBasic1">
                            <h1>
                              {{ match?.sport_event_status?.home_score + '-' + match?.sport_event_status?.away_score  }}
                            </h1>
                            <p class="t-name">vs {{match?.oppteamname}}<img
                                [lazyLoad]="match?.oppteamid | logosurl:'soccer'"
                                [defaultImage]="commonService.flagplaceholder" alt="team"></p>
                            <p class="no-margin">{{match?.sport_event?.season?.name}}</p>
                          </div>
                        </div>

                    </ul>
                  </div>
                  <div>

                    <div class="">
                      <img class="flag-img" [lazyLoad]="teamssummary?.team2?.info?.id | logosurl:'soccer'"
                        [defaultImage]="commonService.flagplaceholder" alt="team">
                      <h5>
                        <a
                          [routerLink]="['/soccer/team', (teamssummary?.team2?.info?.id | splitID), (teamssummary?.team2?.info?.name | slugify )]">
                          {{teamssummary?.team2?.info?.name}}
                        </a>
                      </h5>
                    </div>
                    <ul class="form-match-list">
                      <li *ngFor="let match of teamssummary.team2.matches">

                        <div class="d-inline-block" ngbDropdown #myDrop="ngbDropdown">
                          <button id="dropdownBasic1" ngbDropdownAnchor (mouseover)="myDrop.open()"
                            (mouseout)="myDrop.close();"
                            [ngClass]="{'win':match.result == 'winner', 'loss': match.result == 'loss', '':match.result == 'draw'}">
                            {{match.result == 'winner' ? 'w' : match.result == 'loss' ? 'L' : 'D' }}
                          </button>
                          <div ngbDropdownMenu aria-labelledby="dropdownBasic1">
                            <h1>
                              {{ match?.sport_event_status?.home_score + '-' + match?.sport_event_status?.away_score  }}
                            </h1>
                            <p class="t-name">vs {{match?.oppteamname}}<img
                                [lazyLoad]="match?.oppteamid | logosurl:'soccer'"
                                [defaultImage]="commonService.flagplaceholder" alt="team"></p>
                            <p class="no-margin">{{match?.sport_event?.season?.name}}</p>
                          </div>
                        </div>

                    </ul>
                  </div>
                </div>
              </section>
              <!--Individual Team Form Section end-->
            </ng-template>
          </ngb-tab>
          <!--END - Stats-->
          <!-- START - Info-->
          <ngb-tab>
            <ng-template ngbTabTitle>
              <div>{{ 'Kabaddi_Module.Info' | translate }}</div>
            </ng-template>
            <ng-template ngbTabContent>
              <app-match-info-card
                [options]="{
             sport:'soccer',
             titles : [('Cricket_Module.Match' | translate), ('Kabaddi_Module2.Tournament' | translate), ('Kabaddi_Module2.Zone' | translate),('widgetModule.venue' | translate),('Cricket_Module.Weather_Condition' | translate),('Cricket_Module.Pitch_Condition' | translate),'Referee'],
             values : [matchInfo.match_title, matchInfo.sport_event?.sport_event_context?.season?.name ,matchInfo.sport_event.sport_event_context.group?.name ,matchInfo.sport_event.venue?.name, matchInfo.sport_event.sport_event_conditions?.weather?.overall_conditions ,matchInfo.sport_event.sport_event_conditions?.weather?.pitch_conditions, matchInfo.sport_event.sport_event_conditions?.referee?.name] }"
                [data]="matchInfo" *ngIf="matchInfo"></app-match-info-card>
              <!-- <h4 class="line-title">{{ 'Kabaddi_Module.venue_details' | translate }}</h4> -->
              <app-venue-map-card [sport]="'soccer'" [venuedetails]="matchInfo?.venuedetails"
                *ngIf="matchInfo?.venuedetails">
              </app-venue-map-card>
            </ng-template>
          </ngb-tab>
          <!--START - NEWS TAB-->
          <ngb-tab>
            <ng-template ngbTabTitle>{{ 'Shared_module.news' | translate }}</ng-template>
            <ng-template ngbTabContent>
              <app-blog-list *ngIf="paramArticle" [options]="paramArticle">
              </app-blog-list>
            </ng-template>
          </ngb-tab>
          <!--END - NEWS TAB-->
        </ngb-tabset>
        <!-- END - MATCH TABS-->
      </div>
      <div class="sidebar-col">
        <div class="sticky-sidebar">
          <!--START - SIDERBAR ADS-->
          <app-custom-ads-widget [type]="'Banner'"></app-custom-ads-widget>
          <!--END - SIDERBAR ADS-->
          <!--START - SIDERBAR STORY-->
          <!-- <app-sidebar-links [sport]="'Cricket'" [link_type]="'tournament'"
            [options]="{type: 'current', title:'Recommended Links'}"></app-sidebar-links> -->
          <!--START - SIDERBAR STORY-->
          <app-custom-ads-widget [type]="'Rectangle'"></app-custom-ads-widget>
        </div>
      </div>
    </div>
  </div>
</section>