<section class="common-section">
  <div class="container">
    <div class="common-desc-block ad-desc-block common-shadow rounded-box ">
      <div class="row row-size12">
        <div class="col-lg-7">
          <h1>Advertise with us</h1>
          <app-content [cmsKey]="'Advertise With Us'"></app-content>
        </div>
        <div class="col-lg-5">
          <img src="assets/images/static/about-img.jpg" alt="about">
        </div>
      </div>
    </div>
  </div>
</section>
<section class="common-form-section">
  <div class="container">
    <div class="common-section">
      <div class="common-desc-block common-shadow rounded-box">
        <div class="row row-size12">
          <div class="col-lg-4">
            <div class="title-block">
              <h1>Ready to reach our audience?</h1>
              <p>Fill up this form and our staff will contact you soon.</p>
            </div>
          </div>
          <div class="col-lg-8">
            <div *ngIf="!submitsuccess">
            <form [formGroup]="advertiseForm" (ngSubmit)="submit()" novalidate>
              <div class="row">
                <div class="col-md-6">
                  <div class="form-group" [ngClass]="{'has-error': submitted && f.sName.errors}">
                    <input type="text" class="form-control" placeholder="Full Name" formControlName="sName">
                    <span  *ngIf="submitted && f.sName.hasError('required')">This field is required!</span>
                  </div>
                </div>
                <div class="col-md-6">
                  <div class="form-group" [ngClass]="{'has-error': submitted && f.sCompanyName.errors}">
                    <input type="text" class="form-control" placeholder="Company" formControlName="sCompanyName">
                    <span  *ngIf="submitted && f.sCompanyName.hasError('required')">This field is required!</span>
                  </div>
                </div>
              </div>
              <div class="row">
                <div class="col-md-6">
                  <div class="form-group" [ngClass]="{'has-error': submitted && f.sEmail.errors}">
                    <input type="email" class="form-control" placeholder="Email" formControlName="sEmail"> 
                    <span  *ngIf="submitted && f.sEmail.hasError('required')">This field is required!</span>
                    <span  *ngIf="submitted && f.sEmail.hasError('email')">Please enter valid email address</span>
                  </div>
                </div>
                <div class="col-md-6">
                  <div class="form-group" [ngClass]="{'has-error': submitted && f.sMobile.errors}">
                    <input type="text" class="form-control" placeholder="Phone" formControlName="sMobile">
                    <span  *ngIf="submitted && f.sMobile.hasError('required')">This field is required!</span>
                  </div>
                </div>
              </div>
              <div class="row">
                <div class="col-md-12">
                  <div class="form-group" [ngClass]="{'has-error': submitted && f.sMessage.errors}">
                    <textarea type="text" class="form-control" placeholder="How can we help ?" formControlName="sMessage"></textarea>
                    <span *ngIf="submitted && f.sMessage.hasError('required')">This field is required!</span>
                  </div>
                </div>
              </div>
              <button class="theme-btn" type="submit" [disabled]="btnDisable">Submit<span></span></button>
            </form>
            </div>
            <div class="form-sucess-block" *ngIf="submitsuccess">
                <img src="assets/images/static/submit-right-icon.svg" alt="sucess">
                <p class="light-text">Your ads inquiry submitted to admin. he will contact you soon.</p>
                <button class="theme-btn" type="submit" (click)="anothersubmit()" >Submit another response<span></span></button>
              </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>