<section class="common-section">
  <div class="container">
    <div class="row sidebar-row">

      <div class="content-col">
        <app-loader *ngIf="loading"></app-loader>
        <app-no-data-widget *ngIf="!loading && !teamProfile" [sport]="sport"></app-no-data-widget>

        <div *ngIf="teamProfile"
          class="common-title-btn big-title-btn tab-title-btn d-flex justify-content-between align-items-center"
          [ngSwitch]="sport">
          <ng-container *ngSwitchCase="'Cricket'">
            <ng-container
              *ngTemplateOutlet="title; context: {title: teamProfile?.name, options : {id:teamProfile?.id,type:'team',sport:'cricket',name:teamProfile?.name}}">
            </ng-container>
          </ng-container>
          <ng-container *ngSwitchCase="'Kabaddi'">
            <ng-container
              *ngTemplateOutlet="title; context: {title: teamProfile?.tname, options : {id:teamProfile?.tid,type:'team',sport:'kabaddi',name:teamProfile?.tname}}">
            </ng-container>
          </ng-container>
          <ng-container *ngSwitchCase="'Soccer'">
            <ng-container
              *ngTemplateOutlet="title; context: {title: teamProfile?.competitor?.name, options : {id:teamProfile?.competitor?.id,type:'team',sport:'soccer',name:teamProfile?.competitor?.name}}">
            </ng-container>
          </ng-container>
          <ng-container *ngSwitchCase="'Basketball'">
            <ng-container
              *ngTemplateOutlet="title; context: {title: teamProfile?.name, options : {id:teamProfile?.competitor?.id,type:'team',sport:'basketball',name:teamProfile?.name}}">
            </ng-container>
          </ng-container>
        </div>

        <ngb-tabset class="common-tabs" *ngIf="teamProfile">
          <!-- About Section-->
          <ngb-tab>
            <ng-template ngbTabTitle>{{ 'Footer.About' | translate }}</ng-template>
            <ng-template ngbTabContent>
              <app-loader *ngIf="loading"></app-loader>
              <app-no-data-widget *ngIf="!loading && !teamProfile" [sport]="sport"></app-no-data-widget>

              <!-- About Team Section-->
              <ng-container [ngSwitch]="sport">
                <section class="team-about-head d-flex" *ngSwitchCase="'Cricket'">
                  <div class="team-logo align-self-start rounded-box common-shadow">
                    <div class="team-logo-img" [lazyLoad]="teamProfile?.id | logosurl"
                      [defaultImage]="commonService.teamPlaceholder" [offset]="commonService.lazyloadoffset"></div>
                  </div>
                  <div class="team-info d-flex rounded-box common-shadow">
                    <div class="info-col">
                      <div class="info-item" *ngIf="teamProfile?.abbreviation">
                        <p class="title light-text">{{ 'Shared_module.Abbreviation' | translate }}</p>
                        <p>{{teamProfile?.abbreviation}}</p>
                      </div>
                      <div class="info-item" *ngIf="teamProfile?.manager_name">
                        <p class="title light-text">{{ 'Shared_module.Manager' | translate }}</p>
                        <p>{{teamProfile?.manager_name | split}}</p>
                      </div>
                    </div>
                    <div class="info-col">
                      <div class="info-item" *ngIf="teamProfile?.results">
                        <p class="title light-text">{{ 'Shared_module.Recent_matches' | translate }}</p>
                        <ul class="match-result">
                          <li [ngClass]="{'win': item == 'W'}" *ngFor="let item of teamProfile?.results">{{item}}</li>
                        </ul>
                      </div>
                    </div>
                  </div>
                </section>

                <section class="team-about-head d-flex" *ngSwitchCase="'Kabaddi'">
                  <div class="team-logo align-self-start rounded-box common-shadow">
                    <div class="team-logo-img" [lazyLoad]="teamProfile?.tid | logosurl:'kabaddi'"
                      [defaultImage]="commonService.teamPlaceholder" [offset]="commonService.lazyloadoffset"></div>
                  </div>
                  <div class="team-info d-flex rounded-box common-shadow">
                    <div class="info-col">
                      <div class="info-item" *ngIf="teamProfile?.venue && teamProfile?.venue?.name">
                        <p class="title light-text">{{ 'Shared_module.Stadium' | translate }}</p>
                        <p>{{teamProfile?.venue?.name}}</p>
                      </div>
                      <div class="info-item" *ngIf="teamProfile?.founded">
                        <p class="title light-text">{{ 'Shared_module.Founded' | translate }}</p>
                        <p *ngIf="teamProfile?.venue?.name">{{teamProfile?.founded}}</p>
                      </div>
                    </div>
                  </div>
                </section>

                <section class="team-about-head d-flex" *ngSwitchCase="'Soccer'">
                  <div class="team-logo align-self-start rounded-box common-shadow">
                    <div class="team-logo-img" [lazyLoad]="teamProfile?.competitor?.id | logosurl:'soccer'"
                      [defaultImage]="commonService.teamPlaceholder" [offset]="commonService.lazyloadoffset"></div>
                  </div>
                  <div class="team-info d-flex rounded-box common-shadow">
                    <div class="info-col">
                      <div class="info-item" *ngIf="teamProfile?.competitor?.country">
                        <p class="title light-text">{{ 'Soccer_Module.Country' | translate }}</p>
                        <p>{{teamProfile?.competitor?.country}}</p>
                      </div>
                      <div class="info-item" *ngIf="teamProfile?.venue?.name">
                        <p class="title light-text">{{ 'Shared_module.Stadium' | translate }}</p>
                        <p> {{teamProfile?.venue?.name}} </p>
                      </div>
                    </div>
                    <!-- <p *ngIf="teamProfile?.venue?.name"><p
                            class="title light-text">{{ 'Shared_module.Stadium' | translate }} :
                          </p>{{teamProfile?.venue?.name}}</p> -->
                    <div class="info-col">
                      <div class="info-item" *ngIf="teamProfile?.manager?.name">
                        <p class="title light-text">{{ 'Shared_module.Manager' | translate }}</p>
                        <p> {{teamProfile?.manager?.name}} </p>
                      </div>
                      <div class="info-item" *ngIf="teamProfile?.competitor?.abbreviation">
                        <p class="title light-text">{{ 'Shared_module.Abbreviation' | translate }}</p>
                        <p> {{teamProfile?.competitor?.abbreviation}}
                        </p>
                      </div>
                    </div>
                    <div class="info-col"></div>
                  </div>
                </section>

                <section class="team-about-head d-flex" *ngSwitchCase="'Basketball'">
                  <div class="team-logo align-self-start rounded-box common-shadow">
                    <div class="team-logo-img" [lazyLoad]="teamProfile?.sr_id.id | logosurl:'basketball'"
                      [defaultImage]="commonService.teamPlaceholder" [offset]="commonService.lazyloadoffset"></div>
                  </div>
                  <div class="team-info soccer-team-info d-flex rounded-box common-shadow">
                    <div class="info-col">
                      <div class="info-item" *ngIf="teamProfile?.founded">
                        <p class="title light-text">{{ 'Shared_module.Founded' | translate }}</p>
                        <p>{{teamProfile?.founded}}</p>
                      </div>
                      <div class="info-item" *ngIf="teamProfile?.coaches">
                        <p class="title light-text">{{ 'Coach' | translate }}</p>
                        <p> {{teamProfile?.coaches[0]?.full_name}} </p>
                      </div>
                    </div>
                    <div class="info-col">
                      <div class="info-item" *ngIf="teamProfile?.division?.name">
                        <p class="title light-text">{{ 'Division' | translate }}</p>
                        <p> {{teamProfile?.division?.name}} </p>
                      </div>
                      <div class="info-item" *ngIf="teamProfile?.conference?.name">
                        <p class="title light-text">{{ 'Conference' | translate }}</p>
                        <p> {{teamProfile?.conference?.name}}
                        </p>
                      </div>
                    </div>

                    <div class="info-col">
                      <div class="info-item" *ngIf="teamProfile?.venue?.name && teamProfile?.venue?.address">
                        <p class="title light-text">{{ 'Shared_module.Stadium' | translate }}</p>
                        <p> {{teamProfile?.venue?.name}}, {{teamProfile?.venue?.address}} </p>
                      </div>
                    </div>
                  </div>
                </section>
              </ng-container>

              <!-- Squad Section-->
              <section class="common-section squad-list">
                <h4 class="squad-title"
                  *ngIf="teamProfile?.players?.length > 0 || teamProfile?.squads?.length > 0;then squadList else no_players">
                  {{ 'Shared_module.Squad' | translate }}
                </h4>
              </section>
              <ng-template #squadList>
                <div class="squad-group">
                  <ng-container [ngSwitch]="sport">

                    <div class="row row-size12" *ngSwitchCase="'Cricket'">
                      <div class="col-xl-3 col-sm-4" *ngFor="let player of teamProfile?.players">
                        <div class="squad-item fullblock-link-container rounded-box common-shadow">
                          <img alt="{{player.name | split}}" [lazyLoad]="player?.id| playerimage:['m']"
                            [defaultImage]="commonService.playerplaceholder" [offset]="commonService.lazyloadoffset">
                          <div class="item-desc">
                            <p>{{player.name | split}} <span class="light-text">{{player.type | stringunder}}</span></p>
                            <a [routerLink]="" class="theme-btn">
                              {{ 'Shared_module.view_player' | translate }}<span></span></a>
                          </div>
                          <a class="fullblock-link"
                            [routerLink]="['/cricket/player', (player?.id | splitID), ((player?.name | split) | slugify )]">
                          </a>
                        </div>
                      </div>
                    </div>

                    <div *ngSwitchCase="'Kabaddi'">
                      <ng-container *ngFor="let players of  objectKeys(teamProfile?.players)">
                        <h6 class="text-capitalize"> {{players}}</h6>
                        <div class="row row-size12">
                          <div class="col-xl-3 col-sm-4" *ngFor="let player of teamProfile?.players[players]">
                            <div class="squad-item fullblock-link-container rounded-box common-shadow">
                              <img alt="{{player.fullname}}"
                                [lazyLoad]="commonService.s3Url+'players/kabaddi-'+teamProfile?.tid+'.svg'"
                                [defaultImage]="commonService.playerplaceholder"
                                [offset]="commonService.lazyloadoffset">
                              <div class="item-desc">
                                <p>{{player.fullname}}
                                  <span class="light-text">{{player.shirtnumber}}</span>
                                </p>
                                <a [routerLink]="" class="theme-btn">
                                  {{ 'Shared_module.view_player' | translate }}<span></span></a>
                              </div>
                              <a class="fullblock-link"
                                [routerLink]="['/kabaddi/player', teamProfile?.tid, player?.pid, (player?.fullname | slugify )]">
                              </a>
                            </div>
                          </div>
                        </div>
                      </ng-container>
                    </div>

                    <div *ngSwitchCase="'Soccer'">
                      <ng-container *ngFor="let players of  objectKeys(teamProfile.players_type)">
                        <h6 class="text-capitalize"> {{players}}</h6>
                        <div class="row row-size12">
                          <div class="col-xl-3 col-sm-4" *ngFor="let player of teamProfile?.players_type[players]">
                            <div class="squad-item fullblock-link-container rounded-box common-shadow">
                              <img alt="{{player.name}}" [lazyLoad]="player?.id| playerimage:['m']"
                                [defaultImage]="commonService.playerplaceholder"
                                [offset]="commonService.lazyloadoffset">
                              <div class="item-desc">
                                <p>{{player.name | split}}
                                  <span class="light-text">{{player.jersey_number}}</span>
                                </p>
                                <a [routerLink]="" class="theme-btn">
                                  {{ 'Shared_module.view_player' | translate }}<span></span></a>
                              </div>
                              <a class="fullblock-link"
                                [routerLink]="['/soccer/player',(player?.id | splitID), (player?.name | split | slugify )]">
                              </a>
                            </div>
                          </div>
                        </div>
                      </ng-container>
                    </div>

                    <div class="row row-size12" *ngSwitchCase="'Basketball'">
                      <div class="col-xl-3 col-sm-4" *ngFor="let player of teamProfile?.players">
                        <div class="squad-item fullblock-link-container rounded-box common-shadow">
                          <img alt="{{player.full_name}}" [lazyLoad]="player?.sr_id| playerimage:['m']"
                            [defaultImage]="commonService.playerplaceholder" [offset]="commonService.lazyloadoffset">
                          <div class="item-desc">
                            <p>{{player.full_name | split}} - {{player?.primary_position}}
                              <span class="light-text">{{player.jersey_number}}</span>
                            </p>
                            <a [routerLink]="" class="theme-btn">
                              {{ 'Shared_module.view_player' | translate }}<span></span></a>
                          </div>
                          <a class="fullblock-link"
                            [routerLink]="['/basketball/player',(player?.sr_id | splitID), (player?.full_name | split | slugify )]">
                          </a>
                        </div>
                      </div>
                    </div>

                  </ng-container>
                </div>
              </ng-template>
              <ng-template #no_players>
                <app-no-data-widget [message]="('widget_Module2.No_Team_squad' | translate)" [sport]="sport">
                </app-no-data-widget>
              </ng-template>

            </ng-template>
          </ngb-tab>

          <!--Soccer club stats section-->
          <ngb-tab *ngIf="sport == 'Soccer' && routeParams.tournamentid">
            <ng-template ngbTabTitle>
              <div (click)="getSoccerTeamStats()">{{ 'widgetModule.Stats' | translate }}</div>
            </ng-template>
            <ng-template ngbTabContent>
              <app-loader *ngIf="statsLoading"></app-loader>
              <app-no-data-widget *ngIf="!statsLoading && soccerteamplayers?.playerstats?.length == 0"
                [message]="'No stats data available!'" [sport]="sport">
              </app-no-data-widget>
              <ng-container *ngIf="!statsLoading && soccerteamplayers?.playerstats?.length > 0">
                <app-player-table [data]="soccerteamplayers?.playerstats" [options]="{
                      titles : ['No.',('Soccer_Module.PLAYER' | translate),'P', 'SI', 'SO', 'GS', 'AS',('Soccer_Module.Yellow_cards' | translate),('Soccer_Module.Red_cards' | translate)],
                      values : ['Index','name', 'minutes', 'substituted_in', 'substituted_out', 'goals_scored', 'assists','yellow_cards','red_cards'],
                      class : ['tour-stand-table'],
                      sport : 'soccer',
                      teamstats:'true'
                    }">
                </app-player-table>
              </ng-container>
            </ng-template>
          </ngb-tab>

          <!-- News Section-->
          <ngb-tab>
            <ng-template ngbTabTitle>
              <div> {{ 'Shared_module.news' | translate }}</div>
            </ng-template>
            <ng-template ngbTabContent>
              <app-blog-list *ngIf="paramArticle" [options]="paramArticle">
              </app-blog-list>
            </ng-template>
          </ngb-tab>

          <!-- Fixtures Section-->
          <ngb-tab>
            <ng-template ngbTabTitle>
              <div (click)="getSportFixtures()">{{ 'widgetModule.Fixtures' | translate }}</div>
            </ng-template>
            <ng-template ngbTabContent>
              <div class="nba-team-fixture line-title d-flex justify-content-between align-items-center">
                <h4 class="no-margin">Fixtures</h4>
                <div class="nba-common-selection d-flex">
                  <div ngbDropdown class="common-dropdown date-dropdown" *ngIf="seasons?.year[0]"
                    #yearDrop="ngbDropdown">
                    <button id="dropdownBasic1" ngbDropdownToggle>{{filter.year}}</button>
                    <div ngbDropdownMenu aria-labelledby="dropdownBasic1">
                      <button ngbDropdownItem *ngFor="let season of seasons?.year[0]"
                        (click)="yearDrop.close();filterData({year: season});"
                        [ngClass]="{'selected' : filter.year == season  }">
                        {{season}}
                      </button>
                    </div>
                  </div>
                  <div ngbDropdown class="common-dropdown" *ngIf="seasons?.type[0]" #typeDrop="ngbDropdown">
                    <button id="dropdownBasic1" ngbDropdownToggle>{{filter.type}}</button>
                    <div ngbDropdownMenu aria-labelledby="dropdownBasic1">
                      <button ngbDropdownItem *ngFor="let season of seasons?.type[0]"
                        (click)="typeDrop.close();filterData({type: season});"
                        [ngClass]="{'selected' : filter.type == season  }">
                        {{season}}
                      </button>
                    </div>
                  </div>
                </div>
              </div>
              <app-no-data-widget [message]="('Cricket_Module.No_recent_fixtures' | translate)"
                *ngIf="!paramsFixtures.loading && (!paramsFixtures.data || paramsFixtures.data?.length == 0)"
                [sport]="sport">
              </app-no-data-widget>
              <app-schedule [data]="paramsFixtures.data" [type]="'fixture'" [sport]="sport"
                [tournament]="routeParams.tournamentid" [list_type]="'simple'">
              </app-schedule>
              <app-loader *ngIf="paramsFixtures.loading"></app-loader>
              <div class="fixtures-loadmore"
                *ngIf="!paramsFixtures.loading && paramsFixtures.data?.length > 0 && paramsFixtures.loadmore">
                <button class="theme-btn down-btn" (click)="getSportFixtures">
                  {{ 'widgetModule.Load_more' | translate }}
                  <span></span>
                </button>
              </div>
            </ng-template>
          </ngb-tab>

          <!-- Results Section-->
          <ngb-tab>
            <ng-template ngbTabTitle>
              <div (click)="getSportResults()">{{ 'widgetModule.Results' | translate }}</div>
            </ng-template>
            <ng-template ngbTabContent>
              <div class="nba-team-fixture line-title d-flex justify-content-between align-items-center">
                <h4 class="no-margin">Results</h4>
                <div class="nba-common-selection d-flex">
                  <div ngbDropdown class="common-dropdown date-dropdown" *ngIf="seasons?.year[0]"
                    #yearDrop="ngbDropdown">
                    <button id="dropdownBasic1" ngbDropdownToggle>{{filter.year}}</button>
                    <div ngbDropdownMenu aria-labelledby="dropdownBasic1">
                      <button ngbDropdownItem *ngFor="let season of seasons?.year[0]"
                        (click)="yearDrop.close();filterData({year: season});"
                        [ngClass]="{'selected' : filter.year == season  }">
                        {{season}}
                      </button>
                    </div>
                  </div>
                  <div ngbDropdown class="common-dropdown" *ngIf="seasons?.type[0]" #typeDrop="ngbDropdown">
                    <button id="dropdownBasic1" ngbDropdownToggle>{{filter.type}}</button>
                    <div ngbDropdownMenu aria-labelledby="dropdownBasic1">
                      <button ngbDropdownItem *ngFor="let season of seasons?.type[0]"
                        (click)="typeDrop.close();filterData({type: season});"
                        [ngClass]="{'selected' : filter.type == season  }">
                        {{season}}
                      </button>
                    </div>
                  </div>
                </div>
              </div>
              <app-no-data-widget [message]="('Cricket_Module.No_recent_results' | translate)"
                *ngIf="!paramsResults.loading && (!paramsResults.data || paramsResults.data?.length == 0)"
                [sport]="sport">
              </app-no-data-widget>
              <app-schedule [data]="paramsResults.data" [type]="'result'" [sport]="sport"
                [tournament]="routeParams.tournamentid" [list_type]="'simple'"></app-schedule>
              <app-loader *ngIf="paramsResults.loading"></app-loader>
              <div class="fixtures-loadmore"
                *ngIf="!paramsResults.loading && paramsResults.data?.length > 0 && paramsResults.loadmore">
                <button class="theme-btn down-btn" (click)="getSportResults()">
                  {{ 'widgetModule.Load_more' | translate }}
                  <span></span>
                </button>
              </div>
            </ng-template>
          </ngb-tab>

        </ngb-tabset>
      </div>



      <!-- Sidebar Section-->
      <div class="sidebar-col">
        <div class="sticky-sidebar">
          <app-custom-ads-widget [type]="'Banner'"></app-custom-ads-widget>
          <app-sidebar-links *ngIf="sport != 'kabaddi'" [sport]="'Cricket'" [link_type]="'tournament'"
            [options]="{type: 'current', title:('Cricket_Module.Current_Series' | translate)}"></app-sidebar-links>
          <app-custom-ads-widget [type]="'Rectangle'"></app-custom-ads-widget>
        </div>
      </div>
    </div>
  </div>
</section>

<ng-template #title let-title="title" let-options="options">
  <h1>{{title}}</h1>
  <app-favourites-widget [value]="options">
  </app-favourites-widget>
</ng-template>