.team-about-head .team-logo                 { width: 208px; padding: 14px; background: #fff; flex-shrink: 0; -webkit-flex-shrink: 0; }
.team-about-head .team-logo .team-logo-img  { padding-top: 100%; background: no-repeat center center / cover; }
.team-about-head .team-info                 { margin-left: 24px; padding: 24px 32px; background: #fff; flex-grow: 1; -webkit-flex-grow: 1; }
.team-about-head .info-col                  { flex-grow: 1;}
.team-about-head .info-item                 { margin-bottom: 40px; }
.team-about-head .info-item:last-child      { margin-bottom: 0px; }
.team-about-head .info-col p                { margin: 0px; font-weight: 500; }
.team-about-head .info-col .title           { margin-bottom: 6px;  font-size: 12px; line-height: 15px; font-weight: 600; text-transform: uppercase; }
.team-about-head .match-result              { margin: 0px; display: inline-block; }
.team-about-head .match-result li           { margin-right: 8px; display: inline-block; width: 24px; height: 24px; background: #292929; font-size: 14px; line-height: 24px; font-weight: 600; color: #fff; border-radius: 50%; text-transform: uppercase; text-align: center; }
.team-about-head .match-result li.win       { background: #ED1A33; }

/* -------- Squad List ------- */
.squad-list h4                  { margin-bottom: 24px; padding-bottom: 24px; border-bottom: 2px solid rgba(0,0,0,0.05); }
.squad-group                    { margin-bottom: 24px; }
.squad-group:last-child         { margin-bottom: 0px; }
.squad-group h6                 { margin-bottom: 16px; font-family: 'Muli', sans-serif; font-weight: 700; }
.squad-item                     { margin-bottom: 24px; height: 340px; background: #fff; overflow: hidden; cursor: pointer; }
.squad-item .item-desc          { padding: 16px; background: #fff; text-align: center; transition: all 0.3s ease-in-out; -webkit-transition: all 0.3s ease-in-out; }
.squad-item:hover .item-desc    { transform: translateY(-64px); -webkit-transform: translateY(-64px); }
.squad-item .theme-btn          { opacity: 0;}
.squad-item:hover .theme-btn    { opacity: 1;}
.squad-item:hover .theme-btn span:before  { left: 0px; }
.squad-item:hover .theme-btn span:after   { left: 100%; }
.squad-item p                   { margin-bottom: 16px; line-height: 20px; font-weight: 500; white-space: nowrap; text-overflow: ellipsis; overflow: hidden;}
.squad-item p span              { display: block; font-size: 12px; line-height: 18px; }
.fixtures-loadmore              { margin-top: 32px; text-align: center; }

/* -------- NBA Squad List ------- */
.nba-squad-item.squad-item .num         { font-size: 18px; line-height: 24px; color: #BB0000; font-weight: 700; }
.nba-squad-item.squad-item .item-desc   { margin-top: -3px; }
.nba-squad-item.squad-item .item-desc b { font-weight: inherit;}
/* -------- NBA Team Fixture ------- */
.nba-common-selection .common-dropdown .dropdown-toggle { border-color: #D5D8DC; font-weight: 600; }

/* -- Arabic CSS -- */
.arabic .team-about-head .team-info     { margin-left: 0px; margin-right: 24px; }

/***** Responsive CSS Start ******/
@media (min-width: 1200px) and (max-width: 1379px) {
    .team-about-head .team-logo         { width: 190px; }
    .team-about-head .team-info         { padding: 22px 28px;}
/* -------- Squad List ------- */
    .squad-item                         { margin-bottom: 24px; height: 270px; }
    .squad-item .item-desc              { padding: 12px 2px; }
    .squad-item:hover .item-desc        { transform: translateY(-64px); -webkit-transform: translateY(-64px); }
    .squad-item .theme-btn              { font-size: 14px; }
}

@media (min-width: 992px) and (max-width: 1199px) {
    .team-about-head .team-logo         { width: 180px; padding: 12px;}
    .team-about-head .team-info         { padding: 20px 24px;}
    .team-about-head .team-info ul      { margin-top: 5px; vertical-align: middle; }
/* -------- Squad List ------- */
    .squad-list h4                      { padding-bottom: 16px; }
    .squad-group                        { margin-bottom: 16px; }
    .squad-item                         { margin-bottom: 24px; height: 276px; }
    .squad-item .item-desc              { padding: 12px 2px; }
    .squad-item:hover .item-desc        { transform: translateY(-58px); -webkit-transform: translateY(-58px); }
    .squad-item p                       { margin-bottom: 12px; }
    .squad-item .theme-btn              { font-size: 14px; } 
}

@media (min-width: 768px) and (max-width: 991px) {
    .team-about-head .team-logo         { width: 154px; padding: 12px;}
    .team-about-head .team-info         { margin-left: 16px; padding: 16px 16px;}
    .team-about-head .info-item         { margin-bottom: 20px; }
/* -------- Squad List ------- */
    .squad-item                         { margin-bottom: 24px; height: 320px; }
    .squad-item .item-desc              { padding: 12px 2px; }
    .squad-item:hover .item-desc        { transform: translateY(-60px); -webkit-transform: translateY(-60px); }

/* -- Arabic CSS -- */
    .arabic .team-about-head .team-info { margin-right: 16px; }
}

@media (max-width: 767px) {
    .team-about-head .info-item                    { margin-bottom: 16px; }
    .team-about-head .info-col .title              { margin-bottom: 4px; }
/* -------- Squad List ------- */
    .team-about-head .team-logo         { width: 130px; padding: 8px;}
    .team-about-head .team-info         { margin-left: 16px; padding: 14px 16px;}
    .team-about-head .team-info ul      { margin-top: 5px; vertical-align: middle; }
    .squad-list h4                      { padding-bottom: 12px; }
    .squad-group                        { margin-bottom: 12px; }
/* -------- Squad List ------- */
    .squad-item                         { margin-bottom: 18px; height: 246px; }
    .squad-item .item-desc              { padding: 12px 2px; }
    .squad-item:hover .item-desc        { transform: translateY(-52px); -webkit-transform: translateY(-52px); }
    .squad-item p                       { margin-bottom: 12px; }
    .squad-item .theme-btn              { font-size: 13px; }
    
/* -- Arabic CSS -- */
    .arabic .team-about-head .team-info { margin-right: 16px; }
}

@media (max-width: 575px) {
    .team-about-head                            { flex-direction: column; -webkit-flex-direction: column; }
    .team-about-head .team-logo                 { margin-bottom: 8px; }
    .team-about-head .team-info                 { margin-left: 0px; flex-direction: column; -webkit-flex-direction: column; }
    .team-about-head .info-item:last-child                          { margin-bottom: 16px; }
    .team-about-head .info-col:last-child .info-item:last-child     { margin-bottom: 0; }
    .team-about-head .match-result li           { margin-bottom: 8px; font-size: 11px; }
/* -------- Squad List ------- */
    .squad-list .row-size12                     { justify-content: space-evenly; -webkit-justify-content: space-evenly; }
    .squad-list .row-size12 [class*="col-"]     { width: 156px; }
    .squad-item                                 { height: 216px; }
    .squad-item .item-desc                      { padding: 10px 2px; }
    .squad-item:hover .item-desc                { transform: translateY(-48px); -webkit-transform: translateY(-48px); }
    .squad-item p                               { margin-bottom: 10px; }
    .squad-item .theme-btn                      { font-size: 13px; padding: 8px 40px 8px 8px;  }
    .squad-item .theme-btn span                 { width: 32px; }

/* -- Arabic CSS -- */
    .arabic .team-about-head .team-info         { margin-right: 0px; }
}