<section class="common-section">
  <div class="container">
    <div class="row sidebar-row">

      <div class="content-col">

        <app-loader *ngIf="loading"></app-loader>
        <app-no-data-widget *ngIf="!loading && (!playerData)" [sport]="sport"></app-no-data-widget>
        <div *ngIf="playerData"
          class="common-title-btn big-title-btn tab-title-btn d-flex justify-content-between align-items-center"
          [ngSwitch]="sport">
          <ng-container *ngSwitchCase="'Cricket'">
            <ng-container
              *ngTemplateOutlet="title; context: {title: (playerData?.player?.name | split), options : {id:playerid,type:'player',sport:'cricket',name:playerData?.player?.name | split}}">
            </ng-container>
          </ng-container>
          <ng-container *ngSwitchCase="'Kabaddi'">
            <ng-container
              *ngTemplateOutlet="title; context: {title: playerData?.fullname, options : {id:playerData.pid,sport:'kabaddi',teamid:teamid,type:'player',name:playerData?.fullname}}">
            </ng-container>
          </ng-container>
          <ng-container *ngSwitchCase="'Soccer'">
            <ng-container
              *ngTemplateOutlet="title; context: {title: playerData?.player?.name | split, options : {id:playerid,type:'player',sport:'soccer',name:playerData?.player?.name | split}}">
            </ng-container>
          </ng-container>
          <ng-container *ngSwitchCase="'Basketball'">
            <ng-container
              *ngTemplateOutlet="title; context: {title: playerData?.full_name, options : {id:playerData?.sr_id,type:'player',sport:'basketball',name:playerData?.full_name | split}}">
            </ng-container>
          </ng-container>
        </div>

        <ngb-tabset class="common-tabs" *ngIf="playerData">
          <ngb-tab>

            <!-- Profile Section-->
            <ng-template ngbTabTitle>{{ 'Shared_module.profile' | translate }}</ng-template>
            <ng-template ngbTabContent>
              <section class="player-profile d-flex" *ngIf="sport == 'Cricket'">
                <div class="player-pic common-shadow rounded-box">
                  <img class="" alt="" [lazyLoad]="playerData?.player?.id | playerimage:['m']"
                    [offset]="commonService.lazyloadoffset" [defaultImage]="commonService.playerplaceholder">
                </div>
                <div class="player-info d-flex common-shadow rounded-box" *ngIf="playerData?.player">
                  <div class="info-col">
                    <ng-container
                      *ngTemplateOutlet="playerInfoCardContent;context:{ title: ('Contact_us.Full_Name' | translate), value: playerData?.player.full_name ? playerData?.player.full_name : playerData?.player.name }">
                    </ng-container>
                    <ng-container
                      *ngTemplateOutlet="playerInfoCardContent;context:{ title: ('Shared_Module2.Born' | translate), value: playerData?.player?.date_of_birth | date }">
                    </ng-container>
                    <ng-container
                      *ngTemplateOutlet="playerInfoCardContent;context:{ title: ('Shared_Module2.Nationality' | translate), value: playerData?.player?.nationality }">
                    </ng-container>
                  </div>
                  <div class="info-col">
                    <ng-container
                      *ngTemplateOutlet="playerInfoCardContent;context:{ title: ('Shared_Module2.Batting_Style' | translate), value: playerData?.player?.batting_style | stringunder }">
                    </ng-container>
                    <ng-container
                      *ngTemplateOutlet="playerInfoCardContent;context:{ title: ('Shared_Module2.Bowling_Style' | translate), value: playerData?.player?.bowling_style | stringunder }">
                    </ng-container>
                    <ng-container
                      *ngTemplateOutlet="playerInfoCardContent;context:{ title: ('Shared_Module2.Role' | translate), value: playerData?.player?.type | stringunder }">
                    </ng-container>
                  </div>
                  <!-- <div class="info-col">
                      <p class="light-title">jersey no</p>
                      <p>7</p>
                    </div> -->
                </div>
              </section>
              <section class="player-profile d-flex" *ngIf="sport == 'Kabaddi'">
                <div class="player-pic">
                  <img class="common-shadow rounded-box" alt="playerData?.fullname"
                    [lazyLoad]="commonService.s3Url+'players/kabaddi-'+teamid+'.svg'"
                    [offset]="commonService.lazyloadoffset" [defaultImage]="commonService.playerplaceholder">
                </div>
                <div class="player-info d-flex common-shadow rounded-box">
                  <div class="info-col">
                    <ng-container
                      *ngTemplateOutlet="playerInfoCardContent;context:{ title: ('Contact_us.Full_Name' | translate), value: playerData?.fullname  }">
                    </ng-container>
                    <ng-container
                      *ngTemplateOutlet="playerInfoCardContent;context:{ title: ('Shared_Module2.Born' | translate), value: playerData?.birthdate | date }">
                    </ng-container>
                    <ng-container
                      *ngTemplateOutlet="playerInfoCardContent;context:{ title:('Shared_Module2.Nationality' | translate), value: playerData?.nationality }">
                    </ng-container>
                  </div>
                  <div class="info-col">
                    <ng-container
                      *ngTemplateOutlet="playerInfoCardContent;context:{ title: ('Shared_Module2.Position' | translate), value: playerData?.positionname }">
                    </ng-container>
                    <ng-container
                      *ngTemplateOutlet="playerInfoCardContent;context:{ title:  ('Shared_Module2.Height' | translate), value: playerData?.height }">
                    </ng-container>
                    <ng-container
                      *ngTemplateOutlet="playerInfoCardContent;context:{ title: ('Shared_Module2.Weight' | translate), value: playerData?.weight }">
                    </ng-container>
                  </div>
                  <!-- <div class="info-col">
                        <p class="light-title">jersey no</p>
                        <p>{{playerData?.jerseyno}}</p>
                      </div> -->
                </div>
              </section>

              <section class="player-profile d-flex" *ngIf="sport == 'Soccer'">
                <div class="player-pic">
                  <img class="common-shadow rounded-box" alt="" [lazyLoad]="playerData?.player?.id | playerimage:['m']"
                    [offset]="commonService.lazyloadoffset" [defaultImage]="commonService.playerplaceholder">
                </div>
                <div class="player-info d-flex common-shadow rounded-box" *ngIf="playerData?.player">
                  <div class="info-col">
                    <ng-container *ngIf="playerData?.player?.name" [ngTemplateOutlet]="playerInfoCardContent"
                      [ngTemplateOutletContext]="{ title: ('Contact_us.Full_Name' | translate), value:playerData?.player.name | split}">
                    </ng-container>
                    <ng-container *ngIf="playerData?.player?.date_of_birth" [ngTemplateOutlet]="playerInfoCardContent"
                      [ngTemplateOutletContext]="{ title: ('Shared_Module2.Born' | translate), value: playerData?.player?.date_of_birth | date }">
                    </ng-container>
                    <ng-container *ngIf="playerData?.player?.nationality" [ngTemplateOutlet]="playerInfoCardContent"
                      [ngTemplateOutletContext]="{ title: ('Shared_Module2.Nationality' | translate), value: playerData?.player?.nationality }">
                    </ng-container>
                  </div>
                  <div class="info-col">
                    <ng-container *ngIf="playerData?.player?.type" [ngTemplateOutlet]="playerInfoCardContent"
                      [ngTemplateOutletContext]="{ title: ('Shared_Module2.Position' | translate), value: playerData?.player?.type }">
                    </ng-container>
                    <ng-container *ngIf="playerData?.player?.height" [ngTemplateOutlet]="playerInfoCardContent"
                      [ngTemplateOutletContext]="{ title: ('Shared_Module2.Height' | translate), value: playerData?.player?.height + ' ' +'cm' }">
                    </ng-container>
                    <ng-container *ngIf="playerData?.player?.weight" [ngTemplateOutlet]="playerInfoCardContent"
                      [ngTemplateOutletContext]="{ title: ('Shared_Module2.Weight' | translate), value: playerData?.player?.weight + ' ' +'kg' }">
                    </ng-container>
                  </div>
                </div>
              </section>

              <section class="player-profile d-flex" *ngIf="sport == 'Basketball'">
                <div class="player-pic">
                  <img class="common-shadow rounded-box" alt="" [lazyLoad]="playerData?.sr_id | playerimage:['m']"
                    [offset]="commonService.lazyloadoffset" [defaultImage]="commonService.playerplaceholder">
                </div>
                <div class="player-info d-flex common-shadow rounded-box" *ngIf="playerData">
                  <div class="info-col">
                    <ng-container *ngIf="playerData?.full_name" [ngTemplateOutlet]="playerInfoCardContent"
                      [ngTemplateOutletContext]="{ title: ('Contact_us.Full_Name' | translate), value:playerData?.full_name | split}">
                    </ng-container>
                    <ng-container *ngIf="playerData?.birthdate" [ngTemplateOutlet]="playerInfoCardContent"
                      [ngTemplateOutletContext]="{ title: ('Shared_Module2.Born' | translate), value: playerData?.birthdate | date }">
                    </ng-container>
                    <ng-container *ngIf="playerData?.birth_place" [ngTemplateOutlet]="playerInfoCardContent"
                      [ngTemplateOutletContext]="{ title: ('Shared_Module2.Nationality' | translate), value: playerData?.birth_place }">
                    </ng-container>
                  </div>
                  <div class="info-col">
                    <ng-container *ngIf="playerData?.primary_position" [ngTemplateOutlet]="playerInfoCardContent"
                      [ngTemplateOutletContext]="{ title: ('Shared_Module2.Position' | translate), value: playerData?.primary_position }">
                    </ng-container>
                    <ng-container *ngIf="playerData?.height" [ngTemplateOutlet]="playerInfoCardContent"
                      [ngTemplateOutletContext]="{ title: ('Shared_Module2.Height' | translate), value: playerData?.height + ' ' +'cm' }">
                    </ng-container>
                    <ng-container *ngIf="playerData?.weight" [ngTemplateOutlet]="playerInfoCardContent"
                      [ngTemplateOutletContext]="{ title: ('Shared_Module2.Weight' | translate), value: playerData?.weight + ' ' +'kg' }">
                    </ng-container>
                  </div>
                  <div class="info-col" *ngIf="playerData?.draft">
                    <ng-container *ngIf="playerData?.draft?.year" [ngTemplateOutlet]="playerInfoCardContent"
                      [ngTemplateOutletContext]="{ title: ('Draft' | translate), value: playerData?.draft?.year +  (playerData?.draft?.round ? ': Rd ' + playerData?.draft?.round : '') + (playerData?.draft?.pick ? ' Pk ' + playerData?.draft?.pick : '') }">
                    </ng-container>
                  </div>
                </div>
              </section>


              <section class="common-section top-padding quick-stats" *ngIf="stats">
                <div class="nba-title d-flex justify-content-between">
                  <h4>{{ 'Shared_module.quick_stats' | translate }}</h4>
                  <h6 class="light-text no-margin">2018-19 Season Stats</h6>
                </div>
                <ng-container *ngTemplateOutlet="quickStateCard;context:{ stats:stats}">
                </ng-container>
              </section>
              <section class="common-section top-padding" *ngIf="playerData?.teams && sport == 'Cricket'">
                <h4>{{ 'Shared_module.major_teams' | translate }}</h4>
                <app-team-card [teams]="playerData?.teams" [sport]="sport"></app-team-card>
              </section>
              <section class="common-section top-padding" *ngIf="(playerData?.roles) && sport == 'Soccer'">
                <h4>{{ 'Shared_module.major_teams' | translate }}</h4>
                <app-team-card [teams]="playerData?.roles" [sport]="sport" [type]="'player'"
                  *ngIf="playerData?.roles && playerData?.roles?.length > 0"></app-team-card>
              </section>
              <section class="common-section top-padding" *ngIf="playerData?.teams && sport == 'Basketball'">
                <h4>{{ 'Shared_module.major_teams' | translate }}</h4>
                <app-team-card [teams]="playerData?.teams" [sport]="sport"></app-team-card>
              </section>
            </ng-template>
          </ngb-tab>

          <!-- Stats Section-->
          <ngb-tab *ngIf="sport == 'Cricket'">
            <ng-template ngbTabTitle>{{ 'widgetModule.Stats' | translate }}</ng-template>
            <ng-template ngbTabContent>
              <app-player-table *ngIf="playerData?.statistics" [data]="battingdata" [options]="{
                  titles : [('Shared_Module2.Game_type' | translate), 'MAT', 'INN', 'R', 'AVG', 'SR', 'HS', '100s', '50s', '4s', '6s'],
                   sort : [false, true, true, true, true, true, true, true, true, true, true],
                  values : ['type', 'matches', 'innings', 'runs', 'average', 'strike_rate', 'highest_score', 'hundreds', 'fifties', 'fours', 'sixes'],
                    subParams : 'batting',
                    header_title:('Shared_Module2.Batting_Stats' | translate),
                    class : ['player-state'],
                    class_light_row : ['light-row'],
                    sport:'Cricket'
                  }">
              </app-player-table>

              <app-player-table *ngIf="playerData?.statistics" [data]="bowlingdata" [options]=" {
                  titles : [('Shared_Module2.Game_type' | translate), 'MAT', 'INN', 'OV', 'Maiden', 'R', 'W', 'AVG', 'SR', 'Eco', '5Ws', '10Ws'],
                   sort : [false, true, true, true, true, true, true, true, true, true, true, true],
                  values : ['type', 'matches', 'innings', 'overs', 'maidens', 'runs', 'wickets', 'average', 'strike_rate', 'economy', 'five_wicket_hauls', 'ten_wicket_hauls'],
                  subParams : 'bowling',
                  header_title:('Shared_Module2.Bowling_Stats' | translate),
                  class : ['player-state'],
                  class_light_row : ['light-row'],
                  sport:'Cricket'
                }">
              </app-player-table>
            </ng-template>
          </ngb-tab>

          <!-- News Section-->
          <ngb-tab>
            <ng-template ngbTabTitle>{{ 'Shared_module.news' | translate }}</ng-template>
            <ng-template ngbTabContent>
              <app-blog-list *ngIf="paramArticle" [options]="paramArticle" [sport]="sport">
              </app-blog-list>
            </ng-template>
          </ngb-tab>
        </ngb-tabset>
      </div>
      <div class="sidebar-col">
        <div class="sticky-sidebar">
          <app-custom-ads-widget [type]="'Banner'"></app-custom-ads-widget>
          <app-sidebar-links *ngIf="sport != 'kabaddi'" [sport]="'Cricket'" [link_type]="'tournament'"
            [options]="{type: 'current', title:('Cricket_Module.Current_Series' | translate)}"></app-sidebar-links>

          <!-- <app-common-story-widget [title]="'Current Series'" [type]="'cricketseries'" [data]="'cricketseries'">
          </app-common-story-widget> -->
          <app-custom-ads-widget [type]="'Rectangle'"></app-custom-ads-widget>
        </div>
      </div>
    </div>
  </div>
</section>

<ng-template #quickStateCard let-stats="stats">
  <div class="row row-size12">
    <div [ngClass]="sport == 'Basketball' ? 'col-md-3' : 'col-md-4'" *ngFor="let stat of stats">
      <div class="common-shadow rounded-box stat-item">
        <h1>{{stat.data}}</h1>
        <p class="light-text">{{stat.key}}</p>
      </div>
    </div>
  </div>
</ng-template>

<ng-template #playerInfoCardContent let-value="value" let-title="title">
  <div class="info-item" *ngIf="value">
    <p class="light-title">{{title}}</p>
    <p>{{value }}</p>
  </div>
</ng-template>


<ng-template #title let-title="title" let-options="options">
  <h1>{{title}}</h1>
  <app-favourites-widget [value]="options">
  </app-favourites-widget>
</ng-template>