/* -------- Teams List ------- */
.team-list .team-item                   { margin-bottom: 24px; padding: 24px 24px 24px 16px; background: #fff; transition: all 0.3s ease-in-out; -webkit-transition: all 0.3s ease-in-out; border-left: 8px solid transparent; }
.team-list .team-item:hover             { padding-left: 24px; padding-right: 16px; border-color: #ED1A33;}
.team-list [class*="col-"]:nth-last-child(2) .team-item,
.team-list [class*="col-"]:last-child .team-item    { margin-bottom: 0; }
.team-list .team-item .team-flag img    { height: 80px; width: auto; border: 2px solid #EBEBEB; border-radius: 6px;}
.team-list .team-item .team-name        { padding-left: 16px; text-transform: uppercase; flex: 1; -webkit-flex: 1; -ms-flex: 1;}
.team-list .team-item h4                { margin-bottom: 2px; font-family: 'IBM Plex Sans', sans-serif; color: #292929; font-weight: 500;}
.team-list .team-item h5                { margin: 0px; font-family: 'IBM Plex Sans', sans-serif; color: #A3A3A3; font-weight: 400;}
/* -- Arabic CSS -- */
.arabic .team-list .team-item           { padding-left: 24px; padding-right: 16px; border-right: 8px solid transparent; border-left: none; }
.arabic .team-list .team-item:hover     { padding-right: 24px; padding-left: 16px; border-color: #ED1A33;}
.arabic .team-list .team-item .team-name { padding-left: 0px; padding-right: 16px;}

/***** Responsive CSS Start ******/
@media (max-width: 1379px) {
/* -------- Teams List ------- */  
    .team-list .team-item .team-flag img{ height: 64px;}
    .team-list .team-item:hover         { padding-left: 20px; padding-right: 12px; }
    .team-list .team-item .team-name    { padding-left: 12px;}
/* -- Arabic CSS -- */
    .arabic .team-list .team-item:hover         { padding-right: 20px; padding-left: 12px;}
    .arabic .team-list .team-item .team-name    { padding-right: 12px;}
}

@media (max-width: 1199px) {
/* -------- Teams List ------- */ 
    .team-list [class*="col-"]:nth-last-child(2) .team-item { margin-bottom: 32px; }
}

@media (min-width: 768px) and (max-width: 991px) {
/* -------- Teams List ------- */  
    .team-list [class*="col-"]:nth-last-child(2) .team-item { margin-bottom: 0px; }
}

@media (max-width: 767px) {
/* -------- Teams List ------- */
    .team-list .team-item                   { margin-bottom: 16px; padding: 16px 16px 16px 8px; }
/* -- Arabic CSS -- */
    .arabic .team-list .team-item           { padding: 16px 8px 16px 16px; }
}

@media (max-width: 575px) {
/* -------- Teams List ------- */
    .team-list .team-item .team-flag img    { height: 48px;}
    .team-list [class*="col-"]:nth-last-child(2) .team-item,
    .team-list .team-item                   { margin-bottom: 16px; }
    .team-list .team-item                   { padding: 16px 16px 16px 10px; border-left-width: 6px; }
    .team-list .team-item:hover             { padding-left: 16px; padding-right: 10px;}
/* -- Arabic CSS -- */
    .arabic .team-list .team-item               { padding: 16px 10px 16px 16px; border-right-width: 6px; }
    .arabic .team-list .team-item:hover         { padding-right: 16px; padding-left: 10px; }
    .arabic .team-list .team-item .team-name    { padding-right: 12px;}
}
