<div class="team-list" *ngIf="teams">
  <div class="row row-size12">
    <div class="col-md-6 col-lg-12 col-xl-6" *ngFor="let team of teams">
      <div class="team-item rounded-box common-shadow d-flex fullblock-link-container">

        <!-- Cricket Teams-->
        <ng-container *ngIf="sport=='Cricket'">
          <div class="team-flag"><img [offset]="commonService.lazyloadoffset" [lazyLoad]="team?.id | logosurl"
              [defaultImage]="commonService.flagplaceholder" alt="team-flag">
          </div>
          <div class="team-name">
            <h4>{{team.name}}</h4>
            <h5>{{team.abbreviation}}</h5>
          </div>
          <a *ngIf="tournament" class="fullblock-link"
            [routerLink]="['/cricket/team', (tournament | splitID) ,(team.id | splitID),(team.name | slugify)]"></a>
          <a *ngIf="!tournament" class="fullblock-link"
            [routerLink]="['/cricket/team',(team.id | splitID),(team.name | slugify)]">
          </a>
        </ng-container>

        <!-- Kabaddi Teams-->
        <ng-container *ngIf="sport=='Kabaddi'">
          <div class="team-flag"><img [offset]="commonService.lazyloadoffset"
              [lazyLoad]="team?.tid | logosurl:'kabaddi'" [defaultImage]="commonService.flagplaceholder"
              alt="team?.tname">
          </div>
          <div class="team-name">
            <h4>{{team.tname}}</h4>
            <!-- <h5>{{team.city}}</h5> -->
          </div>
          <a class="fullblock-link" [routerLink]="['/kabaddi/team',(team.tid),(team.tname | slugify)]">
          </a>
        </ng-container>

        <ng-container *ngIf="sport=='Soccer' && type == 'teams'">
          <div class="team-flag"><img [offset]="commonService.lazyloadoffset" [lazyLoad]="team?.id | logosurl"
              [defaultImage]="commonService.flagplaceholder" alt="team?.name">
          </div>
          <div class="team-name">
            <h4>{{team.name}}</h4>
            <h5>{{team.abbreviation}}</h5>
          </div>
          <a class="fullblock-link"
            [routerLink]="['/soccer/team',(tournament | splitID),(team.id | splitID),(team.name | slugify)]">
          </a>
        </ng-container>

        <ng-container *ngIf="sport=='Soccer' && type == 'player'">
          <div class="team-flag"><img [offset]="commonService.lazyloadoffset"
              [lazyLoad]="team?.competitor?.id | logosurl:'soccer'" [defaultImage]="commonService.flagplaceholder"
              alt="team?.competitor?.name">
          </div>
          <div class="team-name">
            <h4>{{team?.competitor?.name}}</h4>
          </div>
          <a class="fullblock-link"
            [routerLink]="['/soccer/team',(team.competitor.id | splitID),(team.competitor.name | split | slugify)]">
          </a>
        </ng-container>

        <!-- Basketball Teams-->
        <ng-container *ngIf="sport=='Basketball'">
          <div class="team-flag"><img [offset]="commonService.lazyloadoffset"
              [lazyLoad]="team?.sr_id | logosurl:'Basketball'" [defaultImage]="commonService.flagplaceholder"
              alt="(team.market+' '+team.name | slugify)">
          </div>
          <div class="team-name">
            <h4>{{team.market}} {{team.name}}</h4>
            <h5>{{team.alias}}</h5>
          </div>
          <a class="fullblock-link" [routerLink]="['/basketball/team',(team.id),(team.market+' '+team.name | slugify)]">
          </a>
        </ng-container>

        <!-- Hockey Teams-->
        <ng-container *ngIf="sport=='Hockey'">
          <div class="team-flag"><img [offset]="commonService.lazyloadoffset" [lazyLoad]="team?.id | logosurl:'hockey'"
              [defaultImage]="commonService.flagplaceholder" alt="team.name | slugify">
          </div>
          <div class="team-name">
            <h4>{{team.name}}</h4>
            <h5>{{team.abbreviation}}</h5>
          </div>
          <a class="fullblock-link" [routerLink]="['/hockey/team',(team.id | splitID),(team.name | slugify)]">
          </a>
        </ng-container>

        <!-- Badminton Teams-->
        <ng-container *ngIf="sport=='Badminton'">
          <div class="team-flag"><img [offset]="commonService.lazyloadoffset"
              [lazyLoad]="team?.id | logosurl:'badminton'" [defaultImage]="commonService.flagplaceholder"
              alt="team.name | slugify">
          </div>
          <div class="team-name">
            <h4>{{team.name | split}}</h4>
            <h5>{{team.abbreviation}}</h5>
          </div>
          <a class="fullblock-link"
            [routerLink]="['/badminton/team',(team.id | splitID),((team.name | split) | slugify)]">
          </a>
        </ng-container>

        <!-- Racing Teams-->
        <ng-container *ngIf="sport=='Racing'">
          <div class="team-flag"><img [offset]="commonService.lazyloadoffset" [lazyLoad]="team?.id | logosurl:'racing'"
              [defaultImage]="commonService.flagplaceholder" alt="team.name | slugify">
          </div>
          <div class="team-name">
            <h4>{{team.name | split}}</h4>
            <h5>{{team.country_code}}</h5>
          </div>
          <a class="fullblock-link"
            [routerLink]="['/racing', game , 'team', (team.id | splitID),(team.name | slugify)]">
          </a>
        </ng-container>
      </div>
    </div>
  </div>
</div>