<app-match-counter *ngIf="data.sport_event_status.status == 'not_started'" [scheduled]="data.sport_event.scheduled">
</app-match-counter>

<!-- <div *ngIf="!data.timeline && data.sport_event_status.status == 'closed'">
  No commentary data available for this match!
</div> -->
<app-custom-ads-widget [type]="'Large'"></app-custom-ads-widget>
<div>
  <!-- Match is live-->
  <ng-container *ngIf="data.sport_event_status.status == 'live'">
    <div class="common-table batsman-table striped-table tour-stats-table common-shadow rounded-box"
      *ngIf="batsmanList">
      <div class="table-responsive">
        <table class="table" *ngIf="batsmanList.length > 0">
          <thead>
            <tr>
              <th class="text-uppercase">Batsman</th>
              <th>R</th>
              <th>B</th>
              <th>4s</th>
              <th>6s</th>
              <th>SRR</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let baller of batsmanList | slice:0:2">
              <td>{{baller.name | split}}</td>
              <td>{{baller.statistics.runs ? baller.statistics.runs : 0}}</td>
              <td>{{baller.statistics.balls_faced ? baller.statistics.balls_faced : 0}}</td>
              <td>{{baller.statistics.fours ? baller.statistics.fours : 0}}</td>
              <td>{{baller.statistics.sixes ? baller.statistics.sixes : 0}}</td>
              <td>{{baller.statistics.strike_rate ? baller.statistics.strike_rate : 0}}</td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
    <div class="common-table bowler-table striped-table tour-stats-table common-shadow rounded-box" *ngIf="ballerList">
      <div class="table-responsive">
        <table class="table" *ngIf="ballerList.length > 0">
          <thead>
            <tr>
              <th>Bowler</th>
              <th>Ov</th>
              <th>M</th>
              <th>R</th>
              <th>W</th>
              <th>ECO</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let baller of ballerList | slice:0:2">
              <td>{{baller.name | split}}</td>
              <td>{{baller.statistics.overs_bowled ? baller.statistics.overs_bowled : 0}}</td>
              <td>{{baller.statistics.runs_conceded ? baller.statistics.runs_conceded : 0}} </td>
              <td>{{baller.statistics.maidens ? baller.statistics.maidens : 0}}</td>
              <td>{{baller.statistics.wickets ? baller.statistics.wickets : 0}}</td>
              <td>{{baller.statistics.economy_rate ? baller.statistics.economy_rate : 0}}</td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>

    <div class="this-over-block d-flex align-items-center" *ngIf="oversummery && oversummery.length > 0">
      <h5>This over :</h5>
      <ul>
        <ng-container *ngFor="let over of oversummery">
          <li [ngClass]="{'hightlight': over.wickets=='W' || over.extra_runs || over.run == 4 || over == 6}">
            {{ over.wickets=='W' || over.extra_runs ? (over.extra_runs > 0 ? over.extra_runs : '') : over.run }}
            <ng-container *ngIf="over.wickets=='W'"><span>W</span></ng-container>
            <ng-container *ngIf="over.extra_runs"><span>{{over.extra_runs}}</span></ng-container>
          </li>
        </ng-container>
      </ul>
    </div>
  </ng-container>


  <!-- START - COMMENTRY -->
  <ng-container *ngIf="commentry">
    <ng-container *ngFor="let temp of commentry">
      <app-commentry *ngFor="let commentaries of temp.commentry; let i = index" [commentaries]="commentaries"
        [index]="i"></app-commentry>
    </ng-container>
  </ng-container>

  <!-- No commentary data available for this match! -->
  <ng-container *ngIf="data.sport_event_status.status == 'closed' && !showCommetry">
    <app-no-data-widget></app-no-data-widget>
  </ng-container>
  <!-- END - COMMENTRY -->

  <!--If Match is cancelled -->
  <ng-container *ngIf="data.sport_event_status.status == 'cancelled'" >
      Match is cancelled!
      <app-no-data-widget></app-no-data-widget>
  </ng-container>

  <!--If Match is cancelled -->
  <ng-container *ngIf="data.coverage_info != undefined && data.coverage_info.live_coverage == false">
    <!-- Ooops ! Sorry we don't provide live coverage to this match -->
  </ng-container>
</div>