<div class="common-widget tab-widget">
  <div class="widget-title">
    <h5>Cricket</h5>
  </div>
  <ngb-tabset class="common-tabs">
    <ngb-tab title="Fixtures">
      <ng-template ngbTabContent>
        <ng-container
          *ngTemplateOutlet="sidebarMatch;context:{ loader:loadingFixture, matches: matchfixtures, type:'fixture'}">
        </ng-container>
      </ng-template>
    </ngb-tab>
    <ngb-tab>
      <ng-template ngbTabTitle>
        <div (click)="getMatchResults()">Results</div>
      </ng-template>
      <ng-template ngbTabContent>
        <ng-container
          *ngTemplateOutlet="sidebarMatch;context:{ loader:loadingResult, matches: matchresults, type:'result'}">
        </ng-container>
      </ng-template>
    </ngb-tab>
  </ngb-tabset>
</div>
<app-custom-ads-widget [type]="'Rectangle'"></app-custom-ads-widget>
<app-custom-ads-widget [type]="'Banner'"></app-custom-ads-widget>

<ng-template #sidebarMatch let-loader="loader" let-matches="matches" let-type="type">

  <app-loader *ngIf="loader"></app-loader>
  <app-no-data-widget [message]="type =='result' ? 'No recent results' : 'No recent fixtures' "
    *ngIf="!loader && (!matches || matches?.length == 0)"></app-no-data-widget>

  <ul class="common-list cricket-list" *ngIf="matches && matches.length > 0">
    <li *ngFor="let match of matches  | slice:0:4" class="fullblock-link-container">

      <div class="title d-flex justify-content-between">
        <p><b>{{match.season_name ? match.season_name : match.tournament_name}} </b> <span class="text-capitalize">{{ match.tournament_round ? ' - '+match.tournament_round : '' }}</span> </p>
        <p>{{match.scheduled | amTimeAgo}}</p>
      </div>

      <div *ngFor="let item of match?.competitors">
        <ng-container *ngTemplateOutlet="match_team;context:{match: match, team:item}">
        </ng-container>
      </div>

      <div class="row">
        <div class="col-md-9">
          <p class="result-line" *ngIf="type == 'result'; else match_schedule ">
            {{ match.match_result ? match.match_result : match.match_status }}
          </p>
          <ng-template #match_schedule>
            <p class="result-line">Starts {{match.scheduled | amLocal | amDateFormat:'LT'}}
              {{(match.city_name) ? '| ' + match.city_name : ''}}</p>
          </ng-template>
        </div>
      </div>
      <a class="fullblock-link"
        [routerLink]="['/cricket/match', (match.id | splitID) ,(match.competitors[0].abbreviation + '-' +match.competitors[1].abbreviation)]">
      </a>
    </li>

    <li>
      <a class="view-all-btn" [state]="{ type: type, data : matches }"
        [routerLink]="type == 'fixture' ? ['/cricket/recent/fixtures'] : ['/cricket/recent/results']">
        View All
        <span></span>
      </a>
    </li>
  </ul>
</ng-template>

<ng-template #match_team let-team="team" let-match="match">
  <div class="match-info d-flex justify-content-between align-items-center">
    <p [ngClass]="{'match-winner': match?.winner_id == team?.id}"><img [offset]="commonService.lazyloadoffset"
        [lazyLoad]="team?.id | logosurl" [defaultImage]="cricketService.flagplaceholder">
      {{(match.match_result) ? team?.abbreviation : team?.name}}
    </p>
    <p *ngIf="match.match_result">
      <ng-container *ngFor="let score of team.p_new; let i = index">
        {{score?.display_score | cricketScore}}
        {{i == team.p_new.length - 1 ?  ("(" + score?.display_overs + " ov)")   : '&'}}
      </ng-container>
    </p>
  </div>
</ng-template>