<app-menu [options]="{ sport: params.sport, type: 'home' }"></app-menu>
<section class="common-section cricket-recentnews recentnews-section">
  <div class="container">
    <div class="row sidebar-row">
      <div class="content-col">
        <app-sports-home *ngIf="options" [options]="options" [sport]="params.sport"></app-sports-home>
      </div>
      <div class="sidebar-col">
        <div class="sticky-sidebar">
          <app-custom-ads-widget [type]="'Banner'"></app-custom-ads-widget>
          <app-fixtures-sidebar-widget [sport]="params.sport"></app-fixtures-sidebar-widget>

          <app-sidebar-links [sport]="params.sport" [link_type]="'tournament'" [options]="{
              type: 'current',
              title: 'Cricket_Module.Current_Series' | translate
            }"></app-sidebar-links>

          <app-sidebar-links [sport]="params.sport" [link_type]="'popular'" [options]="{
              reqParams: { eSport: params.sport },
              type: 'tags',
              title: 'Cricket_Module.Popular_Right_Now' | translate
            }">
          </app-sidebar-links>

          <app-custom-ads-widget [type]="'Rectangle'"></app-custom-ads-widget>
        </div>
      </div>
    </div>
  </div>
</section>