<app-loader *ngIf="loading"></app-loader>
<app-no-data-widget *ngIf="!loading && (!matchInfo)"></app-no-data-widget>
<section class="common-section cricket-recentnews recentnews-section" *ngIf="matchInfo">
  <div class="container">
    <div class="row sidebar-row">
      <div class="content-col">
        <!-- START - ABOUT MATCH-->
        <app-match-about [data]="matchInfo" [competitor]="team" [toss]="" [sport]="'Basketball'"></app-match-about>
        <!-- END - ABOUT MATCH-->

        <!-- START - MATCH TABS-->
        <ngb-tabset class="common-tabs match-tabs">
          <!--START - PLAY BY PLAY  -->
          <ngb-tab>
            <ng-template ngbTabTitle>{{ 'Play-by-play' | translate }}</ng-template>
            <ng-template ngbTabContent>

              <!-- NBA Ground -->
              <div class="nba-map-block common-shadow rounded-box">
                <p class="title">Shot chart</p>
                <div class="nba-map-inner d-flex">
                  <div class="nba-map">
                    <img src="assets/images/match/nba-ground.svg" alt="nba-ground">
                    <div class="ground-player-lists d-flex">
                      <div class="d-flex align-items-center justify-content-around">
                        <ul class="goal-list no-margin">
                          <li class="" [ngStyle]="{'top': '10%'}">
                            <div class="d-inline-block" ngbDropdown #myDrop="ngbDropdown">
                              <button id="dropdownBasic1" ngbDropdownAnchor (mouseover)="myDrop.open()"
                                (mouseout)="myDrop.close();">
                              </button>
                              <div ngbDropdownMenu aria-labelledby="dropdownBasic1">
                                <p><b class="one-line-text">Draymond Green</b></p>
                                <p><strong>GOAL</strong></p>
                                <p>12:23 <span class="point">2</span></p>
                              </div>
                            </div>
                          </li>
                          <li class="made" [ngStyle]="{'top': '30%'}">
                            <div class="d-inline-block" ngbDropdown #myDrop2="ngbDropdown">
                              <button id="dropdownBasic2" ngbDropdownAnchor (mouseover)="myDrop2.open()"
                                (mouseout)="myDrop2.close();">
                              </button>
                              <div ngbDropdownMenu aria-labelledby="dropdownBasic2">
                                <p><b class="one-line-text">Draymond Green</b></p>
                                <p><strong>GOAL</strong></p>
                                <p>12:23 <span class="point">2</span></p>
                              </div>
                            </div>
                          </li>
                          <li class="opp-team" [ngStyle]="{'top': '20%', 'left': '70%'}">
                            <div class="d-inline-block" ngbDropdown #myDrop3="ngbDropdown">
                              <button id="dropdownBasic3" ngbDropdownAnchor (mouseover)="myDrop3.open()"
                                (mouseout)="myDrop3.close();">
                              </button>
                              <div ngbDropdownMenu aria-labelledby="dropdownBasic3">
                                <p><b class="one-line-text">Draymond Green</b></p>
                                <p><strong>GOAL</strong></p>
                                <p>12:23 <span class="point">2</span></p>
                              </div>
                            </div>
                          </li>
                          <li class="opp-team made" [ngStyle]="{'top': '60%', 'left': '80%'}">
                            <div class="d-inline-block" ngbDropdown #myDrop4="ngbDropdown">
                              <button id="dropdownBasic4" ngbDropdownAnchor (mouseover)="myDrop4.open()"
                                (mouseout)="myDrop4.close();">
                              </button>
                              <div ngbDropdownMenu aria-labelledby="dropdownBasic4">
                                <p><b class="one-line-text">Draymond Green</b></p>
                                <p><strong>GOAL</strong></p>
                                <p>12:23 <span class="point">2</span></p>
                              </div>
                            </div>
                          </li>
                        </ul>
                      </div>
                    </div>
                  </div>
                  <div class="map-selection">
                    <p>Team</p>
                    <div ngbDropdown class="common-dropdown">
                      <button id="dropdownBasic1" ngbDropdownToggle>ALL</button>
                      <div ngbDropdownMenu aria-labelledby="dropdownBasic1">
                        <button ngbDropdownItem>Team - 1</button>
                        <button ngbDropdownItem>Team 2</button>
                        <button ngbDropdownItem>Team 3</button>
                      </div>
                    </div>
                    <p>Quarter</p>
                    <div ngbDropdown class="common-dropdown">
                      <button id="dropdownBasic2" ngbDropdownToggle>Both</button>
                      <div ngbDropdownMenu aria-labelledby="dropdownBasic2">
                        <button ngbDropdownItem class="selected">Team - 1</button>
                        <button ngbDropdownItem>Team 2</button>
                        <button ngbDropdownItem>Team 3</button>
                      </div>
                    </div>
                    <ul class="no-margin">
                      <li>
                        <div class="custom-check-box">
                          <Input type="checkbox" class="form-check-input" />
                          <div class="custom-check"></div>
                        </div>
                        <span>Made</span>
                      </li>
                      <li>
                        <div class="custom-check-box">
                          <Input type="checkbox" class="form-check-input" />
                          <div class="custom-check"></div>
                        </div>
                        <span>Miss</span>
                      </li>
                    </ul>

                  </div>
                </div>

              </div>
            </ng-template>
          </ngb-tab>
          <!--END - PLAY BY PLAY  -->
          <!--START - NEWS TAB-->
          <ngb-tab>
            <ng-template ngbTabTitle>{{ 'Shared_module.news' | translate }}</ng-template>
            <ng-template ngbTabContent>
              <app-blog-list *ngIf="paramArticle" [options]="paramArticle">
              </app-blog-list>
            </ng-template>
          </ngb-tab>
          <!--END - NEWS TAB-->
        </ngb-tabset>
        <!-- END - MATCH TABS-->
      </div>
      <div class="sidebar-col">
        <div class="sticky-sidebar">
          <!--START - SIDERBAR ADS-->
          <app-custom-ads-widget [type]="'Banner'"></app-custom-ads-widget>
          <!--END - SIDERBAR ADS-->
          <!--START - SIDERBAR STORY-->
          <!-- <app-sidebar-links [sport]="'Cricket'" [link_type]="'tournament'"
            [options]="{type: 'current', title:'Recommended Links'}"></app-sidebar-links> -->
          <!--START - SIDERBAR STORY-->
          <app-custom-ads-widget [type]="'Rectangle'"></app-custom-ads-widget>
        </div>
      </div>
    </div>
  </div>
</section>