<app-loader *ngIf="loading"></app-loader>
<app-no-data-widget *ngIf="!loading && (!matchInfo)" [sport]="'Basketball'"></app-no-data-widget>
<section class="common-section cricket-recentnews recentnews-section" *ngIf="matchInfo">
  <div class="container">
    <div class="row sidebar-row">
      <div class="content-col">
        <!-- START - ABOUT MATCH-->
        <app-match-about [data]="matchInfo" [competitor]="team" [toss]="" [sport]="'Basketball'"></app-match-about>
        <!-- END - ABOUT MATCH-->

        <!-- START - MATCH TABS-->
        <ngb-tabset class="common-tabs match-tabs">
          <!--START - PLAY BY PLAY  -->

          <ngb-tab>
            <ng-template ngbTabTitle>{{ 'Play-by-play' | translate }}</ng-template>
            <ng-template ngbTabContent>

              <app-loader *ngIf="commentry?.loading"></app-loader>
              <app-no-data-widget
                *ngIf="!commentry?.loading && (commentry?.data.length == 0) && matchInfo?.status != 'scheduled'"
                [sport]="'Basketball'">
              </app-no-data-widget>
              <app-countdown *ngIf="matchInfo?.status == 'scheduled'" [scheduled]="matchInfo?.scheduled">
              </app-countdown>

              <!-- NBA Ground -->
              <!-- <div class="nba-map-block common-shadow rounded-box">
                <p class="title">Shot chart</p>
                <div class="nba-map-inner d-flex">
                  <div class="nba-map">
                    <img src="assets/images/match/nba-ground.svg" alt="nba-ground">
                    <div class="ground-player-lists d-flex">
                      <div class="d-flex align-items-center justify-content-around">
                        <ul class="goal-list no-margin">
                          <li class="" [ngStyle]="{'top': '10%'}">
                            <div class="d-inline-block" ngbDropdown #myDrop="ngbDropdown">
                              <button id="dropdownBasic1" ngbDropdownAnchor (mouseover)="myDrop.open()"
                                (mouseout)="myDrop.close();">
                              </button>
                              <div ngbDropdownMenu aria-labelledby="dropdownBasic1">
                                <p><b class="one-line-text">Draymond Green</b></p>
                                <p><strong>GOAL</strong></p>
                                <p>12:23 <span class="point">2</span></p>
                              </div>
                            </div>
                          </li>
                          <li class="made" [ngStyle]="{'top': '30%'}">
                            <div class="d-inline-block" ngbDropdown #myDrop2="ngbDropdown">
                              <button id="dropdownBasic2" ngbDropdownAnchor (mouseover)="myDrop2.open()"
                                (mouseout)="myDrop2.close();">
                              </button>
                              <div ngbDropdownMenu aria-labelledby="dropdownBasic2">
                                <p><b class="one-line-text">Draymond Green</b></p>
                                <p><strong>GOAL</strong></p>
                                <p>12:23 <span class="point">2</span></p>
                              </div>
                            </div>
                          </li>
                          <li class="opp-team" [ngStyle]="{'top': '20%', 'left': '70%'}">
                            <div class="d-inline-block" ngbDropdown #myDrop3="ngbDropdown">
                              <button id="dropdownBasic3" ngbDropdownAnchor (mouseover)="myDrop3.open()"
                                (mouseout)="myDrop3.close();">
                              </button>
                              <div ngbDropdownMenu aria-labelledby="dropdownBasic3">
                                <p><b class="one-line-text">Draymond Green</b></p>
                                <p><strong>GOAL</strong></p>
                                <p>12:23 <span class="point">2</span></p>
                              </div>
                            </div>
                          </li>
                          <li class="opp-team made" [ngStyle]="{'top': '60%', 'left': '80%'}">
                            <div class="d-inline-block" ngbDropdown #myDrop4="ngbDropdown">
                              <button id="dropdownBasic4" ngbDropdownAnchor (mouseover)="myDrop4.open()"
                                (mouseout)="myDrop4.close();">
                              </button>
                              <div ngbDropdownMenu aria-labelledby="dropdownBasic4">
                                <p><b class="one-line-text">Draymond Green</b></p>
                                <p><strong>GOAL</strong></p>
                                <p>12:23 <span class="point">2</span></p>
                              </div>
                            </div>
                          </li>
                        </ul>
                      </div>
                    </div>
                  </div>
                  <div class="map-selection">
                    <p>Team</p>
                    <div ngbDropdown class="common-dropdown">
                      <button id="dropdownBasic1" ngbDropdownToggle>ALL</button>
                      <div ngbDropdownMenu aria-labelledby="dropdownBasic1">
                        <button ngbDropdownItem>Team - 1</button>
                        <button ngbDropdownItem>Team 2</button>
                        <button ngbDropdownItem>Team 3</button>
                      </div>
                    </div>
                    <p>Quarter</p>
                    <div ngbDropdown class="common-dropdown">
                      <button id="dropdownBasic2" ngbDropdownToggle>Both</button>
                      <div ngbDropdownMenu aria-labelledby="dropdownBasic2">
                        <button ngbDropdownItem class="selected">Team - 1</button>
                        <button ngbDropdownItem>Team 2</button>
                        <button ngbDropdownItem>Team 3</button>
                      </div>
                    </div>
                    <ul class="no-margin">
                      <li>
                        <div class="custom-check-box">
                          <Input type="checkbox" class="form-check-input" />
                          <div class="custom-check"></div>
                        </div>
                        <span>Made</span>
                      </li>
                      <li>
                        <div class="custom-check-box">
                          <Input type="checkbox" class="form-check-input" />
                          <div class="custom-check"></div>
                        </div>
                        <span>Miss</span>
                      </li>
                    </ul>

                  </div>
                </div>

              </div> -->

              <!-- Quater Tabs -->
              <ngb-tabset class="filled-tabs scorecard-tab">
                <ngb-tab *ngFor="let period of commentry?.data?.periods">
                  <ng-template ngbTabTitle>
                    <span>{{ 'Q' + period.sequence }}</span>
                  </ng-template>
                  <ng-template ngbTabContent>
                    <app-goal-commentry *ngIf="period.events.length > 0" [commentry]="period.events"
                      [sport]="'Basketball'"></app-goal-commentry>
                  </ng-template>
                </ngb-tab>
              </ngb-tabset>

            </ng-template>
          </ngb-tab>
          <!--END - PLAY BY PLAY  -->

          <!--START - BOX SCORE  -->
          <ngb-tab *ngIf="matchInfo?.status == 'closed'">
            <ng-template ngbTabTitle>{{ 'Box Score' | translate }}</ng-template>
            <ng-template ngbTabContent>
              <app-loader *ngIf="boxScoreParams?.loading"></app-loader>
              <app-no-data-widget *ngIf="!boxScoreParams?.loading && (!boxData?.home?.squads && !boxData?.away?.squads)"
                [sport]="'Basketball'">
              </app-no-data-widget>
              <!-- Quater Tabs -->
              <ngb-tabset class="filled-tabs scorecard-tab" *ngIf=" (boxData?.home?.squads || boxData?.away?.squads)">
                <ngb-tab *ngIf="boxData?.home">
                  <ng-template ngbTabTitle>
                    <span>{{ boxData?.home?.market }} {{ boxData?.home?.name }}</span>
                  </ng-template>
                  <ng-template ngbTabContent>
                    <app-player-table *ngIf="boxData?.home?.squads?.length > 0" [data]="boxData?.home?.squads"
                      [options]=" {
                          sport:'Basketball',
                          titles : [('Cricket_Module2.player' | translate),'MIN','FG','3PT','FT','REB','OREB','DREB','AST','STL','BLK','TO','PF','PTS'],
                          values : ['full_name', 'statistics.minutes', 'statistics.field_goals_made', 'statistics.three_points_made', 'statistics.free_throws_made', 'statistics.rebounds', 'statistics.offensive_rebounds', 'statistics.defensive_rebounds', 'statistics.assists', 'statistics.steals', 'statistics.blocks', 'statistics.turnovers', 'statistics.personal_fouls', 'statistics.points'],
                          class : ['nba-table nba-tour-stats-table'],
                          class_light_row : ['light-row'],
                          tbl_type:'stats',
                          type:'no_image'
                        }">
                    </app-player-table>
                  </ng-template>
                </ngb-tab>
                <ngb-tab *ngIf="boxData?.away">
                  <ng-template ngbTabTitle>
                    <span>{{ boxData?.away?.market }} {{ boxData?.away?.name }}</span>
                  </ng-template>
                  <ng-template ngbTabContent>
                    <app-player-table *ngIf="boxData?.away?.squads?.length > 0" [data]="boxData?.away?.squads"
                      [options]=" {
                          sport:'Basketball',
                          titles : [('Cricket_Module2.player' | translate),'MIN','FG','3PT','FT','REB','OREB','DREB','AST','STL','BLK','TO','PF','PTS'],
                          values : ['full_name', 'statistics.minutes', 'statistics.field_goals_made', 'statistics.three_points_made', 'statistics.free_throws_made', 'statistics.rebounds', 'statistics.offensive_rebounds', 'statistics.defensive_rebounds', 'statistics.assists', 'statistics.steals', 'statistics.blocks', 'statistics.turnovers', 'statistics.personal_fouls', 'statistics.points'],
                          class : ['nba-table nba-tour-stats-table'],
                          class_light_row : ['light-row'],
                          tbl_type:'stats',
                          type:'no_image'
                        }">
                    </app-player-table>
                  </ng-template>
                </ngb-tab>
              </ngb-tabset>

            </ng-template>
          </ngb-tab>
          <!--END - BOX SCORE  -->

          <!--START - STATS -->
          <ngb-tab *ngIf="matchInfo?.status === 'closed'">
            <ng-template ngbTabTitle>
              <div>{{ 'widgetModule.Stats' | translate }}</div>
            </ng-template>
            <ng-template ngbTabContent>
              <app-match-stats [sport]="'Basketball'" [matchStats]="matchInfo"></app-match-stats>
            </ng-template>
          </ngb-tab>
          <!--END - STATS -->

          <!--START - LIVE MATCH TRACKER-->
          <ngb-tab *ngIf="matchInfo?.id">
            <ng-template ngbTabTitle>
              <div>{{'Cricket_Module.Hawk_Eye' | translate}}</div>
            </ng-template>
            <ng-template ngbTabContent>
              <app-live-match-tracker [matchid]="matchInfo?.id">
              </app-live-match-tracker>
            </ng-template>
          </ngb-tab>
          <!--END - LIVE MATCH TRACKER-->

          <!--START - INFO-->
          <ngb-tab>
            <ng-template ngbTabTitle>
              <div>{{ 'Kabaddi_Module.Info' | translate }}</div>
            </ng-template>
            <ng-template ngbTabContent>
              <app-match-info-card *ngIf="matchInfo" [data]="matchInfo"
                [options]="{
               sport:'Basketball',
               titles : [('Cricket_Module.Match' | translate), ('widgetModule.venue' | translate)],
               values : [ matchInfo?.home?.name + ' vs '+ matchInfo?.away?.name, matchInfo?.venue?.name +', '+matchInfo?.venue?.city +', '+matchInfo?.venue?.country] }">
              </app-match-info-card>
              <app-venue-map-card [sport]="'Basketball'" [venuedetails]="matchInfo?.venuedetails"
                *ngIf="matchInfo?.venuedetails">
              </app-venue-map-card>
            </ng-template>
          </ngb-tab>
          <!--END - INFO-->

          <!--START - NEWS TAB-->
          <ngb-tab>
            <ng-template ngbTabTitle>{{ 'Shared_module.news' | translate }}</ng-template>
            <ng-template ngbTabContent>
              <app-blog-list *ngIf="paramArticle" [options]="paramArticle" [sport]="'Basketball'">
              </app-blog-list>
            </ng-template>
          </ngb-tab>
          <!--END - NEWS TAB-->
        </ngb-tabset>
        <!-- END - MATCH TABS-->
      </div>
      <div class="sidebar-col">
        <div class="sticky-sidebar">
          <!--START - SIDERBAR ADS-->
          <app-custom-ads-widget [type]="'Banner'"></app-custom-ads-widget>
          <!--END - SIDERBAR ADS-->
          <!--START - SIDERBAR STORY-->
          <!-- <app-sidebar-links [sport]="'Cricket'" [link_type]="'tournament'"
            [options]="{type: 'current', title:'Recommended Links'}"></app-sidebar-links> -->
          <!--START - SIDERBAR STORY-->
          <app-custom-ads-widget [type]="'Rectangle'"></app-custom-ads-widget>
        </div>
      </div>
    </div>
  </div>
</section>