<section class="home-banner">
  <img class="common-banner-pattern" src="../../../assets/images/common-banner-pattern.svg">
  <!-- <img src="../../../assets/images/badminton.jpg"> -->
  <div class="banner-text">
    <div class="container">
      <h1>Coming Soon</h1>
    </div>
  </div>
  <!-- style="background-image: url(../../../assets/images/video-thumb.jpg)" -->
  <div class="banner-images">
    <div class="banner-image active" [style.background-image]="sport == 'soccer' ? 'url(\'../../../assets/images/football.jpg\')' : '' || 
    sport == 'badminton' ? 'url(\'../../../assets/images/badminton.jpg\')' : ''  ||
    sport == 'basketball' ? 'url(\'../../../assets/images/basketball.jpg\')' : '' ||
    sport == 'field-Hockey' ? 'url(\'../../../assets/images/hockey.jpg\')' : '' ||
    sport == 'racing' ? 'url(\'../../../assets/images/racing.jpg\')' : '' ||
    sport == 'tennis-sports' ? 'url(\'../../../assets/images/tennis.jpg\')' : '' 
    "></div>
  </div>
</section>
<section class="common-section">
<app-custom-ads-widget [type]="'Large'"></app-custom-ads-widget>
</section>
<div class="small-loader">
  <span></span>
</div>