/* -------- Banner Section ------- */
.home-banner                                        { padding: 60px 0px; height: 560px; background: #1B2A5A; position: relative; overflow: hidden; text-align: center; }
.home-banner:after                                  { content: ""; display: block; position: absolute; width: 100%; height: 32px; left: 0px; bottom: 0px; background: url(../../../assets/images/bottom-round-shape.svg) no-repeat center center / 100% 100%; z-index: 5; }
.home-banner .banner-text                           { position: relative; top: 50%; transform: translateY(-50%); -webkit-transform: translateY(-50%); z-index: 3; }
.home-banner h1                                     { margin: 0px; font-size: 96px; line-height: 120px; color: #fff; text-align: center; }
.home-banner .banner-images                         { position: absolute; width: 66%; height: 100%; top: 0px; right: 0px; z-index: 1; opacity: 0.79; }
.home-banner .banner-image                          { position: absolute; width: 100%; height: 100%; background: no-repeat center center / cover; transition: all 0.5s ease-in-out; -webkit-transition: all 0.5s ease-in-out; }
.home-banner .banner-image:after                    { content: ""; display: block; position: absolute; width: 100%; height: 100%; top: 0%; left: 0px; background-image: linear-gradient( to right, #1B2A5A 8%, rgba(27,42,90,0.00) 56%); }
.home-banner .banner-images .banner-image           { opacity: 0; transform: scale(1.2); -webkit-transform: scale(1.2); }
.home-banner .banner-images .banner-image.active    { opacity: 1;  transform: scale(1); -webkit-transform: scale(1); }
.home-banner .common-banner-pattern                 { width: 100%; position: absolute; left: -90%; top: -12%; transform: rotate(-168deg) translate(-30% , 43%) scale(1.1); -webkit-transform: rotate(-168deg) translate(-30% , 43%) scale(1.1); transform-origin: center center; opacity: 0.24; z-index: 3; }

@media (min-width: 1380px) and (max-width: 1499px) {
    .home-banner .common-banner-pattern     { left: -98%; top: 0%; }
}

@media (min-width: 1200px) and (max-width: 1379px) {
/* -------- Banner Section ------- */
    .home-banner                            { height: 500px; }
    .home-banner h1                         { font-size: 86px; line-height: 110px; }
    .home-banner .common-banner-pattern     { left: -98%; top: 0%; }
}

@media (min-width: 992px) and (max-width: 1199px) {
/* -------- Banner Section ------- */
    .home-banner                            { height: 460px; } 
    .home-banner h1                         { font-size: 76px; line-height: 96px; }
    .home-banner .common-banner-pattern     { left: -98%; top: 0%; }
}

@media (min-width: 768px) and (max-width: 991px) {
/* -------- Banner Section ------- */
    .home-banner                            { height: 410px;} 
    .home-banner:after                      { height: 26px;}
    .home-banner h1                         { font-size: 60px; line-height: 78px; }
    .home-banner .common-banner-pattern     { left: -90%; top: 14%; }
}

@media (max-width: 767px) {
/* -------- Banner Section ------- */
    .home-banner                            { height: 360px;} 
    .home-banner:after                      { height: 20px;}
    .home-banner h1                         { font-size: 44px; line-height: 58px; }
    .home-banner .common-banner-pattern     { left: -96%; top: 14%; }
}
@media (max-width: 575px) {
/* -------- Banner Section ------- */
    .home-banner:after                      { height: 16px;}
    .home-banner h1                         { font-size: 32px; line-height: 46px; }
    .home-banner .common-banner-pattern     { left: -105%; top: 24%; transform: rotate(-164deg) translate(-40% , 43%) scale(1.1); -webkit-transform: rotate(-164deg) translate(-40% , 43%) scale(1.1); }
}