<section class="common-section cricket-recentnews recentnews-section">
  <div class="container">
    <div class="row sidebar-row">
      <div class="content-col">
        <div class="common-title-btn big-title-btn d-flex justify-content-between align-items-center">
          <h1>Blogs</h1>
        </div>
        <div class="common-news-list">
          <div class="common-news-item d-flex common-shadow">
            <div class="common-news-img common-zoom-container">
              <div class="common-zoom-img" style="background-image: url(../../../assets/images/video-thumb.jpg)">
              </div>
            </div>
            <div class="common-news-desc">
              <div class="news-excerpt">
                <h5><a>West Indies changes give Pollard World Cup hope</a></h5>
                <p>Kieron Pollard last played an ODI in October 2016 but may still have
                  hopes of making it to the
                  West
                  Indies World Cup squad because of a new set-up running Cricket West
                  Indies…</p>
              </div>
              <div class="author-info d-flex justify-content-between align-items-center">
                <p class="author"><a>Nick Evans</a>3 hrs ago</p>
                <p class="view">6.5K</p>
              </div>
            </div>
          </div>
          <div class="common-news-item d-flex common-shadow">
            <div class="common-news-img common-news-video common-zoom-container">
              <div class="common-zoom-img" style="background-image: url(../../../assets/images/video-thumb.jpg)">
              </div>
            </div>
            <div class="common-news-desc">
              <div class="news-excerpt">
                <h5><a>West Indies changes give Pollard World Cup hope</a></h5>
                <p>Kieron Pollard last played an ODI in October 2016 but may still have
                  hopes of making it to the
                  West
                  Indies World Cup squad because of a new set-up running Cricket West
                  Indies…</p>
              </div>
              <div class="author-info d-flex justify-content-between align-items-center">
                <p class="author"><a>Nick Evans</a>3 hrs ago</p>
                <p class="view">6.5K</p>
              </div>
            </div>
          </div>
          <div class="common-news-item d-flex common-shadow">
            <div class="common-news-img common-zoom-container">
              <div class="common-zoom-img" style="background-image: url(../../../assets/images/video-thumb.jpg)">
              </div>
            </div>
            <div class="common-news-desc">
              <div class="news-excerpt">
                <h5><a>West Indies changes give Pollard World Cup hope</a></h5>
                <p>Kieron Pollard last played an ODI in October 2016 but may still have
                  hopes of making it to the
                  West
                  Indies World Cup squad because of a new set-up running Cricket West
                  Indies…</p>
              </div>
              <div class="author-info d-flex justify-content-between align-items-center">
                <p class="author"><a>Nick Evans</a>3 hrs ago</p>
                <p class="view">6.5K</p>
              </div>
            </div>
          </div>
          <div class="common-news-item d-flex common-shadow">
            <div class="common-news-img common-zoom-container">
              <div class="common-zoom-img" style="background-image: url(../../../assets/images/video-thumb.jpg)">
              </div>
            </div>
            <div class="common-news-desc">
              <div class="news-excerpt">
                <h5><a>West Indies changes give Pollard World Cup hope</a></h5>
                <p>Kieron Pollard last played an ODI in October 2016 but may still have
                  hopes of making it to the
                  West
                  Indies World Cup squad because of a new set-up running Cricket West
                  Indies…</p>
              </div>
              <div class="author-info d-flex justify-content-between align-items-center">
                <p class="author"><a>Nick Evans</a>3 hrs ago</p>
                <p class="view">6.5K</p>
              </div>
            </div>
          </div>
          <div class="common-news-item d-flex common-shadow">
            <div class="common-news-img common-zoom-container">
              <div class="common-zoom-img" style="background-image: url(../../../assets/images/video-thumb.jpg)">
              </div>
            </div>
            <div class="common-news-desc">
              <div class="news-excerpt">
                <h5><a>West Indies changes give Pollard World Cup hope</a></h5>
                <p>Kieron Pollard last played an ODI in October 2016 but may still have
                  hopes of making it to the
                  West
                  Indies World Cup squad because of a new set-up running Cricket West
                  Indies…</p>
              </div>
              <div class="author-info d-flex justify-content-between align-items-center">
                <p class="author"><a>Nick Evans</a>3 hrs ago</p>
                <p class="view">6.5K</p>
              </div>
            </div>
          </div>
          <div class="common-news-item d-flex common-shadow">
            <div class="common-news-img common-news-video common-zoom-container">
              <div class="common-zoom-img" style="background-image: url(../../../assets/images/video-thumb.jpg)">
              </div>
            </div>
            <div class="common-news-desc">
              <div class="news-excerpt">
                <h5><a>West Indies changes give Pollard World Cup hope</a></h5>
                <p>Kieron Pollard last played an ODI in October 2016 but may still have
                  hopes of making it to the
                  West
                  Indies World Cup squad because of a new set-up running Cricket West
                  Indies…</p>
              </div>
              <div class="author-info d-flex justify-content-between align-items-center">
                <p class="author"><a>Nick Evans</a>3 hrs ago</p>
                <p class="view">6.5K</p>
              </div>
            </div>
          </div>
          <div class="common-news-item d-flex common-shadow">
            <div class="common-news-img common-zoom-container">
              <div class="common-zoom-img" style="background-image: url(../../../assets/images/video-thumb.jpg)">
              </div>
            </div>
            <div class="common-news-desc">
              <div class="news-excerpt">
                <h5><a>West Indies changes give Pollard World Cup hope</a></h5>
                <p>Kieron Pollard last played an ODI in October 2016 but may still have
                  hopes of making it to the
                  West
                  Indies World Cup squad because of a new set-up running Cricket West
                  Indies…</p>
              </div>
              <div class="author-info d-flex justify-content-between align-items-center">
                <p class="author"><a>Nick Evans</a>3 hrs ago</p>
                <p class="view">6.5K</p>
              </div>
            </div>
          </div>
          <div class="common-news-item d-flex common-shadow">
            <div class="common-news-img common-zoom-container">
              <div class="common-zoom-img" style="background-image: url(../../../assets/images/video-thumb.jpg)">
              </div>
            </div>
            <div class="common-news-desc">
              <div class="news-excerpt">
                <h5><a>West Indies changes give Pollard World Cup hope</a></h5>
                <p>Kieron Pollard last played an ODI in October 2016 but may still have
                  hopes of making it to the
                  West
                  Indies World Cup squad because of a new set-up running Cricket West
                  Indies…</p>
              </div>
              <div class="author-info d-flex justify-content-between align-items-center">
                <p class="author"><a>Nick Evans</a>3 hrs ago</p>
                <p class="view">6.5K</p>
              </div>
            </div>
          </div>
        </div>
        <div class="text-center"><button class="theme-btn down-btn">Load More<span></span></button>
        </div>
        <div class="ad-block"><img src="../../../assets/images/ad-1320-300.jpg" alt="AD"></div>
      </div>
      <div class="sidebar-col">
        <div class="sticky-sidebar">
          <div class="ad-block"><img src="../../../assets/images/ad-320-80.jpg" alt="AD"></div>
          <div class="ad-block"><img src="../../../assets/images/ad-320-267.jpg" alt="AD"></div>
          <div class="common-stories-widget common-shadow rounded-box">
            <h5>Recommended Stories</h5>
            <ul class="common-list">
              <li><a>Mumbai Indians</a></li>
              <li><a>Kolkata Knight Riders</a></li>
              <li><a>Royal Challengers Bangalore</a></li>
              <li><a>Chennai Super Kings</a></li>
              <li><a>Kings XI Punjab</a></li>
            </ul>
          </div>
          <div class="ad-block"><img src="../../../assets/images/ad-320-80.jpg" alt="AD"></div>
        </div>
      </div>
    </div>
  </div>
</section>