<section class="common-section cricket-recentnews recentnews-section">
  <div class="container">
    <div class="row sidebar-row">
      <div class="content-col">
        <div class="common-title-btn big-title-btn d-flex justify-content-between align-items-center">
          <h1>Blogs</h1>
        </div>
        <div class="common-news-list">
          <div class="common-news-item d-flex common-shadow" *ngFor="let blog of blogs">
            <div class="common-news-img common-zoom-container" [ngClass]="{'common-news-video': blog.eType == 'Video'}">
              <div class="common-zoom-img" [lazyLoad]="blog.sImage | resizeImage:['s']" (click)="blogview(blog._id,blog.eType,blog.sTitle)">
              </div>
            </div>
            <div class="common-news-desc">
              <div class="news-excerpt">
                <h5><a (click)="blogview(blog._id,blog.eType,blog.sTitle)">{{blog.sTitle}}</a></h5>
                <p [innerHtml]="blog.sDescription | truncate:[164,'...']" (click)="blogview(blog._id,blog.eType,blog.sTitle)"></p>
              </div>
              <div class="author-info d-flex justify-content-between align-items-center">
                <p class="author"><a>{{blog.iId.sFirstName}}
                    {{blog.iId.sLastName}}</a>{{blog.dUpdatedAt | amFromUtc | amLocal | amTimeAgo}}</p>
                <p class="view">{{blog.nViewCounts}}</p>
              </div>
            </div>
          </div>
        </div>
        <div class="text-center"><button class="theme-btn down-btn" (click)="loadmore()">Load More<span></span></button>
        </div>
        <div class="ad-block"><img src="../../../assets/images/ad-1320-300.jpg" alt="AD"></div>
      </div>
      <div class="sidebar-col">
        <div class="sticky-sidebar">
          <div class="ad-block"><img src="../../../assets/images/ad-320-80.jpg" alt="AD"></div>
          <div class="ad-block"><img src="../../../assets/images/ad-320-267.jpg" alt="AD"></div>
          <div class="common-stories-widget common-shadow rounded-box">
            <h5>Recent Stories</h5>
            <ul class="common-list">
              <li *ngFor="let item of widgetblogs | slice:0:5"><a (click)="blogview(item._id,item.eType,item.sTitle)">{{item.sTitle}}</a></li>
            </ul>
          </div>
          <div class="ad-block"><img src="../../../assets/images/ad-320-80.jpg" alt="AD"></div>
        </div>
      </div>
    </div>
  </div>
</section>