
  <!-- <div>
    <p>Login with FB</p>
    <button (click)="signInWithFB()">FB</button>
    <p>Login with Google</p>
    <button (click)="signInWithGoogle()">Google</button>
    <div *ngIf="socialUser">
      <p>{{socialUser.name}}</p>
      <p><img [src]="socialUser.photoUrl" ></p>
    </div>
  </div> -->

  <!-- <button (click)="logout()">Logout</button> -->
  
    
    <!-- <div *ngIf="socialUser2">
      <p>{{socialUser2.name}}</p>
      <p><img [src]="socialUser2.photoUrl" ></p>
    </div> -->
  



  <!--Home page-->
  <!-- <div class="container">
    <div class="row">
    <div class="col-sm-10 offset-sm-1">
    <div class="home-banner">
      <div class="home-banner-lightbg" [ngStyle]="{'background': mutedcolor}"></div>
      <div class="home-banner-pic" style="background-image: url(../assets/images/banner/irxfqnwgzlyn0oavf121.jpg);" ></div>
      <div class="home-banner-bg" [ngStyle]="{'background': vibrantcolor}"></div>
      <h1>Chennai Super Kings defeat <br>Rajasthan Royals by 8 runs</h1>
    </div>
    </div>
    </div>
    </div> -->
    <!-- <img src="../assets/images/banner/9S6A5434.jpg"> -->
<router-outlet></router-outlet>