<app-main-header></app-main-header>
<div class="main-container">
  <router-outlet></router-outlet>
</div>
<!-- <app-main-footer></app-main-footer> -->

<app-api-store></app-api-store>
<div class="new-ver-toast d-flex justify-content-between align-items-center" [ngClass]="{active: isupdate}">
  <p>{{'Shared_Module3.new_version_available' | translate}}</p>
  <p><a (click)="updatewebsite()">{{'Shared_Module3.Take_me_there' | translate}} <span></span></a></p>
</div>

<div class="cookies-notification white-text d-flex align-items-center justify-content-between"
  [ngClass]="{'cookies-hide': !showCookiepopup}">
  <div>
    <p class="no-margin">{{'Shared_Module3.cookie_text' | translate}}, {{'Shared_Module3.go' | translate}}<a
        [routerLink]="['/terms-and-conditions']">
        {{'Shared_Module3.here' | translate}}</a>.</p>
    <p class="no-margin">{{'Shared_Module3.cookie_continue_use_text' | translate}}</p>
  </div>
  <button class="cookies-close" (click)="showCookiepopup = false"></button>
</div>