<section class="common-section">
  <div class="container">
    <div class="row sidebar-row">
      <div class="content-col">
        <div class="common-title-btn big-title-btn d-flex justify-content-between align-items-center">
          <h1>{{ 'widgetModule.Table' | translate }}</h1>
          <div class="nba-common-selection d-flex">
            <!-- Season Filter -->
            <div ngbDropdown class="common-dropdown date-dropdown" *ngIf="seasons?.length > 0" #seasonDrop="ngbDropdown"
              placement="bottom">
              <button id="dropdownBasic1" ngbDropdownToggle>{{filter.description}}</button>
              <div ngbDropdownMenu aria-labelledby="dropdownBasic1">
                <button ngbDropdownItem *ngFor="let season of seasons"
                  (click)="seasonDrop.close();filterHockeySeason(season);"
                  [ngClass]="{'selected' : filter.description == season.description  }">
                  {{season.description}}
                </button>
              </div>
            </div>
          </div>
        </div>

        <ngb-tabset class="filled-tabs">
          <ngb-tab title="{{'Drivers' | translate}}">
            <ng-template ngbTabContent>
              <app-player-table *ngIf="standings?.competitors" [data]="standings?.competitors" [options]=" {
                      sport:'Racing',
                      titles : ['POS',('Cricket_Module2.player' | translate), 'R', 'V', 'PP', 'PF', 'FL', 'PTS'],
                      sort : [true, false, true, true, true, true, true, true],
                      values : ['result.position', 'name', 'result.races', 'result.victories', 'result.polepositions', 'result.podiums', 'result.fastest_laps', 'result.points'],
                      class : ['tour-stats-table'],
                      game: game,
                      tbl_type:'player'
                    }">
              </app-player-table>
              <app-loader *ngIf="loading"></app-loader>
              <app-no-data-widget *ngIf="!loading && !standings?.competitors" [sport]="'Racing'"></app-no-data-widget>
            </ng-template>
          </ngb-tab>

          <ngb-tab title="{{'Constructors' | translate}}">
            <ng-template ngbTabContent>
              <app-player-table *ngIf="standings?.teams" [data]="standings?.teams" [options]=" {
                        sport:'Racing',
                        titles : ['POS',('Cricket_Module.Teams' | translate), 'R', 'V', 'PP', 'PF', 'FL', 'PTS'],
                        sort : [true, false, true, true, true, true, true, true],
                        values : ['result.position', 'name', 'result.races', 'result.victories', 'result.polepositions', 'result.podiums', 'result.fastest_laps', 'result.points'],
                        class : ['tour-stats-table'],
                        game: game,
                        tbl_type:'team'
                      }">
              </app-player-table>
              <app-loader *ngIf="loading"></app-loader>
              <app-no-data-widget *ngIf="!loading && !standings?.teams" [sport]="'Racing'"></app-no-data-widget>
            </ng-template>
          </ngb-tab>
        </ngb-tabset>

      </div>
      <div class="sidebar-col">
        <div class="sticky-sidebar">
          <app-custom-ads-widget [type]="'Banner'"></app-custom-ads-widget>
          <app-top-scorer-widget [sport]="'Racing'"></app-top-scorer-widget>
          <!-- <app-custom-ads-widget [type]="'Rectangle'"></app-custom-ads-widget> -->
        </div>
      </div>
    </div>
  </div>
</section>