<ng-container *ngIf="sport == 'kabaddi'">
  <div class="match-stats common-shadow rounded-box" *ngIf="matchStats">
    <div class="stat-row head-row d-flex align-items-center">
      <div>
        <p class="d-flex align-items-center justify-content-end">
          <b>
            <a
              [routerLink]="['/kabaddi/team', matchStats?.match_info?.teams?.home?.tid, (matchStats?.match_info?.teams?.home?.tname | slugify )]">
              {{matchStats.match_info.teams.home.tname}}
            </a>
          </b>
          <img alt="{{matchStats?.match_info?.teams?.home?.tname}}"
            [lazyLoad]="matchStats?.match_info?.teams?.home?.tid | logosurl:'kabaddi'"
            [defaultImage]="cricketService.teamPlaceholder" [offset]="commonService.lazyloadoffset">
        </p>
      </div>
      <div class="center-col">
        <h5>{{ 'Kabaddi_Module.match_stats' | translate }}</h5>
      </div>
      <div>
        <p class="d-flex align-items-center justify-content-end">
          <a
            [routerLink]="['/kabaddi/team', matchStats?.match_info?.teams?.away?.tid, (matchStats?.match_info?.teams?.away?.tname | slugify )]">
            {{matchStats.match_info.teams.away.tname}}
          </a>
          <img alt="{{matchStats?.match_info?.teams?.away?.tname}}"
            [lazyLoad]="matchStats?.match_info?.teams?.away?.tid | logosurl:'kabaddi'"
            [defaultImage]="cricketService.teamPlaceholder" [offset]="commonService.lazyloadoffset">
        </p>
      </div>
    </div>
    <div class="stat-row point-row d-flex align-items-center">
      <div>
        <p [ngClass]="{'hightlight': matchStats.match_info.result?.home > matchStats.match_info.result?.away}">
          <b>{{ ((matchStats.match_info.result?.home) / ((matchStats.match_info.result?.home | strTonumber) + (matchStats.match_info.result?.away | strTonumber)) * 100) | number:'2.0-0' }}</b><span
            class="point-line"
            [ngStyle]="{'width': 'calc('+ ((matchStats.match_info.result?.home) / ((matchStats.match_info.result?.home | strTonumber) + (matchStats.match_info.result?.away | strTonumber)) * 100) +'% * 0.8 )'}"><span></span></span>
        </p>
      </div>
      <div class="center-col">
        <p>{{ 'widgetModule.points' | translate }}%</p>
      </div>
      <div>
        <p [ngClass]="{'hightlight': matchStats.match_info.result?.away > matchStats.match_info.result?.home}">
          <span class="point-line"
            [ngStyle]="{'width': 'calc('+ ((matchStats.match_info.result?.away) / ((matchStats.match_info.result?.home | strTonumber) + (matchStats.match_info.result?.away | strTonumber)) * 100) +'% * 0.8 )'}"><span></span></span>
          <b>{{ ((matchStats.match_info.result?.away) / ((matchStats.match_info.result?.home | strTonumber) + (matchStats.match_info.result?.away | strTonumber)) * 100) | number:'2.0-0' }}</b>
        </p>
      </div>
    </div>
    <div class="stat-row d-flex align-items-center">
      <div>
        <p
          [ngClass]="{'hightlight': matchStats.team_stats.home.raidtotalpoint > matchStats.team_stats.away.raidtotalpoint}">
          <b>{{matchStats.team_stats.home.raidtotalpoint}}</b></p>
      </div>
      <div class="center-col">
        <p>{{ 'widgetModule.Raid_Points' | translate }}</p>
      </div>
      <div>
        <p
          [ngClass]="{'hightlight': matchStats.team_stats.away.raidtotalpoint > matchStats.team_stats.home.raidtotalpoint}">
          <b>{{matchStats.team_stats.away.raidtotalpoint}}</b></p>
      </div>
    </div>
    <div class="stat-row d-flex align-items-center">
      <div>
        <p
          [ngClass]="{'hightlight': matchStats.team_stats.home.tackletotalpoint > matchStats.team_stats.away.tackletotalpoint}">
          <b>{{matchStats.team_stats.home.tackletotalpoint}}</b></p>
      </div>
      <div class="center-col">
        <p>{{ 'Kabaddi_Module.tackle_point' | translate }}</p>
      </div>
      <div>
        <p
          [ngClass]="{'hightlight': matchStats.team_stats.away.tackletotalpoint > matchStats.team_stats.home.tackletotalpoint}">
          <b>{{matchStats.team_stats.away.tackletotalpoint}}</b></p>
      </div>
    </div>
    <div class="stat-row d-flex align-items-center">
      <div>
        <p [ngClass]="{'hightlight': matchStats.team_stats.home.alloutpoint > matchStats.team_stats.away.alloutpoint }">
          <b>{{matchStats.team_stats.home.alloutpoint}}</b></p>
      </div>
      <div class="center-col">
        <p>{{ 'Kabaddi_Module.all_out_point' | translate }}</p>
      </div>
      <div>
        <p [ngClass]="{'hightlight': matchStats.team_stats.away.alloutpoint > matchStats.team_stats.home.alloutpoint}">
          <b>{{matchStats.team_stats.away.alloutpoint}}</b></p>
      </div>
    </div>
    <div class="stat-row d-flex align-items-center">
      <div>
        <p [ngClass]="{'hightlight': matchStats.team_stats.home.extrapoint > matchStats.team_stats.away.extrapoint}">
          <b>{{matchStats.team_stats.home.extrapoint}}</b></p>
      </div>
      <div class="center-col">
        <p>{{ 'Kabaddi_Module.extra_points' | translate }}</p>
      </div>
      <div>
        <p [ngClass]="{'hightlight': matchStats.team_stats.away.extrapoint > matchStats.team_stats.home.extrapoint}">
          <b>{{matchStats.team_stats.away.extrapoint}}</b></p>
      </div>
    </div>
  </div>
</ng-container>

<ng-container *ngIf="sport == 'soccer'">
  <div class="match-stats common-shadow rounded-box" *ngIf="matchStats">
    <div class="stat-row head-row d-flex align-items-center">
      <div>
        <p class="d-flex align-items-center justify-content-end">
          <b>
            <a
              [routerLink]="['/kabaddi/team', matchStats?.match_info?.teams?.home?.tid, (matchStats?.match_info?.teams?.home?.tname | slugify )]">
              {{matchStats.match_info.teams.home.tname}}
            </a>
          </b>
          <img alt="{{matchStats?.match_info?.teams?.home?.tname}}"
            [lazyLoad]="matchStats?.match_info?.teams?.home?.tid | logosurl:'kabaddi'"
            [defaultImage]="cricketService.teamPlaceholder" [offset]="commonService.lazyloadoffset">
        </p>
      </div>
      <div class="center-col">
        <h5>{{ 'Kabaddi_Module.match_stats' | translate }}</h5>
      </div>
      <div>
        <p class="d-flex align-items-center justify-content-end">
          <a
            [routerLink]="['/kabaddi/team', matchStats?.match_info?.teams?.away?.tid, (matchStats?.match_info?.teams?.away?.tname | slugify )]">
            {{matchStats.match_info.teams.away.tname}}
          </a>
          <img alt="{{matchStats?.match_info?.teams?.away?.tname}}"
            [lazyLoad]="matchStats?.match_info?.teams?.away?.tid | logosurl:'kabaddi'"
            [defaultImage]="cricketService.teamPlaceholder" [offset]="commonService.lazyloadoffset">
        </p>
      </div>
    </div>
    <div class="stat-row point-row d-flex align-items-center">
      <div>
        <p [ngClass]="{'hightlight': matchStats.match_info.result?.home > matchStats.match_info.result?.away}">
          <b>{{ ((matchStats.match_info.result?.home) / ((matchStats.match_info.result?.home | strTonumber) + (matchStats.match_info.result?.away | strTonumber)) * 100) | number:'2.0-0' }}</b><span
            class="point-line"
            [ngStyle]="{'width': 'calc('+ ((matchStats.match_info.result?.home) / ((matchStats.match_info.result?.home | strTonumber) + (matchStats.match_info.result?.away | strTonumber)) * 100) +'% * 0.8 )'}"><span></span></span>
        </p>
      </div>
      <div class="center-col">
        <p>{{ 'widgetModule.points' | translate }}%</p>
      </div>
      <div>
        <p [ngClass]="{'hightlight': matchStats.match_info.result?.away > matchStats.match_info.result?.home}">
          <span class="point-line"
            [ngStyle]="{'width': 'calc('+ ((matchStats.match_info.result?.away) / ((matchStats.match_info.result?.home | strTonumber) + (matchStats.match_info.result?.away | strTonumber)) * 100) +'% * 0.8 )'}"><span></span></span>
          <b>{{ ((matchStats.match_info.result?.away) / ((matchStats.match_info.result?.home | strTonumber) + (matchStats.match_info.result?.away | strTonumber)) * 100) | number:'2.0-0' }}</b>
        </p>
      </div>
    </div>
    <div class="stat-row d-flex align-items-center">
      <div>
        <p
          [ngClass]="{'hightlight': matchStats.team_stats.home.raidtotalpoint > matchStats.team_stats.away.raidtotalpoint}">
          <b>{{matchStats.team_stats.home.raidtotalpoint}}</b></p>
      </div>
      <div class="center-col">
        <p>{{ 'widgetModule.Raid_Points' | translate }}</p>
      </div>
      <div>
        <p
          [ngClass]="{'hightlight': matchStats.team_stats.away.raidtotalpoint > matchStats.team_stats.home.raidtotalpoint}">
          <b>{{matchStats.team_stats.away.raidtotalpoint}}</b></p>
      </div>
    </div>
    <div class="stat-row d-flex align-items-center">
      <div>
        <p
          [ngClass]="{'hightlight': matchStats.team_stats.home.tackletotalpoint > matchStats.team_stats.away.tackletotalpoint}">
          <b>{{matchStats.team_stats.home.tackletotalpoint}}</b></p>
      </div>
      <div class="center-col">
        <p>{{ 'Kabaddi_Module.tackle_point' | translate }}</p>
      </div>
      <div>
        <p
          [ngClass]="{'hightlight': matchStats.team_stats.away.tackletotalpoint > matchStats.team_stats.home.tackletotalpoint}">
          <b>{{matchStats.team_stats.away.tackletotalpoint}}</b></p>
      </div>
    </div>
    <div class="stat-row d-flex align-items-center">
      <div>
        <p [ngClass]="{'hightlight': matchStats.team_stats.home.alloutpoint > matchStats.team_stats.away.alloutpoint }">
          <b>{{matchStats.team_stats.home.alloutpoint}}</b></p>
      </div>
      <div class="center-col">
        <p>{{ 'Kabaddi_Module.all_out_point' | translate }}</p>
      </div>
      <div>
        <p [ngClass]="{'hightlight': matchStats.team_stats.away.alloutpoint > matchStats.team_stats.home.alloutpoint}">
          <b>{{matchStats.team_stats.away.alloutpoint}}</b></p>
      </div>
    </div>
    <div class="stat-row d-flex align-items-center">
      <div>
        <p [ngClass]="{'hightlight': matchStats.team_stats.home.extrapoint > matchStats.team_stats.away.extrapoint}">
          <b>{{matchStats.team_stats.home.extrapoint}}</b></p>
      </div>
      <div class="center-col">
        <p>{{ 'Kabaddi_Module.extra_points' | translate }}</p>
      </div>
      <div>
        <p [ngClass]="{'hightlight': matchStats.team_stats.away.extrapoint > matchStats.team_stats.home.extrapoint}">
          <b>{{matchStats.team_stats.away.extrapoint}}</b></p>
      </div>
    </div>
  </div>
</ng-container>