<ng-container *ngIf="sport == 'kabaddi'">
  <div class="match-stats common-shadow rounded-box" *ngIf="matchStats">
    <div class="stat-row head-row d-flex align-items-center">
      <div>
        <p class="d-flex align-items-center justify-content-end">
          <b>
            <a
              [routerLink]="['/kabaddi/team', matchStats?.match_info?.teams?.home?.tid, (matchStats?.match_info?.teams?.home?.tname | slugify )]">
              {{matchStats.match_info.teams?.home?.tname}}
            </a>
          </b>
          <img alt="{{matchStats?.match_info?.teams?.home?.tname}}"
            [lazyLoad]="matchStats?.match_info?.teams?.home?.tid | logosurl:'kabaddi'"
            [defaultImage]="commonService.teamPlaceholder" [offset]="commonService.lazyloadoffset">
        </p>
      </div>
      <div class="center-col">
        <h5>{{ 'Kabaddi_Module.match_stats' | translate }}</h5>
      </div>
      <div>
        <p class="d-flex align-items-center">
          <img alt="{{matchStats?.match_info?.teams?.away?.tname}}"
            [lazyLoad]="matchStats?.match_info?.teams?.away?.tid | logosurl:'kabaddi'"
            [defaultImage]="commonService.teamPlaceholder" [offset]="commonService.lazyloadoffset">
          <b>
            <a
              [routerLink]="['/kabaddi/team', matchStats?.match_info?.teams?.away?.tid, (matchStats?.match_info?.teams?.away?.tname | slugify )]">
              {{matchStats.match_info.teams?.away?.tname}}
            </a>
          </b>
        </p>
      </div>
    </div>
    <div class="stat-row point-row d-flex align-items-center">
      <div>
        <p [ngClass]="{'hightlight': matchStats.match_info.result?.home > matchStats.match_info.result?.away}">
          <b>{{ ((matchStats.match_info.result?.home) / ((matchStats.match_info.result?.home | strTonumber) + (matchStats.match_info.result?.away | strTonumber)) * 100) | number:'2.0-0' }}</b><span
            class="point-line"
            [ngStyle]="{'width': 'calc('+ ((matchStats.match_info.result?.home) / ((matchStats.match_info.result?.home | strTonumber) + (matchStats.match_info.result?.away | strTonumber)) * 100) +'% * 0.8 )'}"><span></span></span>
        </p>
      </div>
      <div class="center-col">
        <p>{{ 'widgetModule.points' | translate }}%</p>
      </div>
      <div>
        <p [ngClass]="{'hightlight': matchStats.match_info.result?.away > matchStats.match_info.result?.home}">
          <span class="point-line"
            [ngStyle]="{'width': 'calc('+ ((matchStats.match_info.result?.away) / ((matchStats.match_info.result?.home | strTonumber) + (matchStats.match_info.result?.away | strTonumber)) * 100) +'% * 0.8 )'}"><span></span></span>
          <b>{{ ((matchStats.match_info.result?.away) / ((matchStats.match_info.result?.home | strTonumber) + (matchStats.match_info.result?.away | strTonumber)) * 100) | number:'2.0-0' }}</b>
        </p>
      </div>
    </div>
    <div class="stat-row d-flex align-items-center">
      <div>
        <p
          [ngClass]="{'hightlight': matchStats.team_stats.home.raidtotalpoint > matchStats.team_stats.away.raidtotalpoint}">
          <b>{{matchStats.team_stats.home.raidtotalpoint}}</b></p>
      </div>
      <div class="center-col">
        <p>{{ 'widgetModule.Raid_Points' | translate }}</p>
      </div>
      <div>
        <p
          [ngClass]="{'hightlight': matchStats.team_stats.away.raidtotalpoint > matchStats.team_stats.home.raidtotalpoint}">
          <b>{{matchStats.team_stats.away.raidtotalpoint}}</b></p>
      </div>
    </div>
    <div class="stat-row d-flex align-items-center">
      <div>
        <p
          [ngClass]="{'hightlight': matchStats.team_stats.home.tackletotalpoint > matchStats.team_stats.away.tackletotalpoint}">
          <b>{{matchStats.team_stats.home.tackletotalpoint}}</b></p>
      </div>
      <div class="center-col">
        <p>{{ 'Kabaddi_Module.tackle_point' | translate }}</p>
      </div>
      <div>
        <p
          [ngClass]="{'hightlight': matchStats.team_stats.away.tackletotalpoint > matchStats.team_stats.home.tackletotalpoint}">
          <b>{{matchStats.team_stats.away.tackletotalpoint}}</b></p>
      </div>
    </div>
    <div class="stat-row d-flex align-items-center">
      <div>
        <p [ngClass]="{'hightlight': matchStats.team_stats.home.alloutpoint > matchStats.team_stats.away.alloutpoint }">
          <b>{{matchStats.team_stats.home.alloutpoint}}</b></p>
      </div>
      <div class="center-col">
        <p>{{ 'Kabaddi_Module.all_out_point' | translate }}</p>
      </div>
      <div>
        <p [ngClass]="{'hightlight': matchStats.team_stats.away.alloutpoint > matchStats.team_stats.home.alloutpoint}">
          <b>{{matchStats.team_stats.away.alloutpoint}}</b></p>
      </div>
    </div>
    <div class="stat-row d-flex align-items-center">
      <div>
        <p [ngClass]="{'hightlight': matchStats.team_stats.home.extrapoint > matchStats.team_stats.away.extrapoint}">
          <b>{{matchStats.team_stats.home.extrapoint}}</b></p>
      </div>
      <div class="center-col">
        <p>{{ 'Kabaddi_Module.extra_points' | translate }}</p>
      </div>
      <div>
        <p [ngClass]="{'hightlight': matchStats.team_stats.away.extrapoint > matchStats.team_stats.home.extrapoint}">
          <b>{{matchStats.team_stats.away.extrapoint}}</b></p>
      </div>
    </div>
  </div>
</ng-container>

<ng-container *ngIf="sport == 'Soccer'">
  <div class="match-stats common-shadow rounded-box" *ngIf="matchStats">
    <div class="stat-row head-row d-flex align-items-center">
      <div>
        <p class="d-flex align-items-center justify-content-end">
          <b>
            <a [routerLink]="['/soccer/team', (matchStats?.home?.id | splitID), (matchStats?.home?.name | slugify )]">
              {{matchStats?.home?.name}}
            </a>
          </b>
          <img alt="{{matchStats?.home?.name}}" [lazyLoad]="matchStats?.home?.id | logosurl:'soccer'"
            [defaultImage]="commonService.teamPlaceholder" [offset]="commonService.lazyloadoffset">
        </p>
      </div>
      <div class="center-col">
        <h5>{{ 'Kabaddi_Module.match_stats' | translate }}</h5>
      </div>
      <div>
        <p class="d-flex align-items-center">
          <img alt="{{matchStats?.away?.name}}" [lazyLoad]="matchStats?.away?.id | logosurl:'soccer'"
            [defaultImage]="commonService.teamPlaceholder" [offset]="commonService.lazyloadoffset">
          <b>
            <a [routerLink]="['/soccer/team', (matchStats?.away?.id | splitID), (matchStats?.away?.name | slugify )]">
              {{matchStats?.away?.name}}
            </a>
          </b>
        </p>
      </div>
    </div>

    <div class="stat-row d-flex align-items-center">
      <div>
        <p [ngClass]="{'hightlight': info.sport_event_status.home_score > info.sport_event_status.away_score}">
          <b>{{info.sport_event_status.home_score}}</b></p>
      </div>
      <div class="center-col">
        <p>{{ 'Soccer_Module.Goals' | translate }}</p>
      </div>
      <div>
        <p [ngClass]="{'hightlight': info.sport_event_status.away_score > info.sport_event_status.home_score}">
          <b>{{info.sport_event_status.away_score}}</b></p>
      </div>
    </div>

    <div class="stat-row point-row d-flex align-items-center"
      *ngIf="matchStats.home.statistics.hasOwnProperty('ball_possession')">
      <div>
        <p
          [ngClass]="{'hightlight': matchStats.home.statistics.ball_possession > matchStats.away.statistics.ball_possession}">
          <b>{{ ((matchStats.home.statistics.ball_possession) / ((matchStats.home.statistics.ball_possession | strTonumber) + (matchStats.away.statistics.ball_possession | strTonumber)) * 100) | number:'2.0-0' }}</b><span
            class="point-line"
            [ngStyle]="{'width': 'calc('+ ((matchStats.home.statistics.ball_possession) / ((matchStats.home.statistics.ball_possession | strTonumber) + (matchStats.away.statistics.ball_possession | strTonumber)) * 100) +'% * 0.8 )'}"><span></span></span>
        </p>
      </div>
      <div class="center-col">
        <p>{{ 'Soccer_Module.Possession' | translate }}%</p>
      </div>
      <div>
        <p
          [ngClass]="{'hightlight': matchStats.away.statistics.ball_possession > matchStats.home.statistics.ball_possession}">
          <span class="point-line"
            [ngStyle]="{'width': 'calc('+ ((matchStats.away.statistics.ball_possession) / ((matchStats.home.statistics.ball_possession | strTonumber) + (matchStats.away.statistics.ball_possession | strTonumber)) * 100) +'% * 0.8 )'}"><span></span></span>
          <b>{{ ((matchStats.away.statistics.ball_possession) / ((matchStats.home.statistics.ball_possession | strTonumber) + (matchStats.away.statistics.ball_possession | strTonumber)) * 100) | number:'2.0-0' }}</b>
        </p>
      </div>
    </div>

    <div class="stat-row d-flex align-items-center" *ngIf="matchStats.home.statistics.hasOwnProperty('shots_total')">
      <div>
        <p [ngClass]="{'hightlight': matchStats.home.statistics.shots_total > matchStats.away.statistics.shots_total}">
          <b>{{matchStats.home.statistics.shots_total}}</b></p>
      </div>
      <div class="center-col">
        <p>{{ 'Soccer_Module.Shots'  | translate }}</p>
      </div>
      <div>
        <p [ngClass]="{'hightlight': matchStats.away.statistics.shots_total > matchStats.home.statistics.shots_total}">
          <b>{{matchStats.away.statistics.shots_total}}</b></p>
      </div>
    </div>

    <div class="stat-row d-flex align-items-center"
      *ngIf="matchStats.home.statistics.hasOwnProperty('shots_on_target')">
      <div>
        <p
          [ngClass]="{'hightlight': matchStats.home.statistics.shots_on_target > matchStats.away.statistics.shots_on_target}">
          <b>{{matchStats.home.statistics.shots_on_target}}</b></p>
      </div>
      <div class="center-col">
        <p>{{ 'Soccer_Module.Shots_on_target'  | translate }}</p>
      </div>
      <div>
        <p
          [ngClass]="{'hightlight': matchStats.away.statistics.shots_on_target > matchStats.home.statistics.shots_on_target}">
          <b>{{matchStats.away.statistics.shots_on_target}}</b></p>
      </div>
    </div>

    <div class="stat-row d-flex align-items-center" *ngIf="matchStats.home.statistics.hasOwnProperty('shots_blocked')">
      <div>
        <p
          [ngClass]="{'hightlight': matchStats.home.statistics.shots_blocked > matchStats.away.statistics.shots_blocked}">
          <b>{{matchStats.home.statistics.shots_blocked}}</b></p>
      </div>
      <div class="center-col">
        <p>{{ 'Soccer_Module.Shots_saved'  | translate }}</p>
      </div>
      <div>
        <p
          [ngClass]="{'hightlight': matchStats.away.statistics.shots_blocked > matchStats.home.statistics.shots_blocked}">
          <b>{{matchStats.away.statistics.shots_blocked}}</b></p>
      </div>
    </div>

    <div class="stat-row d-flex align-items-center" *ngIf="matchStats.home.statistics.hasOwnProperty('corner_kicks')">
      <div>
        <p
          [ngClass]="{'hightlight': matchStats.home.statistics.corner_kicks > matchStats.away.statistics.corner_kicks}">
          <b>{{matchStats.home.statistics.corner_kicks}}</b></p>
      </div>
      <div class="center-col">
        <p>{{ 'Soccer_Module.Corners'  | translate }}</p>
      </div>
      <div>
        <p
          [ngClass]="{'hightlight': matchStats.away.statistics.corner_kicks > matchStats.home.statistics.corner_kicks}">
          <b>{{matchStats.away.statistics.corner_kicks}}</b></p>
      </div>
    </div>

    <div class="stat-row d-flex align-items-center" *ngIf="matchStats.home.statistics.hasOwnProperty('yellow_cards')">
      <div>
        <p
          [ngClass]="{'hightlight': matchStats.home.statistics.yellow_cards > matchStats.away.statistics.yellow_cards}">
          <b>{{matchStats.home.statistics.yellow_cards}}</b></p>
      </div>
      <div class="center-col">
        <p>{{ 'Soccer_Module.Yellow_cards'  | translate }}</p>
      </div>
      <div>
        <p
          [ngClass]="{'hightlight': matchStats.away.statistics.yellow_cards > matchStats.home.statistics.yellow_cards}">
          <b>{{matchStats.away.statistics.yellow_cards}}</b></p>
      </div>
    </div>

    <div class="stat-row d-flex align-items-center" *ngIf="matchStats.home.statistics.hasOwnProperty('red_cards')">
      <div>
        <p [ngClass]="{'hightlight': matchStats.home.statistics.red_cards > matchStats.away.statistics.red_cards}">
          <b>{{matchStats.home.statistics.red_cards}}</b></p>
      </div>
      <div class="center-col">
        <p>{{ 'Soccer_Module.Red_cards'  | translate }}</p>
      </div>
      <div>
        <p [ngClass]="{'hightlight': matchStats.away.statistics.red_cards > matchStats.home.statistics.red_cards}">
          <b>{{matchStats.away.statistics.red_cards}}</b></p>
      </div>
    </div>

    <div class="stat-row d-flex align-items-center" *ngIf="matchStats.home.statistics.hasOwnProperty('fouls')">
      <div>
        <p [ngClass]="{'hightlight': matchStats.home.statistics.fouls > matchStats.away.statistics.fouls}">
          <b>{{matchStats.home.statistics.fouls}}</b></p>
      </div>
      <div class="center-col">
        <p>{{ 'Soccer_Module.Fouls'  | translate }}</p>
      </div>
      <div>
        <p [ngClass]="{'hightlight': matchStats.away.statistics.fouls > matchStats.home.statistics.fouls}">
          <b>{{matchStats.away.statistics.fouls}}</b></p>
      </div>
    </div>
  </div>
</ng-container>


<ng-container *ngIf="sport == 'Basketball'">
  <div class="match-stats common-shadow rounded-box" *ngIf="matchStats">
    <div class="stat-row head-row d-flex align-items-center">
      <div>
        <p class="d-flex align-items-center justify-content-end">
          <b>
            <a [routerLink]="['/basketball/team', (matchStats?.home?.id), (matchStats?.home?.name | slugify )]">
              {{matchStats?.home?.market}} {{matchStats?.home?.name}}
            </a>
          </b>
          <img alt="{{matchStats?.home?.name}}" [lazyLoad]="matchStats?.home?.id | logosurl:'basketball'"
            [defaultImage]="commonService.teamPlaceholder" [offset]="commonService.lazyloadoffset">
        </p>
      </div>
      <div class="center-col">
        <h5>{{ 'Kabaddi_Module.match_stats' | translate }}</h5>
      </div>
      <div>
        <p class="d-flex align-items-center">
          <img alt="{{matchStats?.away?.name}}" [lazyLoad]="matchStats?.away?.id | logosurl:'basketball'"
            [defaultImage]="commonService.teamPlaceholder" [offset]="commonService.lazyloadoffset">
          <b>
            <a [routerLink]="['/basketball/team', (matchStats?.away?.id), (matchStats?.away?.name | slugify )]">
              {{matchStats?.away?.market}} {{matchStats?.away?.name}}
            </a>
          </b>
        </p>
      </div>
    </div>

    <ng-container
      *ngTemplateOutlet="perContainer;context:{options: {label:'Field Goals', key: 'field_goals_made', home: matchStats.home.statistics, away:  matchStats.away.statistics}}">
    </ng-container>

    <ng-container
      *ngTemplateOutlet="perContainer;context:{options: {label:'Three Points', key: 'three_points_made', home: matchStats.home.statistics, away:  matchStats.away.statistics}}">
    </ng-container>

    <ng-container
      *ngTemplateOutlet="perContainer;context:{options: {label:'Free Throws', key: 'free_throws_made', home: matchStats.home.statistics, away:  matchStats.away.statistics}}">
    </ng-container>

    <ng-container
      *ngTemplateOutlet="valueContainer;context:{options: {label:'Rebounds', key: 'total_rebounds', home: matchStats.home.statistics, away:  matchStats.away.statistics}}">
    </ng-container>

    <ng-container
      *ngTemplateOutlet="valueContainer;context:{options: {label:'Assists', key: 'assists', home: matchStats.home.statistics, away:  matchStats.away.statistics}}">
    </ng-container>

    <ng-container
      *ngTemplateOutlet="valueContainer;context:{options: {label:'Steals', key: 'steals', home: matchStats.home.statistics, away:  matchStats.away.statistics}}">
    </ng-container>

    <ng-container
      *ngTemplateOutlet="valueContainer;context:{options: {label:'Blocks', key: 'blocks', home: matchStats.home.statistics, away:  matchStats.away.statistics}}">
    </ng-container>

    <ng-container
      *ngTemplateOutlet="valueContainer;context:{options: {label:'Turnovers', key: 'turnovers', home: matchStats.home.statistics, away:  matchStats.away.statistics}}">
    </ng-container>

    <ng-container
      *ngTemplateOutlet="valueContainer;context:{options: {label:'Fouls', key: 'total_fouls', home: matchStats.home.statistics, away:  matchStats.away.statistics}}">
    </ng-container>

  </div>
</ng-container>

<ng-template #valueContainer let-options="options">
  <div class="stat-row d-flex align-items-center" *ngIf="options.home.hasOwnProperty(options.key)">
    <div>
      <p [ngClass]="{'hightlight': options.home[options.key] > options.away[options.key]}">
        <b>{{options.home[options.key]}}</b></p>
    </div>
    <div class="center-col">
      <p>{{ options.label  | translate }}</p>
    </div>
    <div>
      <p [ngClass]="{'hightlight': options.away[options.key] > options.home[options.key]}">
        <b>{{options.away[options.key]}}</b></p>
    </div>
  </div>
</ng-template>

<ng-template #perContainer let-options="options">
  <div class="stat-row point-row d-flex align-items-center" *ngIf="options.home.hasOwnProperty(options.key)">
    <div>
      <p [ngClass]="{'hightlight': options.home[options.key] > options.away[options.key]}">
        <b>{{ ((options.home[options.key]) / ((options.home[options.key] | strTonumber) + (options.away[options.key] | strTonumber)) * 100) | number:'2.0-0' }}</b><span
          class="point-line"
          [ngStyle]="{'width': 'calc('+ ((options.home[options.key]) / ((options.home[options.key] | strTonumber) + (options.away[options.key] | strTonumber)) * 100) +'% * 0.8 )'}"><span></span></span>
      </p>
    </div>
    <div class="center-col">
      <p>{{ options.label  | translate }}%</p>
    </div>
    <div>
      <p [ngClass]="{'hightlight': options.away[options.key] > options.home[options.key]}">
        <span class="point-line"
          [ngStyle]="{'width': 'calc('+ ((options.away[options.key]) / ((options.home[options.key] | strTonumber) + (options.away[options.key] | strTonumber)) * 100) +'% * 0.8 )'}"><span></span></span>
        <b>{{ ((options.away[options.key]) / ((options.home[options.key] | strTonumber) + (options.away[options.key] | strTonumber)) * 100) | number:'2.0-0' }}</b>
      </p>
    </div>
  </div>
</ng-template>

<ng-container *ngIf="sport == 'Tennis'">
  <div class="match-stats common-shadow rounded-box" *ngIf="matchStats">

    <div class="stat-row head-row d-flex align-items-center">
      <div>
        <p class="d-flex align-items-center justify-content-end">
          <b>
            <a
              [routerLink]="['/tennis/team', (matchStats.statistics.teams[0]?.id | splitID), ((matchStats.statistics.teams[0]?.name | split) | slugify )]">
              {{matchStats.statistics.teams[0]?.name | split}}
            </a>
          </b>
          <img alt="{{matchStats.statistics.teams[0]?.name}}"
            [lazyLoad]="matchStats.statistics.teams[0]?.id | logosurl:'tennis'"
            [defaultImage]="commonService.teamPlaceholder" [offset]="commonService.lazyloadoffset">
        </p>
      </div>
      <div class="center-col">
        <h5>{{ 'Kabaddi_Module.match_stats' | translate }}</h5>
      </div>
      <div>
        <p class="d-flex align-items-center">
          <img alt="{{matchStats.statistics.teams[1]?.name}}"
            [lazyLoad]="matchStats.statistics.teams[1]?.id | logosurl:'tennis'"
            [defaultImage]="commonService.teamPlaceholder" [offset]="commonService.lazyloadoffset">
          <b>
            <a
              [routerLink]="['/tennis/team', (matchStats.statistics.teams[1]?.id | splitID), ((matchStats.statistics.teams[1]?.name | split) | slugify )]">
              {{matchStats.statistics.teams[1]?.name | split}}
            </a>
          </b>
        </p>
      </div>
    </div>

    <ng-container
      *ngTemplateOutlet="valueContainer;context:{options: {label:'Aces', key: 'aces', home: matchStats.statistics.teams[0].statistics, away:  matchStats.statistics.teams[1].statistics}}">
    </ng-container>
    <ng-container
      *ngTemplateOutlet="valueContainer;context:{options: {label:'Double Faults', key: 'double_faults', home: matchStats.statistics.teams[0].statistics, away:  matchStats.statistics.teams[1].statistics}}">
    </ng-container>
    <ng-container
      *ngTemplateOutlet="perContainer;context:{options: {label:'1st Serve', key: 'first_serve_successful', home: matchStats.statistics.teams[0].statistics, away:  matchStats.statistics.teams[1].statistics}}">
    </ng-container>
    <ng-container
      *ngTemplateOutlet="valueContainer;context:{options: {label:'1st Serve Won (points)', key: 'first_serve_points_won', home: matchStats.statistics.teams[0].statistics, away:  matchStats.statistics.teams[1].statistics}}">
    </ng-container>
    <ng-container
      *ngTemplateOutlet="perContainer;context:{options: {label:'2nd Serve', key: 'second_serve_successful', home: matchStats.statistics.teams[0].statistics, away:  matchStats.statistics.teams[1].statistics}}">
    </ng-container>
    <ng-container
      *ngTemplateOutlet="valueContainer;context:{options: {label:'2nd Serve Won (points)', key: 'second_serve_points_won', home: matchStats.statistics.teams[0].statistics, away:  matchStats.statistics.teams[1].statistics}}">
    </ng-container>
    <ng-container
      *ngTemplateOutlet="perContainer;context:{options: {label:'Breakpoints Won', key: 'breakpoints_won', home: matchStats.statistics.teams[0].statistics, away:  matchStats.statistics.teams[1].statistics}}">
    </ng-container>
    <ng-container
      *ngTemplateOutlet="valueContainer;context:{options: {label:'Max points in row', key: 'max_points_in_a_row', home: matchStats.statistics.teams[0].statistics, away:  matchStats.statistics.teams[1].statistics}}">
    </ng-container>
    <ng-container
      *ngTemplateOutlet="valueContainer;context:{options: {label:'Max games in row', key: 'max_games_in_a_row', home: matchStats.statistics.teams[0].statistics, away:  matchStats.statistics.teams[1].statistics}}">
    </ng-container>
  </div>
</ng-container>