.flash-comm-btn-box                 { position: fixed; right: 32px; bottom: 24px; z-index: 6;}
.flash-comm-btn                     { width: 64px; height: 64px; display: block; background: #ED1A33 url(../../../assets/images/flash-comm-icon.svg) no-repeat center center / 50% 50%; border-radius: 50%; box-shadow: 0px 4px 16px rgba(239,29,58,0.6); -webkit-box-shadow: 0px 4px 16px rgba(239,29,58,0.6); border: none !important; position: relative; z-index: 6; }
.flash-comm-btn:hover               { box-shadow: none; -webkit-box-shadow: none; }
.flash-comm-btn span                { display: none; margin: 0px 6px; padding-bottom: 2px; font-size: 14px; line-height: 20px; font-weight: 500; color: #fff; position: relative; }
.flash-comm-btn span:first-child    { border-bottom: 2px solid #D4172E; }
.flash-comm-btn.active              { background-image: none; }
.flash-comm-btn.active span         { display: block; }
.flash-run                          { margin: 0px; width: 270px; height: 270px; opacity: 0; position: fixed; top: 50%; left: 50%; transform: translate(-50%,-50%) scale(0); -webkit-transform: translate(-50%,-50%) scale(0); font-size: 160px; line-height: 270px; color: #2B2B2B; font-weight: 700; -webkit-text-stroke-width: 4px; -webkit-text-stroke-color: #ED1A33; text-shadow: 0px 20px 28px rgba(0,0,0,0.18); -webkit-text-shadow: 0px 20px 28px rgba(0,0,0,0.18); z-index: 5; text-align: center; }
.flash-run.active                   { animation: flash-run 5s ease-in-out forwards; -webkit-animation: flash-run 5s ease-in-out forwards; }
/* @-webkit-keyframes flash-run {
    0%      { transform: translate(-50%,-50%) scale(0); -webkit-transform: translate(-50%,-50%) scale(0); opacity: 0; }
    10%     { opacity: 1;}
    40%,50% { transform: translate(-50%,-50%) scale(1); -webkit-transform: translate(-50%,-50%) scale(1); opacity: 1; top: -100px; }
    78%     { transform: translate(-50%,-50%) scale(1); -webkit-transform: translate(-50%,-50%) scale(1); opacity: 1; top: -100px; }
    86%     { transform: translate(-50%,-50%) scale(0.9); -webkit-transform: translate(-50%,-50%) scale(0.9); opacity: 1; top: -100px; }
    92%     { transform: translate(-50%,-50%) scale(1.1); -webkit-transform: translate(-50%,-50%) scale(1.1); opacity: 1; top: -100px; }
    100%    { transform: translate(-50%,-50%) scale(1); -webkit-transform: translate(-50%,-50%) scale(1); opacity: 1; top: -100px; transform-origin: top left; -webkit-transform-origin: top left; }
} */
@keyframes flash-run {
    0%      { transform: translate(-50%,-50%) scale(0); -webkit-transform: translate(-50%,-50%) scale(0); opacity: 0; }
    10%     { opacity: 1;}
    40%,50% { transform: translate(-50%,-50%) scale(1); -webkit-transform: translate(-50%,-50%) scale(1); opacity: 1; }
    100%    { transform: translate(-50%,-50%) scale(1); -webkit-transform: translate(-50%,-50%) scale(1); opacity: 1; transform-origin: top left; -webkit-transform-origin: top left; }
}
    /* 0%      { transform: translate(-50%,-50%) scale(0); -webkit-transform: translate(-50%,-50%) scale(0); opacity: 0; }
    10%     { opacity: 1;}
    40%,50% { transform: translate(-50%,-50%) scale(1); -webkit-transform: translate(-50%,-50%) scale(1); opacity: 1; top: -100px; }
    78%     { transform: translate(-50%,-50%) scale(1); -webkit-transform: translate(-50%,-50%) scale(1); opacity: 1; top: -100px; }
    86%     { transform: translate(-50%,-50%) scale(0.9); -webkit-transform: translate(-50%,-50%) scale(0.9); opacity: 1; top: -100px; }
    92%     { transform: translate(-50%,-50%) scale(1.1); -webkit-transform: translate(-50%,-50%) scale(1.1); opacity: 1; top: -100px; }
    100%    { transform: translate(-50%,-50%) scale(1); -webkit-transform: translate(-50%,-50%) scale(1); opacity: 1; top: -100px; transform-origin: top left; -webkit-transform-origin: top left; } */
.flash-comm-box                     { width: 320px; position: fixed; right: 16px; bottom: 0px; z-index: 7; transform: translateY(100%); -webkit-transform: translateY(100%); transition: all 0.3s ease-in-out; -webkit-transition: all 0.3s ease-in-out;  }
.flash-comm-box.flash-comm-show     { transform: translateY(0%); -webkit-transform: translateY(0%);}
.flash-comm-box .head-btn-list      { text-align: right; }
.head-btn-list button               { margin: 0px 0px 16px 16px; width: 48px; height: 48px; background: #292929 no-repeat center center / 24px 24px; border: none; border-radius: 50%; box-shadow: 0px 4px 8px rgba(0,0,0,0.24); -webkit-box-shadow: 0px 4px 8px rgba(0,0,0,0.24); }
.head-btn-list button:hover         { background-color: #ED1A33; box-shadow: none; -webkit-box-shadow: none; }
.head-btn-list button.close-btn     { background-image: url(../../../assets/images/close-icon.svg); }
.head-btn-list button.delete-btn    { background-image: url(../../../assets/images/delete-icon.svg); }
.head-btn-list button.edit-btn      { background-image: url(../../../assets/images/edit-icon.svg); }
.flash-comm-block                           { padding: 16px 14px 10px; background: #fff; border-radius: 4px 4px 0px 0px; box-shadow: 0px 2px 16px rgba(0,0,0,0.16); -webkit-box-shadow: 0px 2px 16px rgba(0,0,0,0.16); }
h5                                          { margin-bottom: 8px; font-family: 'IBM Plex Sans Condensed', sans-serif; text-transform: uppercase; }
.flash-comm-block .search-box               { position: relative;}
.flash-comm-block input                     { padding: 10px 44px 10px 8px; width: 100%; font-size: 16px; line-height: 20px; font-weight: 500; border: 2px solid #EBEBEB; border-radius: 4px; }
.flash-comm-block .search-box button        { position: absolute; width: 28px; height: 28px; top: 50%; right: 10px; transform: translateY(-50%); background: url(../../../assets/images/search-icon-gray.svg) no-repeat center center / cover; border: none; }
.flash-comm-block .flash-comm-list                { margin: 16px 0px 0px;}
.flash-comm-block .flash-comm-list li             { display: inline-block}
.flash-comm-block .flash-comm-list button         { margin: 0px 6px 6px 0px; padding: 7px; background: transparent; font-size: 14px; line-height: 18px; color: #292929; font-weight: 500; border-radius: 4px; border: 2px solid #EBEBEB;  }
.flash-comm-block .flash-comm-list button.selected,
.flash-comm-block .flash-comm-list button:hover   { background: #ED1A33; color: #fff; border-color: #ED1A33; }

/***** Responsive CSS Start ******/

@media (max-width: 767px) {
    .flash-comm-btn-box                         { right: 16px; bottom: 16px; }
    .flash-comm-btn                             { width: 48px; height: 48px; }
    .flash-comm-btn span                        { font-size: 12px; line-height: 16px;}
    .flash-run                                  { width: 117px; height: 117px; font-size: 70px; line-height: 117px; -webkit-text-stroke-width: 3px; text-shadow: 0px 20px 28px rgba(0,0,0,0.18); -webkit-text-shadow: 0px 20px 28px rgba(0,0,0,0.18); }
    .flash-comm-box                             { width: 280px; }
    .head-btn-list button                       { margin-bottom: 10px; width: 36px; height: 36px; background-size: 20px 20px;}
    .flash-comm-block input                     { padding: 8px 44px 8px 8px; font-size: 14px; line-height: 18px; }
    .flash-comm-block .search-box button        { width: 24px; height: 24px; }
    .flash-comm-block .flash-comm-list          { margin: 12px 0px 0px;}
    .flash-comm-block .flash-comm-list button   { margin: 0px 5px 5px 0px; padding: 6px; background: transparent; font-size: 13px; line-height: 17px; }
}


.pyro>.before,
.pyro>.after {
  position: absolute;
  top: 70%; left: 50%; transform: translate(-50%,-50%); -webkit-transform: translate(-50%,-50%);
  z-index: -1;
  width: 10px;
  height: 10px;
  border-radius: 50%;
  box-shadow: -120px -218.66667px blue, 248px -16.66667px #00ff84, 190px 16.33333px #002bff, -113px -308.66667px #ff009d, -109px -287.66667px #ffb300, -50px -313.66667px #ff006e, 226px -31.66667px #ff4000, 180px -351.66667px #ff00d0, -12px -338.66667px #00f6ff, 220px -388.66667px #99ff00, -69px -27.66667px #ff0400, -111px -339.66667px #6200ff, 155px -237.66667px #00ddff, -152px -380.66667px #00ffd0, -50px -37.66667px #00ffdd, -95px -175.66667px #a6ff00, -88px 10.33333px #0d00ff, 112px -309.66667px #005eff, 69px -415.66667px #ff00a6, 168px -100.66667px #ff004c, -244px 24.33333px #ff6600, 97px -325.66667px #ff0066, -211px -182.66667px #00ffa2, 236px -126.66667px #b700ff, 140px -196.66667px #9000ff, 125px -175.66667px #00bbff, 118px -381.66667px #ff002f, 144px -111.66667px #ffae00, 36px -78.66667px #f600ff, -63px -196.66667px #c800ff, -218px -227.66667px #d4ff00, -134px -377.66667px #ea00ff, -36px -412.66667px #ff00d4, 209px -106.66667px #00fff2, 91px -278.66667px #000dff, -22px -191.66667px #9dff00, 139px -392.66667px #a6ff00, 56px -2.66667px #0099ff, -156px -276.66667px #ea00ff, -163px -233.66667px #00fffb, -238px -346.66667px #00ff73, 62px -363.66667px #0088ff, 244px -170.66667px #0062ff, 224px -142.66667px #b300ff, 141px -208.66667px #9000ff, 211px -285.66667px #ff6600, 181px -128.66667px #1e00ff, 90px -123.66667px #c800ff, 189px 70.33333px #00ffc8, -18px -383.66667px #00ff33, 100px -6.66667px #ff008c;
  -moz-animation: 1s bang ease-out infinite backwards, 10s gravity ease-in infinite backwards;
  -webkit-animation: 1s bang ease-out infinite backwards, 10s gravity ease-in infinite backwards;
  -o-animation: 1s bang ease-out infinite backwards, 10s gravity ease-in infinite backwards;
  -ms-animation: 1s bang ease-out infinite backwards, 10s gravity ease-in infinite backwards;
  animation: 1s bang ease-out infinite backwards, 10s gravity ease-in infinite backwards;
}

/* .pyro>.after {
  -moz-animation-delay: 1.25s, 1.25s, 1.25s;
  -webkit-animation-delay: 1.25s, 1.25s, 1.25s;
  -o-animation-delay: 1.25s, 1.25s, 1.25s;
  -ms-animation-delay: 1.25s, 1.25s, 1.25s;
  animation-delay: 1.25s, 1.25s, 1.25s;
  -moz-animation-duration: 1.25s, 1.25s, 6.25s;
  -webkit-animation-duration: 1.25s, 1.25s, 6.25s;
  -o-animation-duration: 1.25s, 1.25s, 6.25s;
  -ms-animation-duration: 1.25s, 1.25s, 6.25s;
  animation-duration: 1.25s, 1.25s, 6.25s;
} */

@-webkit-keyframes bang {
  from {
    box-shadow: 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white;
  }
}

@-moz-keyframes bang {
  from {
    box-shadow: 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white;
  }
}

@-o-keyframes bang {
  from {
    box-shadow: 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white;
  }
}

@-ms-keyframes bang {
  from {
    box-shadow: 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white;
  }
}

@keyframes bang {
  from {
    box-shadow: 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white;
  }
}

@-webkit-keyframes gravity {
  to {
    transform: translateY(200px);
    -moz-transform: translateY(200px);
    -webkit-transform: translateY(200px);
    -o-transform: translateY(200px);
    -ms-transform: translateY(200px);
    opacity: 0;
  }
}

@-moz-keyframes gravity {
  to {
    transform: translateY(200px);
    -moz-transform: translateY(200px);
    -webkit-transform: translateY(200px);
    -o-transform: translateY(200px);
    -ms-transform: translateY(200px);
    opacity: 0;
  }
}

@-o-keyframes gravity {
  to {
    transform: translateY(200px);
    -moz-transform: translateY(200px);
    -webkit-transform: translateY(200px);
    -o-transform: translateY(200px);
    -ms-transform: translateY(200px);
    opacity: 0;
  }
}

@-ms-keyframes gravity {
  to {
    transform: translateY(200px);
    -moz-transform: translateY(200px);
    -webkit-transform: translateY(200px);
    -o-transform: translateY(200px);
    -ms-transform: translateY(200px);
    opacity: 0;
  }
}

@keyframes gravity {
  to {
    transform: translateY(200px);
    -moz-transform: translateY(200px);
    -webkit-transform: translateY(200px);
    -o-transform: translateY(200px);
    -ms-transform: translateY(200px);
    opacity: 0;
  }
}

@-webkit-keyframes position {
  0%,
  19.9% {
    margin-top: 10%;
    margin-left: 40%;
  }
  20%,
  39.9% {
    margin-top: 40%;
    margin-left: 30%;
  }
  40%,
  59.9% {
    margin-top: 20%;
    margin-left: 70%;
  }
  60%,
  79.9% {
    margin-top: 30%;
    margin-left: 20%;
  }
  80%,
  99.9% {
    margin-top: 30%;
    margin-left: 80%;
  }
}

@-moz-keyframes position {
  0%,
  19.9% {
    margin-top: 10%;
    margin-left: 40%;
  }
  20%,
  39.9% {
    margin-top: 40%;
    margin-left: 30%;
  }
  40%,
  59.9% {
    margin-top: 20%;
    margin-left: 70%;
  }
  60%,
  79.9% {
    margin-top: 30%;
    margin-left: 20%;
  }
  80%,
  99.9% {
    margin-top: 30%;
    margin-left: 80%;
  }
}

@-o-keyframes position {
  0%,
  19.9% {
    margin-top: 10%;
    margin-left: 40%;
  }
  20%,
  39.9% {
    margin-top: 40%;
    margin-left: 30%;
  }
  40%,
  59.9% {
    margin-top: 20%;
    margin-left: 70%;
  }
  60%,
  79.9% {
    margin-top: 30%;
    margin-left: 20%;
  }
  80%,
  99.9% {
    margin-top: 30%;
    margin-left: 80%;
  }
}

@-ms-keyframes position {
  0%,
  19.9% {
    margin-top: 10%;
    margin-left: 40%;
  }
  20%,
  39.9% {
    margin-top: 40%;
    margin-left: 30%;
  }
  40%,
  59.9% {
    margin-top: 20%;
    margin-left: 70%;
  }
  60%,
  79.9% {
    margin-top: 30%;
    margin-left: 20%;
  }
  80%,
  99.9% {
    margin-top: 30%;
    margin-left: 80%;
  }
}

@keyframes position {
  0%,
  19.9% {
    margin-top: 10%;
    margin-left: 40%;
  }
  20%,
  39.9% {
    margin-top: 40%;
    margin-left: 30%;
  }
  40%,
  59.9% {
    margin-top: 20%;
    margin-left: 70%;
  }
  60%,
  79.9% {
    margin-top: 30%;
    margin-left: 20%;
  }
  80%,
  99.9% {
    margin-top: 30%;
    margin-left: 80%;
  }
}
