<div class="flash-comm-btn-box">
  <button class="flash-comm-btn" [ngClass]="{'active': isshow}" (click)="isapply = !isapply">
    <span *ngIf="teamsname">{{teamsname[0]}}</span>
    <span *ngIf="teamsname">{{teamsname[1]}}</span>
  </button>
</div>
<div class="flash-run" [ngClass]="{'active': isnewflashvalue}">{{flashvalue}}
  <div class="pyro">
    <div class="after"></div>
  </div>
</div>
<!-- <div class="flash-run active">WD
  <div class="pyro">
    <div class="after"></div>
  </div>
</div> -->
<div class="flash-comm-box" [ngClass]="{'flash-comm-show': isapply}">
  <!-- flash-comm-show -->
  <div class="head-btn-list">
    <button class="close-btn" (click)="isapply = false"></button>
  </div>
  <div class="flash-comm-block">
    <h5>Flash Commentary</h5>
    <!-- <form>      this section not used for now it will be used later when multiple sports are there
      <div class="search-box">
        <input type="text" placeholder="Select sport">
        <button type="submit"></button>
      </div>
    </form> -->
    <ul class="flash-comm-list">
      <li *ngIf="!livematches || livematches.length == 0">Ooops! No live commentaries available at the moment.</li>
      <li *ngFor="let item of livematches"><button (click)="reqJoinRoom(item.id,item.competitors)"
          [ngClass]="{'selected': item.id == currentmatchid}">{{item.competitors}}</button></li>
    </ul>
  </div>
</div>