<div class="flash-comm-btn-box">
  <!-- <button class="flash-comm-btn" [ngClass]="{'active': isshow}" (click)="isapply = !isapply"
    *ngIf="livematches && livematches?.length > 0">
  </button> -->
  <button class="flash-comm-btn" [ngClass]="{'active': isshow}" (click)="isapply = !isapply"
    >
  </button>
  <ul class="flash-match-list" [ngClass]="{'active': isapply}">
    <li *ngFor="let item of livematches">
      <button class="flash-comm-btn" [ngClass]="{active: item.isActive}" (click)="reqLeaveRoom(item.id,item.isActive)"
        [ngStyle]="{'background-color':item.color, 'box-shadow':'0px 2px 16px' +item.color+'29', '-webkit-box-shadow':'0px 2px 16px' +item.color+'29'}">
        <span [ngStyle]="{'border-color': item.shadow}">{{item.competitors | flashteam:0}}</span>
        <span>{{item.competitors | flashteam:1}}</span>
      </button>
    </li>
  </ul>
  <div class="flash-run" [ngClass]="{'active': isnewflashvalue}"
    [ngStyle]="{'color':flashscorecolor,'-webkit-text-stroke-color':flashstockcolor}">{{flashvalue}}</div>
  <!-- <div class="flash-run active" style="color: blue;">WD</div> -->
</div>
<!-- [ngClass]="{'flash-comm-show': isapply}" -->
<div class="flash-comm-box">
  <!-- flash-comm-show -->
  <div class="head-btn-list">
    <button class="close-btn" (click)="isapply = false"></button>
  </div>
  <div class="flash-comm-block">
    <h5>Flash Score</h5>
    <!-- <form>      this section not used for now it will be used later when multiple sports are there
      <div class="search-box">
        <input type="text" placeholder="Select sport">
        <button type="submit"></button>
      </div>
    </form> -->
    <ul class="flash-comm-list">
      <li *ngIf="!livematches || livematches.length == 0">Ooops! No live commentaries available at the moment.</li>
      <li *ngFor="let item of livematches"><button (click)="reqJoinRoom(item.id,item.competitors)"
          [ngClass]="{'selected': item.id == currentmatchid}">{{item.competitors}}</button></li>
    </ul>
  </div>
</div>