<section class="common-section cricket-recentnews recentnews-section">
  <div class="container">
    <div class="row sidebar-row">
      <div class="content-col">
        <div
          class="common-title-btn match-main-title big-title-btn tab-title-btn d-flex justify-content-between align-items-center">
          <h1>{{sportevent?.competitors[0].abbreviation}} vs {{sportevent?.competitors[1].abbreviation}}</h1>
          <div class="match-update">
            <p class="light-text">{{sportevent?.venue.name}}, {{sportevent?.venue.city_name}} |
              {{sportevent?.scheduled | date}}</p>
            <p *ngIf="matchstatus == 'closed'">West Indies won the match by 99 runs</p>
          </div>
          <div class="current-match d-flex">
            <div class="current-teams" *ngIf="matchstatus == 'not_started'">
              <div class="current-team d-flex justify-content-between align-items-center">
                <h4><img src="../../../../../assets/images/flag-wi.svg">{{sportevent?.competitors[0].abbreviation}}</h4>
                <!-- <h4 class="score">192/4 (50.0 ov)</h4> -->
              </div>
              <div class="current-team d-flex justify-content-between align-items-center">
                <h4><img src="../../../../../assets/images/flag-wi.svg">{{sportevent?.competitors[1].abbreviation}}</h4>
                <!-- <h4 class="score">192/4 (50.0 ov)</h4> -->
              </div>
            </div>
            <!--If match is ended-->
            <div class="current-teams" *ngIf="matchstatus == 'closed'">
              <div class="current-team d-flex justify-content-between align-items-center">
                <h4 class="winner"><img src="../../../../../assets/images/flag-wi.svg">WI</h4>
                <h4 class="score">192/4 (50.0 ov)</h4>
              </div>
              <div class="current-team d-flex justify-content-between align-items-center">
                <h4><img src="../../../../../assets/images/flag-wi.svg">PAK</h4>
                <h4 class="score">192/4 (50.0 ov)</h4>
              </div>
            </div>
            <div class="match-win-player d-flex" *ngIf="matchstatus == 'closed'">
              <div class="player-pic">
                <img src="../../../../../assets/images/jasprit-bumrah.jpg">
              </div>
              <div class="player-info">
                <p class="light-text">Player of the Match</p>
                <h5 class="theme-color">Chris Gayle</h5>
                <p class="player-team">West Indies</p>
              </div>
            </div>
          </div>
        </div>
        <ngb-tabset class="common-tabs">
          <ngb-tab>
            <ng-template ngbTabTitle>Commentary</ng-template>
            <ng-template ngbTabContent>
              <div class="match-counter"  *ngIf="matchstatus == 'not_started'">
                <p>Match starts in ...</p>
                <div class="match-counter-block d-flex align-items-center justify-content-center">
                  <p><span class="time-num">{{hours}}:</span><span class="time-unit">H</span></p>
                  <p><span class="time-num">{{minutes}}:</span><span class="time-unit">M</span></p>
                  <p><span class="time-num">{{seconds}}</span><span class="time-unit">S</span></p>
                </div>
              </div>
              <div class="ad-block"><img src="../../../../../assets/images/ad-1320-300.jpg" alt="AD"></div>
              <div *ngIf="matchstatus != 'not_started'">
              <div class="common-table batsman-table striped-table tour-stats-table common-shadow rounded-box">
                <div class="table-responsive">
                  <table class="table">
                    <thead>
                      <tr>
                        <th class="text-uppercase">Batsman</th>
                        <th>R</th>
                        <th>B</th>
                        <th>4s</th>
                        <th>6s</th>
                        <th>SRR</th>
                      </tr>
                    </thead>
                    <tbody>
                      <tr>
                        <td>Sarfaraz Ahmed (C)</td>
                        <td>120</td>
                        <td>130</td>
                        <td>6</td>
                        <td>8</td>
                        <td>110.23</td>
                      </tr>
                      <tr>
                        <td>Sarfaraz Ahmed</td>
                        <td>120</td>
                        <td>130</td>
                        <td>6</td>
                        <td>8</td>
                        <td>110.23</td>
                      </tr>
                    </tbody>
                  </table>
                </div>
              </div>
              <div class="common-table bowler-table striped-table tour-stats-table common-shadow rounded-box">
                <div class="table-responsive">
                  <table class="table">
                    <thead>
                      <tr>
                        <th>Bowler</th>
                        <th>Ov</th>
                        <th>M</th>
                        <th>R</th>
                        <th>W</th>
                        <th>ECO</th>
                      </tr>
                    </thead>
                    <tbody>
                      <tr>
                        <td>Jason Holder</td>
                        <td>4.3</td>
                        <td>1</td>
                        <td>56</td>
                        <td>1</td>
                        <td>6.23</td>
                      </tr>
                      <tr>
                        <td>Jason Holder</td>
                        <td>4</td>
                        <td>1</td>
                        <td>66</td>
                        <td>1</td>
                        <td>6.23</td>
                      </tr>
                    </tbody>
                  </table>
                </div>
              </div>
              <div class="this-over-block d-flex align-items-center">
                <h5>This over :</h5>
                <ul>
                  <li>4WD</li>
                  <li>0</li>
                  <li>1</li>
                </ul>
              </div>
              <div class="commentary-item common-shadow rounded-box">
                <ul>
                  <li class="d-flex">
                    <p class="over-ball">25.3</p>
                    <p class="over-run">1</p>
                    <p class="commentary-line">Gopal to Uthappa, no run, length on off stump, blocked on the front foot
                    </p>
                  </li>
                  <li class="d-flex">
                    <p class="over-ball">25.3</p>
                    <p class="over-run hightlight">4WD</p>
                    <p class="commentary-line">Ben Stokes to Shubman Gill. Back of a length, outside off stump on the
                      front foot driving, to extra cover for no runs, fielded by Rahane.</p>
                  </li>
                  <li class="d-flex">
                    <p class="over-ball">25.3</p>
                    <p class="over-run">1</p>
                    <p class="commentary-line">Ben Stokes to Shubman Gill. Back of a length, outside off stump on the
                      front foot driving, to extra cover for no runs, fielded by Rahane.</p>
                  </li>
                </ul>
              </div>
              <div class="commentary-title">
                <span>End of over : 25</span>
                <span>PAK : 90/8</span>
                <span>RR : 8.00</span>
                <span>Summary : 6 Runs 0 Wickets</span>
              </div>
              <div class="commentary-item common-shadow rounded-box">
                <ul>
                  <li class="d-flex">
                    <p class="over-ball">25.3</p>
                    <p class="over-run">1</p>
                    <p class="commentary-line">Gopal to Uthappa, no run, length on off stump, blocked on the front foot
                    </p>
                  </li>
                  <li class="d-flex">
                    <p class="over-ball">25.3</p>
                    <p class="over-run hightlight">4WD</p>
                    <p class="commentary-line">Ben Stokes to Shubman Gill. Back of a length, outside off stump on the
                      front foot driving, to extra cover for no runs, fielded by Rahane.</p>
                  </li>
                  <li class="d-flex">
                    <p class="over-ball">25.3</p>
                    <p class="over-run">1</p>
                    <p class="commentary-line">Ben Stokes to Shubman Gill. Back of a length, outside off stump on the
                      front foot driving, to extra cover for no runs, fielded by Rahane.</p>
                  </li>
                  <li class="d-flex">
                    <p class="over-ball">25.3</p>
                    <p class="over-run">1</p>
                    <p class="commentary-line">Gopal to Uthappa, no run, length on off stump, blocked on the front foot
                    </p>
                  </li>
                  <li class="d-flex">
                    <p class="over-ball">25.3</p>
                    <p class="over-run hightlight">4WD</p>
                    <p class="commentary-line">Ben Stokes to Shubman Gill. Back of a length, outside off stump on the
                      front foot driving, to extra cover for no runs, fielded by Rahane.</p>
                  </li>
                  <li class="d-flex">
                    <p class="over-ball">25.3</p>
                    <p class="over-run">1</p>
                    <p class="commentary-line">Ben Stokes to Shubman Gill. Back of a length, outside off stump on the
                      front foot driving, to extra cover for no runs, fielded by Rahane.</p>
                  </li>
                </ul>
              </div>
              <div class="commentary-title">
                <span>End of over : 25</span>
                <span>PAK : 90/8</span>
                <span>RR : 8.00</span>
                <span>Summary : 6 Runs 0 Wickets</span>
              </div>
              <div class="commentary-item common-shadow rounded-box">
                <ul>
                  <li class="d-flex">
                    <p class="over-ball">25.3</p>
                    <p class="over-run">1</p>
                    <p class="commentary-line">Gopal to Uthappa, no run, length on off stump, blocked on the front foot
                    </p>
                  </li>
                  <li class="d-flex">
                    <p class="over-ball">25.3</p>
                    <p class="over-run hightlight">4WD</p>
                    <p class="commentary-line">Ben Stokes to Shubman Gill. Back of a length, outside off stump on the
                      front foot driving, to extra cover for no runs, fielded by Rahane.</p>
                  </li>
                  <li class="d-flex">
                    <p class="over-ball">25.3</p>
                    <p class="over-run">1</p>
                    <p class="commentary-line">Ben Stokes to Shubman Gill. Back of a length, outside off stump on the
                      front foot driving, to extra cover for no runs, fielded by Rahane.</p>
                  </li>
                  <li class="d-flex">
                    <p class="over-ball">25.3</p>
                    <p class="over-run">1</p>
                    <p class="commentary-line">Gopal to Uthappa, no run, length on off stump, blocked on the front foot
                    </p>
                  </li>
                  <li class="d-flex">
                    <p class="over-ball">25.3</p>
                    <p class="over-run hightlight">4WD</p>
                    <p class="commentary-line">Ben Stokes to Shubman Gill. Back of a length, outside off stump on the
                      front foot driving, to extra cover for no runs, fielded by Rahane.</p>
                  </li>
                  <li class="d-flex">
                    <p class="over-ball">25.3</p>
                    <p class="over-run">1</p>
                    <p class="commentary-line">Ben Stokes to Shubman Gill. Back of a length, outside off stump on the
                      front foot driving, to extra cover for no runs, fielded by Rahane.</p>
                  </li>
                </ul>
              </div>
              <div class="text-center"><button class="theme-btn down-btn">Load More<span></span></button></div>
              </div>
            </ng-template>
          </ngb-tab>
          <ngb-tab>
            <ng-template ngbTabTitle>
              <div (click)="getMatchProbability()">Facts & Figures</div>
            </ng-template>
            <ng-template ngbTabContent>
              <h4 class="line-title">Probability</h4>
              <div class="probability-section rounded-box common-shadow">
                <div class="probability-block d-flex align-items-center justify-content-between">
                  <div class="team-block">
                    <img class="team-flag" src="../../../../../assets/images/flag-ind.svg">
                    <h3>56%</h3>
                  </div>
                  <div class="team-block">
                    <h3>44%</h3>
                    <img class="team-flag" src="../../../../../assets/images/flag-wi.svg">
                  </div>
                </div>
                <div class="team-probability" style="width: 56%;"></div>
              </div>
              <section class="last-meetings-section">
                <h4 class="line-title">Last meetings</h4>
                <div class="schedule-list schedule-tour-list">
                  <div class="schedule-month d-flex">
                    <div class="month-title">
                      <div class="sticky-month">
                        <h5>30th <br>May 2019</h5>
                      </div>
                    </div>
                    <div class="schedule-items">
                      <div class="schedule-item complete-match d-flex align-items-center rounded-box common-shadow">
                        <div class="match-desc">
                          <h6>WI VS IND</h6>
                          <p class="stadium-nm">The Riverside Durham, Chester-le-Street</p>
                          <p class="result-line">South Africa won by 2 wickets.</p>
                        </div>
                        <div class="match-teams d-flex align-items-center">
                          <div class="match-team d-flex align-items-center">
                            <div class="team-info">
                              <h5 class="winner">WI</h5>
                              <p>192/4 (50.0 ov)</p>
                            </div>
                            <img class="team-flag" src="../../../../../assets/images/flag-wi.svg" alt="team-flag">
                          </div>
                          <div class="vs-block">
                            <h6>vs</h6>
                          </div>
                          <div class="match-team d-flex align-items-center">
                            <img class="team-flag" src="../../../../../assets/images/flag-ind.svg" alt="team-flag">
                            <div class="team-info">
                              <h5>IND</h5>
                              <p>192/4 (50.0 ov)</p>
                            </div>
                          </div>
                        </div>
                        <a class="details-btn" routerLink=""><span>Details</span></a>
                      </div>
                    </div>
                  </div>
                  <div class="schedule-month d-flex">
                    <div class="month-title">
                      <div class="sticky-month">
                        <h5>30th <br>May 2019</h5>
                      </div>
                    </div>
                    <div class="schedule-items">
                      <div class="schedule-item complete-match d-flex align-items-center rounded-box common-shadow">
                        <div class="match-desc">
                          <h6>WI VS IND</h6>
                          <p class="stadium-nm">The Riverside Durham, Chester-le-Street</p>
                          <p class="result-line">South Africa won by 2 wickets.</p>
                        </div>
                        <div class="match-teams d-flex align-items-center">
                          <div class="match-team d-flex align-items-center">
                            <div class="team-info">
                              <h5>WI</h5>
                              <p>192/4 (50.0 ov)</p>
                            </div>
                            <img class="team-flag" src="../../../../../assets/images/flag-wi.svg" alt="team-flag">
                          </div>
                          <div class="vs-block">
                            <h6>vs</h6>
                          </div>
                          <div class="match-team d-flex align-items-center">
                            <img class="team-flag" src="../../../../../assets/images/flag-ind.svg" alt="team-flag">
                            <div class="team-info">
                              <h5 class="winner">IND</h5>
                              <p>192/4 (50.0 ov)</p>
                            </div>
                          </div>
                        </div>
                        <a class="details-btn" routerLink=""><span>Details</span></a>
                      </div>
                    </div>
                  </div>
                  <div class="schedule-month d-flex">
                    <div class="month-title">
                      <div class="sticky-month">
                        <h5>30th <br>May 2019</h5>
                      </div>
                    </div>
                    <div class="schedule-items">
                      <div class="schedule-item complete-match d-flex align-items-center rounded-box common-shadow">
                        <div class="match-desc">
                          <h6>WI VS IND</h6>
                          <p class="stadium-nm">The Riverside Durham, Chester-le-Street</p>
                          <p class="result-line">South Africa won by 2 wickets.</p>
                        </div>
                        <div class="match-teams d-flex align-items-center">
                          <div class="match-team d-flex align-items-center">
                            <div class="team-info">
                              <h5>WI</h5>
                              <p>192/4 (50.0 ov)</p>
                            </div>
                            <img class="team-flag" src="../../../../../assets/images/flag-wi.svg" alt="team-flag">
                          </div>
                          <div class="vs-block">
                            <h6>vs</h6>
                          </div>
                          <div class="match-team d-flex align-items-center">
                            <img class="team-flag" src="../../../../../assets/images/flag-ind.svg" alt="team-flag">
                            <div class="team-info">
                              <h5>IND</h5>
                              <p>192/4 (50.0 ov)</p>
                            </div>
                          </div>
                        </div>
                        <a class="details-btn" routerLink=""><span>Details</span></a>
                      </div>
                    </div>
                  </div>
                </div>
              </section>
              <h4 class="line-title">Venue Details</h4>
              <section class="venue-info rounded-box common-shadow">
                <img src="../../../../../assets/images/map-thumb.jpg">
                <p><span>Venue :</span>Buffalo Park, East London, South Africa</p>
                <p><span>Capacity :</span>Buffalo Park, East London, South Africa</p>
                <p><span>End names :</span>Buffalo Park, East London, South Africa</p>
              </section>
            </ng-template>
          </ngb-tab>
          <ngb-tab *ngIf="matchstatus != 'not_started'">
            <ng-template ngbTabTitle>Scorecard</ng-template>
            <ng-template ngbTabContent>
              <ngb-tabset class="filled-tabs">
                <ngb-tab>
                  <ng-template ngbTabTitle>West Indies</ng-template>
                  <ng-template ngbTabContent>
                    <div class="common-table batsman-table striped-table tour-stats-table common-shadow rounded-box">
                      <div class="table-responsive">
                        <table class="table">
                          <thead>
                            <tr>
                              <th class="text-uppercase">Batsman</th>
                              <th>R</th>
                              <th>B</th>
                              <th>4s</th>
                              <th>6s</th>
                              <th>SRR</th>
                            </tr>
                          </thead>
                          <tbody>
                            <tr>
                              <td>
                                Sarfaraz Ahmed (C)<p class="batsman-text">c Jason Holder b Chris Gayle</p>
                              </td>
                              <td>120</td>
                              <td>130</td>
                              <td>6</td>
                              <td>8</td>
                              <td>110.23</td>
                            </tr>
                            <tr>
                              <td>
                                Sarfaraz Ahmed<p class="batsman-text">c Jason Holder b Chris Gayle</p>
                              </td>
                              <td>120</td>
                              <td>130</td>
                              <td>6</td>
                              <td>8</td>
                              <td>110.23</td>
                            </tr>
                            <tr>
                              <td>
                                Sarfaraz Ahmed<p class="batsman-text">c Jason Holder b Chris Gayle</p>
                              </td>
                              <td>120</td>
                              <td>130</td>
                              <td>6</td>
                              <td>8</td>
                              <td>110.23</td>
                            </tr>
                            <tr>
                              <td>
                                Sarfaraz Ahmed<p class="batsman-text">c Jason Holder b Chris Gayle</p>
                              </td>
                              <td>120</td>
                              <td>130</td>
                              <td>6</td>
                              <td>8</td>
                              <td>110.23</td>
                            </tr>
                            <tr>
                              <td>
                                <b>Sarfaraz Ahmed</b>
                                <p class="batsman-text">c Jason Holder b Chris Gayle</p>
                              </td>
                              <td>120</td>
                              <td>130</td>
                              <td>6</td>
                              <td>8</td>
                              <td>110.23</td>
                            </tr>
                            <tr>
                              <td>
                                <b>Sarfaraz Ahmed </b>
                                <p class="batsman-text">c Jason Holder b Chris Gayle</p>
                              </td>
                              <td>120</td>
                              <td>130</td>
                              <td>6</td>
                              <td>8</td>
                              <td>110.23</td>
                            </tr>
                            <tr>
                              <td>
                                Extras<p class="batsman-text">b - 0, w - 3, no - 1, lb - 1, penalty - 0)</p>
                              </td>
                              <td>5</td>
                              <td colspan="4"></td>
                            </tr>
                            <tr>
                              <td>
                                <b>Total</b>
                                <p class="batsman-text">(7.75 runs per over)</p>
                              </td>
                              <td><b>150</b></td>
                              <td colspan="4"></td>
                            </tr>
                            <tr>
                              <td colspan="6">
                                <b>Did not bat : </b><span class="batsman-text"> Opi Watihana, Emiliya Perevalova, Opi
                                  Watihana, Emiliya Perevalova</span>
                              </td>
                            </tr>
                          </tbody>
                        </table>
                      </div>
                    </div>
                    <div class="common-table common-shadow rounded-box">
                      <div class="table-title">
                        <h6 class="text-uppercase">Fall of Wickets</h6>
                      </div>
                      <ul class="fall-wicket-list">
                        <li>
                          <p class="fall-wicket">12/1</p>
                          <p class="title">Imran Nazir</p>
                          <p>0.5 OV</p>
                        </li>
                        <li>
                          <p class="fall-wicket">322/10</p>
                          <p class="title">Imran Nazir</p>
                          <p>0.5 OV</p>
                        </li>
                        <li>
                          <p class="fall-wicket">12/1</p>
                          <p class="title">ImranImran Nazir</p>
                          <p>0.5 OV</p>
                        </li>
                        <li>
                          <p class="fall-wicket">12/1</p>
                          <p class="title">Imran Nazir</p>
                          <p>0.5 OV</p>
                        </li>
                        <li>
                          <p class="fall-wicket">12/1</p>
                          <p class="title">Imran Nazir</p>
                          <p>0.5 OV</p>
                        </li>
                        <li>
                          <p class="fall-wicket">12/1</p>
                          <p class="title">ImranImran Nazir</p>
                          <p>0.5 OV</p>
                        </li>
                        <li>
                          <p class="fall-wicket">12/1</p>
                          <p class="title">Imran Nazir</p>
                          <p>0.5 OV</p>
                        </li>
                        <li>
                          <p class="fall-wicket">12/1</p>
                          <p class="title">Imran Nazir</p>
                          <p>0.5 OV</p>
                        </li>
                      </ul>
                    </div>
                    <div class="common-table bowler-table striped-table tour-stats-table common-shadow rounded-box">
                      <div class="table-responsive">
                        <table class="table">
                          <thead>
                            <tr>
                              <th>Bowler</th>
                              <th>Ov</th>
                              <th>M</th>
                              <th>R</th>
                              <th>W</th>
                              <th>ECO</th>
                            </tr>
                          </thead>
                          <tbody>
                            <tr>
                              <td>Jason Holder</td>
                              <td>4.3</td>
                              <td>1</td>
                              <td>56</td>
                              <td>1</td>
                              <td>6.23</td>
                            </tr>
                            <tr>
                              <td>Jason Holder</td>
                              <td>4</td>
                              <td>1</td>
                              <td>66</td>
                              <td>1</td>
                              <td>6.23</td>
                            </tr>
                            <tr>
                              <td>Jason Holder</td>
                              <td>4</td>
                              <td>1</td>
                              <td>66</td>
                              <td>1</td>
                              <td>6.23</td>
                            </tr>
                            <tr>
                              <td>Jason Holder</td>
                              <td>4</td>
                              <td>1</td>
                              <td>66</td>
                              <td>1</td>
                              <td>6.23</td>
                            </tr>
                            <tr>
                              <td>Chris Gayle</td>
                              <td>4</td>
                              <td>1</td>
                              <td>66</td>
                              <td>1</td>
                              <td>6.23</td>
                            </tr>
                          </tbody>
                        </table>
                      </div>
                    </div>
                  </ng-template>
                </ngb-tab>
                <ngb-tab>
                  <ng-template ngbTabTitle>Pakistan</ng-template>
                  <ng-template ngbTabContent>
                    <div class="common-table batsman-table striped-table tour-stats-table common-shadow rounded-box">
                      <div class="table-responsive">
                        <table class="table">
                          <thead>
                            <tr>
                              <th class="text-uppercase">Batsman</th>
                              <th>R</th>
                              <th>B</th>
                              <th>4s</th>
                              <th>6s</th>
                              <th>SRR</th>
                            </tr>
                          </thead>
                          <tbody>
                            <tr>
                              <td>
                                Sarfaraz Ahmed (C)<p class="batsman-text">c Jason Holder b Chris Gayle</p>
                              </td>
                              <td>0</td>
                              <td>130</td>
                              <td>6</td>
                              <td>8</td>
                              <td>110.23</td>
                            </tr>
                            <tr>
                              <td>
                                Sarfaraz Ahmed<p class="batsman-text">c Jason Holder b Chris Gayle</p>
                              </td>
                              <td>0</td>
                              <td>130</td>
                              <td>6</td>
                              <td>8</td>
                              <td>110.23</td>
                            </tr>
                            <tr>
                              <td>
                                Sarfaraz Ahmed<p class="batsman-text">c Jason Holder b Chris Gayle</p>
                              </td>
                              <td>0</td>
                              <td>130</td>
                              <td>6</td>
                              <td>8</td>
                              <td>110.23</td>
                            </tr>
                            <tr>
                              <td>
                                Sarfaraz Ahmed<p class="batsman-text">c Jason Holder b Chris Gayle</p>
                              </td>
                              <td>12</td>
                              <td>130</td>
                              <td>6</td>
                              <td>8</td>
                              <td>110.23</td>
                            </tr>
                            <tr>
                              <td>
                                <b>Sarfaraz Ahmed</b>
                                <p class="batsman-text">c Jason Holder b Chris Gayle</p>
                              </td>
                              <td>12</td>
                              <td>130</td>
                              <td>6</td>
                              <td>8</td>
                              <td>110.23</td>
                            </tr>
                            <tr>
                              <td>
                                <b>Sarfaraz Ahmed </b>
                                <p class="batsman-text">c Jason Holder b Chris Gayle</p>
                              </td>
                              <td>120</td>
                              <td>130</td>
                              <td>6</td>
                              <td>8</td>
                              <td>110.23</td>
                            </tr>
                            <tr>
                              <td>
                                Extras<p class="batsman-text">b - 0, w - 3, no - 1, lb - 1, penalty - 0)</p>
                              </td>
                              <td>5</td>
                              <td colspan="4"></td>
                            </tr>
                            <tr>
                              <td>
                                <b>Total</b>
                                <p class="batsman-text">(7.75 runs per over)</p>
                              </td>
                              <td><b>150</b></td>
                              <td colspan="4"></td>
                            </tr>
                            <tr>
                              <td colspan="6">
                                <b>Did not bat : </b><span class="batsman-text"> Opi Watihana, Emiliya Perevalova, Opi
                                  Watihana, Emiliya Perevalova</span>
                              </td>
                            </tr>
                          </tbody>
                        </table>
                      </div>
                    </div>
                    <div class="common-table batsman-table striped-table tour-stats-table common-shadow rounded-box">
                      <div class="table-title">
                        <h6 class="text-uppercase">Fall of Wickets</h6>
                      </div>
                      <ul class="fall-wicket-list">
                        <li>
                          <p class="fall-wicket">0/1</p>
                          <p class="title">Imran Nazir</p>
                          <p>0.5 OV</p>
                        </li>
                        <li>
                          <p class="fall-wicket">0/10</p>
                          <p class="title">Imran Nazir</p>
                          <p>0.5 OV</p>
                        </li>
                        <li>
                          <p class="fall-wicket">12/1</p>
                          <p class="title">ImranImran Nazir</p>
                          <p>0.5 OV</p>
                        </li>
                        <li>
                          <p class="fall-wicket">12/1</p>
                          <p class="title">Imran Nazir</p>
                          <p>0.5 OV</p>
                        </li>
                        <li>
                          <p class="fall-wicket">12/1</p>
                          <p class="title">Imran Nazir</p>
                          <p>0.5 OV</p>
                        </li>
                        <li>
                          <p class="fall-wicket">12/1</p>
                          <p class="title">ImranImran Nazir</p>
                          <p>0.5 OV</p>
                        </li>
                        <li>
                          <p class="fall-wicket">12/1</p>
                          <p class="title">Imran Nazir</p>
                          <p>0.5 OV</p>
                        </li>
                        <li>
                          <p class="fall-wicket">12/1</p>
                          <p class="title">Imran Nazir</p>
                          <p>0.5 OV</p>
                        </li>
                      </ul>
                    </div>
                    <div class="common-table bowler-table striped-table tour-stats-table common-shadow rounded-box">
                      <div class="table-responsive">
                        <table class="table">
                          <thead>
                            <tr>
                              <th>Bowler</th>
                              <th>Ov</th>
                              <th>M</th>
                              <th>R</th>
                              <th>W</th>
                              <th>ECO</th>
                            </tr>
                          </thead>
                          <tbody>
                            <tr>
                              <td>Jason Holder</td>
                              <td>4.3</td>
                              <td>1</td>
                              <td>56</td>
                              <td>1</td>
                              <td>6.23</td>
                            </tr>
                            <tr>
                              <td>Jason Holder</td>
                              <td>4</td>
                              <td>1</td>
                              <td>66</td>
                              <td>1</td>
                              <td>6.23</td>
                            </tr>
                            <tr>
                              <td>Jason Holder</td>
                              <td>4</td>
                              <td>1</td>
                              <td>66</td>
                              <td>1</td>
                              <td>6.23</td>
                            </tr>
                            <tr>
                              <td>Jason Holder</td>
                              <td>4</td>
                              <td>1</td>
                              <td>66</td>
                              <td>1</td>
                              <td>6.23</td>
                            </tr>
                            <tr>
                              <td>Chris Gayle</td>
                              <td>4</td>
                              <td>1</td>
                              <td>66</td>
                              <td>1</td>
                              <td>6.23</td>
                            </tr>
                          </tbody>
                        </table>
                      </div>
                    </div>
                  </ng-template>
                </ngb-tab>
              </ngb-tabset>
            </ng-template>
          </ngb-tab>
          <ngb-tab>
            <ng-template ngbTabTitle>News</ng-template>
            <ng-template ngbTabContent>

              <app-common-news-list [type]="commonnewstype" [reqparams]="commonnewsparams" *ngIf="commonnewsparams">
              </app-common-news-list>

            </ng-template>
          </ngb-tab>
          <ngb-tab>
            <ng-template ngbTabTitle>Upcoming</ng-template>
            <ng-template ngbTabContent>
              <div class="schedule-list schedule-tour-list">
                <div class="schedule-month d-flex">
                  <div class="month-title">
                    <div class="sticky-month">
                      <h5>31st <br>May 2019</h5>
                    </div>
                  </div>
                  <div class="schedule-items">
                    <div class="schedule-item d-flex align-items-center rounded-box common-shadow">
                      <div class="match-desc">
                        <h6>Match 2</h6>
                        <p class="stadium-nm">The Riverside Durham, Chester-le-Street</p>
                        <p class="time-line">08:00 PM</p>
                      </div>
                      <div class="match-teams d-flex align-items-center">
                        <div class="match-team d-flex align-items-center">
                          <div class="team-info">
                            <h5>WI</h5>
                          </div>
                          <img class="team-flag" src="../../../../../assets/images/flag-wi.svg" alt="team-flag">
                        </div>
                        <div class="vs-block">
                          <h6>vs</h6>
                        </div>
                        <div class="match-team d-flex align-items-center">
                          <img class="team-flag" src="../../../../../assets/images/flag-ind.svg" alt="team-flag">
                          <div class="team-info">
                            <h5>IND</h5>
                          </div>
                        </div>
                      </div>
                      <a class="details-btn" routerLink=""><span>Details</span></a>
                    </div>
                    <div class="schedule-item d-flex align-items-center rounded-box common-shadow">
                      <div class="match-desc">
                        <h6>Match 2</h6>
                        <p class="stadium-nm">The Riverside Durham, Chester-le-Street</p>
                        <p class="time-line">08:00 PM</p>
                      </div>
                      <div class="match-teams d-flex align-items-center">
                        <div class="match-team d-flex align-items-center">
                          <div class="team-info">
                            <h5>WI</h5>
                          </div>
                          <img class="team-flag" src="../../../../../assets/images/flag-wi.svg" alt="team-flag">
                        </div>
                        <div class="vs-block">
                          <h6>vs</h6>
                        </div>
                        <div class="match-team d-flex align-items-center">
                          <img class="team-flag" src="../../../../../assets/images/flag-ind.svg" alt="team-flag">
                          <div class="team-info">
                            <h5>IND</h5>
                          </div>
                        </div>
                      </div>
                      <a class="details-btn" routerLink=""><span>Details</span></a>
                    </div>
                  </div>
                </div>
                <div class="schedule-month d-flex">
                  <div class="month-title">
                    <div class="sticky-month">
                      <h5>1st <br>June 2019</h5>
                    </div>
                  </div>
                  <div class="schedule-items">
                    <div class="schedule-item d-flex align-items-center rounded-box common-shadow">
                      <div class="match-desc">
                        <h6>Match 2</h6>
                        <p class="stadium-nm">The Riverside Durham, Chester-le-Street</p>
                        <p class="time-line">08:00 PM</p>
                      </div>
                      <div class="match-teams d-flex align-items-center">
                        <div class="match-team d-flex align-items-center">
                          <div class="team-info">
                            <h5>WI</h5>
                          </div>
                          <img class="team-flag" src="../../../../../assets/images/flag-wi.svg" alt="team-flag">
                        </div>
                        <div class="vs-block">
                          <h6>vs</h6>
                        </div>
                        <div class="match-team d-flex align-items-center">
                          <img class="team-flag" src="../../../../../assets/images/flag-ind.svg" alt="team-flag">
                          <div class="team-info">
                            <h5>IND</h5>
                          </div>
                        </div>
                      </div>
                      <a class="details-btn" routerLink=""><span>Details</span></a>
                    </div>
                    <div class="schedule-item d-flex align-items-center rounded-box common-shadow">
                      <div class="match-desc">
                        <h6>Match 2</h6>
                        <p class="stadium-nm">The Riverside Durham, Chester-le-Street</p>
                        <p class="time-line">03:00 PM</p>
                      </div>
                      <div class="match-teams d-flex align-items-center">
                        <div class="match-team d-flex align-items-center">
                          <div class="team-info">
                            <h5>WI</h5>
                          </div>
                          <img class="team-flag" src="../../../../../assets/images/flag-wi.svg" alt="team-flag">
                        </div>
                        <div class="vs-block">
                          <h6>vs</h6>
                        </div>
                        <div class="match-team d-flex align-items-center">
                          <img class="team-flag" src="../../../../../assets/images/flag-ind.svg" alt="team-flag">
                          <div class="team-info">
                            <h5>IND</h5>
                          </div>
                        </div>
                      </div>
                      <a class="details-btn" routerLink=""><span>Details</span></a>
                    </div>
                  </div>
                </div>
              </div>
            </ng-template>
          </ngb-tab>
        </ngb-tabset>
      </div>
      <div class="sidebar-col">
        <div class="sticky-sidebar">
          <div class="ad-block"><img src="../../../assets/images/ad-320-80.jpg" alt="AD"></div>
          <div class="ad-block"><img src="../../../assets/images/ad-320-267.jpg" alt="AD"></div>
          <div class="common-stories-widget common-shadow rounded-box">
            <h5>Recommended links</h5>
            <ul class="common-list">
              <li><a>West Indies</a></li>
              <li><a>Ravindra Jadeja</a></li>
              <li><a>Pakistan</a></li>
              <li><a>Irfan Pathan</a></li>
              <li><a>Yuvraj Singh</a></li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
