<section class="common-section cricket-recentnews recentnews-section">
  <div class="container">
    <div class="row sidebar-row">
      <div class="content-col">
        <div class="common-title-btn big-title-btn tab-title-btn d-flex justify-content-between align-items-center">
          <h1>WI vs PAK</h1>
        </div>
        <ngb-tabset class="common-tabs">
          <ngb-tab>
            <ng-template ngbTabTitle>Commentary</ng-template>
            <ng-template ngbTabContent>
              Commentary
            </ng-template>
          </ngb-tab>
          <ngb-tab>
            <ng-template ngbTabTitle>Facts & Figures</ng-template>
            <ng-template ngbTabContent>
              Facts
            </ng-template>
          </ngb-tab>
          <ngb-tab>
            <ng-template ngbTabTitle>Scorecard</ng-template>
            <ng-template ngbTabContent>
              <ngb-tabset class="filled-tabs scorecard-tables">
                <ngb-tab>
                  <ng-template ngbTabTitle>West Indies</ng-template>
                  <ng-template ngbTabContent>
                    <div class="common-table bowler-table striped-table tour-stats-table common-shadow rounded-box">
                      <div class="table-responsive">
                        <table class="table">
                          <thead>
                            <tr>
                              <th>Bowler</th>
                              <th>Ov</th>
                              <th>M</th>
                              <th>R</th>
                              <th>W</th>
                              <th>ECO</th>
                            </tr>
                          </thead>
                          <tbody>
                            <tr>
                              <td>Jason Holder</td>
                              <td>4.3</td>
                              <td>1</td>
                              <td>56</td>
                              <td>1</td>
                              <td>6.23</td>
                            </tr>
                            <tr>
                              <td>Jason Holder</td>
                              <td>4</td>
                              <td>1</td>
                              <td>66</td>
                              <td>1</td>
                              <td>6.23</td>
                            </tr>
                            <tr>
                              <td>Jason Holder</td>
                              <td>4</td>
                              <td>1</td>
                              <td>66</td>
                              <td>1</td>
                              <td>6.23</td>
                            </tr>
                            <tr>
                              <td>Jason Holder</td>
                              <td>4</td>
                              <td>1</td>
                              <td>66</td>
                              <td>1</td>
                              <td>6.23</td>
                            </tr>
                            <tr>
                              <td>Chris Gayle</td>
                              <td>4</td>
                              <td>1</td>
                              <td>66</td>
                              <td>1</td>
                              <td>6.23</td>
                            </tr>
                          </tbody>
                        </table>
                      </div>
                    </div>
                  </ng-template>
                </ngb-tab>
                <ngb-tab>
                  <ng-template ngbTabTitle>Pakistan</ng-template>
                  <ng-template ngbTabContent>
                    Pakistan
                  </ng-template>
                </ngb-tab>
              </ngb-tabset>
            </ng-template>
          </ngb-tab>
          <ngb-tab>
            <ng-template ngbTabTitle>News</ng-template>
            <ng-template ngbTabContent>
              <div class="common-news-list">
                <div class="common-news-item d-flex common-shadow">
                  <div class="common-news-img common-zoom-container">
                    <div class="common-zoom-img" style="background-image: url(../../../assets/images/video-thumb.jpg)">
                    </div>
                  </div>
                  <div class="common-news-desc">
                    <div class="news-excerpt">
                      <h5><a>West Indies changes give Pollard World Cup hope</a></h5>
                      <p>Kieron Pollard last played an ODI in October 2016 but may still have
                        hopes of making it to the
                        West
                        Indies World Cup squad because of a new set-up running Cricket West
                        Indies…</p>
                    </div>
                    <div class="author-info d-flex justify-content-between align-items-center">
                      <p class="author"><a>Nick Evans</a>3 hrs ago</p>
                      <p class="view">6.5K</p>
                    </div>
                  </div>
                </div>
                <div class="common-news-item d-flex common-shadow">
                  <div class="common-news-img common-news-video common-zoom-container">
                    <div class="common-zoom-img" style="background-image: url(../../../assets/images/video-thumb.jpg)">
                    </div>
                  </div>
                  <div class="common-news-desc">
                    <div class="news-excerpt">
                      <h5><a>West Indies changes give Pollard World Cup hope</a></h5>
                      <p>Kieron Pollard last played an ODI in October 2016 but may still have
                        hopes of making it to the
                        West
                        Indies World Cup squad because of a new set-up running Cricket West
                        Indies…</p>
                    </div>
                    <div class="author-info d-flex justify-content-between align-items-center">
                      <p class="author"><a>Nick Evans</a>3 hrs ago</p>
                      <p class="view">6.5K</p>
                    </div>
                  </div>
                </div>
                <div class="common-news-item d-flex common-shadow">
                  <div class="common-news-img common-zoom-container">
                    <div class="common-zoom-img" style="background-image: url(../../../assets/images/video-thumb.jpg)">
                    </div>
                  </div>
                  <div class="common-news-desc">
                    <div class="news-excerpt">
                      <h5><a>West Indies changes give Pollard World Cup hope</a></h5>
                      <p>Kieron Pollard last played an ODI in October 2016 but may still have
                        hopes of making it to the
                        West
                        Indies World Cup squad because of a new set-up running Cricket West
                        Indies…</p>
                    </div>
                    <div class="author-info d-flex justify-content-between align-items-center">
                      <p class="author"><a>Nick Evans</a>3 hrs ago</p>
                      <p class="view">6.5K</p>
                    </div>
                  </div>
                </div>
                <div class="common-news-item d-flex common-shadow">
                  <div class="common-news-img common-zoom-container">
                    <div class="common-zoom-img" style="background-image: url(../../../assets/images/video-thumb.jpg)">
                    </div>
                  </div>
                  <div class="common-news-desc">
                    <div class="news-excerpt">
                      <h5><a>West Indies changes give Pollard World Cup hope</a></h5>
                      <p>Kieron Pollard last played an ODI in October 2016 but may still have
                        hopes of making it to the
                        West
                        Indies World Cup squad because of a new set-up running Cricket West
                        Indies…</p>
                    </div>
                    <div class="author-info d-flex justify-content-between align-items-center">
                      <p class="author"><a>Nick Evans</a>3 hrs ago</p>
                      <p class="view">6.5K</p>
                    </div>
                  </div>
                </div>
              </div>
              <div class="text-center"><button class="theme-btn down-btn">Load More<span></span></button>
              </div>
            </ng-template>
          </ngb-tab>
          <ngb-tab>
            <ng-template ngbTabTitle>Upcoming</ng-template>
            <ng-template ngbTabContent>
              <div class="schedule-list schedule-tour-list">
                <div class="schedule-month d-flex">
                  <div class="month-title">
                    <div class="sticky-month">
                      <h5>31st <br>May 2019</h5>
                    </div>
                  </div>
                  <div class="schedule-items">
                    <div class="schedule-item d-flex align-items-center rounded-box common-shadow">
                      <div class="match-desc">
                        <h6>Match 2</h6>
                        <p class="stadium-nm">The Riverside Durham, Chester-le-Street</p>
                        <p class="time-line">08:00 PM</p>
                      </div>
                      <div class="match-teams d-flex align-items-center">
                        <div class="match-team d-flex align-items-center">
                          <div class="team-info">
                            <h5>WI</h5>
                          </div>
                          <img class="team-flag" src="../../../../../assets/images/flag-wi.svg" alt="team-flag">
                        </div>
                        <div class="vs-block">
                          <h6>vs</h6>
                        </div>
                        <div class="match-team d-flex align-items-center">
                          <img class="team-flag" src="../../../../../assets/images/flag-ind.svg" alt="team-flag">
                          <div class="team-info">
                            <h5>IND</h5>
                          </div>
                        </div>
                      </div>
                      <a class="details-btn" routerLink=""><span>Details</span></a>
                    </div>
                    <div class="schedule-item d-flex align-items-center rounded-box common-shadow">
                      <div class="match-desc">
                        <h6>Match 2</h6>
                        <p class="stadium-nm">The Riverside Durham, Chester-le-Street</p>
                        <p class="time-line">08:00 PM</p>
                      </div>
                      <div class="match-teams d-flex align-items-center">
                        <div class="match-team d-flex align-items-center">
                          <div class="team-info">
                            <h5>WI</h5>
                          </div>
                          <img class="team-flag" src="../../../../../assets/images/flag-wi.svg" alt="team-flag">
                        </div>
                        <div class="vs-block">
                          <h6>vs</h6>
                        </div>
                        <div class="match-team d-flex align-items-center">
                          <img class="team-flag" src="../../../../../assets/images/flag-ind.svg" alt="team-flag">
                          <div class="team-info">
                            <h5>IND</h5>
                          </div>
                        </div>
                      </div>
                      <a class="details-btn" routerLink=""><span>Details</span></a>
                    </div>
                  </div>
                </div>
                <div class="schedule-month d-flex">
                  <div class="month-title">
                    <div class="sticky-month">
                      <h5>1st <br>June 2019</h5>
                    </div>
                  </div>
                  <div class="schedule-items">
                    <div class="schedule-item d-flex align-items-center rounded-box common-shadow">
                      <div class="match-desc">
                        <h6>Match 2</h6>
                        <p class="stadium-nm">The Riverside Durham, Chester-le-Street</p>
                        <p class="time-line">08:00 PM</p>
                      </div>
                      <div class="match-teams d-flex align-items-center">
                        <div class="match-team d-flex align-items-center">
                          <div class="team-info">
                            <h5>WI</h5>
                          </div>
                          <img class="team-flag" src="../../../../../assets/images/flag-wi.svg" alt="team-flag">
                        </div>
                        <div class="vs-block">
                          <h6>vs</h6>
                        </div>
                        <div class="match-team d-flex align-items-center">
                          <img class="team-flag" src="../../../../../assets/images/flag-ind.svg" alt="team-flag">
                          <div class="team-info">
                            <h5>IND</h5>
                          </div>
                        </div>
                      </div>
                      <a class="details-btn" routerLink=""><span>Details</span></a>
                    </div>
                    <div class="schedule-item d-flex align-items-center rounded-box common-shadow">
                      <div class="match-desc">
                        <h6>Match 2</h6>
                        <p class="stadium-nm">The Riverside Durham, Chester-le-Street</p>
                        <p class="time-line">03:00 PM</p>
                      </div>
                      <div class="match-teams d-flex align-items-center">
                        <div class="match-team d-flex align-items-center">
                          <div class="team-info">
                            <h5>WI</h5>
                          </div>
                          <img class="team-flag" src="../../../../../assets/images/flag-wi.svg" alt="team-flag">
                        </div>
                        <div class="vs-block">
                          <h6>vs</h6>
                        </div>
                        <div class="match-team d-flex align-items-center">
                          <img class="team-flag" src="../../../../../assets/images/flag-ind.svg" alt="team-flag">
                          <div class="team-info">
                            <h5>IND</h5>
                          </div>
                        </div>
                      </div>
                      <a class="details-btn" routerLink=""><span>Details</span></a>
                    </div>
                  </div>
                </div>
              </div>
            </ng-template>
          </ngb-tab>
        </ngb-tabset>
      </div>
      <div class="sidebar-col">
        <div class="sticky-sidebar">
          <div class="ad-block"><img src="../../../assets/images/ad-320-80.jpg" alt="AD"></div>
          <div class="ad-block"><img src="../../../assets/images/ad-320-267.jpg" alt="AD"></div>
          <div class="common-stories-widget common-shadow rounded-box">
            <h5>Recommended links</h5>
            <ul class="common-list">
              <li><a>West Indies</a></li>
              <li><a>Ravindra Jadeja</a></li>
              <li><a>Pakistan</a></li>
              <li><a>Irfan Pathan</a></li>
              <li><a>Yuvraj Singh</a></li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>