<app-loader *ngIf="loading"></app-loader>
<app-no-data-widget *ngIf="!loading && (!matchInfo)" [sport]="'Hockey'"></app-no-data-widget>
<section class="common-section" *ngIf="matchInfo">
  <div class="container">
    <div class="row sidebar-row">
      <div class="content-col">
        <!-- START - ABOUT MATCH-->
        <app-match-about [data]="matchInfo" [competitor]="matchInfo?.sport_event?.competitors" [toss]=""
          [sport]="'Hockey'"></app-match-about>
        <!-- END - ABOUT MATCH-->

        <!-- START - MATCH TABS-->
        <ngb-tabset class="common-tabs match-tabs">
          <!--START - COMMENTARY  -->

          <ngb-tab>
            <ng-template ngbTabTitle>{{ 'Cricket_Module.Commentary' | translate }}</ng-template>
            <ng-template ngbTabContent>
              <app-loader *ngIf="commentry?.loading"></app-loader>
              <app-no-data-widget
                *ngIf="!commentry?.loading && (commentry?.data.length == 0) && matchInfo?.sport_event_status?.status != 'not_started'"
                [sport]="'Hockey'">
              </app-no-data-widget>
              <app-countdown *ngIf="matchInfo?.sport_event_status?.status == 'not_started'"
                [scheduled]="matchInfo?.sport_event?.start_time">
              </app-countdown>
              <app-goal-commentry *ngIf="matchInfo?.events?.length > 0" [commentry]="matchInfo?.events"
                [sport]="'Hockey'">
              </app-goal-commentry>
            </ng-template>
          </ngb-tab>
          <!--END - COMMENTARY  -->

          <!--START - STATS -->
          <!-- <ngb-tab *ngIf="matchInfo?.status === 'closed'">
            <ng-template ngbTabTitle>
              <div>{{ 'widgetModule.Stats' | translate }}</div>
            </ng-template>
            <ng-template ngbTabContent>
              <app-match-stats [sport]="'Hockey'" [matchStats]="matchInfo"></app-match-stats>
            </ng-template>
          </ngb-tab> -->
          <!--END - STATS -->

          <!--START - NEWS TAB-->
          <ngb-tab>
            <ng-template ngbTabTitle>{{ 'Shared_module.news' | translate }}</ng-template>
            <ng-template ngbTabContent>
              <app-blog-list *ngIf="paramArticle" [options]="paramArticle" [sport]="'Hockey'">
              </app-blog-list>
            </ng-template>
          </ngb-tab>
          <!--END - NEWS TAB-->
        </ngb-tabset>
        <!-- END - MATCH TABS-->
      </div>
      <div class="sidebar-col">
        <div class="sticky-sidebar">
          <!--START - SIDERBAR ADS-->
          <app-custom-ads-widget [type]="'Banner'"></app-custom-ads-widget>
          <!--END - SIDERBAR ADS-->
          <!--START - SIDERBAR STORY-->
          <!-- <app-sidebar-links [sport]="'Cricket'" [link_type]="'tournament'"
            [options]="{type: 'current', title:'Recommended Links'}"></app-sidebar-links> -->
          <!--START - SIDERBAR STORY-->
          <app-custom-ads-widget [type]="'Rectangle'"></app-custom-ads-widget>
        </div>
      </div>
    </div>
  </div>
</section>