/* -------- Match Title List ------- */
.match-main-title                                   { flex-wrap: wrap; -webkit-flex-wrap: wrap; overflow: hidden; position: relative;}
.match-main-title .tour-match-title p               { margin-bottom: 4px; font-weight: 500;}
.match-main-title .tour-match-title h1              { font-size: 24px; line-height: 30px; }
.match-main-title h1,
.match-main-title .match-update                     { margin-bottom: 32px; }
.match-main-title .tour-match-title                 { align-self: self-start; -webkit-align-self: self-start; }
.match-main-title .match-update                     { flex-grow: 1; -webkit-flex-grow: 1; text-align: right; align-self: self-start; -webkit-align-self: self-start; }
.match-main-title .match-update p                   { line-height: 24px; margin-bottom: 4px; font-weight: 500; }
.match-main-title .match-update p:last-child        { color: #292929; }
.match-main-title .match-update p.light-text:last-child     { color: #A3A3A3; }
.match-main-title .match-update p.live-match        { color: #ED1A33; }
.match-main-title .match-update p.live-match:before { content: ""; margin: -3px 8px 0px 0px; display: inline-block; width: 8px; height: 8px; background: #ED1A33; border-radius: 50%; vertical-align: middle; }
.match-main-title .current-match                    { width: 100%; border-bottom: 2px solid #ECECEC; position: relative; }
.match-main-title .current-teams                    { padding-right: 32px; width: 58%; }
.match-main-title .current-team                     { margin-bottom: 24px; }
.match-main-title .current-team img                 { margin-right: 12px; height: 40px; width: auto; border-radius: 2px; box-shadow: 0px 2px 3px rgba(0,0,0,0.14), 0px 3px 15px rgba(0,0,0,0.11); -webkit-box-shadow: 0px 2px 3px rgba(0,0,0,0.14), 0px 3px 15px rgba(0,0,0,0.11);  }
.match-main-title .current-team h4                  { font-family: 'IBM Plex Sans', sans-serif; text-transform: uppercase; font-weight: 600; }
.match-main-title .current-team h4 a                { display: inline-block; vertical-align: middle; }
.match-main-title .current-team h4.score            { color: rgba(41,41,41,0.5); font-weight: 600; }
.match-main-title .current-team h4.running          { color: #292929;}
.match-main-title .current-team h4 .win-toss:after,
.match-main-title .current-team h4.winner:after     { content: ""; margin: 0px 5px 0px; display: inline-block; height: 24px; width: 24px; background:url(assets/images/winner-cup.svg) no-repeat center center / cover; vertical-align: middle;  }
.match-main-title .current-team h4 .win-toss:after  { background-image: url(assets/images/toss-icon.svg); }
.match-main-title .match-win-player                 { padding-left: 32px; border-left: 2px solid #ECECEC;}
.match-main-title .player-pic                       { margin-right: 16px; width: 96px; }
.match-main-title .player-pic img                   { border-radius: 2px; }
.match-main-title .player-pic .player-info          { border-radius: 2px; flex: 1; -webkit-flex: 1; -ms-flex: 1;}
.match-main-title .match-win-player .player-info p  { margin-bottom: 8px; font-size: 12px; line-height: 15px; font-weight: 600; text-transform: uppercase; }
.match-main-title .match-win-player p.player-team   { font-size: 14px; line-height: 18px; color: #7A7A7A; font-weight: 500; }
.match-main-title .sec-inngs-state-list p           { margin-bottom: 8px; color: #A3A3A3; font-weight: 500; }
.match-main-title .sec-inngs-state-list p .title    { min-width: 110px; display: inline-block; }
.match-main-title .sec-inngs-state-list p .value    { color: #292929; font-weight: 600; }
/* -------- Match Animation ------- */
.match-main-title .show-anim                        { position: relative; z-index: 2; opacity: 0; animation: show-anim 1s ease-in-out 1s forwards; -webkit-animation: show-anim 1s ease-in-out 1s forwards; }
.match-main-title .teams-animation                  { position: absolute; top: 0px; left: 10%; width: 80%; height: 100%; text-align: center; z-index: 1; }
.match-main-title .teams-animation img              { margin-bottom: 15px; height: 64px; width: auto; }
.match-main-title .team-anim                        { opacity: 0; position: relative; animation: 1s ease-in-out 0.5s forwards; -webkit-animation: 1s ease-in-out 0.5s forwards;}
.match-main-title .team-anim:first-child            { animation-name: flag-first; -webkit-animation-name: flag-first; }
.match-main-title .team-anim.vs-anim                { animation-name: vs-anim; -webkit-animation-name: vs-anim;}
.match-main-title .team-anim:last-child             { animation-name: flag-last; -webkit-animation-name: flag-last; }

/* -------- Goal Type Match Title ------- */
.match-main-title.goal-type .match-update           { margin-bottom: 12px; }
.goal-type .current-match > :last-child             { text-align: right; }
.match-main-title.goal-type .current-team h4        { text-transform: capitalize; width: 100%; }
.goal-type .current-match > :last-child h4          { flex-direction: row-reverse; -webkit-flex-direction: row-reverse; }
.goal-type .current-match > :last-child h4 img      { margin-left: 12px; margin-right: 0px; }
.goal-type .team-col                                { flex-grow: 1; -webkit-flex-grow: 1; }
.goal-type .live-score                              { margin-top: -15px; padding: 0px 6px; width: 132px; align-self: stretch; -webkit-align-self: stretch; flex-shrink: 0; -webkit-flex-shrink: 0; text-align: center; }
.goal-type .live-score h5                           { margin: 0px; color: #A3A3A3; font-weight: 700; text-transform: uppercase; }
.goal-type .best-player-list                        { margin-bottom: 16px; }
.goal-type .best-player-list li                     { margin-right: 16px; display: inline-block; font-size: 14px; line-height: 20px; color: #7A7A7A; }
.goal-type .best-player-list li:last-child          { margin: 0px; }
.goal-type .best-player-list li span                { color: #292929; font-weight: 500; }

/* -- Arabic CSS -- */
.arabic .match-main-title .match-update             { text-align: left; }
.arabic .match-main-title .current-teams            { padding-right: 0px; padding-left: 32px; }
.arabic .match-main-title .current-team img         { margin-right: 0px; margin-left: 12px; }
.arabic .match-main-title .match-win-player         { padding-left: 0px; border-left: none; padding-right: 32px; border-right: 2px solid #ECECEC; }
.arabic .match-main-title .player-pic               { margin-right: 0px; margin-left: 16px; }
.arabic .goal-type .current-match > :last-child h4 img      { margin-left: 0px; margin-right: 12px; }


/* -------- Content Animation ------- */
@-webkit-keyframes show-anim {
    0%      { opacity: 0; }
    100%    { opacity: 1; }
}
@keyframes show-anim {
    0%      { opacity: 0; }
    100%    { opacity: 1; }
}
/* -------- Flag Animation ------- */
@-webkit-keyframes flag-first {
    0%      { transform: translateX(0px); -webkit-transform: translateX(0px); opacity: 0; }
    50%     { transform: translateX(0px); -webkit-transform: translateX(0px); opacity: 1;}
    100%    { transform: translateX(-350px); -webkit-transform: translateX(-350px); opacity: 0; }
}
@keyframes flag-first {
    0%      { transform: translateX(0px); -webkit-transform: translateX(0px); opacity: 0; }
    50%     { transform: translateX(0px); -webkit-transform: translateX(0px); opacity: 1;}
    100%    { transform: translateX(-350px); -webkit-transform: translateX(-350px); opacity: 0; }
}
@-webkit-keyframes flag-last {
    0%      { transform: translateX(0px); -webkit-transform: translateX(0px); opacity: 0; }
    50%     { transform: translateX(0px); -webkit-transform: translateX(0px); opacity: 1;}
    100%    { transform: translateX(350px); -webkit-transform: translateX(350px); opacity: 0; }
}
@keyframes flag-last {
    0%      { transform: translateX(0px); -webkit-transform: translateX(0px); opacity: 0; }
    50%     { transform: translateX(0px); -webkit-transform: translateX(0px); opacity: 1;}
    100%    { transform: translateX(350px); -webkit-transform: translateX(350px); opacity: 0; }
}
@-webkit-keyframes vs-anim {
    0%      { transform: translateX(0px); -webkit-transform: translateX(0px); opacity: 0; }
    50%     { transform: translateX(0px); -webkit-transform: translateX(0px); opacity: 1;}
    100%    { opacity: 0; }
}
@keyframes vs-anim {
    0%      { transform: translateX(0px); -webkit-transform: translateX(0px); opacity: 0; }
    50%     { transform: translateX(0px); -webkit-transform: translateX(0px); opacity: 1;}
    100%    { opacity: 0; }
}

/***** Responsive CSS Start ******/
@media (min-width: 1200px) and (max-width: 1379px) {
    .match-main-title .tour-match-title h1      { font-size: 22px; line-height: 28px; }
}
@media (max-width: 1199px) {
/* -------- Match Title List ------- */
    .match-main-title .tour-match-title h1      { font-size: 20px; line-height: 26px; }
    .match-main-title .match-update p           { font-size: 14px; line-height: 20px;}
    .match-main-title .current-teams            { padding-right: 12px;}
    .match-main-title .current-team             { margin-bottom: 18px;}
    .match-main-title .current-team img         { height: 32px;}
    .match-main-title .current-team h4          { font-size: 16px; line-height: 24px;}
    .match-main-title .current-team h4 .win-toss:after,
    .match-main-title .current-team h4.winner:after{ height: 18px; width: 18px;   }
    .match-main-title .match-win-player         { padding-left: 12px;}
    .match-main-title .player-pic               { margin-right: 12px; width: 84px; }
    .match-main-title .sec-inngs-state-list p           { margin-bottom: 4px; font-size: 14px; }
    .match-main-title .sec-inngs-state-list p .title    { min-width: 90px; }
/* -------- Match Animation ------- */
    .match-main-title .teams-animation img      { margin-bottom: 10px; height: 48px; }
/* -------- Goal Type Match Title ------- */
    .goal-type .live-score                      { margin-top: -8px; padding: 0px 6px; width: 112px; }

/* -- Arabic CSS -- */
    .arabic .match-main-title .current-teams            { padding-left: 12px; }
    .arabic .match-main-title .match-win-player         { padding-right: 12px; }
    .arabic .match-main-title .player-pic               { margin-left: 12px; }

}

@media (max-width: 767px) {
/* -------- Match Title List ------- */
    .match-main-title h1,
    .match-main-title .match-update             { margin-bottom: 16px; }
    .match-main-title .current-team             { margin-bottom: 12px; }
    .match-main-title .current-team img         { height: 32px;}
    .match-main-title .match-win-player         { padding-left: 0px; border-left: none;}
    .match-main-title .player-pic               { width: 74px; }
    .match-main-title .current-match            { flex-direction: column; -webkit-flex-direction: column; }
    .match-main-title .current-teams            { padding: 0px; width: 100%; }
    .match-main-title .sec-inngs-state-list p   { margin-bottom: 2px; font-size: 13px; }
/* -------- Match Animation ------- */
    .match-main-title .teams-animation img      { margin-bottom: 10px; height: 32px; }
/* -------- Goal Type Match Title ------- */
    .match-main-title.goal-type .current-match            { flex-direction: row; -webkit-flex-direction: row; }

/* -- Arabic CSS -- */
    .arabic .match-main-title .current-teams            { padding: 0px; }
    .arabic .match-main-title .match-win-player         { padding-right: 0px; border-right: none; }
}

@media (max-width: 575px) {
/* -------- Match Title List ------- */
    .match-main-title h1                        { margin-bottom: 4px; }
    .match-main-title .match-update             { margin-bottom: 8px; }
    .match-main-title .match-update p           { margin-bottom: 2px; }
    .match-main-title .current-team img         { margin-right: 6px; height: 24px; }
    .match-main-title .current-team h4          { font-size: 16px; line-height: 22px;}
    .match-main-title .current-team h4 .win-toss:after,
    .match-main-title .current-team h4.winner:after     { height: 14px; width: 14px; }
    .match-main-title .player-pic               { width: 66px; }
    .match-main-title .match-update             { text-align: left; }
/* -------- Goal Type Match Title ------- */
    .match-main-title .goal-type .current-match     { flex-direction: row; -webkit-flex-direction: row; }
    .goal-type .current-match > :last-child h4,
    .match-main-title.goal-type .current-team h4    { flex-wrap: wrap; -webkit-flex-wrap: wrap; }
    .goal-type .current-match h4 img                { margin-bottom: 6px; margin-right: calc(100% - 24px); }
    .goal-type .current-match > :last-child h4 img  { margin-right: 0px; margin-left: calc(100% - 24px); }
    .goal-type .live-score                      { width: 76px; padding: 0px 6px; }
    .goal-type .live-score h5                   { font-size: 12px; line-height: 20px; }
    .goal-type .live-score h3                   { font-size: 16px; line-height: 22px;}
    .goal-type .best-player-list li             { margin-right: 0px; margin-bottom: 6px; font-size: 13px; line-height: 18px; }

/* -- Arabic CSS -- */
    .arabic .match-main-title .match-update             { text-align: right; }
    .arabic .match-main-title .current-team img         { margin-left: 6px; }
    .goal-type .current-match h4 img                    { margin-bottom: 6px; margin-right: calc(100% - 24px); }
    .arabic .goal-type .current-match h4 img                { margin-left: calc(100% - 24px); }
    .arabic .goal-type .current-match > :last-child h4 img  { margin-right: calc(100% - 24px); }

}    
    