<ng-container *ngIf="sport == 'Cricket'">
  <div
    class="common-title-btn match-main-title big-title-btn tab-title-btn d-flex justify-content-between align-items-center"
    *ngIf="data">
    <div class="teams-animation d-flex justify-content-around align-items-center">
      <div class="team-anim">
        <img [lazyLoad]="competitor.home.id | logosurl" [defaultImage]="commonService.flagplaceholder">
        <h4>{{competitor.home.name}}</h4>
      </div>
      <div class="team-anim vs-anim">
        <h5>VS</h5>
      </div>
      <div class="team-anim">
        <img [lazyLoad]="competitor.away.id | logosurl" [defaultImage]="commonService.flagplaceholder">
        <h4>{{competitor.away.name}}</h4>
      </div>
    </div>
    <!-- <h1 *ngIf="data.sport_event.competitors">
    {{data.sport_event.competitors[0].abbreviation}} vs {{data.sport_event?.competitors[1].abbreviation}}
  </h1> -->
    <div class="tour-match-title show-anim">
      <p class="light-text">
        <a
          [routerLink]="['/cricket/tournament', (data.sport_event.tournament.id | splitID), (data.sport_event.tournament.name | slugify) ]">
          {{data.sport_event.season?.name ? data.sport_event.season?.name : data.sport_event.tournament.name }}
        </a>
        <span class="text-capitalize"
          *ngIf="data.sport_event.tournament_round &&  data.sport_event.tournament_round.name">
          {{ (data.sport_event.season?.name || data.sport_event.tournament.name) ? ' - '+ data.sport_event.tournament_round?.name : data.sport_event.tournament_round?.name  }}
        </span>
      </p>
      <h1 *ngIf="data.sport_event.competitors">
        {{data.sport_event.competitors[0].name}} vs {{data.sport_event?.competitors[1].name}}
      </h1>
    </div>

    <div class="match-update show-anim">
      <p class="light-text" *ngIf="data.sport_event.venue">
        <ng-container *ngIf="data.sport_event.venue.name">
          <span [innerHTML]="data.sport_event.venue.name">{{data.sport_event.venue.name}}</span>
        </ng-container>
        <ng-container *ngIf="data.sport_event.venue.city_name">
          <span>, {{data.sport_event.venue.city_name}} |</span>
        </ng-container>
        {{data.sport_event.scheduled | amDateFormat:'Do MMMM YYYY'}}
      </p>
      <p *ngIf="data.sport_event_status.match_result">{{data.sport_event_status.match_result}}</p>
      <!-- TODO Delay class-->
      <p *ngIf="data.sport_event_status.status == 'cancelled' || data.sport_event_status.status == 'delayed'">
        {{ 'widgetModule.match_is' | translate }}
        {{ data.sport_event_status.status }}</p>
      <p *ngIf="data.sport_event_status.status == 'not_started' && toss.toss_won_by_team">
        <span>{{toss.toss_won_by_team}} {{ 'widgetModule.opt_to' | translate }}
          {{toss.toss_decision ? toss.toss_decision : 'bat'}}</span>
      </p>
      <p *ngIf="data.sport_event_status.status == 'live' && data.sport_event_status.current_inning == 1 && toss.toss_won_by_team "
        class="live-match">{{ 'widgetModule.live' | translate }}
        <span *ngIf="toss.toss_won_by_team">| {{toss.toss_won_by_team}} {{ 'widgetModule.opt_to' | translate }}
          {{toss.toss_decision ? toss.toss_decision : 'bat'}}</span>
      </p>
      <p *ngIf="data.sport_event_status.status == 'live' && data.sport_event_status.current_inning == 2"
        class="live-match">{{ 'widgetModule.live' | translate }} | {{data.sport_event_status.equation}}
      </p>
    </div>

    <div class="current-match d-flex show-anim">
      <!--If match not started-->
      <div class="current-teams" *ngIf="competitor && competitor.home">
        <ng-container
          *ngIf="competitor.away.period_scores && competitor.away.period_scores[0].number == 1; else home_first">
          <ng-container *ngTemplateOutlet="team;context:{competitor:competitor.away, data:data}">
          </ng-container>
          <ng-container *ngTemplateOutlet="team;context:{competitor:competitor.home, data:data}">
          </ng-container>
        </ng-container>
        <ng-template #home_first>
          <ng-container>
            <ng-container *ngTemplateOutlet="team;context:{competitor:competitor.home, data:data}">
            </ng-container>
            <ng-container *ngTemplateOutlet="team;context:{competitor:competitor.away, data:data}">
            </ng-container>
          </ng-container>
        </ng-template>

        <ng-template #team let-competitor="competitor">
          <div class="current-team d-flex justify-content-between align-items-center">
            <h4 *ngIf="data.sport_event.competitors"
              [ngClass]="{'winner': (data.sport_event_status.status == 'closed' || data.sport_event_status.status == 'ended') && competitor.id == data.sport_event_status.winner_id}">
              <img [lazyLoad]="competitor.id | logosurl" [defaultImage]="commonService.flagplaceholder"
                [offset]="commonService.lazyloadoffset">
              <a [ngClass]="{'win-toss': competitor.id == toss.toss_won_by && (data.sport_event_status.status != 'closed' && data.sport_event_status.status != 'ended') }"
                [routerLink]="data.sport_event.tournament.id ? ['/cricket/team', (data.sport_event.tournament.id | splitID) ,(competitor.id | splitID),(competitor.name | slugify)] : ['/cricket/team',(competitor.id | splitID),(competitor.name | slugify)]">
                {{data.sport_event_status.status == 'not_started' ? competitor.name : competitor.abbreviation}} </a>
            </h4>
            <h4 class="score"
              [ngClass]="{'running' : competitor.period_scores[0].number == data.sport_event_status.current_inning}"
              *ngIf="competitor.period_scores && competitor">
              <!-- {{competitor.period_scores[0].display_score | cricketScore}}
              ({{competitor.period_scores[0].display_overs}} ov) -->
              <ng-container *ngFor="let score of competitor.period_scores; let i = index">
                {{score?.display_score | cricketScore}}
                {{i == competitor.period_scores.length - 1 ?  ("(" + score?.display_overs + " ov)")   : '&'}}
              </ng-container>
            </h4>
          </div>
        </ng-template>
      </div>


      <div class="match-win-player d-flex"
        *ngIf="data.sport_event_status.status != 'live'  && data.statistics && data.statistics.man_of_the_match">
        <div class="player-pic">
          <img [lazyLoad]="data.statistics.man_of_the_match[0]?.id| playerimage:['m']"
            [defaultImage]="commonService.playerplaceholder" [offset]="commonService.lazyloadoffset">
        </div>
        <div class="player-info">
          <p class="light-text">{{ 'widgetModule.player_of_the_match' | translate }}</p>
          <h5 class="theme-color">
            <a
              [routerLink]="['/cricket/player', (data.statistics.man_of_the_match[0].id | splitID), ((data.statistics.man_of_the_match[0].name | split ) | slugify) ]">
              {{data.statistics.man_of_the_match[0]?.name | split}} </a>
          </h5>
        </div>
      </div>

      <div class="match-win-player d-flex"
        *ngIf="data.sport_event_status.status == 'live' && data.sport_event_status.current_inning == 2">
        <ul class="sec-inngs-state-list">
          <li>
            <p *ngIf="data.sport_event_status.run_rate_required"><span
                class="title">{{ 'widgetModule.required_rate' | translate }}</span>: <span
                class="value">{{data.sport_event_status.run_rate_required}}</span></p>
          </li>
          <li>
            <p *ngIf="data.sport_event_status.run_rate"><span
                class="title">{{ 'widgetModule.current_rate' | translate }}</span>: <span
                class="value">{{data.sport_event_status.run_rate}}</span></p>
          </li>
          <!-- <li>
          <p><span class="title">Last 5 overs</span>: <span class="value">56 runs 2 wickets</span></p>
        </li> -->
        </ul>
      </div>
    </div>
  </div>
</ng-container>

<ng-container *ngIf="sport == 'kabaddi' && data">
  <div
    class="common-title-btn goal-type match-main-title big-title-btn tab-title-btn d-flex justify-content-between align-items-center">
    <div class="teams-animation d-flex justify-content-around align-items-center">
      <div class="team-anim">
        <img [lazyLoad]="data.match_info.teams?.home?.tid | logosurl:'kabaddi'" alt="data.match_info.teams?.home?.tname"
          [defaultImage]="commonService.playerplaceholder" [offset]="commonService.lazyloadoffset">
        <h4>{{data.match_info.teams?.home?.tname}}</h4>
      </div>
      <div class="team-anim vs-anim">
        <h5>VS</h5>
      </div>
      <div class="team-anim">
        <img [lazyLoad]="data.match_info.teams?.away?.tid | logosurl:'kabaddi'" alt="data.match_info.teams?.away?.tname"
          [defaultImage]="commonService.playerplaceholder" [offset]="commonService.lazyloadoffset">
        <h4>{{data.match_info.teams?.away?.tname}}</h4>
      </div>
    </div>
    <div class="tour-match-title show-anim">
      <p class="light-text">
        <a [routerLink]="'/kabaddi'">
          {{data?.match_info?.competition?.cname}}
        </a>
        <!-- <span class="text-capitalize" *ngIf="data.sport_event.tournament_round &&  data.sport_event.tournament_round.name">
         {{ (data.sport_event.season.name || data.sport_event.tournament.name) ? ' - '+ data.sport_event.tournament_round.name : data.sport_event.tournament_round.name  }}
        </span> -->
      </p>
    </div>

    <div class="match-update show-anim">
      <p class="light-text">
        <ng-container>
          <span>{{data?.match_info?.venue?.name}} |</span>
        </ng-container>
        {{data?.match_info?.datestart | amDateFormat:'Do MMMM YYYY'}}
      </p>
      <p class="live-match" *ngIf="data?.match_info?.status == 3">{{ 'widgetModule.live' | translate }}</p>
    </div>

    <div class="current-match d-flex justify-content-between show-anim">
      <ng-container *ngTemplateOutlet="kabadditeam;context:{team:data.match_info.teams?.home}">
      </ng-container>
      <div class="live-score" *ngIf="data.match_info.gamestate != 0">
        <h5>ft</h5>
        <h3>{{data.match_info.result?.home}} - {{data.match_info.result?.away}}</h3>
      </div>
      <ng-container *ngTemplateOutlet="kabadditeam;context:{team:data.match_info.teams?.away}">
      </ng-container>
    </div>
  </div>
</ng-container>

<ng-template #kabadditeam let-team="team">
  <div class="team-col">
    <div class="current-team d-flex align-items-center">
      <h4 class="d-flex align-items-center" [ngClass]="{'winner':data.match_info.result?.winner == team?.tid}">
        <img [lazyLoad]="team?.tid | logosurl:'kabaddi'" alt="team.tname"
          [defaultImage]="commonService.playerplaceholder" [offset]="commonService.lazyloadoffset">
        <a [routerLink]="['/kabaddi/team',(team.tid),(team.tname | slugify)]">
          {{data.match_info.gamestate != 0 ? team.shortname : team.tname}}
        </a>
      </h4>
    </div>
    <!-- <ul class="best-player-list" *ngIf="data.match_info.gamestate != 0">
      <li><span>Nitin Tomar </span>15</li>
      <li><span>Siddharth Desai </span>7</li>
    </ul> -->
  </div>
</ng-template>


<ng-container *ngIf="sport == 'soccer' && data">

  <!-- Start Animation -->
  <div
    class="common-title-btn goal-type match-main-title big-title-btn tab-title-btn d-flex justify-content-between align-items-center">
    <div class="teams-animation d-flex justify-content-around align-items-center">
      <div class="team-anim">
        <img [lazyLoad]="competitor.home.id | logosurl:'soccer'" alt="{{competitor.home.name}}"
          [defaultImage]="commonService.flagplaceholder" [offset]="commonService.lazyloadoffset">
        <h4>{{competitor.home.name}}</h4>
      </div>
      <div class="team-anim vs-anim">
        <h5>VS</h5>
      </div>
      <div class="team-anim">
        <img [lazyLoad]="competitor.away.id | logosurl:'soccer'" alt="{{competitor.away.name}}"
          [defaultImage]="commonService.flagplaceholder" [offset]="commonService.lazyloadoffset">
        <h4>{{competitor.away.name}}</h4>
      </div>
    </div>
    <!-- End Animation -->

    <div class="tour-match-title show-anim">
      <p class="light-text">
        <a
          [routerLink]="['/soccer/tournament',(data?.sport_event?.sport_event_context?.season?.id | splitID),(data?.sport_event?.sport_event_context?.season?.name | slugify)]">
          {{data?.sport_event?.sport_event_context?.season?.name}}
        </a>
      </p>
    </div>

    <div class="match-update show-anim">
      <p class="light-text">
        <ng-container *ngIf="data.sport_event.venue">
          <span>{{data.sport_event.venue.name}}, {{data.sport_event.venue.city_name}} |</span>
        </ng-container>
        {{data.sport_event.start_time | amDateFormat:'Do MMMM YYYY'}}
      </p>
      <p class="live-match" *ngIf="data.sport_event_status?.status == 'live' ">{{ 'widgetModule.live' | translate }}
        <span *ngIf="data.match_time"> | {{data.match_time}}</span>
      </p>
    </div>

    <div class="current-match d-flex justify-content-between show-anim">
      <ng-container *ngTemplateOutlet="soccerteam;context:{team:competitor?.home}">
      </ng-container>
      <div class="live-score" *ngIf="data.sport_event_status.status != 'not_started'">
        <h5 *ngIf="data.sport_event_status.status != 'not_started'">
          {{data.sport_event_status.status == 'closed' || data.sport_event_status.status == 'ended' 
            ?  'FT' 
            : (data.sport_event_status.status == 'live' && data.sport_event_status.match_status == '2nd_half' ? 'HT' : '')}}
        </h5>
        <h3>{{data.sport_event_status?.home_score}} - {{data.sport_event_status?.away_score}}</h3>
      </div>
      <ng-container *ngTemplateOutlet="soccerteam;context:{team:competitor?.away}">
      </ng-container>
    </div>
  </div>
</ng-container>

<ng-template #soccerteam let-team="team">
  <div class="team-col">
    <div class="current-team d-flex align-items-center">
      <h4 class="d-flex align-items-center" [ngClass]="{'winner':data.sport_event_status?.winner_id == team?.id}">
        <img [lazyLoad]="team.id | logosurl:'soccer'" alt="{{team.name}}" [defaultImage]="commonService.flagplaceholder"
          [offset]="commonService.lazyloadoffset">
        <a
          [routerLink]=" data?.sport_event?.sport_event_context?.season.id  ?  ['/soccer/team', (data?.sport_event?.sport_event_context?.season.id | splitID),(team.id | splitID),(team.name | slugify)]  : ['/soccer/team',(team.id | splitID),(team.name | slugify)]">
          {{team.name}}
        </a>
      </h4>
    </div>
    <!-- <ul class="best-player-list" *ngIf="data.match_info.gamestate != 0">
          <li><span>Nitin Tomar </span>15</li>
          <li><span>Siddharth Desai </span>7</li>
        </ul> -->
  </div>
</ng-template>

<ng-container *ngIf="sport == 'Basketball' && data">

  <!-- Start Animation -->
  <div
    class="common-title-btn nba-match-title match-main-title big-title-btn tab-title-btn d-flex justify-content-between align-items-center">
    <div class="teams-animation d-flex justify-content-around align-items-center">
      <div class="team-anim">
        <img [lazyLoad]="data.home.sr_id | logosurl:'basketball'" alt="{{data.home.name}}"
          [defaultImage]="commonService.flagplaceholder" [offset]="commonService.lazyloadoffset">
        <h4>{{data?.home?.market}} {{data.home.name}}</h4>
      </div>
      <div class="team-anim vs-anim">
        <h5>VS</h5>
      </div>
      <div class="team-anim">
        <img [lazyLoad]="data.away.sr_id | logosurl:'basketball'" alt="{{data.away.name}}"
          [defaultImage]="commonService.flagplaceholder" [offset]="commonService.lazyloadoffset">
        <h4>{{data?.away?.market}} {{data.away.name}}</h4>
      </div>
    </div>
    <!-- End Animation -->

    <div class="tour-match-title show-anim">
      <!-- <p class="light-text">
        <a
          [routerLink]="['/soccer/tournament',(data?.sport_event?.sport_event_context?.season?.id | splitID),(data?.sport_event?.sport_event_context?.season?.name | slugify)]">
          {{data?.sport_event?.sport_event_context?.season?.name}}
        </a>
      </p> -->
    </div>

    <div class="match-update show-anim">
      <p class="light-text">
        <ng-container *ngIf="data?.venue">
          <span>{{data?.venue?.name}}, {{data?.venue?.city}} |</span>
        </ng-container>
        {{data?.scheduled | amDateFormat:'Do MMMM YYYY'}}
      </p>
      <p class="live-match text-capitalize" *ngIf="['inprogress', 'halftime', 'delayed'].indexOf(data.status) > -1">
        {{ data?.status }}
        <!-- <span *ngIf="data.match_time"> | {{data.match_time}}</span> -->
      </p>
    </div>

    <div class="current-match d-flex justify-content-between show-anim">
      <ng-container *ngTemplateOutlet="basektballteam;context:{team:data?.home, oppTeam:data?.away}">
      </ng-container>
      <div class="live-score" *ngIf="data?.status != 'scheduled'">
        <!-- FINAL Score here -->

        <div class="live-score-table" *ngIf="['scheduled', 'created'].indexOf(data.status) == -1 && data?.periods">
          <p class="title light-text">Final</p>
          <div class="table-responsive">
            <table class="table">
              <thead>
                <tr>
                  <th></th>
                  <th *ngFor="let period of data?.periods">{{period?.sequence}}</th>
                  <th>T</th>
                </tr>
              </thead>
              <tbody>
                <tr>
                  <!-- add highlight class in high td -->
                  <td>{{data?.home?.alias}}</td>
                  <td *ngFor="let period of data?.periods"
                    [ngClass]="{'highlight' : period?.scoring?.home?.points >  period?.scoring?.away?.points}">
                    {{period?.scoring?.home?.points}}
                  </td>
                  <td [ngClass]="{'highlight' : data?.home?.points >  data?.away?.points}">{{data?.home?.points}}</td>
                </tr>
                <tr>
                  <td>{{data?.away?.alias}}</td>
                  <td *ngFor="let period of data?.periods"
                    [ngClass]="{'highlight' : period?.scoring?.away?.points >  period?.scoring?.home?.points}">
                    {{period?.scoring?.away?.points}}
                  </td>
                  <td [ngClass]="{'highlight' : data?.away?.points >  data?.home?.points}">{{data?.away?.points}}</td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
        <!-- <h3>{{data?.home?.points}} - {{data?.away?.points}}</h3> -->
      </div>
      <ng-container *ngTemplateOutlet="basektballteam;context:{team:data?.away, oppTeam:data?.home}">
      </ng-container>
    </div>
  </div>
</ng-container>

<ng-template #basektballteam let-team="team" let-oppTeam="oppTeam">
  <div class="team-col">
    <div class="current-team">
      <h4>
        <img [lazyLoad]="team?.sr_id | logosurl:'basketball'" alt="team.name"
          [defaultImage]="commonService.playerplaceholder" [offset]="commonService.lazyloadoffset">
      </h4>
      <h4 [ngClass]="{'winner':['closed', 'complete'].indexOf(data.status) > -1 && team?.points > oppTeam.points}"><a
          [routerLink]="['/basketball/team',(team.id),(team.name | slugify)]">
          {{ team.market}} {{ team.name}}</a> </h4>
      <h3 *ngIf="['scheduled', 'created'].indexOf(data.status) == -1">{{team.points}}</h3>
    </div>
  </div>
</ng-template>


<ng-container *ngIf="sport == 'Hockey' && data">
  <!-- Start Animation -->
  <div
    class="common-title-btn goal-type match-main-title big-title-btn tab-title-btn d-flex justify-content-between align-items-center">
    <div class="teams-animation d-flex justify-content-around align-items-center">
      <div class="team-anim">
        <img [lazyLoad]="competitor[0]?.id | logosurl:'hockey'" alt="{{competitor[0]?.name}}"
          [defaultImage]="commonService.flagplaceholder" [offset]="commonService.lazyloadoffset">
        <h4>{{competitor[0]?.name}}</h4>
      </div>
      <div class="team-anim vs-anim">
        <h5>VS</h5>
      </div>
      <div class="team-anim">
        <img [lazyLoad]="competitor[1]?.id | logosurl:'hockey'" alt="{{competitor[1]?.name}}"
          [defaultImage]="commonService.flagplaceholder" [offset]="commonService.lazyloadoffset">
        <h4>{{competitor[1]?.name}}</h4>
      </div>
    </div>
    <!-- End Animation -->

    <div class="tour-match-title show-anim">
      <p class="light-text">
        <a
          [routerLink]="['/hockey/tournament',(data?.sport_event?.sport_event_context?.season?.id | splitID),(data?.sport_event?.sport_event_context?.season?.name | slugify)]">
          {{data?.sport_event?.sport_event_context?.season?.name}}
        </a>
      </p>
    </div>

    <div class="match-update show-anim">
      <p class="light-text">
        <ng-container *ngIf="data.sport_event.venue">
          <span>{{data.sport_event.venue.name}}, {{data.sport_event.venue.city_name}} |</span>
        </ng-container>
        {{data.sport_event.start_time | amDateFormat:'Do MMMM YYYY'}}
      </p>
      <p class="live-match" *ngIf="data.sport_event_status?.status == 'live' ">{{ 'widgetModule.live' | translate }}
        <span *ngIf="data.match_time"> | {{data.match_time}}</span>
      </p>
    </div>

    <div class="current-match d-flex justify-content-between show-anim">
      <ng-container *ngTemplateOutlet="hockeyTeam;context:{team:competitor[0]}">
      </ng-container>
      <div class="live-score" *ngIf="data.sport_event_status.status != 'not_started'">
        <h5>
          {{data.sport_event_status.status == 'closed' || data.sport_event_status.status == 'ended' 
              ?  'FT' 
              : (data.sport_event_status.status == 'live' && data.sport_event_status.match_status == '2nd_half' ? 'HT' : '')}}
        </h5>
        <h3>{{data.sport_event_status?.home_score}} - {{data.sport_event_status?.away_score}}</h3>
      </div>
      <ng-container *ngTemplateOutlet="hockeyTeam;context:{team:competitor[1]}">
      </ng-container>
    </div>
  </div>
</ng-container>


<ng-container *ngIf="sport == 'Badminton' && data">
  <!-- Start Animation -->
  <div
    class="common-title-btn goal-type match-main-title big-title-btn tab-title-btn d-flex justify-content-between align-items-center">
    <div class="teams-animation d-flex justify-content-around align-items-center">
      <div class="team-anim">
        <img [lazyLoad]="competitor[0]?.id | logosurl:'badminton'" alt="{{competitor[0]?.name}}"
          [defaultImage]="commonService.flagplaceholder" [offset]="commonService.lazyloadoffset">
        <h4>{{competitor[0]?.name}}</h4>
      </div>
      <div class="team-anim vs-anim">
        <h5>VS</h5>
      </div>
      <div class="team-anim">
        <img [lazyLoad]="competitor[1]?.id | logosurl:'badminton'" alt="{{competitor[1]?.name}}"
          [defaultImage]="commonService.flagplaceholder" [offset]="commonService.lazyloadoffset">
        <h4>{{competitor[1]?.name}}</h4>
      </div>
    </div>
    <!-- End Animation -->

    <div class="tour-match-title show-anim">
      <p class="light-text">
        <a
          [routerLink]="['/badminton/tournament',(data?.sport_event?.sport_event_context?.season?.id | splitID),(data?.sport_event?.sport_event_context?.season?.name | slugify)]">
          {{data?.sport_event?.sport_event_context?.season?.name}}
        </a>
      </p>
    </div>

    <div class="match-update show-anim">
      <p class="light-text">
        <ng-container *ngIf="data.sport_event.venue">
          <span>{{data.sport_event.venue.name}}, {{data.sport_event.venue.city_name}} |</span>
        </ng-container>
        {{data.sport_event.start_time | amDateFormat:'Do MMMM YYYY'}}
      </p>
      <p class="live-match" *ngIf="data.sport_event_status?.status == 'live' ">{{ 'widgetModule.live' | translate }}
        <span *ngIf="data.match_time"> | {{data.match_time}}</span>
      </p>
    </div>

    <div class="current-match d-flex justify-content-between show-anim">
      <ng-container *ngTemplateOutlet="badmintonTeam;context:{team:competitor[0]}">
      </ng-container>
      <div class="live-score" *ngIf="data.sport_event_status.status != 'not_started'">
        <h5>
          {{data.sport_event_status.status == 'closed' || data.sport_event_status.status == 'ended' 
              ?  'FT' 
              : (data.sport_event_status.status == 'live' && data.sport_event_status.match_status == '2nd_half' ? 'HT' : '')}}
        </h5>
        <h3>{{data.sport_event_status?.home_score}} - {{data.sport_event_status?.away_score}}</h3>
      </div>
      <ng-container *ngTemplateOutlet="badmintonTeam;context:{team:competitor[1]}">
      </ng-container>
    </div>
  </div>
</ng-container>

<ng-template #hockeyTeam let-team="team" let-oppTeam="oppTeam">
  <div class="team-col">
    <div class="current-team">
      <h4>
        <img [lazyLoad]="team?.id | logosurl:'hockey'" alt="{{team.name}}"
          [defaultImage]="commonService.playerplaceholder" [offset]="commonService.lazyloadoffset">
      </h4>
      <h4 [ngClass]="{'winner':data.sport_event_status.winner_id == team.id}">
        <a [routerLink]="['/hockey/team',(team.id | splitID),(team.name | slugify)]">
          {{ team.name }}
        </a> </h4>
    </div>
  </div>
</ng-template>


<ng-template #badmintonTeam let-team="team" let-oppTeam="oppTeam">
  <div class="team-col">
    <div class="current-team">
      <h4>
        <img [lazyLoad]="team?.id | logosurl:'badminton'" alt="{{team.name}}"
          [defaultImage]="commonService.playerplaceholder" [offset]="commonService.lazyloadoffset">
      </h4>
      <h4 [ngClass]="{'winner':data.sport_event_status.winner_id == team.id}">
        <a [routerLink]="['/badminton/team',(team.id | splitID),(team.name | slugify)]">
          {{ team.name }}
        </a> </h4>
    </div>
  </div>
</ng-template>