<section class="common-section cricket-recentnews recentnews-section">
  <div class="container">
    <div class="row sidebar-row">
      <div class="content-col">
        <app-sports-home *ngIf="options" [options]="options"></app-sports-home>
      </div>
      <div class="sidebar-col">
        <div class="sticky-sidebar">
          <app-custom-ads-widget [type]="'Rectangle'"></app-custom-ads-widget>
          <!--Points table widget-->
          <app-points-table *ngIf="tournamentid" [sport]="'cricket'" 
          [options]="{
            tournament : tournamentid
          }" ></app-points-table>
          
          <div class="common-widget tab-widget" *ngIf="battingleaders && bowlingleaders">
            <div class="widget-title">
              <h5>Top Scorers</h5>
            </div>
            <ngb-tabset class="common-tabs">
              <ngb-tab>
                <ng-template ngbTabTitle>Batting</ng-template>
                <ng-template ngbTabContent>
                  <ul class="common-list player-score-list">
                    <li class="top-player d-flex" *ngFor="let item of battingleaders | slice:0:1">
                      <img alt="player" [offset]="commonService.lazyloadoffset"
                        [lazyLoad]="item?.player.id| playerimage:['m']"
                        [defaultImage]="cricketService.playerplaceholder">
                      <div class="top-player-inner">
                        <p class="num">{{item.rank}}.</p>
                        <div class="player-names">
                          <p class="name">
                            <a [routerLink]="['/cricket/player',(item.player.id | splitID),(item.player.name | split | slugify)]">
                              {{item.player.name | split}}
                            </a>
                          </p>
                          <p class="team">{{item.team.abbreviation}}</p>
                        </div>
                        <div class="player-score">
                          <h3>{{item.total}}</h3>
                          <p class="score-property">Runs</p>
                        </div>
                      </div>
                    </li>
                    <li class="common-player d-flex justify-content-between align-items-center"
                      *ngFor="let item of battingleaders | slice:1:10">
                      <p class="num">{{item.rank}}.</p>
                      <div class="player-names">
                        <p class="name">
                          <a [routerLink]="['/cricket/player',(item.player.id | splitID),(item.player.name | split | slugify)]">
                            {{item.player.name | split}}
                          </a></p>
                        <p class="team">{{item.team.abbreviation}}</p>
                      </div>
                      <div class="player-score">
                        <h3>{{item.total}}</h3>
                        <p class="score-property">Runs</p>
                      </div>
                    </li>
                    <li><a class="view-all-btn" [routerLink]="['./stats']">View all</a></li>
                  </ul>
                </ng-template>
              </ngb-tab>
              <ngb-tab>
                <ng-template ngbTabTitle>Bowling</ng-template>
                <ng-template ngbTabContent>
                  <ul class="common-list player-score-list">
                    <li class="top-player d-flex" *ngFor="let item of bowlingleaders | slice:0:1">
                      <img alt="player" [offset]="commonService.lazyloadoffset"
                        [lazyLoad]="item?.player.id| playerimage:['m']"
                        [defaultImage]="cricketService.playerplaceholder">
                      <div class="top-player-inner">
                        <p class="num">{{item.rank}}.</p>
                        <div class="player-names">
                          <p class="name">
                              <a [routerLink]="['/cricket/player',(item.player.id | splitID),(item.player.name | split | slugify)]">
                                {{item.player.name | split}}
                              </a></p>
                          <p class="team">{{item.team.abbreviation}}</p>
                        </div>
                        <div class="player-score">
                          <h3>{{item.total}}</h3>
                          <p class="score-property">wickets</p>
                        </div>
                      </div>
                    </li>
                    <li class="common-player d-flex justify-content-between align-items-center"
                      *ngFor="let item of bowlingleaders | slice:1:10">
                      <p class="num">{{item.rank}}.</p>
                      <div class="player-names">
                        <p class="name">
                            <a [routerLink]="['/cricket/player',(item.player.id | splitID),(item.player.name | split | slugify)]">
                              {{item.player.name | split}}
                            </a></p>
                        <p class="team">{{item.team.abbreviation}}</p>
                      </div>
                      <div class="player-score">
                        <h3>{{item.total}}</h3>
                        <p class="score-property">wickets</p>
                      </div>
                    </li>
                    <li><a class="view-all-btn" [routerLink]="['./stats']">View all</a></li>
                  </ul>
                </ng-template>
              </ngb-tab>
            </ngb-tabset>
          </div>
          <div class="common-stories-widget common-shadow rounded-box" *ngIf="teamsname">
              <h5>Teams</h5>
              <ul class="common-list">
                <li *ngFor="let item of teamsname | slice:0:5"><a
                    [routerLink]="['/cricket/team', (tournamentid | splitID) ,(item.id | splitID),(item.name | slugify)]">
                    {{item.name}}</a>
                </li>
              </ul>
            </div>
          <app-custom-ads-widget [type]="'Banner'"></app-custom-ads-widget>
        </div>
      </div>
    </div>
  </div>
</section>