<section class="common-section cricket-recentnews recentnews-section">
    <div class="container">
      <div class="row sidebar-row">
       
        <app-sports-home *ngIf="options" [options]="options"></app-sports-home>
  
        <!-- <div class="sidebar-col">
          <div class="sticky-sidebar">
              <app-custom-ads-widget [type]="'Banner'"></app-custom-ads-widget>
              <app-custom-ads-widget [type]="'Rectangle'"></app-custom-ads-widget>
            <app-common-story-widget [title]="widget1title" [type]="widget1type" [data]="cricketseries"
              *ngIf="widget1type && widget1title"></app-common-story-widget>
            <app-common-story-widget [title]="widget2title" [type]="widget2type" [data]="populartags"
              *ngIf="widget2type && widget2title"></app-common-story-widget>
          </div>
        </div> -->
      </div>
    </div>
  </section>