<section class="common-section cricket-recentnews recentnews-section">
  <div class="container">
    <div class="row sidebar-row">
      <div class="content-col">
        <div class="common-title-btn big-title-btn d-flex justify-content-between align-items-center">
          <h1>{{ 'Kabaddi_Module.Statistics' | translate }}</h1>
        </div>

        <app-loader *ngIf="isloading"></app-loader>
        <app-no-data-widget *ngIf="!isloading && (!players || players?.length == 0)" [sport]="'soccer'">
        </app-no-data-widget>
        <ngb-tabset class="common-tabs black-filled" *ngIf="players?.length > 0">
          <ngb-tab>
            <ng-template ngbTabTitle>
              <div (click)="getdata('goals')">{{ 'Soccer_Module.Goals' | translate }}</div>
            </ng-template>
            <ng-template ngbTabContent>
              <app-player-table *ngIf="players?.length > 0" [data]="players" [options]="{
                          sport:'soccer',
                          titles : ['POS',('Cricket_Module2.player' | translate),('Soccer_Module.Goals' | translate)],
                          values : ['rank','name','value'],
                          class : ['tour-stats-table'],
                          class_light_row : ['light-row']
                        }">
              </app-player-table>
            </ng-template>
          </ngb-tab>
          <ngb-tab>
            <ng-template ngbTabTitle>
              <div (click)="getdata('assists')">{{ 'Soccer_Module.Assists' | translate }}</div>
            </ng-template>
            <ng-template ngbTabContent>
              <app-player-table *ngIf="players?.length > 0" [data]="players" [options]="{
                          sport:'soccer',
                          titles : ['POS',('Cricket_Module2.player' | translate),('Soccer_Module.Assists' | translate)],
                          values : ['rank','name','value'],
                          class : ['tour-stats-table'],
                          class_light_row : ['light-row']
                        }">
              </app-player-table>
            </ng-template>
          </ngb-tab>
          <ngb-tab>
            <ng-template ngbTabTitle>
              <div (click)="getCarddata()">{{ 'Soccer_Module.Cards' | translate }}</div>
            </ng-template>
            <ng-template ngbTabContent>
              <app-player-table *ngIf="players?.length > 0" [data]="players" [options]="{
                          sport:'soccer',
                          titles : ['POS',('Cricket_Module2.player' | translate),('Soccer_Module.Red_cards' | translate),('Soccer_Module.Yellow_cards' | translate)],
                          values : ['rank','name','red_cards','yellow_cards'],
                          class : ['tour-stats-table'],
                          class_light_row : ['light-row']
                        }">
              </app-player-table>
            </ng-template>
          </ngb-tab>
          <ngb-tab>
            <ng-template ngbTabTitle>
              <div (click)="getdata('own_goals')">{{ 'Soccer_Module.Own_Goals' | translate }}</div>
            </ng-template>
            <ng-template ngbTabContent>
              <app-player-table *ngIf="players?.length > 0" [data]="players" [options]="{
                          sport:'soccer',
                          titles : ['POS',('Cricket_Module2.player' | translate),('Soccer_Module.Assists' | translate)],
                          values : ['rank','name','value'],
                          class : ['tour-stats-table'],
                          class_light_row : ['light-row']
                        }">
              </app-player-table>
            </ng-template>
          </ngb-tab>
        </ngb-tabset>
      </div>
      <div class="sidebar-col">
        <div class="sticky-sidebar">
          <app-custom-ads-widget [type]="'Banner'"></app-custom-ads-widget>
          <!--Recommended links-->
          <!-- <app-sidebar-links [sport]="'Cricket'" [link_type]="'tournament'"
            [options]="{type: 'current', title:'Current Series'}"></app-sidebar-links> -->
          <!-- <app-points-table [sport]="'kabaddi'"></app-points-table> -->
          <app-sidebar-links [sport]="'Soccer'" [link_type]="'popular'"
            [options]="{reqParams:{'eSport' : 'Soccer'}, type: 'tags', title:('Cricket_Module.Popular_Right_Now' | translate)}">
          </app-sidebar-links>
          <app-custom-ads-widget [type]="'Rectangle'"></app-custom-ads-widget>

        </div>
      </div>
    </div>
  </div>
</section>