<div class="common-widget point-table-widget" [ngClass]="data.class" *ngIf="pointstable">
  <div class="widget-title" *ngIf="data.header_title">
    <h5>{{data.header_title}}</h5>
  </div>
  <!-- <h6>Group A</h6> -->
  <div class="table-responsive">
    <table class="table">
      <thead>
        <tr [ngClass]="data.class_light_row ">
          <th *ngFor="let title of data.titles" [innerHTML]="title"></th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let item of pointstable;">
          <ng-container *ngIf="data.sport == 'kabaddi'; else elseCricket">
            <ng-container *ngTemplateOutlet="kabaddi;context:{item:item}">
            </ng-container>
          </ng-container>

          <ng-template #elseCricket>
            <ng-container *ngIf="data.sport == 'cricket';else elseSoccer">
            <ng-container *ngTemplateOutlet="cricket;context:{item:item}">
              </ng-container> 
              </ng-container>
          </ng-template>

          <ng-template #elseSoccer>
              <ng-container *ngTemplateOutlet="soccer;context:{item:item}">
              </ng-container>
            </ng-template>
        </tr>
      </tbody>
    </table>
  </div>
</div>

<ng-template #cricket let-item="item">
  <ng-container *ngFor="let value of data.values">
    <td *ngIf="value != 'image'; else data">
      {{data.subParams ? ((value == 'type') ? (item[value] | stringunder) : item[data.subParams][value] ) : item[value]}}
    </td>
    <ng-template #data>
      <td>
        <a
          [routerLink]="['/cricket/team', (options.tournament | splitID) ,(item.team.id | splitID),(item.team.name | slugify)]">
          {{item.team.abbreviation ? item.team.abbreviation : item.team.name}}</a>
        </td>
    </ng-template>
  </ng-container>
</ng-template>

<ng-template #kabaddi let-item="item">
  <ng-container *ngFor="let value of data.values">
    <td *ngIf="value != 'tname'; else link">
      {{ (value == 'loss' ?  item['matchplayed'] - item['win'] - item['draw']  : item[value] ? item[value] : 0)}} </td>
    <ng-template #link>
      <td>
        <a [routerLink]="['/kabaddi/team', item['tid'], (item.tname | slugify)]">
          {{ item[value]}}
        </a>
      </td>
    </ng-template>
  </ng-container>
</ng-template>

<ng-template #soccer let-item="item">
    <ng-container *ngFor="let value of data.values">
      <td *ngIf="value != 'image'; else data">
        {{data.subParams ? ((value == 'type') ? (item[value] | stringunder) : item[data.subParams][value] ) : item[value]}}
      </td>
      <ng-template #data>
        <td>
          <a
            [routerLink]="['/soccer/team', (options.tournament | splitID) ,(item.competitor.id | splitID),(item.competitor.name | slugify)]">
           {{item.competitor.abbreviation ? item.competitor.abbreviation : item.competitor.name}}</a>
        </td>
      </ng-template>
    </ng-container>
  </ng-template>