<div class="common-stories-widget common-shadow rounded-box" *ngIf="dataitems && dataitems.length > 0">
  <h5>{{title}}</h5>
  <ul class="common-list">
    <li *ngFor="let item of dataitems | slice:0:5"><a (click)="route(item._id,item.tournament_id,item.type,item.name)"
        [routerLink]=" item.type == 'Team' ? 
          ['/cricket/team',item._id,(item.name | slugify)] 
          : item.type == 'Player' 
          ? ['/cricket/team',item._id,(item.name | slugify)] 
          : item.tournament_id ? ['/cricket/tournament',item.tournament_id ,(item.name | slugify)] 
          : ''">{{ item.name | split }}</a></li>
  </ul>
</div>