<!-- <app-loader *ngIf="isshow"></app-loader> -->
<section class="common-section cricket-recentnews recentnews-section" *ngIf="matchInfo">
  <div class="container">
    <div class="row sidebar-row">
      <div class="content-col">
        <!-- <app-loader *ngIf="!matchdata"></app-loader> -->
        <!-- START - ABOUT MATCH-->
        <app-match-about [data]="matchInfo" [competitor]="team" [toss]="" [sport]="'kabaddi'"></app-match-about>

        <!-- END - ABOUT MATCH-->
        <!-- START - MATCH TABS-->
        <ngb-tabset class="common-tabs match-tabs">
          <!-- START - MATCH COMMENTRY-->
          <ngb-tab>
            <ng-template ngbTabTitle>Commentary</ng-template>
            <ng-template ngbTabContent>
              <h5>Match Commentary</h5>
              <app-loader *ngIf="loading"></app-loader>
              <ng-container *ngIf="matchInfo">
                  <app-no-data-widget *ngIf="!loading && commentry.length == 0 &&  matchInfo.match_info.gamestate != 0"></app-no-data-widget>
                  <app-goal-commentry *ngIf="commentry.length > 0" [commentry]="commentry"></app-goal-commentry>
                  <app-countdown *ngIf="commentry.length == 0 && matchInfo.match_info.gamestate == 0" [scheduled]="matchInfo.match_info.datestart"></app-countdown>
              </ng-container>
            </ng-template>
          </ngb-tab>
          <!-- END - MATCH COMMENTRY-->
          <!-- START - LINEUPS-->
          <ngb-tab>
            <ng-template ngbTabTitle>Lineups</ng-template>
            <ng-template ngbTabContent>
              <div class="match-lienup common-shadow rounded-box">
                <div class="lienup-row head-row d-flex align-items-center justify-content-between">
                  <div>
                    <p class="d-flex align-items-center justify-content-end"><b>Gujarat Fortunegiants</b><img
                        src="https://rest.entitysport.com/kabaddi/assets/team/logo_5cb831660a04a.png" alt="team"></p>
                  </div>
                  <div>
                    <p class="d-flex align-items-center"><img
                        src="https://rest.entitysport.com/kabaddi/assets/team/logo_5cb831660a04a.png"
                        alt="team"><b>Gujarat Fortunegiants</b></p>
                  </div>
                </div>
                <div class="lienup-row d-flex align-items-center justify-content-between">
                  <div>
                    <p><b>7</b></p>
                  </div>
                  <div>
                    <p class="hightlight"><b>9</b></p>
                  </div>
                </div>
              </div>
            </ng-template>
          </ngb-tab>
          <!-- END - LINEUPS-->
          <!--START - Stats-->
          <ngb-tab>
            <ng-template ngbTabTitle>
              <div>Stats</div>
            </ng-template>
            <ng-template ngbTabContent>
              <div class="match-stats common-shadow rounded-box" *ngIf="matchInfo">
                <div class="stat-row head-row d-flex align-items-center">
                  <div>
                    <p class="d-flex align-items-center justify-content-end"><b>{{matchInfo.match_info.teams.home.tname}}</b>
                      <img src="{{matchInfo.match_info.teams.home.logo}}" alt="team">
                    </p>
                  </div>
                  <div class="center-col">
                    <h5>Match Stats</h5>
                  </div>
                  <div>
                      <p class="d-flex align-items-center justify-content-end"><b>{{matchInfo.match_info.teams.away.tname}}</b>
                        <img src="{{matchInfo.match_info.teams.away.logo}}" alt="team">
                      </p>
                  </div>
                </div>
                <div class="stat-row point-row d-flex align-items-center">
                  <div>
                    <p class="hightlight"><b>64</b><span class="point-line" style="width: 80%;"><span></span></span></p>
                  </div>
                  <div class="center-col">
                    <p>Points %</p>
                  </div>
                  <div>
                    <p><span class="point-line" style="width: 80%;"><span></span></span><b>44</b></p>
                  </div>
                </div>
                <div class="stat-row d-flex align-items-center">
                  <div>
                    <p><b>7</b></p>
                  </div>
                  <div class="center-col">
                    <p>Raid Points</p>
                  </div>
                  <div>
                    <p class="hightlight"><b>9</b></p>
                  </div>
                </div>
                <div class="stat-row d-flex align-items-center">
                  <div>
                    <p class="hightlight"><b>9</b></p>
                  </div>
                  <div class="center-col">
                    <p>Tackle Points</p>
                  </div>
                  <div>
                    <p><b>7</b></p>
                  </div>
                </div>
                <div class="stat-row d-flex align-items-center">
                  <div>
                    <p class="hightlight"><b>9</b></p>
                  </div>
                  <div class="center-col">
                    <p>All Out Points</p>
                  </div>
                  <div>
                    <p><b>7</b></p>
                  </div>
                </div>
              </div>
            </ng-template>
          </ngb-tab>
          <!--END - Stats-->
          <!-- START - Info-->
          <ngb-tab>
            <ng-template ngbTabTitle>
              <div>Info</div>
            </ng-template>
            <ng-template ngbTabContent>
              Info
            </ng-template>
          </ngb-tab>
          <!--START - NEWS TAB-->
          <ngb-tab>
            <ng-template ngbTabTitle>News</ng-template>
            <ng-template ngbTabContent>
              News
              <!-- <app-blog-list *ngIf="paramArticle" [options]="paramArticle">
              </app-blog-list> -->
            </ng-template>
          </ngb-tab>
          <!--END - NEWS TAB-->

        </ngb-tabset>
        <!-- END - MATCH TABS-->
      </div>
      <div class="sidebar-col">
        <div class="sticky-sidebar">

          <!--START - SIDERBAR ADS-->
          <app-custom-ads-widget [type]="'Banner'"></app-custom-ads-widget>
          <!--END - SIDERBAR ADS-->

          <!--START - SIDERBAR STORY-->
          <!-- <app-sidebar-links [sport]="'Cricket'" [link_type]="'tournament'"
            [options]="{type: 'current', title:'Recommended Links'}"></app-sidebar-links> -->
          <!--START - SIDERBAR STORY-->
          <app-custom-ads-widget [type]="'Rectangle'"></app-custom-ads-widget>
        </div>
      </div>
    </div>
  </div>
</section>