<app-loader *ngIf="loading"></app-loader>
<app-no-data-widget *ngIf="!loading && (!matchInfo)"></app-no-data-widget>
<section class="common-section" *ngIf="matchInfo">
  <div class="container">
    <div class="row sidebar-row">
      <div class="content-col">
        <!-- <app-loader *ngIf="!matchdata"></app-loader> -->
        <!-- START - ABOUT MATCH-->
        <app-match-about [data]="matchInfo" [competitor]="team" [toss]="" [sport]="'kabaddi'"></app-match-about>
        <!-- END - ABOUT MATCH-->
        <!-- START - MATCH TABS-->
        <ngb-tabset class="common-tabs match-tabs">
          <!-- START - MATCH COMMENTRY-->
          <ngb-tab id="commentry">
            <ng-template ngbTabTitle>{{ 'Kabaddi_Module.commentary' | translate }}</ng-template>
            <ng-template ngbTabContent>
              <!-- <h5>Match Commentary</h5> -->
              <!-- <app-loader *ngIf="loading"></app-loader> -->
              <ng-container *ngIf="matchInfo">
                <!-- <app-no-data-widget *ngIf="!loading && commentry.length == 0" [sport]="'kabaddi'"
                  [message]="'Coming Soon..!'">
                </app-no-data-widget> -->
                <!-- Start - Chart -->
                <div class="common-chart common-shadow rounded-box">
                    <p class="team-name no-margin"><img [offset]="commonService.lazyloadoffset"
                      [lazyLoad]="headtohead?.team1?.id | logosurl:'soccer'"
                      [defaultImage]="commonService.flagplaceholder" alt="team-flag"><span
                      class="d-inline-block">Gujarat Fortunegiants</span>
                  </p>
                  <div class="kabaddi-chart">
                    <div class="chart-inner">
                      <div class="chart-item">
                        <canvas baseChart width="400" height="43" [datasets]="lineChartData" [labels]="lineChartLabels"
                          [options]="lineChartOptions" [colors]="lineChartColors" [legend]="lineChartLegend"
                          [chartType]="lineChartType" [plugins]="lineChartPlugins">
                        </canvas>
                      </div>
                      <div class="chart-item">
                        <canvas baseChart width="400" height="43" [datasets]="lineChartData" [labels]="lineChartLabels"
                          [options]="lineChartOptions" [colors]="lineChartColors" [legend]="lineChartLegend"
                          [chartType]="lineChartType" [plugins]="lineChartPlugins">
                        </canvas>
                      </div>
                    </div>
                  </div>
                  <p class="team-name no-margin"><img [offset]="commonService.lazyloadoffset"
                    [lazyLoad]="headtohead?.team1?.id | logosurl:'soccer'"
                    [defaultImage]="commonService.flagplaceholder" alt="team-flag"><span
                    class="d-inline-block">U Mumba</span>
                </p>
                </div>
                <!-- End  - Chart -->
                <app-goal-commentry *ngIf="commentry.length > 0" [commentry]="commentry" [sport]="'Kabaddi'">
                </app-goal-commentry>
                <app-countdown *ngIf="commentry.length == 0 && matchInfo.match_info.gamestate == 0"
                  [scheduled]="matchInfo.match_info.datestart" [sport]="'kabaddi'"></app-countdown>
              </ng-container>
            </ng-template>
          </ngb-tab>
          <!-- END - MATCH COMMENTRY-->
          <!-- START - LINEUPS-->
          <ngb-tab id="lineups">
            <ng-template ngbTabTitle>{{ 'Kabaddi_Module.Lineups' | translate }}</ng-template>
            <ng-template ngbTabContent>
              <app-lineup [lineup]="matchInfo.lineup" [team]="team" [sport]="'kabaddi'"> </app-lineup>
            </ng-template>
          </ngb-tab>
          <!-- END - LINEUPS-->
          <!--START - Stats-->
          <ngb-tab *ngIf="matchInfo.match_info.gamestate != 0">
            <ng-template ngbTabTitle>
              <div (click)="getMatchstats(matchInfo.match_info.mid)">{{ 'widgetModule.Stats' | translate }}</div>
            </ng-template>
            <ng-template ngbTabContent>
              <app-loader *ngIf="statsLoading"></app-loader>
              <app-no-data-widget *ngIf="!statsLoading && (!matchStats)"></app-no-data-widget>
              <!-- <app-no-data-widget [sport]="'kabaddi'" [message]="'Coming Soon..!'">
              </app-no-data-widget> -->
              <app-match-stats [sport]="'kabaddi'" [matchStats]="matchStats"></app-match-stats>
            </ng-template>
          </ngb-tab>
          <!--END - Stats-->
          <!-- START - Info-->
          <ngb-tab>
            <ng-template ngbTabTitle>
              <div>{{ 'Kabaddi_Module.Info' | translate }}</div>
            </ng-template>
            <ng-template ngbTabContent>
              <app-match-info-card [options]="{
             sport:'kabaddi',
             titles : [('Cricket_Module.Match' | translate), ('Kabaddi_Module2.Tournament' | translate), ('Kabaddi_Module2.Zone' | translate),('widgetModule.venue' | translate)],
             values : [matchInfo.match_info.title,matchInfo.match_info.competition.cname,matchInfo.match_info.zone ? matchInfo.match_info.zone : '-',matchInfo.match_info.venue.name] }
             " [data]="matchInfo" *ngIf="matchInfo"></app-match-info-card>
              <h4 class="line-title">{{ 'Kabaddi_Module.venue_details' | translate }}</h4>
              <app-venue-map-card [sport]="'kabaddi'" [venuedetails]="venuedetails" *ngIf="venuedetails">
              </app-venue-map-card>
            </ng-template>
          </ngb-tab>
          <!--START - NEWS TAB-->
          <ngb-tab>
            <ng-template ngbTabTitle>{{ 'Shared_module.news' | translate }}</ng-template>
            <ng-template ngbTabContent>
              <app-blog-list *ngIf="paramArticle" [options]="paramArticle">
              </app-blog-list>
            </ng-template>
          </ngb-tab>
          <!--END - NEWS TAB-->
        </ngb-tabset>
        <!-- END - MATCH TABS-->
      </div>
      <div class="sidebar-col">
        <div class="sticky-sidebar">
          <!--START - SIDERBAR ADS-->
          <app-custom-ads-widget [type]="'Banner'"></app-custom-ads-widget>
          <!--END - SIDERBAR ADS-->
          <!--START - SIDERBAR STORY-->
          <!-- <app-sidebar-links [sport]="'Cricket'" [link_type]="'tournament'"
            [options]="{type: 'current', title:'Recommended Links'}"></app-sidebar-links> -->
          <!--START - SIDERBAR STORY-->
          <app-custom-ads-widget [type]="'Rectangle'"></app-custom-ads-widget>
        </div>
      </div>
    </div>
  </div>
</section>