<app-loader *ngIf="loading"></app-loader>
<app-no-data-widget *ngIf="!loading && (!matchInfo)"></app-no-data-widget>
<section class="common-section cricket-recentnews recentnews-section" *ngIf="matchInfo">
  <div class="container">
    <div class="row sidebar-row">
      <div class="content-col">
        <!-- <app-loader *ngIf="!matchdata"></app-loader> -->
        <!-- START - ABOUT MATCH-->
        <app-match-about [data]="matchInfo" [competitor]="team" [toss]="" [sport]="'kabaddi'"></app-match-about>
        <!-- END - ABOUT MATCH-->
        <!-- START - MATCH TABS-->
        <ngb-tabset class="common-tabs match-tabs"
          [activeId]="matchInfo.match_info.gamestate == 0 ? 'lineups' : 'commentry'">
          <!-- START - MATCH COMMENTRY-->
          <ngb-tab id="commentry">
            <ng-template ngbTabTitle>Commentary</ng-template>
            <ng-template ngbTabContent>
              <!-- <h5>Match Commentary</h5> -->
              <!-- <app-loader *ngIf="loading"></app-loader> -->
              <ng-container *ngIf="matchInfo">
                <app-no-data-widget *ngIf="!loading && commentry.length == 0" [sport]="'kabaddi'"
                  [message]="'Coming Soon..!'">
                </app-no-data-widget>
                <app-goal-commentry *ngIf="commentry.length > 0" [commentry]="commentry"></app-goal-commentry>
                <!-- <app-countdown *ngIf="commentry.length == 0 && matchInfo.match_info.gamestate == 0"
                  [scheduled]="matchInfo.match_info.datestart"></app-countdown> -->
              </ng-container>
            </ng-template>
          </ngb-tab>
          <!-- END - MATCH COMMENTRY-->
          <!-- START - LINEUPS-->
          <ngb-tab id="lineups">
            <ng-template ngbTabTitle>Lineups</ng-template>
            <ng-template ngbTabContent>
              <div class="match-lienup common-shadow rounded-box">
                <div class="ground-map-block" *ngIf="matchInfo.lineup.length != 0">
                  <div class="ground-map">
                    <img src="assets/images/match/kabaddi-ground.svg" alt="kabaddi-ground">
                    <ul class="ground-player-list">
                      <li *ngFor="let player of team[0].squad">
                        <div class="number">12</div>
                        <p>{{player.name}}</p>
                      </li>
                    </ul>
                    <ul class="ground-player-list list-2" >
                      <li *ngFor="let player of team[1].squad">
                        <div class="number">12</div>
                        <p>{{player.name}}</p>
                      </li>
                    </ul>
                  </div>
                </div>
                <div class="lienup-row d-flex align-items-start justify-content-between">
                  <div>
                    <div class="heading">
                      <p class="d-flex align-items-center justify-content-end">
                        <b><a
                            [routerLink]="['/kabaddi/team', team[0]?.tid, (team[0]?.tname | slugify )]">{{team[0].tname}}</a></b>
                        <img alt="{{team[0].tname}}" [lazyLoad]="team[0].logo"
                          [defaultImage]="cricketService.teamPlaceholder" [offset]="commonService.lazyloadoffset">
                      </p>
                    </div>
                    <!-- <ng-container *ngIf="team[0]?.players?.length > 0"> -->
                      <ng-container *ngFor="let squad of objectKeys(team[0]?.players).sort()">
                      <h5 class="text-capitalize">{{squad}}</h5>
                      <ul class="lienup-list">
                        <li *ngFor="let player of team[0]?.players[squad]">
                          <p class="text-capitalize">
                            <a [routerLink]="['/kabaddi/player', team[0]?.tid, player?.pid, (player?.name | slugify )]">
                              {{player.name}}
                            </a>
                          </p>
                          <!-- <span>12</span> -->
                        </li>
                      </ul>
                    </ng-container>
                  <!-- </ng-container> -->
                  </div>

                  <div>
                    <div class="heading">
                      <p class="d-flex align-items-center">
                        <img alt="{{team[1].tname}}" [lazyLoad]="team[1].logo"
                          [defaultImage]="cricketService.teamPlaceholder" [offset]="commonService.lazyloadoffset">
                        <b><a
                            [routerLink]="['/kabaddi/team', team[1]?.tid, (team[1]?.tname | slugify )]">{{team[1].tname}}</a></b>
                      </p>
                    </div>
                    <!-- <ng-container *ngIf="team[1]?.players?.length > 0"> -->
                      <ng-container *ngFor="let squad of objectKeys(team[1]?.players).sort()">
                      <h5 class="text-capitalize">{{squad}}</h5>
                      <ul class="lienup-list">
                        <li *ngFor="let player of team[1]?.players[squad]">
                          <!-- <span>12</span> -->
                          <p class="text-capitalize">
                            <a [routerLink]="['/kabaddi/player', team[1]?.tid, player?.pid, (player?.name | slugify )]">
                              {{player.name}}
                            </a>
                          </p>
                        </li>
                      </ul>
                    </ng-container>
                  <!-- </ng-container> -->
                  </div>
                </div>
              </div>
            </ng-template>
          </ngb-tab>
          <!-- END - LINEUPS-->
          <!--START - Stats-->
          <ngb-tab *ngIf="matchInfo.match_info.gamestate != 0">
            <ng-template ngbTabTitle>
              <div (click)="getMatchstats(matchInfo.match_info.mid)">Stats</div>
            </ng-template>
            <ng-template ngbTabContent>
              <app-loader *ngIf="statsLoading"></app-loader>
              <app-no-data-widget *ngIf="!statsLoading && (!matchStats)"></app-no-data-widget>
              <!-- <app-no-data-widget [sport]="'kabaddi'" [message]="'Coming Soon..!'">
              </app-no-data-widget> -->
              <div class="match-stats common-shadow rounded-box" *ngIf="matchStats">
                <div class="stat-row head-row d-flex align-items-center">
                  <div>
                    <p class="d-flex align-items-center justify-content-end">
                      <b>{{matchStats.match_info.teams.home.tname}}</b>
                      <img [src]="matchStats.match_info.teams.home.logo" alt="team">
                    </p>
                  </div>
                  <div class="center-col">
                    <h5>Match Stats</h5>
                  </div>
                  <div>
                    <p class="d-flex align-items-center justify-content-end">
                      <b>{{matchStats.match_info.teams.away.tname}}</b>
                      <img [src]="matchStats.match_info.teams.away.logo" alt="team">
                    </p>
                  </div>
                </div>
                <div class="stat-row point-row d-flex align-items-center">
                  <div>
                      <p
                        [ngClass]="{'hightlight': matchStats.match_info.result?.home > matchStats.match_info.result?.away}">
                        <b>{{ ((matchStats.match_info.result?.home) / ((matchStats.match_info.result?.home | strTonumber) + (matchStats.match_info.result?.away | strTonumber)) * 100) | number:'2.0-0' }}</b><span
                          class="point-line"
                          [ngStyle]="{'width': 'calc('+ ((matchStats.match_info.result?.home) / ((matchStats.match_info.result?.home | strTonumber) + (matchStats.match_info.result?.away | strTonumber)) * 100) +'% * 0.8 )'}"><span></span></span>
                      </p>
                  </div>
                  <div class="center-col">
                    <p>Points %</p>
                  </div>
                  <div>
                      <p
                        [ngClass]="{'hightlight': matchStats.match_info.result?.away > matchStats.match_info.result?.home}">
                        <span
                          class="point-line"
                          [ngStyle]="{'width': 'calc('+ ((matchStats.match_info.result?.away) / ((matchStats.match_info.result?.home | strTonumber) + (matchStats.match_info.result?.away | strTonumber)) * 100) +'% * 0.8 )'}"><span></span></span>
                          <b>{{ ((matchStats.match_info.result?.away) / ((matchStats.match_info.result?.home | strTonumber) + (matchStats.match_info.result?.away | strTonumber)) * 100) | number:'2.0-0' }}</b>
                        </p>
                  </div>
                </div>
                <div class="stat-row d-flex align-items-center">
                  <div>
                    <p
                      [ngClass]="{'hightlight': matchStats.team_stats.home.raidtotalpoint > matchStats.team_stats.away.raidtotalpoint}">
                      <b>{{matchStats.team_stats.home.raidtotalpoint}}</b></p>
                  </div>
                  <div class="center-col">
                    <p>Raid Points</p>
                  </div>
                  <div>
                    <p
                      [ngClass]="{'hightlight': matchStats.team_stats.away.raidtotalpoint > matchStats.team_stats.home.raidtotalpoint}">
                      <b>{{matchStats.team_stats.away.raidtotalpoint}}</b></p>
                  </div>
                </div>
                <div class="stat-row d-flex align-items-center">
                  <div>
                    <p
                      [ngClass]="{'hightlight': matchStats.team_stats.home.tackletotalpoint > matchStats.team_stats.away.tackletotalpoint}">
                      <b>{{matchStats.team_stats.home.tackletotalpoint}}</b></p>
                  </div>
                  <div class="center-col">
                    <p>Tackle Points</p>
                  </div>
                  <div>
                    <p
                      [ngClass]="{'hightlight': matchStats.team_stats.away.tackletotalpoint > matchStats.team_stats.home.tackletotalpoint}">
                      <b>{{matchStats.team_stats.away.tackletotalpoint}}</b></p>
                  </div>
                </div>
                <div class="stat-row d-flex align-items-center">
                  <div>
                    <p
                      [ngClass]="{'hightlight': matchStats.team_stats.home.alloutpoint > matchStats.team_stats.away.alloutpoint }">
                      <b>{{matchStats.team_stats.home.alloutpoint}}</b></p>
                  </div>
                  <div class="center-col">
                    <p>All Out Points</p>
                  </div>
                  <div>
                    <p
                      [ngClass]="{'hightlight': matchStats.team_stats.away.alloutpoint > matchStats.team_stats.home.alloutpoint}">
                      <b>{{matchStats.team_stats.away.alloutpoint}}</b></p>
                  </div>
                </div>
                <div class="stat-row d-flex align-items-center">
                  <div>
                    <p
                      [ngClass]="{'hightlight': matchStats.team_stats.home.extrapoint > matchStats.team_stats.away.extrapoint}">
                      <b>{{matchStats.team_stats.home.extrapoint}}</b></p>
                  </div>
                  <div class="center-col">
                    <p>Extra Points</p>
                  </div>
                  <div>
                    <p
                      [ngClass]="{'hightlight': matchStats.team_stats.away.extrapoint > matchStats.team_stats.home.extrapoint}">
                      <b>{{matchStats.team_stats.away.extrapoint}}</b></p>
                  </div>
                </div>
              </div>
            </ng-template>
          </ngb-tab>
          <!--END - Stats-->
          <!-- START - Info-->
          <ngb-tab>
            <ng-template ngbTabTitle>
              <div>Info</div>
            </ng-template>
            <ng-template ngbTabContent>
              <app-match-info-card [options]="{
             sport:'kabaddi',
             titles : ['Match', 'Tournament','Zone','Venue'],
             values : [matchInfo.match_info.title,matchInfo.match_info.competition.cname,matchInfo.match_info.zone ? matchInfo.match_info.zone : '-',matchInfo.match_info.venue.name] }
             " [data]="matchInfo" *ngIf="matchInfo"></app-match-info-card>
              <h4 class="line-title">Venue Details</h4>
              <app-venue-map-card [sport]="'kabaddi'" [venuedetails]="venuedetails" *ngIf="venuedetails">
              </app-venue-map-card>
            </ng-template>
          </ngb-tab>
          <!--START - NEWS TAB-->
          <ngb-tab>
            <ng-template ngbTabTitle>News</ng-template>
            <ng-template ngbTabContent>
              <app-blog-list *ngIf="paramArticle" [options]="paramArticle">
              </app-blog-list>
            </ng-template>
          </ngb-tab>
          <!--END - NEWS TAB-->
        </ngb-tabset>
        <!-- END - MATCH TABS-->
      </div>
      <div class="sidebar-col">
        <div class="sticky-sidebar">
          <!--START - SIDERBAR ADS-->
          <app-custom-ads-widget [type]="'Banner'"></app-custom-ads-widget>
          <!--END - SIDERBAR ADS-->
          <!--START - SIDERBAR STORY-->
          <!-- <app-sidebar-links [sport]="'Cricket'" [link_type]="'tournament'"
            [options]="{type: 'current', title:'Recommended Links'}"></app-sidebar-links> -->
          <!--START - SIDERBAR STORY-->
          <app-custom-ads-widget [type]="'Rectangle'"></app-custom-ads-widget>
        </div>
      </div>
    </div>
  </div>
</section>