<section class="common-section">
  <div class="container">
    <div class="row sidebar-row">
      <div class="content-col">
        <div class="common-title-btn big-title-btn d-flex justify-content-between align-items-center">
          <h1>{{ 'Kabaddi_Module.Statistics' | translate }}</h1>
        </div>
        <app-loader *ngIf="isloading"></app-loader>
        <app-no-data-widget *ngIf="!isloading && (!stats || stats?.length == 0)" [sport]="sport"
          [message]="'No statistics data available'"></app-no-data-widget>
        <ngb-tabset class="common-tabs black-filled" *ngIf="stats?.length > 0">
          <ngb-tab>
            <ng-template ngbTabTitle>
              <div (click)="getTournamentStats('totalpoint')">{{ 'widgetModule.points' | translate }}</div>
            </ng-template>
            <ng-template ngbTabContent>
              <app-player-table *ngIf="stats?.length > 0 " [data]="stats" [options]=" {
                          sport:sport,
                          titles : ['POS', ('Cricket_Module2.player' | translate),('widgetModule.points' | translate)],
                          sort : [false, false, true],
                          values : ['pid', 'name', 'totalpoint'],
                          class : ['tour-stats-table'],
                          class_light_row : ['light-row']
                        }">
              </app-player-table>
            </ng-template>
          </ngb-tab>
          <ngb-tab>
            <ng-template ngbTabTitle>
              <div (click)="getTournamentStats('raidtotalpoint')">{{ 'Kabaddi_Module.raid' | translate }}</div>
            </ng-template>
            <ng-template ngbTabContent>
              <app-player-table *ngIf="stats?.length > 0" [data]="stats" [options]="{
                          sport:sport,
                          titles : ['POS', ('Cricket_Module2.player' | translate), ('Kabaddi_Module2.Successfull_raids' | translate),('Kabaddi_Module2.Super_Raids' | translate),('Kabaddi_Module2.Raids_Points' | translate)],
                          sort : [false, false, true,true,true],
                          values : ['pid', 'name', 'raidsuccessful','superraid','raidtotalpoint'],
                          class : ['tour-stats-table'],
                          class_light_row : ['light-row']
                        }">
              </app-player-table>
            </ng-template>
          </ngb-tab>
          <ngb-tab>
            <ng-template ngbTabTitle>
              <div (click)="getTournamentStats('tackletotalpoint')">{{ 'Kabaddi_Module.Tackle' | translate }}</div>
            </ng-template>
            <ng-template ngbTabContent>
              <app-player-table *ngIf="stats?.length > 0" [data]="stats" [options]=" {
                          sport:sport,
                          titles : ['POS',('Cricket_Module2.player' | translate),('Kabaddi_Module2.Successfull_tackles' | translate),('Kabaddi_Module2.Super_Tackles' | translate),('Kabaddi_Module2.Tackle_Points' | translate)],
                        sort : [false, false, true,true,true],
                          values : ['pid', 'name', 'tacklesuccessful','supertackles','tackletotalpoint'],
                          class : ['tour-stats-table'],
                          class_light_row : ['light-row']
                        }">
              </app-player-table>
            </ng-template>
          </ngb-tab>
          <ngb-tab>
            <ng-template ngbTabTitle>
              <div (click)="getTournamentStats('card')">{{ 'Kabaddi_Module.Cards' | translate }}</div>
            </ng-template>
            <ng-template ngbTabContent>
              <app-player-table *ngIf="stats?.length > 0" [data]="stats" [options]=" {
                            sport:sport,
                            titles : ['POS', ('Cricket_Module2.player' | translate), ('Kabaddi_Module2.Green' | translate) ,('Kabaddi_Module2.Yellow' | translate) , ('Kabaddi_Module2.Red' | translate)],
                          sort : [false, false, true ,true,true],
                            values : ['pid', 'name', 'greencard' , 'yellowcard' ,'redcard'],
                            class : ['tour-stats-table'],
                            class_light_row : ['light-row']
                          }">
              </app-player-table>
            </ng-template>
          </ngb-tab>
        </ngb-tabset>
      </div>
      <div class="sidebar-col">
        <div class="sticky-sidebar">
          <app-custom-ads-widget [type]="'Banner'"></app-custom-ads-widget>
          <!--Recommended links-->
          <!-- <app-sidebar-links [sport]="'Cricket'" [link_type]="'tournament'"
            [options]="{type: 'current', title:'Current Series'}"></app-sidebar-links> -->
          <app-points-table [sport]="sport"></app-points-table>
          <app-custom-ads-widget [type]="'Rectangle'"></app-custom-ads-widget>

        </div>
      </div>
    </div>
  </div>
</section>