<section class="common-section cricket-recentnews recentnews-section">
  <div class="container">
    <div class="row sidebar-row">
      <div class="content-col">
        <div class="common-title-btn big-title-btn d-flex justify-content-between align-items-center">
          <h1>Statistics</h1>
        </div>
        <app-loader *ngIf="isloading"></app-loader>
        <app-no-data-widget *ngIf="!isloading && (!stats || stats?.length == 0)" [sport]="'kabaddi'" [message]="'Coming Soon..!'"></app-no-data-widget>
        <ngb-tabset class="common-tabs black-filled" *ngIf="stats?.length > 0">
          <ngb-tab>
            <ng-template ngbTabTitle>Points</ng-template>
            <ng-template ngbTabContent>
              <app-player-table *ngIf="stats?.length > 0 " [data]="stats" [options]=" {
                          sport:'kabaddi',
                          titles : ['POS', 'player', 'Points'],
                          values : ['pid', 'name', 'totalpoint'],
                          class : ['tour-stats-table'],
                          class_light_row : ['light-row']
                        }">
              </app-player-table>
            </ng-template>
          </ngb-tab>
          <ngb-tab>
            <ng-template ngbTabTitle>
              <div (click)="getTournamentStats('raidtotal')">Raid</div>
            </ng-template>
            <ng-template ngbTabContent>
              <app-player-table *ngIf="stats?.length > 0" [data]="stats" [options]="{
                          sport:'kabaddi',
                          titles : ['POS', 'player','Successfull raids','Super Raids','Raids Points'],
                          values : ['pid', 'name', 'raidsuccessful','superraid','raidtotalpoint'],
                          class : ['tour-stats-table'],
                          class_light_row : ['light-row']
                        }">
              </app-player-table>
            </ng-template>
          </ngb-tab>
          <ngb-tab>
            <ng-template ngbTabTitle>
              <div (click)="getTournamentStats('tackletotal')">Tackle</div>
            </ng-template>
            <ng-template ngbTabContent>
              <app-player-table *ngIf="stats?.length > 0" [data]="stats" [options]=" {
                          sport:'kabaddi',
                          titles : ['POS', 'player', 'Successfull tackles','Super Tackles','Tackle Points'],
                          values : ['pid', 'name', 'tacklesuccessful','supertackles','tackletotalpoint'],
                          class : ['tour-stats-table'],
                          class_light_row : ['light-row']
                        }">
              </app-player-table>
            </ng-template>
          </ngb-tab>
          <ngb-tab>
            <ng-template ngbTabTitle>
              <div (click)="getTournamentStats('card')">Cards</div>
            </ng-template>
            <ng-template ngbTabContent>
              <app-player-table *ngIf="stats?.length > 0" [data]="stats" [options]=" {
                            sport:'kabaddi',
                            titles : ['POS', 'player', 'Green' ,'Yellow' , 'Red'],
                            values : ['pid', 'name', 'greencard' , 'yellowcard' ,'redcard'],
                            class : ['tour-stats-table'],
                            class_light_row : ['light-row']
                          }">
              </app-player-table>
            </ng-template>
          </ngb-tab>
        </ngb-tabset>
      </div>
      <div class="sidebar-col">
        <div class="sticky-sidebar">
          <app-custom-ads-widget [type]="'Banner'"></app-custom-ads-widget>
          <!--Recommended links-->
          <!-- <app-sidebar-links [sport]="'Cricket'" [link_type]="'tournament'"
            [options]="{type: 'current', title:'Current Series'}"></app-sidebar-links> -->
          <app-custom-ads-widget [type]="'Rectangle'"></app-custom-ads-widget>

        </div>
      </div>
    </div>
  </div>
</section>