.fixtures-loadmore                          			{ margin-top: 32px; text-align: center; }
.nba-common-selection                                 	{ column-gap: 16px; -webkit-column-gap: 16px; }
.nba-common-selection .dropdown-toggle                	{ min-width: 160px; }
.nba-common-selection .date-dropdown .dropdown-toggle 	{ min-width: 130px; }
.nba-fixtures-title .nba-common-selection             	{ margin-bottom: -40px; }

@media (max-width: 767px) {
	.nba-common-selection .dropdown-toggle                	{ min-width: 120px; }
	.nba-common-selection .date-dropdown .dropdown-toggle 	{ min-width: 100px; }
}
@media (max-width: 575px) {
	.nba-dropdown-title								{ flex-direction: column; -webkit-flex-direction: column; align-items: initial !important; -webkit-align-items: initial !important; }
	.nba-fixtures-title .nba-common-selection      	{ margin-bottom: 0; }
}