.common-desc-block                  { padding: 24px; background: #fff; }
.common-desc-block h1               { margin-bottom: 8px; }
.common-desc-block img              { width: 100%; }
.common-desc-block p                { color: #525252; line-height: 24px; }
.common-desc-block p:last-child     { margin-bottom: 0px;}
.common-form-section                { padding-top: 0px; }
.common-form-section.common-section h1 { margin-bottom: 8px; }