<footer>
	<div class="footer-inner">
		<div class="container">
			<ul class="footer-nav-links">
				<li><a>About</a></li>
				<li><a>Contact</a></li>
				<li><a>Blog</a></li>
				<li><a>Advertise with us</a></li>
				<li><a>Sitemap</a></li>
				<li><a>Terms & Conditions</a></li>
				<li><a>Privacy Policy</a></li>
			</ul>
			<ul class="footer-social-links">
				<li><a target="_blank"><img src="../../../assets/images/facebook-icon.svg" alt="facebook"></a></li>
				<li><a target="_blank"><img src="../../../assets/images/twitter-icon.svg" alt="twitter"></a></li>
				<li><a target="_blank"><img src="../../../assets/images/linkedin-icon.svg" alt="linkedin"></a></li>
				<li><a target="_blank"><img src="../../../assets/images/instagram-icon.svg" alt="instagram"></a></li>
			</ul>
		</div>
	</div>
	<div class="copyright">
		<div class="container">
			<p>©2018 Sports Info. All Rights Reserved.</p>
		</div>
	</div>
</footer>
<button class="fav-btn"></button>
<div class="fav-block">
	<form>
		<div>
			<input class="text-box" type="text" placeholder="Search favorites ...">
			<button type="submit"></button>
		</div>
	</form>
	<ul class="fav-list">
		<li><button>Virat Kohli</button></li>
		<li><button>Indian Premier League 2019</button></li>
		<li><button class="selected">MS Dhoni</button></li>
		<li><button>Arsenal</button></li>
	</ul>
</div>