<footer>
	<div class="footer-inner">
		<div class="container">
			<ul class="footer-nav-links">
				<li><a [routerLink]="['/about-us']">{{'Footer.About' | translate}}</a></li>
				<li><a [routerLink]="['/contact-us']">{{'Footer.Contact' | translate}}</a></li>
				<li><a [routerLink]="['/blog']">{{'Footer.Blog' | translate}}</a></li>
				<li><a [routerLink]="['/advertise-with-us']">{{'Footer.Advertise_with_us' | translate}}</a></li>
				<!-- <li><a>Sitemap</a></li> -->
				<li><a [routerLink]="['/terms-and-conditions']">{{'Footer.Terms_and_Conditions' | translate}}</a></li>
				<li><a [routerLink]="['/privacy-policy']">{{'Footer.Privacy_Policy' | translate}}</a></li>
			</ul>
			<ul class="footer-social-links">
				<li *ngIf="contactObj"><a target="_blank" rel="noopener" [href]="contactObj['sFbPageLink']"><img
							src="/assets/images/facebook-icon.svg" alt="facebook"></a></li>
				<li *ngIf="contactObj"><a target="_blank" rel="noopener" [href]="contactObj['sTwitterLink']"><img
							src="/assets/images/twitter-icon.svg" alt="twitter"></a></li>
				<li *ngIf="contactObj"><a target="_blank" rel="noopener" [href]="contactObj['sLinkdinLink']"><img
							src="/assets/images/linkedin-icon.svg" alt="linkedin"></a></li>
				<li *ngIf="contactObj"><a target="_blank" rel="noopener" [href]="contactObj['sInstagramLink']"><img
							src="/assets/images/instagram-icon.svg" alt="instagram"></a></li>
			</ul>
		</div>
	</div>
	<div class="copyright">
		<div class="container">
			<p>©2019 Sports Info. All Rights Reserved.</p>
		</div>
	</div>
</footer>

<div class="scroll-flash-block">
	<button class="scroll-top" *ngIf="isShow" (click)="gotoTop()"><img src="/assets/images/right-arrow.svg"></button>
	<app-flash-commentary></app-flash-commentary>
</div>
<!--Favourite module start-->
<div class="fav-block-box" [ngClass]="{'fav-show': isapply}" #favContainer>
	<h1 class="white-text">{{'Footer.Favourites' | translate}}</h1>
	<div class="fav-block" *ngIf="userfavourites?.length == 0">
		<h5 class="white-text">{{'Footer.No_favourites' | translate}}</h5>
	</div>
	<div class="fav-block" *ngIf="userfavourites?.length > 0">
		<form>
			<div class="search-box">
				<input type="text" [(ngModel)]="searchText" [ngModelOptions]="{standalone:true}"
					placeholder="{{'Shared_Module3.Search_favourites' | translate}} ...">
				<button type="submit"></button>
			</div>
		</form>
		<ul class="fav-list">
			<li *ngFor="let item of (userfavourites | filter : searchText)">
				<button [ngClass]="{'selected': item.isSelect}" (click)="routing(item.url)">{{item.name}}</button>
			</li>
		</ul>
	</div>
	<div class="footer-btn-list" *ngIf="userfavourites?.length > 0">
		<button class="delete-btn" [ngClass]="{'active': isedit}" (click)="removefavourite()"></button>
		<button class="edit-btn" [ngClass]="{'save-btn': isedit}"
			(click)="isedit = !isedit">{{ isedit ? ('Shared_Module3.Save' | translate) : ('Blog_Module2.Edit' | translate) }}</button>
	</div>
	<div class="fav-btn-block">
		<button class="fav-btn" [ngClass]="{'active': isapply}" (click)="isapply = !isapply" title="Favourite">
			<span></span>
		</button>
		<img alt="favourites" src="assets/images/fav-btn-shape.svg">
	</div>
</div>