<footer>
	<div class="footer-inner">
		<div class="container">
			<ul class="footer-nav-links">
				<li><a [routerLink]="['/about']"  >About</a></li>
				<li><a [routerLink]="['/contact-us']">Contact</a></li>
				<li><a [routerLink]="['/blog']"  >Blog</a></li>
				<li><a [routerLink]="['/advertise-with-us']">Advertise with us</a></li>
				<!-- <li><a>Sitemap</a></li> -->
				<li><a [routerLink]="['/terms-and-conditions']" >Terms & Conditions</a></li>
				<li><a [routerLink]="['/privacy-policy']">Privacy Policy</a></li>
			</ul>
			<ul class="footer-social-links">
				<li *ngIf="contactObj"><a target="_blank" [href]="contactObj['sFbPageLink']"><img src="../../../assets/images/facebook-icon.svg" alt="facebook"></a></li>
				<li *ngIf="contactObj"><a target="_blank" [href]="contactObj['sTwitterLink']"><img src="../../../assets/images/twitter-icon.svg" alt="twitter"></a></li>
				<li *ngIf="contactObj"><a target="_blank" [href]="contactObj['sLinkdinLink']"><img src="../../../assets/images/linkedin-icon.svg" alt="linkedin"></a></li>
				<li *ngIf="contactObj"><a target="_blank" [href]="contactObj['sInstagramLink']"><img src="../../../assets/images/instagram-icon.svg" alt="instagram"></a></li>
			</ul>
		</div>
	</div>
	<div class="copyright">
		<div class="container">
			<p>©2018 Sports Info. All Rights Reserved.</p>
		</div>
	</div>
</footer>
<button class="fav-btn scroll-top" *ngIf="isShow" (click)="gotoTop()"><img src="../../../assets/images/right-arrow.svg"></button>
<app-flash-commentary></app-flash-commentary>

<!--Favourite module start-->

<!-- <button class="fav-btn" (click)="isapply = !isapply"></button> -->
<!-- <div class="fav-block-box" [ngClass]="{'fav-show': isapply}">
	<div class="head-btn-list">
		<button class="delete-btn edit-btn"></button>
		<button class="close-btn" (click)="isapply = false"></button>
	</div>
	<div class="fav-block">
		<form>
			<div class="search-box">
				<input type="text" placeholder="Search favorites ...">
				<button type="submit"></button>
			</div>
		</form>
		<ul class="fav-list">
			<li><button >Virat Kohli</button></li>
			<li><button>Indian Premier League 2019</button></li>
			<li><button class="selected">MS Dhoni</button></li>
			<li><button>Arsenal</button></li>
		</ul>
	</div>
</div> -->
