footer                              { font-family: 'BebasNeueBold'; text-align: center; }
footer p                            { color: #fff;  }
footer .footer-inner                { padding: 56px 0px; background: #3D3D3D; }
footer .footer-nav-links            { margin-bottom: 32px; }
footer .footer-social-links li,
footer .footer-nav-links li         { display: inline-block; }
footer .footer-nav-links li a:not([href]):not([tabindex])       { margin: 0px 16px; font-size: 24px; line-height: 29px; color: #8C8C8C; }
footer .footer-nav-links li a:not([href]):not([tabindex]):hover,
footer .footer-nav-links li a:not([href]):not([tabindex]):focus { color: #fff; }
footer .footer-social-links         { margin-bottom: 0px; }
footer .footer-social-links li a    { margin: 0px 12px; opacity: 0.4; }
footer .footer-social-links li a:hover  { opacity: 1;}
footer .copyright                   { padding: 32px 0px; background: #121212; }
footer .copyright p                 { margin: 0px; font-size: 18px; line-height: 22px;  }