<section class="common-section">
  <div class="container">
    <div class="row sidebar-row">
      <div class="content-col">
        <div class="common-title-btn big-title-btn common-dropdown-title d-flex justify-content-between align-items-center">
          <h1>{{  sport == 'Soccer' ?  ('Soccer_Module.Clubs' | translate)  : ('widgetModule.Teams' | translate) }}
          </h1>
          <div class="nba-common-selection d-flex" *ngIf="sport == 'Hockey' || sport == 'Badminton'">
            <div ngbDropdown class="common-dropdown date-dropdown" *ngIf="seasons?.length > 0" #seasonDrop="ngbDropdown"
              placement="bottom">
              <button id="dropdownBasic1" ngbDropdownToggle>{{filter.name}}</button>
              <div ngbDropdownMenu aria-labelledby="dropdownBasic1">
                <button ngbDropdownItem *ngFor="let season of seasons"
                  (click)="seasonDrop.close();filterHockeySeason(season);"
                  [ngClass]="{'selected' : filter.name == season.name  }">
                  {{season.name}}
                </button>
              </div>
            </div>
          </div>
        </div>
        <app-loader *ngIf="isloading"></app-loader>
        <app-no-data-widget *ngIf="!isloading && !teams"></app-no-data-widget>

        <!-- For Group  -->
        <ng-container *ngIf="['Basketball','Hockey', 'Badminton'].indexOf(sport) > -1; else commonList">
          <div class="team-group-list">
            <div class="team-group common-section top-padding" *ngFor="let team of teams">
              <ng-container *ngIf="sport == 'Basketball'">
                <h4>{{team.alias}}</h4>
                <app-team-card [teams]="team.teams" [sport]="sport" [tournament]="tournamentid"></app-team-card>
              </ng-container>
              <ng-container *ngIf="sport == 'Hockey' || sport == 'Badminton'">
                <h4>{{team.name | split}}</h4>
                <app-team-card [teams]="team.competitors" [sport]="sport" [tournament]="tournamentid"></app-team-card>
              </ng-container>
            </div>
          </div>
        </ng-container>

        <!-- For Simple list  -->
        <ng-template #commonList>
          <app-team-card *ngIf="!isloading && teams && teams.length > 0" [teams]="teams" [sport]="sport"
            [tournament]="tournamentid"></app-team-card>
        </ng-template>

      </div>
      <div class="sidebar-col">
        <div class="sticky-sidebar">
          <app-custom-ads-widget [type]="'Banner'"></app-custom-ads-widget>

          <app-top-scorer-widget [sport]="sport" *ngIf="tournamentid || sport == 'Kabaddi'"></app-top-scorer-widget>
          <!-- <app-points-table [sport]="'soccer'" *ngIf="sport == 'soccer' && tournamentid"
            [options]="{ tournament : tournamentid }"></app-points-table> -->

          <!--Current series widget-->
          <!-- <app-sidebar-links [sport]="'Cricket'" [link_type]="'tournament'"
            [options]="{type: 'current', title:('Cricket_Module.Current_Series' | translate)}"
            *ngIf="sport == 'cricket'"></app-sidebar-links> -->
          <!-- <app-custom-ads-widget [type]="'Rectangle'"></app-custom-ads-widget> -->
        </div>
      </div>
    </div>
  </div>
</section>