.web-news-list .web-news-item       { margin-bottom: 24px; height: 340px; background: #fff; overflow: hidden;}
.web-news-list .web-news-img        { height: 240px; cursor: pointer; }
.web-news-list .news-desc           { padding: 12px 16px; }
.web-news-list .news-desc h5        { margin: 0px; }

/***** Responsive CSS Start ******/

@media (min-width: 1200px) and (max-width: 1379px) {
    .web-news-list .web-news-item       { height: 300px; }
    .web-news-list .web-news-img        { height: 200px; }
}

@media (min-width: 992px) and (max-width: 1199px) {
    .web-news-list .web-news-item       { height: 300px; }
    .web-news-list .web-news-img        { height: 180px; }
}

@media (max-width: 991px) {
    .web-news-list .web-news-item       { height: 290px; }
    .web-news-list .web-news-img        { height: 200px; }
}

@media (max-width: 767px) {
    .web-news-list .web-news-item       { height: 260px; }
    .web-news-list .web-news-img        { height: 150px; }
    .web-news-list .news-desc           { padding: 12px;}
}

@media (max-width: 767px) {
    .web-news-list .web-news-item       { height: auto; }
}