<section class="common-section">
  <div class="container">
    <div class="row sidebar-row">
      <div class="content-col">
        <div
          class="common-title-btn nba-dropdown-title nba-stats-title big-title-btn d-flex justify-content-between align-items-center">
          <h1>{{ 'Statistics' | translate }}</h1>
          <div class="nba-common-selection d-flex">
            <div ngbDropdown class="common-dropdown date-dropdown" *ngIf="seasons?.year?.length > 0"
              #yearDrop="ngbDropdown" placement="bottom">
              <button id="dropdownBasic1" ngbDropdownToggle>{{filter.year}}</button>
              <div ngbDropdownMenu aria-labelledby="dropdownBasic1">
                <button ngbDropdownItem *ngFor="let season of seasons?.year"
                  (click)="yearDrop.close();filterData({year: season});"
                  [ngClass]="{'selected' : filter.year == season  }">
                  {{season}}
                </button>
              </div>
            </div>
            <div ngbDropdown class="common-dropdown" *ngIf="seasons?.type?.length > 0" #typeDrop="ngbDropdown"
              placement="bottom">
              <button id="dropdownBasic1" ngbDropdownToggle>{{filter.type}}</button>
              <div ngbDropdownMenu aria-labelledby="dropdownBasic1">
                <button ngbDropdownItem *ngFor="let season of seasons?.type"
                  (click)="typeDrop.close();filterData({type: season});"
                  [ngClass]="{'selected' : filter.type == season  }">
                  {{season}}
                </button>
              </div>
            </div>
            <div ngbDropdown class="common-dropdown" *ngIf="seasons?.names?.length > 0" #nameDrop="ngbDropdown"
              placement="bottom">
              <button id="dropdownBasic1" ngbDropdownToggle>{{filter.names | stringunder}}</button>
              <div ngbDropdownMenu aria-labelledby="dropdownBasic1">
                <button ngbDropdownItem *ngFor="let season of seasons?.names"
                  (click)="nameDrop.close();filterData({names: season});"
                  [ngClass]="{'selected' : filter.names == season  }">{{season | stringunder}}</button>
              </div>
            </div>
          </div>
        </div>
        <app-loader *ngIf="isloading"></app-loader>
        <app-no-data-widget *ngIf="!isloading && (!stats || stats?.length == 0)" [sport]="'Basketball'"
          [message]="'Coming Soon..!'"></app-no-data-widget>

        <app-player-table *ngIf="stats?.length > 0 && !isloading " [data]="stats" [options]=" {
              sport:'Basketball',
              titles : ['Rank',('Cricket_Module2.player' | translate),'GP','MIN','PTS','REB','OREB','DREB','AST','STL','BLK','TO','PF','PER'],
              values : ['rank','full_name', 'total.games_played', 'total.minutes', 'total.points', 'total.rebounds', 'total.offensive_rebounds', 'total.defensive_rebounds', 'total.assists', 'total.steals', 'total.blocks', 'total.turnovers', 'total.personal_fouls', 'total.efficiency'],
              class : ['nba-table tour-stats-table'],
              tbl_type:'stats'
            }">
        </app-player-table>
      </div>
      <div class="sidebar-col">
        <div class="sticky-sidebar">
          <app-custom-ads-widget [type]="'Banner'"></app-custom-ads-widget>
          <app-points-table [sport]="'Basketball'"></app-points-table>
          <app-custom-ads-widget [type]="'Rectangle'"></app-custom-ads-widget>
        </div>
      </div>
    </div>
  </div>
</section>