<div class="common-table striped-table common-shadow rounded-box" [ngClass]="options.class" *ngIf="data">
  <div class="table-title" *ngIf="options.header_title">
    <h6>{{options.header_title}}</h6>
  </div>
  <div class="table-responsive" id="dtBasicExample">
    <table class="table">
      <thead>
        <tr [ngClass]="options.class_light_row">
          <th *ngFor="let title of options.titles" [innerHTML]="title" title="{{title}}" (click)="getname($event)"
            [ngClass]="(title == value ) ? sorting == 'ASC'? 'sort-table table-asc' :'sort-table table-desc':''"></th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let item of data;let i = index;">
          <ng-container *ngIf="options.sport == 'Kabaddi'">
            <ng-container *ngTemplateOutlet="kabaddi;context:{item:item,index:i+1}">
            </ng-container>
          </ng-container>
          <ng-container *ngIf="options.sport == 'Soccer'">
            <ng-container *ngTemplateOutlet="soccer;context:{item:item,index:i+1}">
            </ng-container>
          </ng-container>
          <ng-container *ngIf="options.sport == 'Cricket'">
            <ng-container *ngTemplateOutlet="cricket;context:{item:item}">
            </ng-container>
          </ng-container>
          <ng-container *ngIf="options.sport == 'Basketball' && options.tbl_type == 'stats'">
            <ng-container *ngTemplateOutlet="basketballStats;context:{item:item,index:i+1}">
            </ng-container>
          </ng-container>
          <ng-container *ngIf="options.sport == 'Basketball' && options.tbl_type == 'standing'">
            <ng-container *ngTemplateOutlet="basketball;context:{item:item,index:i+1}">
            </ng-container>
          </ng-container>
          <ng-container *ngIf="options.sport == 'Hockey'">
            <ng-container *ngTemplateOutlet="hockey;context:{item:item}">
            </ng-container>
          </ng-container>
        </tr>
      </tbody>
    </table>
  </div>
</div>
<div class="table-title-info" *ngIf="options.sport == 'Soccer'">
  <!-- <ul>
    <li><span>P:</span> Matches played</li>
    <li><span>RP:</span> Raid Points</li>
    <li><span>TP:</span> Tackle Points</li>
  </ul>
  <ul>
    <li><span>H5:</span> High 5s</li>
    <li><span>S10:</span> Super 10s</li>
  </ul> -->
  <ul *ngIf="options.sport == 'Soccer' && options.teamstats == 'true' && data?.length > 0">
    <li><span>P: </span>{{'Soccer_Module.Minutes_Played' | translate}}</li>
    <li><span>SI: </span>{{'Soccer_Module.Substituted_In' | translate}}</li>
    <li><span>SO: </span>{{'Soccer_Module.Substituted_Out' | translate}}</li>
    <li><span>GS: </span>{{'Soccer_Module.Goals_Scored' | translate}}</li>
    <li><span>AS: </span>{{'Soccer_Module.Assists' | translate}}</li>
  </ul>
  <ul *ngIf="options.sport == 'Soccer' && options.soccertable == 'true' && data?.length > 0">
    <!-- <li><span class="game-card green"></span><span>:</span> Green Cards</li>
    <li><span class="game-card yellow"></span><span>:</span> Yellow Cards</li>
    <li><span class="game-card red"></span><span>:</span> Red Cards</li> -->
    <li><span class="game-card square orange"></span><span>:</span> Champions League group stage</li>
    <li><span class="game-card square skyblue"></span><span>:</span> Europa League group stage</li>
    <li><span class="game-card square red"></span><span>:</span> Relegation</li>
  </ul>
</div>

<ng-template #cricket let-item="item">
  <ng-container *ngFor="let value of options.values">
    <td *ngIf="value != 'image'; else data"
      [ngClass]="(object == value) ? sorting == 'ASC'?' sort-table table-asc' :'sort-table table-desc':''">
      {{options.subParams ? ((value == 'type') ? (item[value] | stringunder) : item[value] ) : item[value]}}
    </td>
    <ng-template #data>
      <td>
        <a
          [routerLink]="options.image_type == 'team' ? ['/cricket/team',(item.team.id | splitID),(item.team.name | slugify)] : ['/cricket/player',(item.player.id | splitID),(item.player.name | split | slugify)] ">
          <img [offset]="commonService.lazyloadoffset" [lazyLoad]="item?.team?.id | logosurl"
            [defaultImage]="commonService.flagplaceholder" alt="logo">
          {{ (options.image_type == 'team') ?  item.team.name : item.player.name | split}}
        </a>
      </td>
    </ng-template>
  </ng-container>
</ng-template>

<ng-template #soccer let-item="item" let-index="index">
  <ng-container *ngFor="let value of options.values">
    <td *ngIf="(value != 'teamname' && value != 'name');else data"
      [ngClass]="(object == value ) ? sorting == 'ASC'?' sort-table table-asc' :'sort-table table-desc':''"
      [ngClass]="{'relegation':item.current_outcome == 'Relegation', 'champions-league': item.current_outcome == 'Champions League', 'europa-league':item.current_outcome == 'Europa League'}">
      {{ value == 'Index' ? index : (item[value] && item[value] !='') ? item[value]  : 0 }}
    </td>
    <ng-template #data>
      <td>
        <a
          [routerLink]="options.image_type == 'team' ? ['/soccer/team',(item?.competitor?.id | splitID),(item?.competitor?.name | slugify)] : ['/soccer/player',(item?.id | splitID),(item?.name | split | slugify)]">
          <img [offset]="commonService.lazyloadoffset"
            [lazyLoad]="(options.image_type == 'team') ?  (item?.competitor?.id | logosurl:'soccer') : (item?.competitors[0]?.id | logosurl:'soccer')"
            [defaultImage]="commonService.flagplaceholder" alt="logo" *ngIf="options.image_type == 'team'">
          {{ (options.image_type == 'team') ? item[value] : item[value] | split}}
        </a>
      </td>
    </ng-template>
  </ng-container>
</ng-template>

<ng-template #kabaddi let-item="item" let-index="index">
  <ng-container *ngFor="let value of options.values">
    <td *ngIf="(value != 'tname' && value != 'name'); else link"
      [ngClass]="(object == value ) ?sorting == 'ASC'?' sort-table table-asc' :'sort-table table-desc':''">
      {{ (value == 'loss' ?  item['matchplayed'] - item['win'] - item['draw'] : value == 'pid' ?  index : (item[value] && item[value] !='') ? item[value] : 0) }}
    </td>
    <ng-template #link>
      <td>
        <a
          [routerLink]="value == 'tname' ? ['/kabaddi/team', item['tid'], (item.tname | slugify)] : value == 'name' ? ['/kabaddi/player',item['tid'] ,item['pid'], (item.name | slugify)] : '' ">
          <img [offset]="commonService.lazyloadoffset" [lazyLoad]="item['tid'] | logosurl:'kabaddi'"
            [defaultImage]="commonService.flagplaceholder" alt="logo">
          {{ item[value]}}
        </a>
      </td>
    </ng-template>
  </ng-container>
</ng-template>

<ng-template #basketball let-item="item" let-index="index">
  <ng-container *ngFor="let value of options.values">
    <td *ngIf="(value != 'name'); else link "
      [ngClass]="(object == value  )? sorting == 'ASC'?' sort-table table-asc' :'sort-table table-desc':''">
      {{ value == 'index' ?  index  : (item[value] && item[value] !='') ? item[value] : 0}}
    </td>
    <ng-template #link>
      <td>
        <a [routerLink]="value == 'name' ? ['/basketball/team', (item['id']), (item.name | slugify)] : '' ">
          <img [offset]="commonService.lazyloadoffset" [lazyLoad]="item['sr_id'] | logosurl:'basketball'"
            [defaultImage]="commonService.flagplaceholder" alt="logo">
          {{ item[value]}}
        </a>
      </td>
    </ng-template>
  </ng-container>
</ng-template>

<ng-template #basketballStats let-item="item" let-index="index">
  <ng-container *ngFor="let value of options.values">
    <td *ngIf="(value != 'full_name'); else link"
      [ngClass]="(object == value ) ? sorting == 'ASC'?' sort-table table-asc' :'sort-table table-desc':''">
      {{item | arrToString: value}}
    </td>
    <ng-template #link>
      <td *ngIf="options.type == 'no_image'">
        <a [routerLink]="item.sr_id ? ['/basketball/player', (item.sr_id | splitID), (item.full_name | slugify)] : ''">
          {{ item.full_name}}
        </a>
      </td>
      <td *ngIf="options.type != 'no_image'">
        <a *ngIf="item['sr_id']; else playerID"
          [routerLink]="value == 'full_name' ? ['/basketball/player', (item.sr_id | splitID), (item.full_name | slugify)] : '' ">
          <img [offset]="commonService.lazyloadoffset" [lazyLoad]="(item.sr_id | splitID) | logosurl:'basketball'"
            [defaultImage]="commonService.flagplaceholder" alt="logo">
          {{ item.full_name}}
        </a>
        <ng-template #playerID>
          <a *ngIf="item.player['sr_id']"
            [routerLink]="value == 'full_name' ? ['/basketball/player', (item?.player?.sr_id | splitID), (item?.player?.full_name | slugify)] : '' ">
            <img [offset]="commonService.lazyloadoffset" [lazyLoad]="(item?.teams[0]?.sr_id) | logosurl:'basketball'"
              [defaultImage]="commonService.flagplaceholder" alt="logo">
            {{ item?.player?.full_name}}
          </a>
        </ng-template>
      </td>
    </ng-template>
  </ng-container>
</ng-template>


<ng-template #hockey let-item="item" let-index="index">
  <ng-container *ngFor="let value of options.values">
    <td *ngIf="(value != 'name'); else link "
      [ngClass]="(object == value ) ? sorting == 'ASC'?' sort-table table-asc' :'sort-table table-desc' : '' ">
      {{ value == 'index' ?  index  : (item[value] && item[value] !='') ? item[value] : 0}}
    </td>
    <ng-template #link>
      <td>
        <a
          [routerLink]="value == 'name' ? ['/hockey/team', (item.competitor.id | splitID), (item.competitor.name | slugify)] : '' ">
          <img [offset]="commonService.lazyloadoffset" [lazyLoad]="item.competitor.id | logosurl:'hockey'"
            [defaultImage]="commonService.flagplaceholder" alt="logo">
          {{ item.competitor.name}}
        </a>
      </td>
    </ng-template>
  </ng-container>
</ng-template>