<div class="common-table striped-table common-shadow rounded-box" [ngClass]="options.class" *ngIf="data">
  <div class="table-title" *ngIf="options.header_title">
    <h6>{{options.header_title}}</h6>
  </div>
  <div class="table-responsive" id="dtBasicExample">
    <table class="table">
      <thead>
        <tr [ngClass]="options.class_light_row">
          <th *ngFor="let title of options.titles" [innerHTML]="title" title="{{title}}" (click)="getname($event)"></th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let item of data;let i = index;">
          <ng-container *ngIf="options.sport == 'kabaddi'">
            <ng-container *ngTemplateOutlet="kabaddi;context:{item:item,index:i+1}">
            </ng-container>
          </ng-container>
          <ng-container *ngIf="options.sport == 'soccer'">
            <ng-container *ngTemplateOutlet="soccer;context:{item:item}">
            </ng-container>
          </ng-container>
          <ng-container *ngIf="options.sport == 'cricket'">
            <ng-container *ngTemplateOutlet="cricket;context:{item:item}">
            </ng-container>
          </ng-container>
        </tr>
      </tbody>
    </table>
  </div>
</div>
<div class="table-title-info" *ngIf="options.sport == 'soccer' && options.soccertable == 'true'">
  <!-- <ul>
    <li><span>P:</span> Matches played</li>
    <li><span>RP:</span> Raid Points</li>
    <li><span>TP:</span> Tackle Points</li>
  </ul>
  <ul>
    <li><span>H5:</span> High 5s</li>
    <li><span>S10:</span> Super 10s</li>
  </ul> -->
  <ul>
    <!-- <li><span class="game-card green"></span><span>:</span> Green Cards</li>
    <li><span class="game-card yellow"></span><span>:</span> Yellow Cards</li>
    <li><span class="game-card red"></span><span>:</span> Red Cards</li> -->
    <li><span class="game-card square orange"></span><span>:</span> Champions League group stage</li>
    <li><span class="game-card square skyblue"></span><span>:</span> Europa League group stage</li>
    <li><span class="game-card square red"></span><span>:</span> Relegation</li>
  </ul>
</div>

<ng-template #cricket let-item="item">
  <ng-container *ngFor="let value of options.values">
    <td *ngIf="value != 'image'; else data">
      {{options.subParams ? ((value == 'type') ? (item[value] | stringunder) : item[value] ) : item[value]}}
    </td>
    <ng-template #data>
      <td>
        <a
          [routerLink]="options.image_type == 'team' ? ['/cricket/team',(item.team.id | splitID),(item.team.name | slugify)] : ['/cricket/player',(item.player.id | splitID),(item.player.name | split | slugify)] ">
          <img [offset]="commonService.lazyloadoffset" [lazyLoad]="item?.team?.id | logosurl"
            [defaultImage]="cricketService.flagplaceholder" alt="logo">
          {{ (options.image_type == 'team') ?  item.team.name : item.player.name | split}}
        </a>
      </td>
    </ng-template>
  </ng-container>
</ng-template>

<ng-template #soccer let-item="item">
  <ng-container *ngFor="let value of options.values">
    <td *ngIf="value != 'teamname';else data"
      [ngClass]="{'relegation':item.current_outcome == 'Relegation', 'champions-league': item.current_outcome == 'Champions League', 'europa-league':item.current_outcome == 'Europa League'}">
      {{item[value]}}
    </td>
    <ng-template #data>
      <td>
        <a
          [routerLink]="options.image_type == 'team' ? ['/soccer/team',(item.competitor.id | splitID),(item.competitor.name | slugify)] : ['/cricket/player',(item.player.id | splitID),(item.player.name | split | slugify)]">
          <img [offset]="commonService.lazyloadoffset" [lazyLoad]="item?.competitor?.id | logosurl:'soccer'"
            [defaultImage]="cricketService.flagplaceholder" alt="logo">
          {{ (options.image_type == 'team') ? item[value] : ''}}
        </a>
      </td>
    </ng-template>
  </ng-container>
</ng-template>

<ng-template #kabaddi let-item="item" let-index="index">
  <ng-container *ngFor="let value of options.values">
    <td *ngIf="(value != 'tname' && value != 'name'); else link">
      {{ (value == 'loss' ?  item['matchplayed'] - item['win'] - item['draw'] : value == 'pid' ?  index : (item[value] && item[value] !='') ? item[value] : 0) }}
    </td>
    <ng-template #link>
      <td>
        <a
          [routerLink]="value == 'tname' ? ['/kabaddi/team', item['tid'], (item.tname | slugify)] : value == 'name' ? ['/kabaddi/player', item['pid'], (item.name | slugify)] : '' ">
          <img [offset]="commonService.lazyloadoffset" [lazyLoad]="item['tid'] | logosurl:'kabaddi'"
            [defaultImage]="cricketService.flagplaceholder" alt="logo">
          {{ item[value]}}
        </a>
      </td>
    </ng-template>
  </ng-container>
</ng-template>