/* -------- Tournament Standing Table ------- */
.tour-stand-table .table tr th,
.tour-stand-table .table tr td                  { width: 8%;}
.tour-stand-table .table tr td:first-child      { width: 8%; font-weight: 500; position: relative;}
.tour-stand-table .table tr th:nth-child(2),
.tour-stand-table .table tr td:nth-child(2)     { text-align: left; width: 40%; }
.tour-stand-table .table tr td:nth-child(2) img,
.tour-stats-table .table tr td:nth-child(2) img { margin: -12px 8px -9px 0px; height: 32px; width: auto; border-radius: 2px; }
.tour-stand-table .table tr td:nth-child(2),
.tour-stats-table .table tr td:nth-child(2)     { padding-right: 48px; }
.tour-stand-table .table tr td:first-child:before   { content: ""; display: block; position: absolute; width: 8px; height: 100%; top: 0; left: 0;}
.tour-stand-table .table tr td.champions-league:before     { background: #FA6400; }
.tour-stand-table .table tr td.europa-league:before        { background: #0091FF; }
.tour-stand-table .table tr td.relegation:before           { background: #FF0000; }

/* -------- Tournament Stats Table ------- */
.tour-stats-table .table tr th:first-child,
.tour-stats-table .table tr td:first-child      { width: 60px;  }
.tour-stats-table .table tr th:nth-child(2),
.tour-stats-table .table tr td:nth-child(2)     { text-align: left; width: 70%; font-weight: 500;  }
.tour-stats-table .table tr td:first-child      { font-weight: 500; }
.tour-stats-table .table tr th:nth-child(2)     { padding-left: 50px; }

/* -------- Player Stats Table ------- */
.player-state .table tr th:first-child,
.player-state .table tr td:first-child    { text-align: left; width: 26%; text-transform: uppercase; }
.player-state .table tr th:first-child:after { display: none; }
/* .player-state .table tr th:after          { margin-top: -4px; margin-left: 6px; content: ""; display: inline-block; border-bottom: 10px solid #A3A3A3; border-left: 6px solid transparent; border-right: 6px solid transparent; vertical-align: middle; transition: all 0.3s ease-in-out; -webkit-transition: all 0.3s ease-in-out; } */
.player-state .table tr th.active         { color: #EC4D60; }
.player-state .table tr th.active:after   { border-bottom-color: #EC4D60; transform: rotate(180deg); -webkit-transform: rotate(180deg); }
.table-title-info                         { padding: 40px 0px; }
.table-title-info ul                      { margin-bottom: 18px;}
.table-title-info ul:last-child           { margin-bottom: 0px; }
.table-title-info ul li                   { margin: 0px 30px 6px 0px; display: inline-block; }
.table-title-info ul li:last-child        { margin-right: 0px; color: #7A7A7A; }
.table-title-info span                    { color: #292929; font-weight: 500; }
.table-title-info .game-card              { margin: -2px 3px 0px 0px; vertical-align: middle; }
.player-state .game-card                  { margin: -2px 0px -6px; }
.game-card                                { width: 16px; height: 24px; display: inline-block; border: 1px solid; border-radius: 2px; }
.game-card.square                         { width: 20px; height: 20px; }
.game-card.red                            { background: #FA4040; border-color: #E00606; }
.game-card.yellow                         { background: #FAD340; border-color: #FAC640; }
.game-card.green                          { background: #6EC611; border-color: #68B00C; }
.game-card.orange                         { background: #FA6400; border-color: #FA6400; }
.game-card.skyblue                        { background: #0091FF; border-color: #0091FF; }

/* -- Arabic CSS -- */
.arabic .tour-stand-table .table tr th:nth-child(2),
.arabic .tour-stand-table .table tr td:nth-child(2),
.arabic .tour-stats-table .table tr th:nth-child(2),
.arabic .tour-stats-table .table tr td:nth-child(2),
.arabic .player-state .table tr th:first-child,
.arabic .player-state .table tr td:first-child          { text-align: right; }
.arabic .tour-stand-table .table tr td:nth-child(2),
.arabic .tour-stats-table .table tr td:nth-child(2)       { padding-right: 10px; padding-left: 48px; }
.arabic .tour-stand-table .table tr td:nth-child(2) img,
.arabic .tour-stats-table .table tr td:nth-child(2) img { margin-right: 0px; margin-left: 8px; }
.arabic .tour-stats-table .table tr th:nth-child(2)     { padding-left: 10px; padding-right: 50px; }

/***** Responsive CSS Start ******/

@media (min-width: 1200px) and (max-width: 1379px) {
/* -------- Tournament Standing Table ------- */
  .tour-stand-table .table tr td:nth-child(2) img,
  .tour-stats-table .table tr td:nth-child(2) img { height: 28px; }
/* -------- Tournament Stats Table ------- */
  .tour-stats-table .table tr th:nth-child(2)     { padding-left: 44px; }
  
/* -- Arabic CSS -- */
  .arabic .tour-stats-table .table tr th:nth-child(2)     { padding-right: 44px; }

}

@media (max-width: 1199px) {
/* -------- Tournament Standing Table ------- */
  .tour-stand-table .table tr td:nth-child(2) img,
  .tour-stats-table .table tr td:nth-child(2) img { height: 24px; }
/* -------- Tournament Stats Table ------- */
  .tour-stats-table .table tr th:nth-child(2)     { padding-left: 36px; }
/* -------- Player Stats Table ------- */
  .player-state .table tr th:after          { margin-top: -4px; margin-left: 6px; border-bottom-width: 8px; border-left-width: 4px; border-right-width: 4px; }

/* -- Arabic CSS -- */
  .arabic .tour-stats-table .table tr th:nth-child(2)     { padding-left: 6px; padding-right: 36px; }
}
@media (max-width: 991px) {
/* -------- Tournament Standing Table ------- */
  .tour-stand-table .table tr td:first-child:before   { width: 6px; }
/* -------- Player Stats Table ------- */
  .table-title-info                         { padding: 24px 0px; }
  .table-title-info ul                      { margin-bottom: 12px;}
  .table-title-info ul li                   { margin: 0px 20px 6px 0px; }
}
@media (max-width: 767px) {
/* -------- Player Stats Table ------- */
  .player-state .table tr th:after          { margin-top: -2px; margin-left: 2px; border-bottom-width: 6px; border-left-width: 4px; border-right-width: 4px; }

}