<!-- <app-loader *ngIf="isshow"></app-loader> -->
<section class="common-section" *ngIf="!isshow">
  <div class="container">
    <div class="row sidebar-row">
      <div class="content-col">
        <app-loader *ngIf="loader"></app-loader>
        <app-page-not-found *ngIf="!loader && !matchdata"></app-page-not-found>
        <!-- START - ABOUT MATCH-->
        <app-match-about *ngIf="matchdata" [data]="matchdata" [competitor]="competitor" [toss]="tossdecision"
          [sport]="'cricket'"></app-match-about>
        <!-- END - ABOUT MATCH-->
        <!-- START - MATCH TABS-->
        <ngb-tabset class="common-tabs match-tabs" *ngIf="matchdata">
          <!-- START - MATCH COMMENTRY-->
          <ngb-tab>
            <ng-template ngbTabTitle>{{'Cricket_Module.Commentary' | translate}}</ng-template>
            <ng-template ngbTabContent>
              <!-- <app-loader *ngIf="!matchdata"></app-loader> -->
              <app-no-data-widget
                *ngIf="!inningWiseCommentry || inningWiseCommentry?.length == 0 && matchdata.sport_event_status.status != 'not_started'">
              </app-no-data-widget>
              <app-countdown *ngIf="matchdata.sport_event_status.status == 'not_started'"
                [scheduled]="data.sport_event.scheduled"></app-countdown>
              <app-match-commentry *ngIf="matchdata" [data]="matchdata" [commentry]="inningWiseCommentry"
                [oversummery]="LiveOverSummery" [ballerList]="ballerList" [batsmanList]="batsmanList"
                [showCommetry]="showCommetry">
              </app-match-commentry>
            </ng-template>
          </ngb-tab>
          <!-- END - MATCH COMMENTRY-->
          <!-- START - SCORECARDS-->
          <ngb-tab *ngIf="matchInnings?.length > 0">
            <ng-template ngbTabTitle>{{'Cricket_Module.Scorecard' | translate}}</ng-template>
            <ng-template ngbTabContent>
              <ngb-tabset class="filled-tabs scorecard-tab"
                [ngClass]="{'test-match': matchdata.sport_event.tournament.type == 'first_class'}">
                <ngb-tab *ngFor="let item of matchInnings,let i = index">
                  <ng-template ngbTabTitle>
                    <span>{{teamObj[item.batting_team].name}}
                      <span class="test-inng">
                        {{matchdata.sport_event.tournament.type == 'first_class' ? (item.number === 1 || item.number === 2 ) ? '(' + ('Cricket_Module.1st_Inning' | translate) +')' : '(' + ('Cricket_Module.2nd_Inning' | translate) + ')' : ''}}
                      </span>
                    </span>
                  </ng-template>
                  <ng-template ngbTabContent>
                    <div class="common-table batsman-table tour-stats-table common-shadow rounded-box">
                      <div class="table-responsive">
                        <table class="table">
                          <thead>
                            <tr>
                              <th class="text-uppercase">{{'Cricket_Module.Batsman' | translate}}</th>
                              <th>R</th>
                              <th>B</th>
                              <th>4s</th>
                              <th>6s</th>
                              <th>SR</th>
                            </tr>
                          </thead>
                          <tbody>
                            <tr *ngFor="let batting of item?.teams[0]?.statistics?.batting?.players">
                              <ng-container *ngIf="typeOf(batting.statistics.length) !== 'number'">
                                <td>
                                  <a [routerLink]="['/cricket/player',  (batting?.id | splitID), ((batting?.name | split ) | slugify) ]"
                                    [ngClass]="{'current-batsman': batting?.statistics.length != 0  && !batting?.statistics.dismissal }">
                                    {{batting?.name | split}}{{batting?.statistics?.not_out ? '*' : ''}}
                                  </a>
                                  <p class="batsman-text">
                                    {{
                                      (!batting?.statistics.dismissal && batting.statistics.length != 0) 
                                      ? 
                                        (matchdata.sport_event_status.status == 'closed' || matchdata.sport_event_status.status == 'ended') 
                                        ? "not out"
                                        : (matchdata.sport_event_status.current_inning == item?.number) ? "batting" : "not out"
                                      :
                                      "" 
                                    }}


                                    <!-- {{ (matchdata.sport_event_status.status == 'live' && !batting?.statistics.dismissal && batting.statistics.length != 0) ?  'batting' : ''}}
                                    {{ (matchdata.sport_event_status.status == 'ended' || matchdata.sport_event_status.status == 'closed' ) && !batting?.statistics.dismissal && batting.statistics.length != 0) ?  'not out' : ''}} -->
                                    {{batting?.statistics?.dismissal?.type == 'run_out' ? 'run out' : ''}}
                                    {{batting?.statistics?.dismissal?.type == 'stumped' ? 'st' : ''}}
                                    <!--if batsman is leg before type out-->
                                    {{batting?.statistics?.dismissal?.type == 'leg_before_wicket' ? 'lbw' : ''}}
                                    <!--if batsman is catch out-->
                                    {{ batting?.statistics?.dismissal?.type == 'caught' ? 'c' : '' || batting?.statistics?.dismissal?.type == 'retired_hurt' ? 'retired hurt' : ''}}
                                    {{ batting?.statistics?.dismissal?.type == 'caught' ? batting?.statistics?.dismissal?.fieldsman_id ?
                                    (playerList[batting?.statistics?.dismissal?.fieldsman_id].name) ? 
                                      (playerList[batting?.statistics?.dismissal?.fieldsman_id].name | split) 
                                        : ''  
                                    : (playerList[batting?.statistics?.dismissal?.bowler_id]?.name | split) : ''}}

                                    <!--if batsman is stumped out-->
                                    {{ batting?.statistics?.dismissal?.type == 'stumped' ? batting?.statistics?.dismissal?.fieldsman_id ?
                                    (playerList[batting?.statistics?.dismissal?.fieldsman_id].name) ? 
                                      (playerList[batting?.statistics?.dismissal?.fieldsman_id].name | split) 
                                        : ''  
                                    : (playerList[batting?.statistics?.dismissal?.bowler_id]?.name | split) : ''}}
                                    <!--if batsman is runout-->
                                    {{ batting?.statistics?.dismissal?.type == 'run_out' ? batting?.statistics?.dismissal?.fieldsman_id ?
                                    (playerList[batting?.statistics?.dismissal?.fieldsman_id].name) ? 
                                      (playerList[batting?.statistics?.dismissal?.fieldsman_id].name | split) 
                                        : ''  
                                    : (playerList[batting?.statistics?.dismissal?.bowler_id]?.name | split) : ''}}
                                    {{ batting?.statistics?.dismissal ? batting?.statistics?.dismissal?.type !== 'retired_hurt' ? 'b' : '' : '' }}
                                    {{ batting?.statistics?.dismissal ? batting?.statistics?.dismissal?.type !== 'retired_hurt' ? (playerList[batting?.statistics?.dismissal?.bowler_id]?.name) ? (playerList[batting?.statistics?.dismissal?.bowler_id]?.name | split) : '' : '' : '' }}
                                  </p>
                                </td>
                                <td>{{batting?.statistics?.runs ? batting.statistics.runs : '0'}}</td>
                                <td>{{batting?.statistics?.balls_faced ? batting.statistics.balls_faced : '0'}}</td>
                                <td>{{batting?.statistics?.fours ? batting.statistics.fours : '0'}}</td>
                                <td>{{batting?.statistics?.sixes ? batting.statistics.sixes : '0'}}</td>
                                <td>
                                  {{batting?.statistics?.strike_rate ? (batting.statistics.strike_rate | number:'2.2-2') : '0'}}
                                </td>
                              </ng-container>
                            </tr>
                            <tr>
                              <td>
                                {{'Cricket_Module.Extras' | translate}}<p class="batsman-text">( b -
                                  {{item?.teams[1]?.statistics?.bowling?.byes ? item?.teams[1]?.statistics?.bowling?.byes : '0'}},
                                  w -
                                  {{item?.teams[1]?.statistics?.bowling?.wides ? item?.teams[1]?.statistics?.bowling?.wides : '0'}},
                                  no
                                  -
                                  {{item?.teams[1]?.statistics?.bowling?.no_balls ? item?.teams[1]?.statistics?.bowling?.no_balls : '0'}},
                                  lb -
                                  {{item?.teams[1]?.statistics?.bowling?.leg_byes ? item?.teams[1]?.statistics?.bowling?.leg_byes : '0'}}
                                  )</p>
                              </td>
                              <td>{{item?.teams[1]?.statistics?.bowling?.extras}}</td>
                              <td colspan="4"></td>
                            </tr>
                            <tr>
                              <td>
                                <b>{{'Cricket_Module.Total' | translate}}</b>
                                <p class="batsman-text">({{item?.teams[0]?.statistics?.batting?.run_rate}}
                                  {{'Cricket_Module.runs_per_over' | translate}})</p>
                              </td>
                              <td>
                                <b>{{item?.teams[1]?.statistics?.bowling?.extras > 0 ? item?.teams[0]?.statistics?.batting?.runs + item?.teams[1]?.statistics?.bowling?.extras : item?.teams[0]?.statistics?.batting?.runs}}</b>
                              </td>
                              <td colspan="4"></td>
                            </tr>
                            <tr *ngIf="checkYetBat(item?.teams[0]?.statistics?.batting?.players)">
                              <td colspan="6">
                                <b>
                                  {{matchdata.sport_event_status.status == 'live' ? ('Cricket_Module2.Yet' | translate) : ('Cricket_Module2.Did' | translate)}}
                                  {{matchdata.sport_event_status.status == 'live' ? ('Cricket_Module2.to' | translate) : ('Cricket_Module2.not' | translate)}}
                                  {{ 'Cricket_Module2.bat' | translate }} : </b>
                                <span class="batsman-text not-bat-text">
                                  <ng-container *ngFor="let notBat of item?.teams[0]?.statistics?.batting?.players">
                                    <ng-container *ngIf="notBat && notBat.statistics.length === 0">
                                      {{notBat?.name | split}}<span>,</span>
                                    </ng-container>
                                  </ng-container>
                                </span>
                              </td>
                            </tr>
                          </tbody>
                        </table>
                      </div>
                    </div>
                    <!--Score card tab end-->
                    <!--Fall of wickets section starts-->
                    <div class="common-table common-shadow rounded-box"
                      *ngIf="matchdata.sport_event.tournament.type != 'first_class' && fallofWickets[item.number]">
                      <div class="table-title" *ngIf="fallofWickets.length > 0">
                        <h6 class="text-uppercase">{{'Cricket_Module.Fall_of_Wickets' | translate}}</h6>
                      </div>
                      <ul class="fall-wicket-list" *ngIf="fallofWickets.length > 0">
                        <li *ngFor="let item of fallofWickets[item.number]">
                          <p class="fall-wicket">{{item.displayscore}}</p>
                          <p class="title">
                            <a
                              [routerLink]="['/cricket/player', (item.playerid | splitID), ((item.playername | split ) | slugify) ]">{{item.playername | split}}</a>
                          </p>
                          <p>{{item.displayover}} OV</p>
                        </li>
                      </ul>
                    </div>
                    <!--Fall of wickets section ends-->


                    <div class="common-table bowler-table tour-stats-table common-shadow rounded-box"
                      *ngIf="item?.teams[1]?.statistics?.bowling?.players.length > 0">
                      <div class="table-responsive">
                        <table class="table">
                          <thead>
                            <tr>
                              <th>{{'Cricket_Module.Bowler' | translate}}</th>
                              <th>Ov</th>
                              <th>M</th>
                              <th>DB</th>
                              <th>R</th>
                              <th>W</th>
                              <th>ECO</th>
                            </tr>
                          </thead>
                          <tbody>
                            <tr *ngFor="let bowling of item?.teams[1]?.statistics?.bowling?.players">
                              <td><a
                                  [routerLink]="['/cricket/player', (bowling.id | splitID), ((bowling.name | split ) | slugify) ]">{{bowling?.name | split}}</a>
                              </td>
                              <td>{{bowling?.statistics?.overs_bowled ? bowling?.statistics.overs_bowled : '0'}}</td>
                              <td>{{bowling?.statistics?.maidens ? bowling?.statistics.maidens : '0'}}</td>
                              <td>{{bowling?.statistics?.dot_balls ? bowling?.statistics.dot_balls : '0'}}</td>
                              <td>{{bowling?.statistics?.runs_conceded ? bowling?.statistics.runs_conceded : '0'}}</td>
                              <td>{{bowling?.statistics?.wickets ? bowling?.statistics.wickets : '0'}}</td>
                              <td>
                                {{bowling?.statistics?.economy_rate ? (bowling?.statistics.economy_rate | number:'1.2-2') : '0.00'}}
                              </td>
                            </tr>
                          </tbody>
                        </table>
                      </div>
                    </div>
                  </ng-template>
                </ngb-tab>
              </ngb-tabset>
            </ng-template>
          </ngb-tab>
          <!-- END - SCORECARDS-->
          <!--START - LIVE MATCH TRACKER-->
          <ngb-tab>
            <ng-template ngbTabTitle>
              <div>{{'Cricket_Module.Hawk_Eye' | translate}}</div>
            </ng-template>
            <ng-template ngbTabContent>
              <app-live-match-tracker [matchid]="matchid" *ngIf="matchid">
              </app-live-match-tracker>
            </ng-template>
          </ngb-tab>
          <!--END - LIVE MATCH TRACKER-->
          <!-- START - FACTS AND FIGURES-->
          <ngb-tab>
            <ng-template ngbTabTitle>
              <div>{{'Cricket_Module.Facts_and_Figures' | translate}}</div>
            </ng-template>
            <ng-template ngbTabContent>
              <app-match-facts-figures [matchdata]="matchdata" [teamLastmatch]="lastmatches"
                [teamMatchResult]="lastmatches"></app-match-facts-figures>
            </ng-template>
          </ngb-tab>
          <!-- END - FACTS AND FIGURES-->
          <!-- Match information starts -->
          <ngb-tab *ngIf="tossdecision.toss_won_by_team">
            <ng-template ngbTabTitle>
              <div>{{'Cricket_Module.Info' | translate}}</div>
            </ng-template>
            <ng-template ngbTabContent>
              <app-match-info-card [options]="{
                sport:'cricket',
                titles : [('Cricket_Module.Match' | translate),('Cricket_Module.Series' | translate),('Cricket_Module.Toss' | translate),('Cricket_Module.Weather_Condition' | translate),('Cricket_Module.Pitch_Condition' | translate),('Cricket_Module.Outfield_Conditions' | translate),('Cricket_Module.Umpires' | translate),('Cricket_Module.Match_Refree' | translate)],
                values : [
                matchdata.sport_event.competitors[0].name + ' ' +  'VS'  + ' ' + matchdata.sport_event.competitors[1].name,
                matchdata.sport_event.season ? matchdata.sport_event.season.name : matchdata.sport_event.tournament.name,
                tossdecision.toss_won_by_team + ' ' +('widgetModule.opt_to' | translate) + ' ' + (tossdecision.toss_decision ? tossdecision.toss_decision : 'bat'),
                (matchdata.sport_event_conditions.weather_info.weather_conditions | stringunder),
                (matchdata.sport_event_conditions.pitch_info.pitch_conditions | stringunder),
                (matchdata.sport_event_conditions?.outfield_info?.outfield_conditions | stringunder),                
                matchdata.sport_event_conditions.referees.umpires,
                (matchdata.sport_event_conditions?.referees?.referee?.name | split)
                ] }
                " [data]="matchdata" *ngIf="matchdata"></app-match-info-card>
              <ng-container *ngIf="playerList && objectKeys(playerList).length > 0">
                <div *ngFor="let team of objectKeys(competitor)">
                  <div class="d-flex match-info-title align-items-center">
                    <img class="common-shadow" [lazyLoad]="competitor[team].id | logosurl"
                      [defaultImage]="commonService.flagplaceholder">
                    <h4>
                      <a
                        [routerLink]="['/cricket/player', (competitor[team].id | splitID), ((competitor[team].name | split ) | slugify) ]">
                        {{competitor[team].name | split}}
                      </a>
                    </h4>
                  </div>
                  <div class="common-table team-lineup d-flex common-shadow rounded-box">
                    <ng-container *ngFor="let key of objectKeys(playerList)">
                      <div *ngIf="playerList[key].team_type === team">
                        <a
                          [routerLink]="['/cricket/player', (playerList[key].id | splitID), ((playerList[key].name | split ) | slugify) ]">
                          {{playerList[key].name | split}}
                        </a>
                      </div>
                    </ng-container>
                  </div>
                </div>

              </ng-container>
            </ng-template>
          </ngb-tab>

          <!--START - NEWS TAB-->
          <ngb-tab>
            <ng-template ngbTabTitle>{{'Cricket_Module.News' | translate}}</ng-template>
            <ng-template ngbTabContent>
              <app-blog-list *ngIf="paramArticle" [options]="paramArticle">
              </app-blog-list>
            </ng-template>
          </ngb-tab>
          <!--END - NEWS TAB-->

          <!--START - UPCOMING-->
          <ngb-tab>
            <ng-template ngbTabTitle>{{'Cricket_Module.Upcoming' | translate}}</ng-template>
            <ng-template ngbTabContent>
              <app-loader *ngIf="!nextmatches"></app-loader>
              <app-no-data-widget *ngIf="nextmatches?.length == 0"></app-no-data-widget>
              <app-schedule [data]="nextmatches" [type]="'fixture'" [sport]="'Cricket'"></app-schedule>
            </ng-template>
          </ngb-tab>
          <!--END - UPCOMING-->

        </ngb-tabset>
        <!-- END - MATCH TABS-->
      </div>
      <div class="sidebar-col">
        <div class="sticky-sidebar">

          <!--START - SIDERBAR ADS-->
          <app-custom-ads-widget [type]="'Banner'"></app-custom-ads-widget>
          <!--END - SIDERBAR ADS-->

          <!--START - SIDERBAR STORY-->
          <app-sidebar-links [sport]="'Cricket'" [link_type]="'tournament'"
            [options]="{type: 'current', title:('Cricket_Module.Recommended_Links' | translate)}"></app-sidebar-links>
          <!--START - SIDERBAR STORY-->

          <app-custom-ads-widget [type]="'Rectangle'"></app-custom-ads-widget>
        </div>
      </div>
    </div>
  </div>
  <div id="scoreline-block" class="scoreline-block d-flex justify-content-between"
    *ngIf="matchdata && matchdata.sport_event_status.status == 'live'">
    <div class="item" *ngIf="batsmanList && batsmanList.length > 0">
      <p *ngFor="let batsman of batsmanList; let i = index;">
        {{batsman.name | split}} {{i == 0 ? "*" : ""}}
        <span>{{batsman.statistics && batsman.statistics.runs ? batsman.statistics.runs : 0}}
          <span
            class="light-white">({{batsman.statistics && batsman.statistics.balls_faced ? batsman.statistics.balls_faced : 0}})</span>
        </span>
      </p>
    </div>
    <div class="score">
      <span class="dark-red">
        {{oppoTeam[0].abbreviation}}
      </span>
      <span>vs</span>
      {{currentTeam[0].abbreviation}}
      <span class="value"> {{matchdata.sport_event_status.display_score | cricketScore}}</span>
      <span class="dark-red">OV : </span> {{matchdata.sport_event_status.display_overs}}
    </div>
    <div class="item" *ngIf="ballerList && ballerList.length > 0">
      <p>{{ballerList[0].name | split}}
        <span>
          {{ballerList[0].statistics && ballerList[0].statistics.wickets ? ballerList[0].statistics.wickets : 0}}
          -
          {{ballerList[0].statistics && ballerList[0].statistics.runs_conceded ? ballerList[0].statistics.runs_conceded : 0}}
          <span class="light-white">
            ({{ballerList[0].statistics && ballerList[0].statistics.overs_bowled ? ballerList[0].statistics.overs_bowled : 0}})
          </span>
        </span>
      </p>
      <p *ngIf="matchdata.sport_event_status.current_inning == 2">
        <span class="light-white target">{{'Cricket_Module.Target' | translate}}</span>
        <span>{{matchdata.sport_event_status.target}}</span>
      </p>
    </div>
  </div>
  <!-- <div id="scoreline-block" class="scoreline-block d-flex justify-content-between" >
    <div class="item">
      <p >
       sadasdasd
        <span>12
          <span
            class="light-white">12</span>
        </span>
      </p>
    </div>
    <div class="score">
      <span class="dark-red">
        SA
      </span>
      <span>vs</span>
        IND
      <span class="value"> 12</span>
      <span class="dark-red">OV : </span> 2
    </div>
    <div class="item" *ngIf="ballerList && ballerList.length > 0">
      <p>{{ballerList[0].name | split}}
        <span> 
          {{ballerList[0].statistics && ballerList[0].statistics.wickets ? ballerList[0].statistics.wickets : 0}}
          -
          {{ballerList[0].statistics && ballerList[0].statistics.runs_conceded ? ballerList[0].statistics.runs_conceded : 0}}
          <span class="light-white">
            ({{ballerList[0].statistics && ballerList[0].statistics.overs_bowled ? ballerList[0].statistics.overs_bowled : 0}})
          </span>
        </span>
      </p>
      <p *ngIf="matchdata.sport_event_status.current_inning">
        <span class="light-white target">Target</span> 
        <span>{{matchdata.sport_event_status.target}}</span>
      </p>
    </div>
  </div> -->
</section>