.match-tabs                                     { position: relative;}
/* -------- Scorecard Section ------- */
.common-table                                   { margin-bottom: 24px;}
.common-table:last-child                        { margin-bottom: 0px;}
.batsman-table.common-table .table tr th:first-child,
.batsman-table.common-table .table tr td:first-child     { width: 40%; text-align: left; }
.batsman-text                                   { margin: 4px 0px 0px; font-size: 14px; line-height: 18px; color: #7A7A7A; }
.batsman-table.common-table .table td           { width: 8%; vertical-align: middle; }
.bowler-table td .current-bowler,
.batsman-table td .current-batsman              { font-weight: 500; }
.batsman-table td .not-bat-text                 { white-space: normal;}
.batsman-table td .not-bat-text span:last-child { display: none; }
.fall-wicket-list                               { margin: 24px 0px 0px; text-align: center; }
.fall-wicket-list li                            { margin: 0px 12px 24px; display: inline-block; width: 70px; vertical-align: top; cursor: pointer;  }
.fall-wicket-list .fall-wicket                  { margin-bottom: 8px; padding: 17px 4px; display: inline-block; min-width: 58px; line-height: 20px; color: #4A4A4A; font-weight: 700; border: 2px solid #ECECEC; border-radius: 14px; transition: all 0.3s ease-in-out; -webkit-transition: all 0.3s ease-in-out; }
.fall-wicket-list li:hover .fall-wicket         { border-color: #ED1A33; }
.fall-wicket-list p                             { margin: 0px; font-size: 14px; line-height: 18px; color: #7A7A7A; font-weight: 500; word-wrap: break-word; }
.fall-wicket-list li .title                     { margin-bottom: 4px; font-weight: 600; font-weight: 600; transition: all 0.3s ease-in-out; -webkit-transition: all 0.3s ease-in-out;}
.fall-wicket-list li:hover .title               { color: #292929;}
.fall-wicket-list li .title a:hover             { color: #ED1A33;}
.bowler-table.common-table .table th                    { text-transform: uppercase; }
.bowler-table.common-table .table td                    { width: 8%; }
.bowler-table.common-table .table tr th:first-child,
.bowler-table.common-table .table tr td:first-child     { width: 40%; text-align: left; }

/* -------- Match Information Section ------- */
.match-info-table tr td                 { width: 50%; padding-left: 16px; text-align: left; }
.match-info-table tr td:first-child     { width: 20%; font-weight: 600; text-transform: uppercase; }
.match-info-table tr td:last-child      { border-left: 1px solid #EBEBEB; }
.match-info-table tr td p               { margin-bottom: 8px;}
.match-info-table tr td p:last-child    { margin-bottom: 0px;}
.match-info-title                       { margin: 32px 0px 16px; }
.match-info-title img                   { margin-right: 8px; height: 40px; border-radius: 2px; }
.match-info-title h4                    { margin: 0px; }
.team-lineup                            { flex-wrap: wrap; -webkit-flex-wrap: wrap; }
.team-lineup > div                      { width: 50%; padding: 13px 10px 12px 16px; line-height: 20px; border: 1px solid #EBEBEB; border-top: 0; border-left: 0;  }

/* -------- Match Scoreline Section ------- */
.scoreline-block                        { position: fixed; padding: 15px 0px; width: 100%; bottom: 0px; left: 0px; font-size: 20px; line-height: 30px; color: #fff; font-weight: 500; text-align: center; z-index: 1;}
.scoreline-block:before                 { content: ""; display: block; position: absolute; left: 50%; bottom: -11px; width: calc(100% - 40px); height: calc(100% + 20px); border-radius: 24px 24px 0px 0px; background: #22336F; transform: translateX(-50%) perspective(1200px) rotateX(45deg) rotate(0deg); -webkit-transform: translateX(-50%) perspective(1200px) rotateX(45deg) rotate(0deg); z-index: -1;}
.scoreline-block p                      { margin: 0px; }
.scoreline-block .item                  { width: calc(50% - 210px); }
.scoreline-block .item p                { margin-right: 92px; display: inline-block; }
.scoreline-block .item p:last-child     { margin-right: 0px;}
.scoreline-block .item p > span         { margin-left: 36px; }
.scoreline-block .item:last-child p     { margin: 0px 0px 0px 12px;}
.scoreline-block .item:last-child       { text-align: left; }
.scoreline-block .item p .target        { margin-left: 12px; padding-left: 24px; position: relative;}
.scoreline-block .target:before         { content: ""; display: block; position: absolute; left: 0px; top: 50%; height: 100%; width: 3px; transform: translateY(-50%); background: #fff; vertical-align: middle; margin-right: 24px; }
.scoreline-block .score                 { padding: 18px 32px; position: absolute; bottom: 0px; left: 50%; transform: translateX(-50%); -webkit-transform: translateX(-50%); font-size: 22px; line-height: 32px; text-transform: uppercase; }
.scoreline-block .score:before          { content: ""; display: block; position: absolute; left: 50%; bottom:-11px; width: calc(100% - 10px); height: calc(100% + 28px); border-radius: 24px 24px 0px 0px; background: #ED1A33; transform: translateX(-50%) perspective(400px) rotateX(45deg) rotate(0deg); -webkit-transform: translateX(-50%) perspective(400px) rotateX(45deg) rotate(0deg); z-index: -1;}
.scoreline-block .score .value          { margin: 0px 20px;}
.scoreline-block .dark-red              { color: #930C1C; }
.scoreline-block .light-white           { opacity: 0.62; }

/***** Responsive CSS Start ******/

@media (min-width: 1500px) and (max-width: 1699px) {
/* -------- Match Scoreline Section ------- */
    .scoreline-block                        { padding: 12px 0px; font-size: 18px; line-height: 28px; }
    .scoreline-block .item                  { width: calc(50% - 168px); }
    .scoreline-block .item p > span         { margin-left: 24px; }
    .scoreline-block .score                 { padding: 14px 28px; font-size: 20px; line-height: 30px; }
    .scoreline-block .score .value          { margin: 0px 10px;}
}
@media (min-width: 1380px) and (max-width: 1499px) {
/* -------- Match Scoreline Section ------- */
    .scoreline-block                        { padding: 11px 0px; font-size: 17px; line-height: 27px; }
    .scoreline-block .item                  { width: calc(50% - 158px); }
    .scoreline-block .item p > span         { margin-left: 14px; }
    .scoreline-block .score                 { padding: 13px 24px; font-size: 19px; line-height: 28px; }
    .scoreline-block .score .value          { margin: 0px 8px;}
}
@media (min-width: 1200px) and (max-width: 1379px) {
/* -------- Match Scoreline Section ------- */
    .scoreline-block:before                 { width: calc(100% - 24px); }
    .scoreline-block                        { padding: 8px 0px; font-size: 14px; line-height: 22px; }
    .scoreline-block .item                  { width: calc(50% - 148px); }
    .scoreline-block .item p > span         { margin-left: 12px; }
    .scoreline-block .score                 { padding: 10px 20px; font-size: 17px; line-height: 27px; }
    .scoreline-block .score .value          { margin: 0px 8px;}
}
@media (min-width: 992px) and (max-width: 1199px) {
/* -------- Match Scoreline Section ------- */
    .scoreline-block:before                 { width: calc(100% - 18px); }
    .scoreline-block                        { padding: 8px 0px; font-size: 14px; line-height: 22px; }
    .scoreline-block .item                  { width: calc(50% - 136px); }
    .scoreline-block .item p                { margin-right: 48px;}
    .scoreline-block .item p > span         { margin-left: 8px; }
    .scoreline-block .score                 { padding: 10px 16px; font-size: 16px; line-height: 26px; }
    .scoreline-block .score .value          { margin: 0px 6px;}

}
@media (max-width: 1199px) {
/* -------- Scorecard Section ------- */
    .batsman-text                               { margin: 3px 0px 0px; font-size: 12px; line-height: 16px;}
/* -------- Match Information Section ------- */
    .team-lineup > div                     { padding: 10px 10px 10px 12px; line-height: 18px; }
}
@media (min-width: 768px) and (max-width: 991px) {
/* -------- Match Scoreline Section ------- */
    .scoreline-block:before                 { width: calc(100% - 14px); }
    .scoreline-block                        { padding: 8px 0px; font-size: 12px; line-height: 21px; }
    .scoreline-block .item                  { width: calc(50% - 100px); }
    .scoreline-block .item p                { margin-right: 24px;}
    .scoreline-block .item p > span         { margin-left: 6px; }
    .scoreline-block .item:last-child p     { margin: 0px 0px 0px 6px; }
    .scoreline-block .item p .target        { margin-left: 6px; padding-left: 10px;}
    .scoreline-block .item p .target:before { width: 2px; }
    .scoreline-block .score                 { padding: 8px 16px; font-size: 13px; line-height: 24px; }
    .scoreline-block .score .value          { margin: 0px 6px;}
}

@media (max-width: 767px) {
/* -------- Scorecard Section ------- */
    .batsman-text                           { font-size: 11px; line-height: 14px;}
    .fall-wicket-list li                    { margin: 0px 6px 16px; width: 70px; }
    .fall-wicket-list .fall-wicket          { padding: 14px 4px; min-width: 52px; line-height: 20px; border-radius: 14px; }
    .fall-wicket-list p                     { font-size: 12px; line-height: 18px; }
/* -------- Match Information Section ------- */
    .team-lineup > div                      { padding: 8px 10px 8px 12px; line-height: 16px; }
/* -------- Match Scoreline Section ------- */
    .scoreline-block:before                 { width: calc(100% - 4px); }
    .scoreline-block                        { padding: 8px 0px; height: 20px; }
    .scoreline-block .item                  { display: none; }
    .scoreline-block .score                 { padding: 6px 40px; font-size: 13px; line-height: 20px; }
    .scoreline-block .score::before         { height: calc(100% + 22px); }
    .scoreline-block .score .value          { margin: 0px 12px;}
}

@media (max-width: 575px) {
/* -------- Match Title List ------- */
    .match-main-title .player-pic               { width: 66px; }
/* -------- Match Scoreline Section ------- */
    .scoreline-block .score                 { padding: 6px 20px; width: 60%; min-width: 240px; }
    .scoreline-block .score .value          { margin: 0px 6px;}
}