.match-counter                                  { text-align: center; }
.match-counter p                                { font-size: 18px; line-height: 23px; color: rgba(41,41,41,0.5); }
.match-counter-block                            { margin: 0px auto 24px; width: 254px; height: 254px; border: 8px solid #D8D8D8; border-radius: 50%; text-align: center;  }
.match-counter-block p                          { margin: 0px; }
.match-counter-block span                       { display: block; }
.match-counter-block p .time-num                { font-size: 48px; line-height: 62px; color: #292929; font-weight: 700; font-family: 'IBM Plex Sans Condensed', sans-serif;}
.match-counter-block p .time-unit               { padding-right: 12px;}
.match-counter-block p:last-child .time-unit    { padding-right: 0px;}

@media (max-width: 767px) {
    .match-counter p                            { font-size: 16px; line-height: 20px;  }
    .match-counter-block                        { width: 220px; height: 220px; border-width: 6px;  }
    .match-counter-block p .time-num            { font-size: 40px; line-height: 54px; }
    .match-counter-block p .time-unit           { padding-right: 10px;}
    .match-main-title .current-match            { flex-direction: column; -webkit-flex-direction: column; }
}