<h4 class="line-title">{{ 'Cricket_Module.Win_Probability' | translate}}</h4>
<div class="probability-section rounded-box common-shadow" *ngIf="options.probability?.length > 0">
  <div class="probability-block d-flex align-items-center justify-content-between">

    <ng-template #teamBlock let-team1="team1" let-team2="team2">
      <div class="team-block">
        <img class="team-flag" [lazyLoad]="team1.id | logosurl" [defaultImage]="commonService.flagplaceholder"
          [offset]="commonService.lazyloadoffset" alt="{{team1.probability}}%">
        <h3>{{team1.probability}}%</h3>
      </div>
      <div class="team-block">
        <img class="team-flag" [lazyLoad]="team2.id | logosurl" [defaultImage]="commonService.flagplaceholder"
          [offset]="commonService.lazyloadoffset" alt="{{team2.probability}}%">
        <h3>{{team2.probability}}%</h3>
      </div>
    </ng-template>

    <ng-container *ngIf="options.probability[0].probability >= options.probability[1].probability">
      <ng-container *ngTemplateOutlet="teamBlock;context:{ team1:options.probability[0], team2:options.probability[1]}">
      </ng-container>
    </ng-container>

    <ng-container *ngIf="options.probability[1].probability > options.probability[0].probability">
      <ng-container *ngTemplateOutlet="teamBlock;context:{ team1:options.probability[1], team2:options.probability[0]}">
      </ng-container>
    </ng-container>

  </div>
  <div class="team-probability-outer d-flex justify-content-between">
    <div class="team-probability" [style.width]="options.stylePer">
      <div class="probability-fill"></div>
    </div>
    <!-- <div class="team-probability" style="width: 10%;">
        <div class="probability-fill"></div>
      </div> -->
  </div>
</div>