.team-about-head .team-logo                 { width: 208px; padding: 14px; background: #fff; }
.team-about-head .team-logo img             { width: 100%; }
.team-about-head .team-info                 { margin-left: 24px; padding: 32px; background: #fff; flex-grow: 1; -webkit-flex-grow: 1; }
.team-about-head .team-info h5              { margin-bottom: 32px; font-weight: 500; font-family: 'IBM Plex Sans', sans-serif;}
.team-about-head .team-info h5:last-child   { margin-bottom: 0px; }
.team-about-head .title                     { margin-right: 8px; font-weight: 400; }
.team-about-head .match-result              { margin: 0px; display: inline-block; }
.team-about-head .match-result li           { margin-right: 8px; display: inline-block; width: 24px; height: 24px; background: #292929; font-size: 14px; line-height: 24px; font-weight: 600; color: #fff; border-radius: 50%; text-transform: uppercase; text-align: center; }
.team-about-head .match-result li.win       { background: #ED1A33; }

/* -------- Squad List ------- */
h4                              { margin-bottom: 24px; }
.squad-item                     { margin-bottom: 24px; height: 340px; background: #fff; overflow: hidden; cursor: pointer; }
.squad-item .item-desc          { padding: 16px; background: #fff; text-align: center; transition: all 0.3s ease-in-out; -webkit-transition: all 0.3s ease-in-out; }
.squad-item:hover .item-desc    { transform: translateY(-64px); -webkit-transform: translateY(-64px); }
.squad-item p                   { margin-bottom: 16px; line-height: 20px; font-weight: 500; }
.squad-item p span              { display: block; font-size: 12px; line-height: 18px; }

/***** Responsive CSS Start ******/
@media (min-width: 1200px) and (max-width: 1379px) {
    .team-about-head .team-logo         { width: 190px; }
    .team-about-head .team-info         { padding: 28px;}
    .team-about-head .team-info h5      { margin-bottom: 28px;}
/* -------- Squad List ------- */
    .squad-item                         { margin-bottom: 24px; height: 270px; background: #fff; overflow: hidden; cursor: pointer; }
    .squad-item .item-desc              { padding: 12px 2px; }
    .squad-item:hover .item-desc        { transform: translateY(-64px); -webkit-transform: translateY(-64px); }
    .squad-item .theme-btn              { font-size: 14px; }
}

@media (min-width: 992px) and (max-width: 1199px) {
    .team-about-head .team-logo         { width: 180px; padding: 12px;}
    .team-about-head .team-info         { padding: 24px;}
    .team-about-head .team-info h5      { margin-bottom: 24px;}
/* -------- Squad List ------- */
    .squad-item                         { margin-bottom: 24px; height: 270px; background: #fff; overflow: hidden; cursor: pointer; }
    .squad-item .item-desc              { padding: 12px 2px; }
    .squad-item:hover .item-desc        { transform: translateY(-64px); -webkit-transform: translateY(-64px); }
    .squad-item .theme-btn              { font-size: 14px; }  
}