<section class="common-section cricket-recentnews recentnews-section">
  <div class="container">
    <div class="row sidebar-row">
      <div class="content-col">
        <div class="common-title-btn big-title-btn tab-title-btn d-flex justify-content-between align-items-center">
          <h1>INDIA</h1>
          <button class="add-to-fav-btn added"><span>Add to favorites</span></button>
        </div>
        <ngb-tabset class="common-tabs">
          <ngb-tab>
            <ng-template ngbTabTitle>About</ng-template>
            <ng-template ngbTabContent>
              About
            </ng-template>
          </ngb-tab>
          <ngb-tab>
            <ng-template ngbTabTitle>
              <div (click)="getarticles()">News</div>
            </ng-template>
            <ng-template ngbTabContent>
              <app-common-news-list [type]="commonnewstype" [reqparams]="commonnewsparams" *ngIf="commonnewsparams">
              </app-common-news-list>
            </ng-template>
          </ngb-tab>
          <ngb-tab>
            <ng-template ngbTabTitle><div (click)="getTeamFixtures()">Fixtures</div></ng-template>
            <ng-template ngbTabContent>
              <div class="schedule-list schedule-tour-list">
                <div class="schedule-month d-flex" *ngFor="let item of fixturesdata" >
                  <div class="month-title">
                    <div class="sticky-month">
                      <h5>{{item.day}}</h5>
                    </div>
                  </div>
                  <div class="schedule-items">
                    <div class="schedule-item d-flex align-items-center rounded-box common-shadow" *ngFor="let item of item.data" (click)="matchDetail(item.id,item.competitors[0].name,item.competitors[1].name)">
                      <div class="match-desc">
                        <!-- <h6>Match 2</h6> -->
                        <p class="stadium-nm" *ngIf="item.venue_name">{{item.venue_name}}, {{item.city_name}}</p>
                        <p class="time-line">{{item.scheduled | date:'h:mm a'}}</p>
                      </div>
                      <div class="match-teams d-flex align-items-center">
                        <div class="match-team d-flex align-items-center">
                          <div class="team-info">
                            <h5>{{item.competitors[0].abbreviation}}</h5>
                          </div>
                          <img class="team-flag" src="../../../../../assets/images/flag-wi.svg" alt="team-flag">
                        </div>
                        <div class="vs-block">
                          <h6>vs</h6>
                        </div>
                        <div class="match-team d-flex align-items-center">
                          <img class="team-flag" src="../../../../../assets/images/flag-ind.svg" alt="team-flag">
                          <div class="team-info">
                            <h5>{{item.competitors[1].abbreviation}}</h5>
                          </div>
                        </div>
                      </div>
                      <a class="details-btn" (click)="matchDetail(item.id,item.competitors[0].name,item.competitors[1].name)"><span>Details</span></a>
                    </div>
                  </div>
                </div>
            
              </div>
            </ng-template>
          </ngb-tab>
        </ngb-tabset>
      </div>
      <div class="sidebar-col">
        <div class="sticky-sidebar">
          <div class="ad-block"><img src="../../../assets/images/ad-320-80.jpg" alt="AD"></div>
          <div class="ad-block"><img src="../../../assets/images/ad-320-267.jpg" alt="AD"></div>
          <div class="common-stories-widget common-shadow rounded-box">
            <h5>Teams</h5>
            <ul class="common-list">
              <li><a>West Indies</a></li>
              <li><a>Bangladesh</a></li>
              <li><a>Pakistan</a></li>
              <li><a>Bangladesh</a></li>
              <li><a>Bangladesh</a></li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
