.team-about-head                            { margin-bottom: 48px; }
.team-about-head .team-logo                 { width: 208px; padding: 14px; background: #fff; }
.team-about-head .team-logo img             { width: 100%; }
.team-about-head .team-info                 { margin-left: 24px; padding: 32px; background: #fff; flex-grow: 1; -webkit-flex-grow: 1; }
.team-about-head .team-info h5              { margin-bottom: 32px; font-weight: 500; font-family: 'IBM Plex Sans', sans-serif;}
.team-about-head .team-info h5:last-child   { margin-bottom: 0px; }
.team-about-head .title                     { margin-right: 8px; font-weight: 400; }
.team-about-head .match-result              { margin: 0px; display: inline-block; }
.team-about-head .match-result li           { margin-right: 8px; display: inline-block; width: 24px; height: 24px; background: #292929; font-size: 14px; line-height: 24px; font-weight: 600; color: #fff; border-radius: 50%; text-transform: uppercase; text-align: center; }
.team-about-head .match-result li.win       { background: #ED1A33; }
/***** Responsive CSS Start ******/