<ng-container *ngIf="options.sport == 'Cricket'">
  <div class="sub-navabar" id="sub-navabar" *ngIf="options.type == 'home'">
    <div class="sub-navabar-inner d-flex">
      <a class="submenu-back" [routerLink]="['/cricket']">{{ 'Header_menu.Cricket' | translate }}</a>
      <div class="sub-navbar-container" id="sub-navbar-nav">
        <ul #subnavbarmenu class="subnavbarmenu d-flex">
          <li><a [routerLink]="['/cricket']" routerLinkActive="active"
              [routerLinkActiveOptions]="{exact: true}">{{ 'widgetModule.Home' | translate }}</a>
          </li>
          <li><a [routerLink]="['/cricket/fixtures']"
              routerLinkActive="active">{{ 'widgetModule.Fixtures' | translate }}</a></li>
          <li ngbDropdown *ngIf="series && series.length > 0">
            <a id="dropdownBasic1" ngbDropdownToggle>{{ 'widgetModule.Series' | translate }}</a>
            <ul ngbDropdownMenu aria-labelledby="dropdownBasic1" [ngClass]="{'double-menu' : series.length > 4}">
              <li ngbDropdownItem *ngFor="let item of series | slice:0:8"><a
                  [routerLink]="['/cricket/tournament',(item.id | splitID),(item.name | slugify)]">{{item.name}}</a>
              </li>
            </ul>
          </li>
          <!-- <li><a class="special-nav-item" [routerLink]="['/cricket/tournament/2474/world-cup']">World
              Cup 2019</a></li> -->
        </ul>
        <div id="subnav-pointer" #subnavpointer></div>
      </div>
      <div class="clearfix"></div>
    </div>
  </div>

  <div class="sub-navabar" id="sub-navabar" *ngIf="options.type == 'tournament'">
    <div class="sub-navabar-inner d-flex">
      <a class="submenu-back" [routerLink]="['./']">{{name}}</a>
      <div class="sub-navbar-container" id="sub-navbar-nav">
        <ul #subnavbarmenu class="subnavbarmenu d-flex">
          <li><a [routerLink]="['./']" routerLinkActive="active"
              [routerLinkActiveOptions]="{exact: true}">{{ 'widgetModule.Home' | translate }}</a></li>
          <li><a [routerLink]="['./fixtures']" routerLinkActive="active">{{ 'widgetModule.Fixtures' | translate }}</a>
          </li>
          <li><a [routerLink]="['./teams']" routerLinkActive="active">{{ 'widgetModule.Teams' | translate }}</a></li>
          <li><a [routerLink]="['./stats']" routerLinkActive="active">{{ 'widgetModule.Stats' | translate }}</a></li>
          <li><a [routerLink]="['./standings']" routerLinkActive="active">{{ 'widgetModule.Standings' | translate }}</a>
          </li>
        </ul>
        <div id="subnav-pointer" #subnavpointer></div>
      </div>
      <div class="clearfix"></div>
    </div>
  </div>
</ng-container>

<ng-container *ngIf="options.sport == 'Kabaddi'">
  <div class="sub-navabar" id="sub-navabar" *ngIf="options.type == 'home'">
    <div class="sub-navabar-inner d-flex">
      <a class="submenu-back" [routerLink]="['./']">Pro Kabaddi League</a>
      <div class="sub-navbar-container" id="sub-navbar-nav">
        <ul #subnavbarmenu class="subnavbarmenu d-flex">
          <li><a [routerLink]="['./']" routerLinkActive="active"
              [routerLinkActiveOptions]="{exact: true}">{{ 'widgetModule.Home' | translate }}</a></li>
          <li><a [routerLink]="['./fixtures']" routerLinkActive="active">{{ 'widgetModule.Fixtures' | translate }}</a>
          </li>
          <li><a [routerLink]="['./teams']" routerLinkActive="active">{{ 'widgetModule.Teams' | translate }}</a></li>
          <li><a [routerLink]="['./stats']" routerLinkActive="active">{{ 'widgetModule.Stats' | translate }}</a></li>
          <li><a [routerLink]="['./table']" routerLinkActive="active">{{ 'widgetModule.Table' | translate }}</a></li>
        </ul>
        <div id="subnav-pointer" #subnavpointer></div>
      </div>
      <div class="clearfix"></div>
    </div>
  </div>
</ng-container>

<ng-container *ngIf="options.sport == 'Soccer'">
  <div class="sub-navabar" id="sub-navabar" *ngIf="options.type == 'home'">
    <div class="sub-navabar-inner d-flex">
      <a class="submenu-back" [routerLink]="['/soccer']">{{ 'Header_menu.Soccer' | translate }}</a>
      <div class="sub-navbar-container" id="sub-navbar-nav">
        <ul #subnavbarmenu class="subnavbarmenu d-flex">
          <li><a [routerLink]="['/soccer']" routerLinkActive="active"
              [routerLinkActiveOptions]="{exact: true}">{{ 'widgetModule.Home' | translate }}</a>
          </li>
          <li><a [routerLink]="['/soccer/fixtures']"
              routerLinkActive="active">{{ 'widgetModule.Fixtures' | translate }}</a></li>
          <li><a [routerLink]="['/soccer/tournaments']" routerLinkActive="active">{{ 'Tournaments' | translate }}</a>
          </li>
        </ul>
        <div id="subnav-pointer" #subnavpointer></div>
      </div>
      <div class="clearfix"></div>
    </div>
  </div>

  <div class="sub-navabar" id="sub-navabar" *ngIf="options.type == 'tournament'">
    <div class="sub-navabar-inner d-flex">
      <a class="submenu-back" [routerLink]="['./']">{{name}}</a>
      <div class="sub-navbar-container" id="sub-navbar-nav">
        <ul #subnavbarmenu class="subnavbarmenu d-flex">
          <li><a [routerLink]="['./']" routerLinkActive="active"
              [routerLinkActiveOptions]="{exact: true}">{{ 'widgetModule.Home' | translate }}</a></li>
          <li><a [routerLink]="['./fixtures']" routerLinkActive="active">{{ 'widgetModule.Fixtures' | translate }}</a>
          </li>
          <li><a [routerLink]="['./clubs']" routerLinkActive="active">{{'Soccer_Module.Clubs' | translate}}</a></li>
          <li><a [routerLink]="['./stats']" routerLinkActive="active">{{ 'widgetModule.Stats' | translate }}</a></li>
          <li><a [routerLink]="['./table']" routerLinkActive="active">{{ 'widgetModule.Table' | translate }}</a>
          </li>
        </ul>
        <div id="subnav-pointer" #subnavpointer></div>
      </div>
      <div class="clearfix"></div>
    </div>
  </div>

</ng-container>

<ng-container *ngIf="options.sport == 'Basketball'">
  <div class="sub-navabar" id="sub-navabar" *ngIf="options.type == 'home'">
    <div class="sub-navabar-inner d-flex">
      <a class="submenu-back" [routerLink]="['/basketball']">{{ 'NBA' | translate }}</a>
      <div class="sub-navbar-container" id="sub-navbar-nav">
        <ul #subnavbarmenu class="subnavbarmenu d-flex">
          <li><a [routerLink]="['/basketball']" routerLinkActive="active"
              [routerLinkActiveOptions]="{exact: true}">{{ 'widgetModule.Home' | translate }}</a>
          </li>
          <li><a [routerLink]="['/basketball/fixtures']"
              routerLinkActive="active">{{ 'widgetModule.Fixtures' | translate }}</a>
          </li>
          <li><a [routerLink]="['/basketball/teams']"
              routerLinkActive="active">{{ 'Cricket_Module.Teams' | translate }}</a>
          </li>
          <li><a [routerLink]="['/basketball/stats']"
              routerLinkActive="active">{{ 'widgetModule.Stats' | translate }}</a>
          </li>
          <li><a [routerLink]="['/basketball/standings']"
              routerLinkActive="active">{{ 'Cricket_Module.Standings' | translate }}</a>
          </li>
        </ul>
        <div id="subnav-pointer" #subnavpointer></div>
      </div>
      <div class="clearfix"></div>
    </div>
  </div>
</ng-container>

<ng-container *ngIf="options.sport == 'Hockey'">
  <div class="sub-navabar" id="sub-navabar" *ngIf="options.type == 'home'">
    <div class="sub-navabar-inner d-flex">
      <a class="submenu-back" [routerLink]="['/hockey']">{{ 'Field Hockey' | translate }}</a>
      <div class="sub-navbar-container" id="sub-navbar-nav">
        <ul #subnavbarmenu class="subnavbarmenu d-flex">
          <li><a [routerLink]="['/hockey']" routerLinkActive="active"
              [routerLinkActiveOptions]="{exact: true}">{{ 'widgetModule.Home' | translate }}</a>
          </li>
          <li><a [routerLink]="['/hockey/fixtures']"
              routerLinkActive="active">{{ 'widgetModule.Fixtures' | translate }}</a></li>
          <li ngbDropdown><a [routerLink]="['/hockey/tournaments']"
              routerLinkActive="active">{{ 'Tournaments' | translate }}</a>
          </li>
        </ul>
        <div id="subnav-pointer" #subnavpointer></div>
      </div>
      <div class="clearfix"></div>
    </div>
  </div>

  <div class="sub-navabar" id="sub-navabar" *ngIf="options.type == 'tournament'">
    <div class="sub-navabar-inner d-flex">
      <a class="submenu-back" [routerLink]="['./']">{{name}}</a>
      <div class="sub-navbar-container" id="sub-navbar-nav">
        <ul #subnavbarmenu class="subnavbarmenu d-flex">
          <li><a [routerLink]="['./']" routerLinkActive="active"
              [routerLinkActiveOptions]="{exact: true}">{{ 'widgetModule.Home' | translate }}</a></li>
          <li><a [routerLink]="['./fixtures']" routerLinkActive="active">{{ 'widgetModule.Fixtures' | translate }}</a>
          </li>
          <li><a [routerLink]="['./teams']" routerLinkActive="active">{{ 'widgetModule.Teams' | translate }}</a></li>
          <li><a [routerLink]="['./table']" routerLinkActive="active">{{ 'widgetModule.Standings' | translate }}</a>
          </li>
        </ul>
        <div id="subnav-pointer" #subnavpointer></div>
      </div>
      <div class="clearfix"></div>
    </div>
  </div>

</ng-container>


<ng-container *ngIf="options.sport == 'Badminton'">
  <div class="sub-navabar" id="sub-navabar" *ngIf="options.type == 'home'">
    <div class="sub-navabar-inner d-flex">
      <a class="submenu-back" [routerLink]="['/badminton']">{{ 'Badminton' | translate }}</a>
      <div class="sub-navbar-container" id="sub-navbar-nav">
        <ul #subnavbarmenu class="subnavbarmenu d-flex">
          <li><a [routerLink]="['/badminton']" routerLinkActive="active"
              [routerLinkActiveOptions]="{exact: true}">{{ 'widgetModule.Home' | translate }}</a>
          </li>
          <li><a [routerLink]="['/badminton/fixtures']"
              routerLinkActive="active">{{ 'widgetModule.Fixtures' | translate }}</a></li>
          <li ngbDropdown><a [routerLink]="['/badminton/tournaments']"
              routerLinkActive="active">{{ 'Tournaments' | translate }}</a>
          </li>
        </ul>
        <div id="subnav-pointer" #subnavpointer></div>
      </div>
      <div class="clearfix"></div>
    </div>
  </div>

  <div class="sub-navabar" id="sub-navabar" *ngIf="options.type == 'tournament'">
    <div class="sub-navabar-inner d-flex">
      <a class="submenu-back" [routerLink]="['./']">{{name}}</a>
      <div class="sub-navbar-container" id="sub-navbar-nav">
        <ul #subnavbarmenu class="subnavbarmenu d-flex">
          <li><a [routerLink]="['./']" routerLinkActive="active"
              [routerLinkActiveOptions]="{exact: true}">{{ 'widgetModule.Home' | translate }}</a></li>
          <li><a [routerLink]="['./fixtures']" routerLinkActive="active">{{ 'widgetModule.Fixtures' | translate }}</a>
          </li>
          <li><a [routerLink]="['./teams']" routerLinkActive="active">{{ 'widgetModule.Teams' | translate }}</a></li>
          <li><a [routerLink]="['./table']" routerLinkActive="active">{{ 'widgetModule.Standings' | translate }}</a>
          </li>
        </ul>
        <div id="subnav-pointer" #subnavpointer></div>
      </div>
      <div class="clearfix"></div>
    </div>
  </div>

</ng-container>