.sub-navabar                                    { width: 100%; background: #1B2A5A; font-size: 16px; line-height: 20px; font-family: 'IBM Plex Sans Condensed', sans-serif; font-weight: 500; white-space: nowrap; top: 51px; z-index: 1111;}
.sub-navabar.fixed-nav                          { position: fixed; z-index: 1114; }
.sub-navabar.racing-navabar2                    { top: 94px; background: #172550; } 
.submenu-back                                   { padding: 12px 32px 12px 12px; max-width: 45%; display: block; color: #fff;  font-weight: 600; text-transform: uppercase; border-right: 4px solid #294089; overflow: hidden; text-overflow: ellipsis; flex-shrink: 0; -webkit-flex-shrink: 0; }
.submenu-back:hover                             { color: #fff; }
.sub-navabar .sub-navabar-inner                 { justify-content: center; -webkit-justify-content: center; }
.sub-navabar .subnavbarmenu                     { margin: 0px;}
.sub-navabar .subnavbarmenu:after               { content: ""; display: block; clear: both;}
.sub-navabar .subnavbarmenu > li > a                { margin: 0px 16px; padding: 12px 0px; display: block; color: #fff; font-weight: 500; text-transform: capitalize; position: relative; overflow: hidden;}
.sub-navabar .subnavbarmenu > li > a:hover          { color: #fff;}
.sub-navabar .subnavbarmenu > li:first-child > a    { margin-left: 0px; }
.sub-navabar .subnavbarmenu > li > a:after          { content: ""; position: absolute; display: block; margin: 0px; width: 100%; left: 0px; bottom: -6px; border-bottom: 6px solid #ED1A33; border-left: 2px solid transparent; border-right: 2px solid transparent; border-top: none; transition: all 0.35s ease-in-out; -webkit-transition: all 0.35s ease-in-out;}
.sub-navabar .subnavbarmenu > li > a:hover:after,
.sub-navabar .subnavbarmenu > li.show > a:after,
/* .sub-navabar .subnavbarmenu > li > a:focus:after, */
.sub-navabar .subnavbarmenu > li > a.active:after   { bottom: 0px; }
.sub-navbar-container                           { margin-left: 32px; position: relative;}
.sub-navabar .subnavbarmenu > li > a.special-nav-item           { color: #FFC800; }
.sub-navabar .subnavbarmenu > li > a.special-nav-item:after     { display: none; }
.sub-navabar .dropdown-menu                     { margin: 0px; padding: 8px 0; width: 315px; left: 50% !important; top: 100% !important; transform: translate(-50% , 0%) !important; -webkit-transform: translate(-50% , 0%) !important; min-width: 220px; border: none; border-radius: 0px 0px 4px 4px; box-shadow: 0px 2px 16px rgba(0,0,0,0.08); -webkit-box-shadow: 0px 2px 16px rgba(0,0,0,0.08); white-space: normal;}
.sub-navabar .dropdown-menu.show                { display: flex; display: -webkit-flex; flex-wrap: wrap; }
.sub-navabar .dropdown-menu.double-menu         { width: 630px; }
/* .sub-navabar .dropdown-menu:before              { content: ""; position: absolute; display: block; width: 12px; left: calc(50% - 6px); top: -6px; border-bottom: 6px solid #fff; border-left: 6px solid transparent; border-right: 6px solid transparent; } */
.sub-navabar .dropdown-menu li                  { padding: 0px 16px; background: transparent !important; }
.sub-navabar .dropdown-menu li a                { padding: 16px 8px; display: block; font-size: 16px; line-height: 20px; color: #292929; font-weight: 500; border-bottom: 2px solid #F5F5F5; background: transparent; white-space: nowrap; text-overflow: ellipsis; overflow: hidden;}
.sub-navabar .dropdown-menu li:nth-last-child(2):nth-child(7) a,
.sub-navabar .dropdown-menu li:last-child a     { border: none; }
.sub-navabar .dropdown-menu li a:hover,
.sub-navabar .dropdown-menu li a:focus          { background: transparent; color: #ED1A33; }
.sub-navabar .dropdown-menu.double-menu li      { width: 50%; }
/* #subnav-pointer     			    { display: block; position: absolute; width: 40px; opacity: 1; left: 0px; bottom: 0px; height: 0px; border-bottom: 6px solid red !important; border-left: 4px solid transparent !important; border-right: 4px solid transparent !important; transition: all 0.3s ease-in-out; -webkit-transition: all 0.3s ease-in-out;} */

/* -- Arabic CSS -- */
.arabic .submenu-back                           { padding-left: 32px; padding-right: 12px; border-right: none; border-left: 4px solid #294089; }
.arabic .sub-navbar-container                   { margin-left: 0px; margin-right: 32px;}
.arabic .sub-navabar .subnavbarmenu > li:first-child > a    { margin-right: 0px; margin-left: 16px; }

/***** Responsive CSS Start ******/

@media (min-width: 992px) and (max-width: 1199px) {
    .sub-navabar .dropdown-menu li                  { padding: 0px 14px; }
    .sub-navabar .dropdown-menu li a                { padding: 14px 7px; font-size: 15px; line-height: 19px; }
    .sub-navabar .dropdown-menu.double-menu         { width: 600px; }
}
@media (min-width: 768px) and (max-width: 991px) {
    .sub-navabar                            { top: 42.5px; }
    .sub-navabar.racing-navabar2               { top: 86px; }
    .sub-navabar                            { font-size: 15px; }
    .sub-navabar .dropdown-menu li          { padding: 0px 12px; }
    .sub-navabar .dropdown-menu li a        { padding: 12px 6px; font-size: 14px; line-height: 18px; }
    .sub-navabar .dropdown-menu.double-menu { width: 480px; }
}
@media (max-width: 767px) {
    .sub-navabar                                { top: 44.6px; }
    .sub-navabar.racing-navabar2                   { top: 88px; }
    .submenu-back                               { padding: 12px; max-width: 38%;}
    .sub-navbar-container                       { margin-left: 16px; }
    .sub-navabar                                { font-size: 15px; }
    .sub-navabar .subnavbarmenu > li > a        { margin: 0px 12px;}
    .sub-navabar .dropdown-menu li a            { padding: 10px 6px; }
    .sub-navabar .dropdown-menu li              { padding: 0px 8px; }
    .sub-navabar .dropdown-menu li a            { padding: 10px 5px; font-size: 14px; line-height: 18px; }
    .sub-navabar .dropdown-menu.double-menu     { width: 460px; }
    .sub-navabar .dropdown-menu.double-menu     { transform: translate(-64% , 0%) !important; -webkit-transform: translate(-64% , 0%) !important;}

/* -- Arabic CSS -- */
    .arabic .submenu-back                       { padding: 12px; }
    .arabic .sub-navbar-container               { margin-right: 16px;}
    .arabic .sub-navabar .subnavbarmenu > li:first-child > a    { margin-left: 12px; }

}

@media (max-width: 575px) {
    .sub-navabar                                { top: 40.5px; }
    .sub-navabar.racing-navabar2                { top: 82px; }
    .sub-navabar .sub-navabar-inner             { position: relative; -webkit-box-pack: start !important; -ms-flex-pack: start !important; justify-content: flex-start !important; }
    .sub-navabar.racing-navabar1 .sub-navabar-inner { -webkit-box-pack: center !important; -ms-flex-pack: center !important; justify-content: center !important;}
    .submenu-back                               { max-width: 50%;}
    .sub-navbar-container                       { display: flex; overflow: scroll; }
    .sub-navabar .subnavbarmenu                 { display: flex; }
    .sub-navabar .dropdown-menu li a,
    .sub-navabar                                { font-size: 14px; line-height: 18px;}
    .sub-navabar .subnavbarmenu > li > a        { margin: 0px 10px;}
/** dropdown menu ***/
    .sub-navbar-container,
    .sub-navabar .subnavbarmenu > li.dropdown   { position: static; }
    .sub-navabar .dropdown-menu:before          { display: none; }
    .sub-navabar .dropdown-menu                 { width: 100%; }
    .sub-navabar .dropdown-menu.double-menu     { width: 100%; transform: translate(-50% , 0%) !important; -webkit-transform: translate(-50% , 0%) !important;}
    .sub-navabar .dropdown-menu li a            { font-size: 13px;}

/* -- Arabic CSS -- */
    .arabic .sub-navabar .subnavbarmenu > li:first-child > a    { margin-left: 10px; }
}